section
	.aegon
		.footer.short
			.row.middle-sm.center-sm.show-in-desktop
				.col-sm-12
					.copyright
						strong © Aegon 2016

			.row.middle-sm.center-xs.show-in-mobile
				.col-xs-12
					.copyright
						strong © Aegon 2016
						br
						a Accesibilidad
						a Aviso legal