section
	.aegon
		.footer
			.footer-top
				.module
					.row.center-sm
						.col-sm-6.col-xs-12.middle-separator
							h3.title Clientes Aegon
							.wrap-info
								span.number 900 159 000
								.wrap-text
									span.text Todas las llamades a números
									br
									span.text Aegon son gratuitas
						span.separator
						.col-sm-6.col-xs-12
							h3.title ¿No eres cliente?
							.wrap-info
								button.btn-yellow Te llamamos gratis
								.wrap-text
									span.text O llámanos al
									br.telephone
									span.number 900 330 903
			.footer-middle
				.module
					.row.middle-sm
						.col-sm-6.col-xs-12
							.wrap-social
								a.social-link
									span.icomoon-twitter
								a.social-link
									span.icomoon-linkedin
								a.social-link
									span.icomoon-facebook
								a.social-link
									span.icomoon-googleplus
								a.social-link
									span.icomoon-youtube

						.col-sm-6.show-in-desktop
							.wrap-opcions
								span.icomoon-lupa
								span Buscar
								span.separator
								span.icomoon-interrogation
								span ¿Necesitas ayuda?
			.show-in-mobile
				.wrap-options
					span.icomoon-interrogation
					span ¿Necesitas ayuda?

			.row.top-sm.footer-bottom.module.show-in-desktop
				.col-sm-3
					h3.title
						span.icomoon-arrow-right
						| SALUD
					ul.list
						li: a Seguro de Salud Básico
						li: a Seguro de Salud Completo
						li: a Seguro de Salud Reembolso
						li: a Seguro de Salud Dental
						li: a Caberturas Salud
						li: a Preguntas Frecuentes
				.col-sm-3
					h3.title
						span.icomoon-arrow-right
						| VIDA
					ul.list
						li: a Seguro de Salud Básico
						li: a Seguro de Salud Completo
						li: a Seguro de Salud Reembolso
						li: a Seguro de Salud Dental
						li: a Caberturas Salud
						li: a Preguntas Frecuentes
				.col-sm-3
					h3.title
						span.icomoon-arrow-right
						| AHORRO
					ul.list
						li: a Seguro de Salud Básico
						li: a Seguro de Salud Completo
						li: a Seguro de Salud Reembolso
						li: a Seguro de Salud Dental
						li: a Caberturas Salud
						li: a Preguntas Frecuentes
				.col-sm-3
					h3.title
						span.icomoon-arrow-right
						| SOBRE AEGON
					ul.list
						li: a Seguro de Salud Básico
						li: a Seguro de Salud Completo
						li: a Seguro de Salud Reembolso
						li: a Seguro de Salud Dental
						li: a Caberturas Salud
						li: a Preguntas Frecuentes

			.row.top-sm.footer-bottom.module.show-in-mobile
				.col-xs-12
					h3.title
						span.icomoon-arrow-right
						| SOBRE AEGON
					ul.list
						li: a Que hacemos
						li: a Aegon Global
						li: a Contacto

			.row.middle-sm.center-xs.logos-footer
				.col-sm-12
					img(src="assets/img/brands-footer.png")

			.row.middle-sm.center-sm.show-in-desktop
				.col-sm-12
					.copyright © Aegon 2016
						a Accesibilidad
						a Aviso legal
						a Condiciones de uso
						a Política Cookies
						a Política Privacidad
						a Bases Promociones Salud
						a Bases Promociones Vida

			.row.middle-sm.center-xs.show-in-mobile
				.col-xs-12
					.copyright © Aegon 2016   Accesibilidad · Aviso legal