.aegon
	// Header template
	#navigation.show-in-mobile
		include ../items/navigation.jade
	header(id="header")
		.show-in-mobile
			.header
				a
				#wrap-hide-menu
					input(type="text", placeholder="¿En qué podemos ayudarle?")
					button#searchHeader
						span.icomoon-lupa

				button#menu-trigger
					span
				img(src="assets/img/logo.png")
				a.icomoon-phone

		.show-in-desktop
			.header-desktop
				.header-top.sentico-font
					.header-top-content
						div
							span.text ¿No eres cliente?
							span.phone 900 330 903
						span.separator
						div.header-clients
							span.text Clientes Aegon
							span.phone 900 159 000

				.header-bot.sentico-font
					.menu-left
						img(src="assets/img/logo-desktop.png")
						a(href='#') salud
						a(href='#') vida
						a(href='#') ahorro

					.menu-right
						span
							span.icomoon-medico
							a(href='#') Cuadro médico
						span
							span.icomoon-person
							a(href='#') Área privada
						span
							span.icomoon-lupa
							a(href='#', class="searchHeader") Buscar
						include ../items/search-box.jade


