.aegon
	// Header template
	#navigation.show-in-mobile
		include ../items/navigation.jade
	header(id="header")
		.show-in-mobile
			.header.white
				button
					i.icomoon-back
				img(src="assets/img/logo.png")
				a.icomoon-phone

		.show-in-desktop
			.header-desktop.white
				.header-top
					.header-top-content2
						.menu-left
							img(src="assets/img/logo-desktop.png")
						div.header-noclients.sentico-font
							span.text ¿No eres cliente?
							span.phone  900 330 903
						div.header-clients.sentico-font
							span.text Clientes Aegon
							span.phone  900 159 000


