head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
  meta(name="theme-color", content='#15A6E2')
  title Aegon
  link(rel="stylesheet", href="css/vendor.css")
  link(rel="stylesheet" href="https://i.icomoon.io/public/9e83001838/aegon/style.css")
  link(rel="stylesheet", href="css/styles.css")
  
 

  <!--[if IE 8]>
  link(rel="stylesheet", href="css/ie.css")
  <!--<![endif]-->
