.cities
	.rowTable
		.cities__city
			.city__text
				.city__name -- TENERIFE --
				.city__hotelCount 3 Hoteles
			img(src='./assets/img/result/city1.png')
		.cities__city
			.city__text
				.city__name -- MALLORCA --
				.city__hotelCount 2 Hoteles
			img(src='./assets/img/result/city2.png')
	.rowTable
		.cities__city
			.city__text
				.city__name -- IBIZA --
				.city__hotelCount 5 Hoteles
			img(src='./assets/img/result/city3.png')
		.cities__city
			.city__text
				.city__name -- MENORCA --
				.city__hotelCount 4 Hoteles
			img(src='./assets/img/result/city4.png')