#wrap-filters.collapse
	.filters-options
		.row.middle-sm.first
			.top-filter
				span FILTROS
				a(class='btn-cancel-filter') CANCELAR

		.row.middle-sm.nightRow
			.col-sm-3
				label Precio por noche
				.toolTipArrow
			.col-sm-9
				.wrap-slider
					#price-night-slider

				.wrap-values
					label(id="startNightValue")
					label(id="endNightValue")

		.row.middle-sm.distanceRow
			.col-sm-3
				label Distancia al centro
			.col-sm-9
				.wrap-slider
					#distance-slider

				.wrap-values
					label(id="startDistanceValue")
					label(id="startIntervalValue" class="intervalDistanceLeft") 3 km
					label(id="startIntervalValue" class="intervalDistanceRight") 7 km
					label(id="endDistanceValue")

		.row.middle-sm.category
			.col-sm-3
				label Categoría del hotel
			.col-sm-9
				.wrap-group-star
					.group-star.star-on
						button
							i.icon-star
						button
							i.icon-star
						button
							i.icon-star

					.group-star.star-on
						button
							i.icon-star
						button
							i.icon-star
						button
							i.icon-star
						button
							i.icon-star

					.group-star.star-on
						button
							i.icon-star
						button
							i.icon-star
						button
							i.icon-star
						button
							i.icon-star
						button.fix_center
							i.icon-star_plus

		.row.middle-sm.appreciationRow
			.col-sm-3
				label Valoración

			.col-sm-9
				.wrap-slider
					#appreciation-slider

				.wrap-values.distanceValues
					label(id="startAppreciationValue")
					label(class="intervalAppreciationlLeft") 3 Regular
					label(class="intervalAppreciationRight") 7 Muy bien
					label(id="endAppreciationValue")

		.row.middle-sm.services
			.col-sm-3
				label Servicios

			.col-sm-9
				.wrap-services
					.custom-checkbox
						label
							input(type="checkbox" name="Bar")
							span.box
							span Bar

					.custom-checkbox
						label
							input(type="checkbox" name="Wifi gratis")
							span.box
							span Wifi gratis

					.custom-checkbox
						label
							input(type="checkbox" name="Fitness")
							span.box
							span Fitness

					.custom-checkbox
						label
							input(type="checkbox" name="Aparcamiento")
							span.box
							span Aparcamiento

					.custom-checkbox
						label
							input(type="checkbox" name="Piscina")
							span.box
							span Piscina

					.custom-checkbox
						label
							input(type="checkbox" name="Restaurante")
							span.box
							span Restaurante

					.custom-checkbox
						label
							input(type="checkbox" name="SPA")
							span.box
							span SPA

					.custom-checkbox
						label
							input(type="checkbox" name="Golf")
							span.box
							span Golf


		.row.middle-sm.end-sm
			.col-sm-12
				.wrap-buttons
					.wrap-btn-cancel
						-var button = { type: 3, text: 'cancelar', id: 'btn-cancel-filter', class: 'btn-cancel-filter'}
						include ../../elements/buttons.jade

					.wrap-btn-apply
						-var button = { type: 1, text: 'aplicar filtros', id: 'btn-apply-filter' }
						include ../../elements/buttons.jade



#wrap-map-toggle
	<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1sMGaBb8FtEtdXO1YlnDzcHcJNeo" width="100%" height="100%"></iframe>


