.filterBar
	.filterBar__content
		.custom-select
			label Order por:
			select
				option(selected) Recomendados
				option Precio
				option Disponibilidad
			i.icon-arrow-down

		// SOLO se muestra en tablet y desktop
		.filterBar__btnLeft
			label.order__label  Ordernar por:

			button.order__recommended
				span Recomendados para tí

			button.order__price
				span Precio

			button.order__disponibility
				span Disponibilidad

		.filterBar__btnRight
			button(class='order__btnMap', id='showMap')
				span.icon-location

			button(type="button", class="order__btnFilter toggleFilter")
				span.btnText
				span.icon-filter
