//
	Buscador Mobile Pagina Resultados
#searchMobile.collapse
	.search__fields
		.search__location
			span.icon-location
			input(type="text")
		.search__dates
			span.icon-calendar
			input(type="text")
		.search__persons
			span.icon-person
			input(type="text")
	.search__btnContainer
		.search__close
			button#closeSearchMobile
				i.icon-close
		.search__find
			button#findHotelMobile
				i.icon-search2
				span Buscar

//
	Buscador Tablet Pagina Reusltado
.searchTablet
	.search__middle
		.search__location
			span.icon-location
			input(type="text")
		.search__dates
			span.icon-calendar
			input(type="text")
		.search__persons
			span.icon-person
			input(type="text")

		.search__find
			button#findHotelTablet
				i.icon-search2

	.search__close
		button#closeSearchTablet
			i.icon-close

//
	Boton para mostrar buscador en mobile
.openSearchMobile
	a(id="openMobileSearch") elige tu hotel

.resultBar__container
	- var reserve = { destino: 'Barcelona', startDate: '21/03/16', endDate: '24/03/16', persons: 3, rooms: 1 };
	.resultBar
		.bar__back
		.bar__hotel
			div
				label Destino
			div #{ reserve.destino }
		.bar__dates
			div
				label Fechas
			div #{ reserve.startDate } - #{ reserve.endDate }
		.bar__destiny_date
			div
				label #{ reserve.destino }
			div
				span #{ reserve.startDate }
				span.separator |
				span #{ reserve.endDate }
		.bar__reserved
			div.reservedComplete
				div
					span #{ reserve.persons }
					label Personas -
					span #{ reserve.rooms }
					label Habitacion
				div
					i.icon-people_group
			div.reservedMobile
				div
					i.icon-rooms
					span.multi x
					span #{ reserve.rooms }
				div
					i.icon-man
					span.multi x
					span #{ reserve.persons }
		.bar__edit
			button#editSearch
				i.icon-edit
			button#editSearchMobile
				i.icon-edit



