header(id='header')
	.header-result
		.wrap-header-content
			.brand
				img(src="assets/img/catalonia-logo-bl.png")

			#busqueda
				.wrap-location
					span.icon-location
					input(type="text")
				.wrap-fecha
					span.icon-calendar
					input(type="text")
				.wrap-gente
					span.icon-person
					input(type="text")
				.wrap-buscar
					button#findHotelHeader
						span.icon-search2

			.header-icons
				span.icon-heart
				span.icon-user
				span.icon-navicon

	.headerBar__container
		include ./headerBar.jade