.card

	span.icon-ticket_price-left
		span.discount
			span 20
			span.percentage %
	span.icon-ticket_price-right
		span.discount
			span 20
			span.percentage %

	.card__favorite
		span(class='icon-heart', id='addFavorite-' + index)

	.card__slider

		div(id="hotelCardSlider-" + index, class="carousel slide", data-interval="false")

			div(class="carousel-inner", role="listbox")
				div(class="item active")
					.image-holder
						img(src=ficha, class="img-responsive")

				div(class="item")
					.image-holder
						img(src=ficha, class="img-responsive")


			a(class="left carousel-control arrow-slider", href="#hotelCardSlider-" + index, role="button", data-slide="prev")
				span(class="icon-angle-left", aria-hidden="true")
				span(class="sr-only") Previous


			a(class="right carousel-control arrow-slider", href="#hotelCardSlider-" + index, role="button", data-slide="next")
				span(class="icon-angle-right", aria-hidden="true")
				span(class="sr-only") Next


	.card__info
		.card__stars
			span.icon-star
			span.icon-star
			span.icon-star
			span.icon-star

		.card__hotelName catalonia passeic de grácia

		.card__hotelAddress
			span Passeig de Grácia, 72
			span.separator |
			span.wrap-location
				span.icon-location-filled
				span 1.7 Km

		.card__tags
			span.card__tag Lujo
			span.card__tag Piscina
			span.card__tag SPA
			.card__btnInfoMobile
				button(type="button", class='btnWhite', data-toggle="modal", data-target="#infoModal")
					span.icon-plus
					span info

		.card__price
			span.cell.price__point
				span.icon-face-happy

				span.point--big 9
				span.point--small / 10
				span.point--separator -
				span.point--calification EXCELENTE

			span.cell.price__detail
				span Desde
				span.price__money 340€
				span / Noche

		.card__btnDesktop
			.card__btnInfo
				button(type="button", class='btnWhite', data-toggle="modal", data-target="#infoModal")
					span.icon-plus
					span info

			.separator
			.card__btnRoom
				-var button = { type: 1, text: 'elige habitación' }
				include ../../elements/buttons.jade

		.card__btnMobile
			button(id=pickRoom, class='btnBlue btnPrice' style='text-transform: capitalize;')
				div.btn__wrap
					span.btn__text.right Desde
					span.btn__price 340€
					span.btn__text.left / Noche

