.notFound

	.notFound__message
		p Vaya! Parece que no hay hoteles diponibles en Menorca en las fechas que nos has indicado

		button
			i.icon-calendar
			span Modificar Fechas

	- var textoTitulo = 'ofertas en otras fechas en este destino'
	include ../../elements/titulo-seccion.jade

	- var fichas = ['./assets/img/tempFicha.png', './assets/img/tempFicha2.png']

	.fixedCard
		each ficha in fichas
			include ./hotelCard.jade

	- var textoTitulo = 'otros destinos similares'
	include ../../elements/titulo-seccion.jade

	.notFound__cities
		include ./cities.jade
	//
		button
			span ver todos
			i.icon-arrow-right



