.result
	.screen
	// Muestra opciones de filtrado cuando se hace click en el boton filtros
	include ./filtersCollapse.jade
	.result__content.module
		.result__notFound
			include ./resultNotFound.jade

		.result__found
			include ./filterBar.jade

			.result__lowCost

				span.icon-min-price
					span.path1
					span.path2
					span.path3
					span.path4

				span.result__lowCostText mínimo precio garantizado y
					a(href="", class="result--red") mucho más

			.result__cardContainer

				.responsiveCards
					- var fichas = ['./assets/img/tempFicha.png', './assets/img/tempFicha2.png', './assets/img/tempFicha3.png']

					each ficha, index in fichas
						include ./hotelCard.jade

					//Modal que se abre con el boton info
					include ../../elements/modal.jade

	.result__map
		.map__flyWrapper
			.map__btnConteiner
				.map__btn
					button(id="backToApp")
						i.icon-angle-left
				.map__btn
					button(id="showFilter")
						i.icon-filter
		.tofix
			<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1sMGaBb8FtEtdXO1YlnDzcHcJNeo" width="100%" height="100%"></iframe>


