.aegon {
	.tab-results{
		padding: 0 20px;
		margin-bottom: 15px;
		ul{
			display:flex;
			list-style-type: none;
			width: 100%;
			border-bottom:1px solid $border-grey-super-light;
			font-weight: 500;
			li{
				padding: 0;
				background-color:#f3f3f3;
				border-top:1px solid $border-grey-super-light;
				border-right:1px solid $border-grey-super-light;
				font-family: 'Sentico Sans',arial,sans-serif;
				font-weight: 500;
				text-align:center;
				&:first-child{
					border-left:1px solid $border-grey-super-light;
					@include respond-to(min-sm) {
						margin-left: 20px;
					}
				}
				&:hover{
					background-color:white;
					border-top:3px solid $text-blue;
					color:$text-blue;
					text-decoration: none;
				}
				&:visited,&:link{
					color:$text-blue;
					text-decoration: none;
				}
				&:active{
					background-color:white;
					text-decoration: none;
				}
				a {
					padding: 16px 0;
					display: block;
					color:$text-grey;
					&:hover,&:active,&:focus{
						padding-top: 14px;
						color:$text-blue;
						text-decoration: none;
					}
				}
			}
			li.current{
				background-color:white;
				border-top:3px solid $text-blue;
				border-bottom:1px solid #fff;
				color:$text-blue;

				margin-bottom: -2px;
				a {
					padding-top: 14px;
					color:$text-blue;
				}
			}
		}
	}




	.content-tabs {
		width: 100%;
		color:black;
		.info{
			border-bottom: 1px solid #dcdcdc;
	    	width: 100%;
	    	padding: 10px;
	    	margin: 0px 10px;
	    	p{
	    		font-weight: 300;
	    		font-size: 14px;
	    		color:$text-grey;
	    	}
			.question{
				h2{
					color:$text-dark-blue;
					font-size:18px;
					font-family: 'Sentico Sans',arial,sans-serif;
					font-weight: 500;
					margin-bottom: 5px;
				}
				p{
					font-size:14px;
					color:$text-grey;
				}
			}
			.doctor{
				display: table;
				img{
					display: table-cell;
					margin-right:10px;
				}
				.right {
					display: table-cell;
					vertical-align: top;
					h2{
						color:$text-dark-blue;
						font-size:18px;
						font-family: 'Sentico Sans',arial,sans-serif;
						font-weight: 500;
						margin-bottom:8px;
					}
					p{
						font-size:14px;
						color:$text-grey;
						margin:8px 0px;
						span.icomoon-medico{
							color:$icon-color-grey;
							font-weight:bold;
						}
					}
				}
			}
		}
	}

	.pagination{
		margin-top:40px;
		display: block;
		ul{
			list-style:none;
			li {
				display:inline;
				color:$text-grey;
				.icomoon-arrow-left,
				.icomoon-arrow-right{
					font-size: 15px;
			    border-radius: 100%;
			    padding:8px;
			    border: 1px solid $text-blue;
				}
				a.disabled {
					color: $text-grey;
					border: 1px solid #888;
				}
			}
			li.pages {
				margin: 0 10px;
			}
		}
	}
}
