.aegon {
	.main {
		width: 80%;
		.row{
			margin-left:50px;
			margin-right:50px;
			.results-found{
				margin-top:30px;
				margin-bottom:20px;
				text-align:center;
				span.results{
					font-size:30px;
					font-weight: 500;
				}
			}
			.results-found-search{
				display: -webkit-flex;
				margin-bottom:80px;
				.wrap-input-results {
					margin-right: 10px;
					width: 100%;
					border-bottom:1px solid $text-blue;
					input {
						width: 100%;
						height: 40px;
						border-radius: 3px;
			    		border: none;
			    		padding: 10px 10px 20px 10px;
			    		font-size: 24px;
			    		font-family: 'Sentico Sans',arial,sans-serif;
						font-weight: normal;
			    		color: $text-grey-light;
					}
				}

				.wrap-button.show-in-desktop {
					width: 157px;
					button {
						min-width: 157px;
						height: 40px;
						background-color:$text-blue;
						color:white;
						border-radius:3px;
						font-family: 'Sentico Sans',arial,sans-serif;
						font-weight: 500;
						font-size:14px;
						span{
							font-weight:bold;
						}
						.icomoon-lupa { margin-right: 5px; }
					}
				}
			}
		}
	}


	@include respond-to(max-xs) {
		.main {
			width:100%;
			.row{
				margin-left:0px;
				margin-right:0px;
				.results-found{
					margin-top:25px;
					margin-bottom:20px;
					text-align:center;
					span.results{
						font-size:20px;
					}
				}
				.results-found-search{
					display: -webkit-flex;
					margin-bottom:30px;
					.wrap-input-results {
						margin-right: 10px;
						input {
				    		font-size: 16px;
				    		padding: 10px;
						}
					}
					.wrap-button.show-in-mobile {
						width: 45px;
						background-color:$text-blue;
						border-radius: 3px;
						padding: 15px;
						color:white;
					}
				}
			}
		}
	}
}
