.aegon {
	.sidebar {
		width: 100%;
		@include respond-to(max-xs) {
			padding: 0 10px;
		}
		.background-grey{
			background-color: $background-light-grey;
			margin-bottom:10px;
			padding:20px 0px;
			@include respond-to(min-sm) {
				display: block !important;
			}
			h1{
				margin:0px;
				padding-bottom:20px;
				font-weight:500;
				font-size:28px;
				text-align:center;
				font-family: 'Sentico Sans',arial,sans-serif;
			}
			ul{
				list-style-type: none;
				text-align:left;
				padding:0px 20px;
				font-size:14px;
				li{
					font-family: Arial;
					font-size:14px;
					padding: 10px 0px;
					color:$text-blue;
					border-top:1px solid $border-grey-super-light;
					a:hover,a:active,a:focus,a:visited{
						color:$text-blue;
						text-decoration: none;
					}
					span.icomoon-arrow-down{
						font-size:12px;
					}
				}
			}
		}

		.contact{
			@include respond-to(max-xs) {
				text-align: center;
			}
			.call-back {
				width: 100%;
			}
			margin-top:20px;
			padding:15px 0px;
			border-top:2px solid $text-blue;
			border-bottom:2px solid $text-blue;
			.wrap-tittle{
				color:$text-blue;
				font-size:18px;
				font-weight: 500;
				margin-bottom:20px;
				@include respond-to(min-sm) {
					text-align: left;
				}
				.icomoon-phone {
				    font-size: 16px;
				    color: #fff;
				    margin-right: 10px;
				    background: #3498db;
				    border-radius: 100%;
				    padding: 5px;
				}
			}
			.contact-info{
				@include respond-to(max-xs) {
					padding-left:40px;
				}
				width: 100%;
				button.btn-yellow{
					margin-bottom:20px;
				}
				span {
					font-family: 'Sentico Sans',arial,sans-serif;
					font-size:14px;
					font-weight:300;
				}
				span.number{
					font-family: 'Sentico Sans',arial,sans-serif;
					color:$text-blue;
					font-size:18px;
					font-weight: 500;
				}
			}
		}
	}

	@include respond-to(max-md) {
		.sidebar {
			.background-grey{
				h1{
					font-size:22px;
				}
			}
		}
	}
}