.aegon {
	form {

		input[type="text"] {
			font-size:16px;
			width: 100%;
			height: 35px;
			color: $text-color !important;
			border: none;
			border-bottom: 1px solid $icon-color;
			font-family: 'Sentico Sans',arial,sans-serif;
			font-weight:500;
			padding-left: 0;
			border-shadow: none;
		}

	}

	.custom-checkbox {
		position: relative;
		label {
			display: inline-block;
		}
		input {
			opacity: 0;
			float: left;
			display: inline-block;
			width: 20px;
			height: 20px;
			margin: 0;
			margin-right: 7px;
		}
		.box {
			width: 20px;
			height: 20px;
			border: 1px solid #dcdcdc;
			border-radius: 2px;
			position: absolute;
			left: 0;
			margin: 0;
		}
		span {
			color: $text-color;
			font-family: 'Sentico Sans',arial,sans-serif;
			font-weight: normal;
			margin-top: 5px;
		}
		input:checked {
			&~.box {
				border: 1px solid $text-blue;
				&:before {
					content: '';
					width: 8px;
					height: 3px;
					background-color: $text-blue;
					position: absolute;
					top: 10px;
					left: 2px;
					transform: rotate(45deg);
				}
				&:after {
					content: '';
					width: 13px;
					height: 3px;
					background-color: $text-blue;
					position: absolute;
					top: 7px;
					left: 5px;
					transform: rotate(-55deg);
				}
			}
		}
	}

	@include respond-to(max-xs) {
		.custom-checkbox {
			input{
				width: 30px;
				height: 30px;
			}
			.box {
				width: 30px;
				height: 30px;
			}
			span{
				line-height: 30px;
			}
			input:checked {
				&~.box {
					&:before {
						width: 11px;
						height: 3px;
						top: 18px;
						left: 5px;
					}
					&:after {
						width: 20px;
						height: 3px;
						top: 14px;
						left: 9px;
					}
				}
			}
		}
	}



	.custom-select {
		overflow: hidden;
		background: #FFF;
		border: 1px solid #ececec;
		position: relative;
		&:after {
			transform: rotate(180deg);
			position: absolute;
	    top: 50%;
	    right: 10px;
	    margin-top: -8px;
	    font-family: 'icomoon';
	    content: "\e918";
	    color: $text-blue;
		}
		select {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border: none;
			font-family: 'Sentico Sans',arial,sans-serif;
			font-weight:500;
			background-color: transparent;
			border-radius: 0;
			width: 120%;
			font-weight: 300;
			height: 40px;
			padding-left: 15px;
			color: $text-color;
			&:focus {
				outline: none;
			}
		}
	}

	.custom-radio {
		position: relative;
		display: inline-block;
		label {
			display: inline-block;
		}
		input {
			opacity: 0;
			width: 20px;
			height: 20px;
			float: left;
			margin: 0;
		}
		.circle {
			background-color: #FFF;
			border-radius: 15px;
			position: absolute;
			left: 0;
			top: 0;
			width: 20px;
			height: 20px;
			margin: 0;
		}
		span {
			display: inline-block;
			float: left;
			margin-top: 3px;
			margin-left: 10px;
		}
		input:checked {
			&~.circle:before {
				content: '';
				position: absolute;
				left: 5px;
				top: 5px;
				width: 10px;
				height: 10px;
				background-color: $text-blue;
				border-radius: 30px;
			}
		}
	}

	.btn-checkbox {
		background-color:$text-blue;
		color:#ffffff;
		border-radius:4px;
		overflow:hidden;
		float:left;
		font-family: 'Sentico Sans',sans-serif;
		font-weight:normal;
		label {
			float:left;
			margin:0px;
		}
		label > span {
			display:block;
			padding:5px 0;
			text-align:center;
			width: 120px;
			border:1px solid $text-blue;
			.text{
				&.checked {
					display: none;
				}
			}
		}
		label input{
			position:absolute;
			left:-999999em;
		}
		label input:checked + span {
			background-color:#fff;
			color:$text-blue;
			border:1px solid $text-blue;
	    	border-radius: 4px;
		    .text {
		    	display: none;
		    	&.checked {
		    		display: inline;
		    	}
		    }
		}
	}

	@include respond-to(max-xs) {
		.custom-radio {
			label{
				margin-bottom:16px;
				input {
					width: 25px;
					height: 25px;
				}
				.check-text {
					margin-top: 5px;
				}
			}
			.circle {
				width: 25px;
				height: 25px;
			}
			input:checked {
				&~.circle:before {
					width: 15px;
					height: 15px;
				}
			}
		}
	}

	.button-group {
		border-radius: 2px;
		height: 45px;
		.item {
			font-size: 15px;
			font-weight: 500 !important;
			width: calc(100% / 6);
			float:left;
			font-family: 'Sentico Sans',sans-serif;
			label {
				margin-bottom:0px;
				text-align: center;
				display: block;
				line-height: 40px;
				height: 43px;
			}
			input {
				display:none;
			}
			input + span {
				display: block;
	    	height: 100%;
	    	border-top: 1px solid #DDDDDD;
	    	border-bottom: 1px solid #DDDDDD;
	    	border-right: 1px solid #DDDDDD;
	    	background-color: #F4F4F4;
	    	color: $text-blue;
	    	line-height: 40px;
			}
			input:checked + span {
				background-color: $text-blue;
				border-color: $text-blue;
				color:#ffffff;
			}
			&:first-child span {
				border-left: 1px solid #DDDDDD;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}
			&:last-child span {
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
			}
		}
	}

	.form-container {
		form {
			.step {
				padding: 20px 40px;
				.container-question {
					text-align: left;
					border-bottom:1px solid #ececec;
					padding:20px 0px;
					& > label {
						padding-top: 10px;
					}
					.question{
						font-family: 'Sentico Sans',sans-serif;
						font-weight: 500;
						font-size: 16px;
						color: #5B6770;
						p.answer {
							font-size: 14px;
							font-weight:normal;
							font-family: arial,sans-serif;
						}
					}
					.input-container {
						.custom-radio {
							.circle {
								border:1px solid #DBDBDB;
							    &:before{
							    	top:4px;
							    	left:4px;
							    }
							}
							input:checked + .circle {
								border:1px solid $text-blue;
							}
							.check-text {
								margin-right: 30px;
								font-weight: normal;
								font-family: 'Sentico Sans',sans-serif;
							}
						}
					}
				}
				.container-form {
					margin-bottom:30px;
					h4 {
						text-align:left;
						font-size: 20px;
						color:$text-grey;
						padding:20px 10px 20px 20px;
						margin-bottom:20px;
						border-bottom:1px solid #ececec;
					}
					.form-group {
						text-align: left;
						label {
							padding-left:0px;
							padding-top:10px;
							font-weight: normal;
							font-size: 16px;
						}
						input {
							height: 40px;
							font-family: 'Sentico Sans',sans-serif;
							font-weight: normal;
							font-size: 14px;
						}
						.date-input {
							height: 40px;
							margin-right:10px;
						}
						input[type=text],
						input[type='tel'],
						input[type='email'] {
							border:1px solid $border-color;
							padding:0px 10px;
						}
					}
				}
			}
			.conclued-container {
				border-top:1px solid #ececec;
				padding:10px 20px;
				height: 60px;
				button {
					float:right;
					max-width: 125px;
				}
				.custom-checkbox {
					float: left;
					padding-top: 10px;
					span {
						margin-top: -1px;
				    	font-family: 'Sentico Sans',sans-serif;
				    	font-weight: normal;
					}
				}
			}
		}
	}

	@include respond-to(max-xs) {
		.form-container {
			.steps {
				ul.steps-progress-bar {
					li {
						width: 90px;
					}
				}
			}
			form {
				.step{
					padding: 10px;
				}
				.conclued-container {
					height: auto;
					button {
						max-width: 100%;
						margin:15px 0px;
					}
					.custom-checkbox {
						span{
							margin-top: -5px;
						}
					}
				}
			}
		}
	}
}