.aegon {
  #navigation {
    font-family: 'Sentico Sans';
    position: fixed;
    overflow-y: auto;
    top: 50px;
    bottom: 0;
    left: -100%;
    transition: left .4s;
    z-index: 3;
    background-color: white;
    @include respond-to(min-md) {
      width: $navigation_width_handhelds;
      left: -$navigation_width_handhelds;
    }
  }

  body.menu-opened {
    #header .header img {
      display: none;
    }
    #navigation {
      left: 0;
    }
  }

  #navigation {
    @include respond-to(min-lg) {
      overflow: auto;
    }
    [class^='icomoon-'] {
      color: $icon-color;
    }
    nav ul li {
      display: table;
      position: relative;
      width: 100%;
      a {
        display: table;
        width: 100%;
        font-weight: 700;
        height: 57px;
        @include respond-to(max-xs) {
          height: 45px;
        }

        &:hover,
        &.active {

        }
      }

    }
  }

  .menu-top {
      padding: 20px 10px;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
  }
  .menu-bot {
    padding: 20px 10px;
    a {
      text-transform: uppercase;
    }
  }
  .wrap-menu-link {
      display: table;
      span {
          font-size: 15px;
          display: table-cell;
          padding: 10px 10px 10px 0;
          color: $icon-color;
      }
  }
}