.aegon {
	.wrap-title {
		.row {
			padding-top:50px;
			padding-bottom:50px;
			.title {
				margin: auto;
				text-align: center;
				color: $text-color;
			}
		}
	}

	@include respond-to(max-xs) {
		.wrap-title {
			.row {
				padding-top:25px;
				padding-bottom:25px;
				.title {
					margin: 0px 20px 0px 20px;
				}
			}
		}
	}
}