.aegon {
	.modal-dialog{
		background-color:#ffffff;
	}

	.modal-header{
		border:none;
		color:$text-grey;
		padding-bottom: 0px;
	}

	.modal-body{
		padding:0px 25px 25px 25px;
	}

	@include respond-to(max-xs) {
		.modal-dialog{
			margin:0px;
			height: 100%;
		}
		.modal.fade.in{
			padding-right:0px !important;
		}
	}
}