.aegon {
	.wrap-search-box  {
		position: absolute;
		top: 44px;
		left: -41px;
		background-color: $white;
		width: 112%;

		.search-box {
			padding: 20px;
			display: table;
			input {
				vertical-align: middle;
				display: table-cell;
				width: 292px;
				border: none;
				border-bottom: 1px solid $icon-color;
				margin-right: 10px;
				height: 40px;
			}
			button {
				vertical-align: middle;
				display: table-cell;
				width: 40px;
				height: 40px;
				border-radius: 4px;
				background-color: $text-blue;
				.icomoon-lupa {
					color: $white !important;
					font-size: 15px;
					margin-right: 0 !important;
				}
			}
		}
	}
}