.aegon {
  .steps {
    background-color: #ececec;
    height: 50px;
    padding:10px 0px;
    text-align: center;
    ul.steps-progress-bar {
      overflow: hidden !important;
      counter-reset: step;
      display: inline-block;
      li {
        list-style-type: none;
        color: #DDDDDD;
        text-transform: uppercase;
        font-size: 12px;
        width: 100px;
        float: left;
        position: relative !important;
        text-align: center;
        &:before {
          content: counter(step);
          counter-increment: step;
          width: 30px;
          line-height: 28px;
          display: block;
          font-size: 12px;
          color: #CFCFCF;
          background: #ececec;
          border:1px solid #CFCFCF;
          border-radius: 50%;
          margin: 0 auto 5px auto;
          height: 30px;
          z-index: 2;
          position: relative;
        }
        &:after {
          content: '';
          width: 100%;
          height: 1px;
          background: #CFCFCF;
          position: absolute;
          top: 13px;
          z-index: 0;
        }
        &:last-child:after {
          content: none;
        }
      }
      li.active {
        &:before {
          border: 1px solid $text-blue;
          color: #3995E1;
        }
        &:after {
          background: #CFCFCF;
        }
      }
    }
  }
}