<div class="row grid-media grid-videos">
    <div class="col-md-3">
        <div class="media-wrapper">
            <a href="" data-modal-id="hotel-x" data-modal-media-tab="videos" data-load-video="video1"><img class="img-responsive" src="assets/img/dummy/modalmedia3.jpg" /></a>
            <span class="media-icon media-video"> <i></i></span>
        </div>
        <h5 class="h3"> <a href="" data-load-video="video1">VIDEO 1</a></h5>
    </div>
    <div class="col-md-3">
        <div class="media-wrapper">
            <a href="" data-modal-id="hotel-x" data-modal-media-tab="videos" data-load-video="video2"><img class="img-responsive" src="assets/img/dummy/modalmedia3.jpg" /></a>
            <span class="media-icon media-video"> <i></i></span>
        </div>
        <h5 class="h3"> <a href="" data-load-video="video2">VIDEO 2</a></h5>
    </div>
</div>