<ol class="breadcrumb">
    <li><a href="" data-modal-back="1">Atras</a></li>
    <li class="active">Video 1</li>
</ol>

<div class="video-responsive">
<iframe width="560" height="315" src="https://www.youtube.com/embed/wZRducHYars" frameborder="0" allowfullscreen></iframe>
</div>