<ol class="breadcrumb">
    <li><a href="" data-modal-back="2">Atras</a></li>
    <li class="active">JUNIOR SUITE THE LEVEL <span class="carousel-media-counter"></span></li>
</ol>
<div id="carousel-media" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="assets/img/dummy/modalmedia3.jpg" />
        </div>
        <div class="item">
            <img src="assets/img/dummy/modalmedia3.jpg" />
        </div>
        <div class="item">
            <img src="assets/img/dummy/modalmedia3.jpg" />
        </div>
        <div class="item">
            <img src="assets/img/dummy/modalmedia3.jpg" />
        </div>
        <div class="item">
            <img src="assets/img/dummy/modalmedia3.jpg" />
        </div>
    </div>

    <a class="left carousel-control" href="#carousel-media" role="button" data-slide="prev">
        <span aria-hidden="true">
            <i class="icon-previous"></i>
        </span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-media" role="button" data-slide="next">
        <span aria-hidden="true">
            <i class="icon-next-carousel"></i>
        </span>
        <span class="sr-only">Next</span>
    </a>
</div>
<ul class="list-inline list-share">





    <li><span>COMPÁRTELO EN:</span> <a href="" title="Compartir en Twitter"><i class="icon-twitter-circle gray"></i></a> <a href="" title="Compartir en Facebook"><i class="icon-facebook-circle gray"></i></a> <a href="" title="Compartir en Google+"><i class="icon-googleplus-circle gray"></i></a></li>
    <li><span>Enviar a un amigo</span> <a href="#" title="Enviar a un amigo" data-toggle="modal" data-target="#modal-share-friend"><i class="icon-send-circle"></i></a></li>
</ul>