<div class="row grid-media">
    <div class="col-md-3">
        <div class="media-wrapper">
            <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones"><img class="img-responsive" src="assets/img/dummy/modalmedia1.jpg" /></a>
            <span class="media-icon">3 <i class="icon-camera"></i></span>
        </div>
        <h5 class="h3"> <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones">EL HOTEL</a></h5>
    </div>
    <div class="col-md-3">
        <div class="media-wrapper">
            <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones"><img class="img-responsive" src="assets/img/dummy/modalmedia1.jpg" /></a>
            <span class="media-icon">3 <i class="icon-camera"></i></span>
        </div>
        <h5 class="h3"> <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones">REUNIONES Y EVENTOS</a></h5>
    </div>
    <div class="col-md-3">
        <div class="media-wrapper">
            <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones"><img class="img-responsive" src="assets/img/dummy/modalmedia1.jpg" /></a>
            <span class="media-icon">3 <i class="icon-camera"></i></span>
        </div>
        <h5 class="h3"> <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones">SERVICIOS</a></h5>
    </div>
    <div class="col-md-3">
        <div class="media-wrapper">
            <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones"><img class="img-responsive" src="assets/img/dummy/modalmedia1.jpg" /></a>
            <span class="media-icon">3 <i class="icon-camera"></i></span>
        </div>
        <h5 class="h3"> <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones">RESTAURANTES</a></h5>
    </div>
    <div class="clearfix visible-md visible-lg"></div>
    <div class="col-md-3">
        <div class="media-wrapper">
            <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones"><img class="img-responsive" src="assets/img/dummy/modalmedia1.jpg" /></a>
            <span class="media-icon">3 <i class="icon-camera"></i></span>
        </div>
        <h5 class="h3"> <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones">EL HOTEL</a></h5>
    </div>
    <div class="col-md-3">
        <div class="media-wrapper">
            <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones"><img class="img-responsive" src="assets/img/dummy/modalmedia1.jpg" /></a>
            <span class="media-icon">3 <i class="icon-camera"></i></span>
        </div>
        <h5 class="h3"> REUNIONES Y EVENTOS</h5>
    </div>
    <div class="col-md-3">
        <div class="media-wrapper">
            <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones"><img class="img-responsive" src="assets/img/dummy/modalmedia1.jpg" /></a>
            <span class="media-icon">3 <i class="icon-camera"></i></span>
        </div>
        <h5 class="h3"> <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones">SERVICIOS</a></h5>
    </div>
    <div class="col-md-3">
        <div class="media-wrapper">
            <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones"><img class="img-responsive" src="assets/img/dummy/modalmedia1.jpg" /></a>
            <span class="media-icon">3 <i class="icon-camera"></i></span>
        </div>
        <h5 class="h3"> <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones">RESTAURANTES</a></h5>
    </div>
</div>