<ol class="breadcrumb">
    <li><a href="" data-modal-back="1">Atras</a></li>
    <li class="active">Habitaciones</li>
</ol>
<div class="row grid-media">
    <div class="col-md-3">
        <div class="media-wrapper">
            <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones" data-load-gallery="gallery-id-1"><img class="img-responsive" src="assets/img/dummy/modalmedia2.jpg" /></a>
            <span class="media-icon">3 <i class="icon-camera"></i></span>
        </div>
        <h5 class="h3"> <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones" data-load-gallery="gallery-id-1">RED LEVEL FOR FAMILIES -
                MASTER SUITE 1 DORMITORIO
                VISTA RESORT </a></h5>
    </div>
    <div class="col-md-3">
        <div class="media-wrapper">
            <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones" data-load-gallery="gallery-id-1"><img class="img-responsive" src="assets/img/dummy/modalmedia2.jpg" /></a>
            <span class="media-icon">3 <i class="icon-camera"></i></span>
        </div>
        <h5 class="h3"> <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones" data-load-gallery="gallery-id-1">THE LEVEL  </a></h5>
    </div>
    <div class="col-md-3">
        <div class="media-wrapper">
            <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones" data-load-gallery="gallery-id-1"><img class="img-responsive" src="assets/img/dummy/modalmedia2.jpg" /></a>
            <span class="media-icon">3 <i class="icon-camera"></i></span>
        </div>
        <h5 class="h3"> <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones" data-load-gallery="gallery-id-1">PREMIUM VISTA CIUDAD </a></h5>
    </div>
    <div class="col-md-3">
        <div class="media-wrapper">
            <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones" data-load-gallery="gallery-id-1"><img class="img-responsive" src="assets/img/dummy/modalmedia2.jpg" /></a>
            <span class="media-icon">3 <i class="icon-camera"></i></span>
        </div>
        <h5 class="h3"> <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones" data-load-gallery="gallery-id-1">RESTAURANTES</a></h5>
    </div>
    <div class="clearfix visible-md visible-lg"></div>
    <div class="col-md-3">
        <div class="media-wrapper">
            <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones" data-load-gallery="gallery-id-1"><img class="img-responsive" src="assets/img/dummy/modalmedia2.jpg" /></a>
            <span class="media-icon">3 <i class="icon-camera"></i></span>
        </div>
        <h5 class="h3"> <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones" data-load-gallery="gallery-id-1">EL HOTEL</a></h5>
    </div>
    <div class="col-md-3">
        <div class="media-wrapper">
            <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones" data-load-gallery="gallery-id-1"><img class="img-responsive" src="assets/img/dummy/modalmedia2.jpg" /></a>
            <span class="media-icon">3 <i class="icon-camera"></i></span>
        </div>
        <span>REUNIONES Y EVENTOS</span>
    </div>
    <div class="col-md-3">
        <div class="media-wrapper">
            <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones" data-load-gallery="gallery-id-1"><img class="img-responsive" src="assets/img/dummy/modalmedia2.jpg" /></a>
            <span class="media-icon">3 <i class="icon-camera"></i></span>
        </div>
        <h5 class="h3"> <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones" data-load-gallery="gallery-id-1">SERVICIOS</a></h5>
    </div>
    <div class="col-md-3">
        <div class="media-wrapper">
            <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones" data-load-gallery="gallery-id-1"><img class="img-responsive" src="assets/img/dummy/modalmedia2.jpg" /></a>
            <span class="media-icon">3 <i class="icon-camera"></i></span>
        </div>
        <h5 class="h3"> <a href="" data-modal-id="hotel-x" data-modal-media-tab="fotos" data-load-media="fotos-habitaciones" data-load-gallery="gallery-id-1">RESTAURANTES</a></h5>
    </div>
</div>