<div class="modal-cvv">
	<h3 class="h1 text-center"><strong>Código de seguridad CVV</strong></h3>

	<h6 class="h4"> ¿Qué es el CVV?</h6>
	<p>El código de seguridad (CVV) es el número de verificación de su tarjeta, y es necesario para comprobar la autenticidad de ésta. Permite reducir el fraude online y proteger la seguridad de los usuarios que efectúan pagos a través de Internet.</p>

	<h6 class="h4"> ¿Dónde?</h6>
	<p>La numeración del CVV se compone en las tarjetas Visa y Mastercard por 3 dígitos situados en la parte posterior derecha; y en las American Express, por 4 dígitos situados en la parte delantera.</p>


	<div class="row">
		<div class="col-sm-6">
			<img src="assets/img/cards/cvv-amex-back.jpg" class="">
		</div>

		<div class="col-sm-6">
			<img src="assets/img/cards/cvv-amex-front.jpg" class="">
		</div>
	</div>
</div>