<div class="news-success">
  <span><i class="icon-tick"></i></span>
  <h3 class="h1 text-center"><strong>Muchas gracias</strong></h3>
  <p class="text-center">Tu suscripción se ha realizado correctamente a la dirección:</p>
  <div class="text-center mail-conf">
    <mark>foo@email.com</mark>
  </div>
  <p class="text-center">Lorem ipsum dolor sit amect, consectetur adipiscing elit. Donec ac sagittis libero. Nulla tellus lacus, viverra eu vestibulum auctor, tristique id nunc. Nunc mauris magna, lobortis non velit ac. Nunc mauris magna, lobortis non velit ac</p>
  <div class="text-center">
    <a id="close-modal" class="btn btn-primary btn-lg">Volver a la página principal</a>
  </div>
</div>