<h3 class="h1"> Recibe nuestro boletín de <strong>promociones por e-mail</strong></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac sagittis libero. Nulla tellus lacus, viverra eu vestibulum auctor, tristique id nunc. Nunc mauris magna, lobortis non velit ac. Nunc mauris magna, lobortis non velit ac</p>
<form id="newsletter-form-modal" class="form-horizontal">
	<div class="form-group">
		<label class="control-label col-md-3">Email</label>
		<div class="col-md-9">
			<input type="text" name="email" placeholder="Introduce tu email" value="" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-3">Nacionalidad</label>
		<div class="col-md-5">
			<div class="custom-select">
				<select class="form-control">
					<option>España</option>
					<option>Francia</option>
					<option>Reino Unido</option>
				</select>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-3">Código Postal</label>
		<div class="col-md-4">
			<input type="text" class="form-control">
		</div>
	</div>
	<div class="form-group">
	    <div class="col-md-offset-3 col-md-9">
	    	<div class="checkbox">
	        	<input type="checkbox" class="outside-label">
	        	<label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac sagittis libero. Nulla tellus lacus, viverra eu vestibulum <a href="javascript:void(0)">auctor, tristique id nunc</a></label>
	      	</div>
	    </div>
	</div>
	<div class="text-center">
		<button type="submit" class="btn btn-primary btn-lg" data-modal="includes/modules/ajax/modal-newsletter-succeed.html">Quiero suscribirme</button>
	</div>
</form>