<div class="modal-present">
	<h3 class="h1"> Consigue tu <strong>obsequio exclusivo</strong> al reservar en melia.com</h3>
	<p class="first"><span class="orange"><i class="icon-present"></i>20 euros</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac sagittis libero. Nulla tellus lacus, viverra eu vestibulum auctor, tristique id nunc. Nunc mauris magna, lobortis non velit ac. Nunc mauris magna, lobortis non velit ac</p>

	<ul class="checks">
		<li><strong class="text-uppercase">Periodo de reserva:</strong> hasta 21 de diciembre de 2015</li>
		<li><strong class="text-uppercase">Periodo de viaje:</strong> hasta 21 de diciembre de 2015</li>
	</ul>

	<div class="legal">
		<p><span class="text-uppercase">Condiciones especiales:</span> Crédito no acumulable a otros descuentos o promociones. No reembolsable en caso de no haber sido consumido. Consumo máximo diario de 20 euros por habitación/noche.</p>
		<p><sup>* </sup>Valido sólo para clientes del programa de fidelidad MeliáRewards</p>
		<p><sup>* </sup>Bono canjeable en bares, restaurantes y servicio de habitaciones del hotel. NO APLICABLE a servicios de desayuno, restaurantes externos del hotel.</p>
		<p><sup>* </sup>Bono no canjeable en el Cheese Bar.</p>
	</div>
</div>