<div class="row grid-media grid-virtual-tour">
    <div class="col-md-3">
        <div class="media-wrapper">
            <a href="#" data-modal-id="hotel-x" data-modal-media-tab="virtual-tour" data-load-gallery="virtual-tour-fotos"><img class="img-responsive" src="assets/img/dummy/modalmedia1.jpg" /></a>
        </div>
        <h5 class="h3"> <a href="#">FOTOS 360º</a></h5>
    </div>
    <div class="col-md-3">
        <div class="media-wrapper">
            <a href="#" data-modal-id="hotel-x" data-modal-media-tab="virtual-tour" data-load-gallery="virtual-tour-videos"><img class="img-responsive" src="assets/img/dummy/modalmedia1.jpg" /></a>
        </div>
        <h5 class="h3"> <a href="#">VIDEOS 360º</a></h5>
    </div>
    <div class="col-md-3">
        <div class="media-wrapper">
            <a href="#" data-modal-id="hotel-x" data-modal-media-tab="virtual-tour" data-load-gallery="virtual-tour"><img class="img-responsive" src="assets/img/dummy/modalmedia1.jpg" /></a>
        </div>
        <h5 class="h3"> <a href="#">TOUR VIRTUAL</a></h5>
    </div>
</div>