<div class="modal-rates">
  <h3 class="h1"> <strong>Oferta especial 20% descuento - tarifa prepago</strong></h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac sagittis libero. Nulla tellus lacus, viverra eu vestibulum auctor, tristique id nunc. Nunc mauris magna, lobortis non velit ac. Nunc mauris magna, lobortis non velit ac</p>

  <ul class="checks">
    <li><strong class="text-uppercase">Sin cancelación</strong></li>
    <li><strong class="text-uppercase">Prepago online</strong></li>
    <li><strong class="text-uppercase">30% de descuento</strong></li>
  </ul>

  <div class="legal">
    <p><span class="text-uppercase">Impuestos:</span> Crédito no acumulable a otros descuentos o promociones.</p>
    <p><span class="text-uppercase">Impuestos:</span> Crédito no acumulable a otros descuentos o promociones.</p>
    <p>Precios válidos para reservas individuales</p>
  </div>
</div>