<div class="news-success error">
  <span><i class="icon-close"></i></span>
  <h3 class="h1 text-center"><strong>Oooops...</strong></h3>
  <p class="text-center">Ha habido un error en el envío de tu suscripción</p>
  <p class="text-center">Lorem ipsum dolor sit amect, consectetur adipiscing elit. Donec ac sagittis libero. Nulla tellus lacus, viverra eu vestibulum auctor, tristique id nunc. Nunc mauris magna, lobortis non velit ac. Nunc mauris magna, lobortis non velit ac</p>
  <div class="text-center">
    <a id="close-modal" class="btn btn-primary btn-lg">Volver a la página principal</a>
  </div>
</div>