<section class="room-details">
  <div class="row">
    <h3 class="h1 text-center">Red Level for Families - Master Suite 1 Dormitorio Vista Resort</h3>
  </div>
  <div class="header">
    <img src="assets/img/dummy/dummy-room-big1.jpg" class="img-responsive">
  </div>
</section>
<section class="room-description clearfix">
  <div class="row">
    <div class="col-md-8">
      <article>
        <h3 class="h1"> Description</h3>
        <p>Elegantes y modernas habitaciones situadas en zonas privilegiadas del  Hotel. Amplias y luminosas estancias de aproximadamente 27 m2 están situadas entre las plantas 15 y 17 del edificio; ubicación que permite ofrecer vistas exteriores panorámicas al centro urbano de Barcelona.</p>
        <p>Todas las habitaciones The Level cuentan con el completo paquete de servicios e instalaciones The Level. Recomendamos la habitación The Level a aquellos clientes que buscan una mayor privacidad y exclusividad de servicio exclusivo.</p>
      </article>
      <article>
        <h3 class="h1"> Servicios The Level</h3>
        <ul class="list-circle">
          <li><strong>Area de recepción privada</strong> en la que podrás realizar todas tus gestiones siempre con una atención personalizada (llegada, salida, información sobre excursiones, alquiler de vehículos).</li>
          <li>Desayuno <strong>buffet orgánico</strong> incluido.</li>
          <li>Completo paquete de Servicios The Level.</li>
          <li>Habitaciones <strong>especiales</strong>.</li>
          <li>Posibilidad de <strong>disponer de una moderna sala de reunión</strong> con capacidad para 6 personas por un período de 2 horas (bajo petición).</li>
          <li>Check in privado.</li>
          <li>Servicio express y <strong>flexibilidad en el check-out</strong> (flexibilidad en las horas de salida del Hotel).</li>
          <li><strong>Planchado gratuito</strong> de una prenda por estancia (no acumulable). Un servicio impecable.</li>
          <li>Decoración minimalista con adorno floral natural.</li>
          <li>Open Bar por la tarde en el The Level Lounge con aperitivos (fríos / calientes) y bebidas premium.</li>
          <li><strong>Reservas preferentes</strong> en restaurantes, actividades y excursiones. Personalizamos tus necesidades.</li>
          <li>Entrega de correo (servicio de mensajería) y periódico diario nacional / internacional (previa solicitud).</li>
          <li><strong>Parking privado cubierto</strong>(*)</li>
        </ul>
      </article>
      <article>
        <h3 class="h1"> Equipamiento</h3>
        <ul class="list-circle">
          <li>Área de recepción privada en la que podrás realizar todas tus gestiones siempre con una atención personalizada (llegada, salida, información sobre excursiones, alquiler de vehículos).</li>
          <li>Desayuno buffet orgánico incluido.</li>
          <li>Completo paquete de Servicios The Level.</li>
          <li>Habitaciones especiales.</li>
          <li>Posibilidad de disponer de una moderna sala de reunión con capacidad para 6 personas por un período de 2 horas (bajo petición).</li>
          <li>Check in privado.</li>
          <li>Servicio exprés y flexibilidad en el Check out (flexibilidad en las horas de salida del Hotel).</li>
          <li>Hable con nuestro personal The Level.</li>
        </ul>  
      </article>
    </div>
    <div class="col-md-4">
      <aside class="aside-outlined">
        <h3 class="h1"> Características</h3>
        <ul>
          <li><i class="icon-capacity"></i>Capacidad máxima <span>Dos adultos y 2 niños.<br>Cama supletoria o cuna opcionales</span></li>
          <li><i class="icon-area"></i>40m<sup>2</sup></li>
          <li><i class="icon-spa"></i>Spa</li>
          <li><i class="icon-tv"></i>TV 40''</li>
          <li><i class="icon-golfhotel"></i>Golf</li>
          <li><i class="icon-wifi"></i>Wifi grafis</li>
          <li><i class="icon-vistaspiscina"></i>Piscina</li>
        </ul>
      </aside>
    </div>
  </div>
</section>