<div class="rw-reservas modal-cancelar-reserva text-center">
	<h3 class="h1"> <strong>Cancelar</strong> reservsas</h3>
	<i class="icon-error"></i>
	<div class="cancel-titulo text-uppercase">¿Estas seguro?</div>
	<p class="cancel-text">Esta opción no se puede deshacer</p>
	<div class="clearfix">
		<button type="" class="btn btn-lg btn-primary rw-btn-confirmar-cancelacion btn-border">confirmar cancelación<i class="icon-action icon-close"></i></button>
	</div>
</div>