doctype html
html(lang="es_ES")
	block head
		include ../modules/_head.jade

	body
		#wrap
			block header

			block content

		script(src="js/vendor.js")
		script(data-main="js/main.js", src="js/vendor/require.js")