section
	#descuentos
		// -----
		- var textoTitulo = 'PORQUÉ RESERVAR EN CATALONIA.COM'
		include ../../elements/titulo-seccion.jade

		#beneficios
			.wrap-beneficio
				span.icon-tag3
				div.info
					span.titulo MEJORES PRECIOS
					br
					span.descripcion Te garantizamos el precio mínimo en todo internet.
			.wrap-beneficio
				span.icon-history2
				div.info
					span.titulo LATE CHECK OUT
					br
					span.descripcion Disfruta de tu habitacion dos horas más.
			.wrap-beneficio
				span.icon-glass2
				div.info
					span.titulo PACK BIENVENIDA
					br
					span.descripcion Bebidas para brindar en us habitación.
		#ahorrar
			div.wrap-content
				span.icon-cart
				div.info
					span.titulo MY CATALONIA
					br
					span.descripcion Aprovéchate de descuentos y comodidades exclusivas.
			// -----
			- var textBtn = 'QUIERO EMPEZAR A AHORRAR'
			include ../../elements/btn-transparent.jade