script

section

	#destinos.desktop
		// -----
		- var textoTitulo = 'TODOS NUESTROS HOTELES Y DESTINOS'
		include ../../elements/titulo-seccion.jade

		#opciones

			- var botones = ['URBANOS', 'VACACIONALES', 'TODOS']
			each boton in botones
				- var textBtn = boton
				include ../../elements/btn-transparent.jade

		-
			var destinos1 = [
					{ ciudad: 'BARCELONA', count: 26 },
					{ ciudad: 'BARCELONA', count: 10 },
					{ ciudad: 'VALENCIA', count: 12 },
					{ ciudad: 'SEVILLA', count: 8 }
				]
			var destinos2 = [
					{ ciudad: 'BARCELONA', count: 26 },
					{ ciudad: 'BARCELONA', count: 10 },
					{ ciudad: 'VALENCIA', count: 12 },
					{ ciudad: 'SEVILLA', count: 8 }
				]
			var destinos3 = [
					{ ciudad: 'BARCELONA', count: 26 },
					{ ciudad: 'BARCELONA', count: 10 },
					{ ciudad: 'VALENCIA', count: 12 },
					{ ciudad: 'SEVILLA', count: 8 }
				]
			var destinos4 = [
					{ ciudad: 'BARCELONA', count: 26 },
					{ ciudad: 'BARCELONA', count: 10 },
					{ ciudad: 'VALENCIA', count: 12 },
					{ ciudad: 'SEVILLA', count: 8 }
				]
			var destinos5 = [
					{ ciudad: 'BARCELONA', count: 26 },
					{ ciudad: 'BARCELONA', count: 10 },
					{ ciudad: 'VALENCIA', count: 12 },
					{ ciudad: 'SEVILLA', count: 8 }
				]

		#ciudades
			ul
				each col, index in destinos1
					li
						if index < 2
							div.texto1
								span.text1 #{ col.ciudad }
								span.number #{ col.count }
						else
							div.texto2
								span.text2 #{ col.ciudad }
								span.number.bold #{ col.count }

			ul
				each col, index in destinos2
					li
						if index < 2
							div.texto1
								span.text1 #{ col.ciudad }
								span.number #{ col.count }
						else
							div.texto2
								span.text2 #{ col.ciudad }
								span.number.bold #{ col.count }

			ul
				each col, index in destinos3
					li
						if index < 2
							div.texto1
								span.text1 #{ col.ciudad }
								span.number #{ col.count }
						else
							div.texto2
								span.text2 #{ col.ciudad }
								span.number.bold #{ col.count }
			ul
				each col, index in destinos4
					li
						if index < 2
							div.texto1
								span.text1 #{ col.ciudad }
								span.number #{ col.count }
						else
							div.texto2
								span.text2 #{ col.ciudad }
								span.number.bold #{ col.count }

			ul
				each col, index in destinos5
					li
						if index < 2
							div.texto1
								span.text1 #{ col.ciudad }
								span.number #{ col.count }
						else
							div.texto2
								span.text2 #{ col.ciudad }
								span.number.bold #{ col.count }


	#destinos.mobile
		.titulo-seccion
			span #{ textoTitulo }
