section
	#destacado
		//img(src="/assets/img/home.jpg" class="img-responsive")
		//

		#wrap-hotel-destacado
			div.wrap-starts
				span.marca Catalonia
				span.icon-star
				span.icon-star
				span.icon-star
				span.icon-star
			div.nombre Bacerlona Plaza
			hr
			div.ciudad Barcelona

			- var textBtn = 'RESERVAR AHGORA'
			include ../../elements/btn-transparent.jade
