section

	span.desktop
		include ./tags.jade

	.wrap-footer
		#footer
			-var idiomas = ['Español', 'English', 'japanese']

			#wrap-content.desktop
				select(id="idioma")
					for idioma in idiomas
						option(value='#{idioma}') #{idioma}

				div
					a(href="") SOBRE CATALONIA
				div
					a(href="") EVENTOS Y REUNIONES
				div
					a(href="") DESTINOS Y HOTELES
				div
					a(href="") BLOG
				div
					a(href="") CONTACTAR

			#wrap-content-info

				.redes
					span.icon-twitterico
						span.path1
							span.path2
					span.icon-faceico
						span.path1
							span.path2
					span.icon-instagramico
						span.path1
							span.path2
					span.icon-tubeico
						span.path1
							span.path2

					//span.icon-navicon
					//span.icon-heart
					//span.icon-user
					//span.icon-navicon


				img(src="assets/img/catalonia-logo-bl.png")

				.legal.desktop Aviso legal - Atención al cliente - Política de privacidad

