section
	#mejores-hoteles
		// -----
		- var textoTitulo = 'LOS MEJORES HOTELES EN MAS 26 DESTINOS'
		include ../../elements/titulo-seccion.jade

		.row-fichas
			- var ficha = { img: 'assets/img/fichas/ficha1.jpg', nombre: 'BARCELONA PLAZA', precio: '340 €', starts: [0,1,,2,3] };
			include ../../elements/ficha-lg.jade
			.wrap-fichas-sm
				- var ficha = { img: 'assets/img/fichas/ficha2.jpg', nombre: 'RAMBLAS', precio: '590 €',  starts: [0,1,2] };
				include ../../elements/ficha-sm.jade
				//
				- var ficha = { img: 'assets/img/fichas/ficha3.jpg', nombre: 'PLAÇA DE CATALONYA', precio: '240 €',  starts: [0] };
				include ../../elements/ficha-sm.jade

		.row-fichas
			//
			- var ficha = { img: 'assets/img/fichas/ficha4.jpg', nombre: 'PORTAL DEL ANGEL', precio: '190 €', starts: [0,1] };
			include ../../elements/ficha-lg.jade
			//
			- var ficha = { img: 'assets/img/fichas/ficha5.jpg' };
			include ../../elements/ficha-lg.jade