section
	#mejores-ofertas
		- var textoTitulo = 'HOTELES EN OFERTA'
		include ../../elements/titulo-seccion.jade

		.wrap-ofertas
			//
			- var ofertas = [{ img: 'assets/img/ofertas/oferta1.jpg' }, { img: 'assets/img/ofertas/oferta2.jpg' }, { img: 'assets/img/ofertas/oferta3.jpg' }]
			each oferta in ofertas
				include ../../elements/oferta.jade