section
	#suscriptores

		.text-content
			span.textSmall Ofertas secretas de hasta un 50% de descuento
			br
			span.textBig SÓLO PARA NUESTROS SUSCRITORES

		.wrap-content
			input(type="text" placeholder="Escribe tu direccion de correo")

		- var textBtn = 'ENVIAR'
		- var hideArrow = true
		include ../../elements/btn-transparent.jade
