section
	#video.shadow-border
		#wrap-video-btn
			img(src="assets/img/catalonia-logo.png")
			hr
			p Descripcion del video a reproducción y descripcion del video a reproducción

			- var btnText = "VER VIDEO"
			- var icon = true
			include ../../elements/btn-color.jade