.aegon
	section.seguros-salud
		.module
			.col-sm-12
				.introduction-prices.center-xs
					h2 Seguros de Salud
					p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.
			.col-sm-9
				.mobile
					.option
						.main-info
							span.name Básico
							span.price
								span.text desde
								span.number 24,90€
								span.text /mes*
						.call-to-action
							button.btn-blue Calcula tu precio
							a(href="#") Ver detalles
						.dropdown-characteristics
							.collapse
								div.collapse-item.collapsed
									div.collapse-header
										span Ver todas las coberturas
										span.icomoon-arrow-down
										span.icomoon-arrow-up
									div.collapse-content
										ul.details
											li
												.title Descripción
												.description Idóneo para gente joven y/o niños, que confía en la Sanidad pública en caso de tener que ser hospitalizado.
											li
												span.title Tipo de seguro
												span.price Copago lineal 5€
											li
												span.title Especialidades
												span.icomoon-check-icon
											li
												span.title Urgencias
												span.icomoon-check-icon
											li
												span.title Hospitalización
												span.icomoon-check-icon
											li
												span.title Familiares
											li
												span.title Salud
											li
												span.title Muerte
					.option.blue
						.main-info
							.name Completo
							.price
								span.text desde
								span.number 39,90€
								span.text /mes*
							span.icomoon-star
						.call-to-action
							button.btn-yellow Calcula tu precio
						.dropdown-characteristics
							.collapse
								div.collapse-item.collapsed
									div.collapse-header
										span Ver todas las coberturas
										span.icomoon-arrow-down
										span.icomoon-arrow-up
									div.collapse-content
										ul.details
											li
												.title Descripción
												.description Para familias que prefieren la comodidad y calidad de la sanidad privada.
											li
												span.title Tipo de seguro
												span.price Sin Copago
											li
												span.title Especialidades
												span.icomoon-check-icon
											li
												span.title Urgencias
												span.icomoon-check-icon
											li
												span.title Hospitalización
												span.icomoon-check-icon
											li
												span.title Familiares
												span.icomoon-check-icon
											li
												span.title Salud
												span.icomoon-check-icon
											li
												span.title Muerte
												span.icomoon-check-icon
					.option
						.main-info
							.name Reembolso
							.price
								span.text desde
								span.number 72,90€
								span.text /mes*
						.call-to-action
							button.btn-blue Calcula tu precio
							a(href="#") Ver detalles
						.dropdown-characteristics
							.collapse
								div.collapse-item.collapsed
									div.collapse-header
										span Ver todas las coberturas
										span.icomoon-arrow-down
										span.icomoon-arrow-up
									div.collapse-content
										ul.details
											li
												.title Descripción
												.description Acceso libre a médicos y centros fuera de nuestro cuadro médico. Reembolso del 90% de los gastos.
											li
												span.title Tipo de seguro
												span.price Con reembolso
											li
												span.title Especialidades
												span.icomoon-check-icon
											li
												span.title Urgencias
												span.icomoon-check-icon
											li
												span.title Hospitalización
												span.icomoon-check-icon
											li
												span.title Familiares
												span.icomoon-check-icon
											li
												span.title Salud
												span.icomoon-check-icon
											li
												span.title Muerte
				table.desktop
					thead
						tr
							th
							th
								.name Básico
								.price
									span.number 24,90€
									span.text  /mes*
								button.btn-blue Calcula tu precio
								a(href="").details Ver Detalles
							th.bigger
								span.icomoon-star
								.name Completo
								.price
									span 39,90€
									span.text /mes*
								button.btn-yellow Calcula tu precio
								a(href="").details Ver Detalles
							th
								.name Reembolso
								.price
									span.number 72,90€
									span.text  /mes*
								button.btn-blue Calcula tu precio
								a(href="").details Ver Detalles
					tbody.collapsed
						tr
							td.title Descripción
							td.description Idóneo para gente joven y/o niños, que confía en la Sanidad pública en caso de tener que ser hospitalizado.
							td.description Para familias que prefieren la comodidad y calidad de la sanidad privada.
							td.description Acceso libre a médicos y centros fuera de nuestro cuadro médico. Reembolso del 90% de los gastos.
						tr.price
							td.title Tipo de seguro
							td.center-sm Copago lineal 5€
							td.center-sm
								a(href="")
									.without
										span Sin copago
										i.icomoon-arrow-down
							td.center-sm Con reembolso
						tr
							td.title Especialidades
							td.center-sm
								i.icomoon-check-icon
							td.center-sm
								i.icomoon-check-icon
							td.center-sm
								i.icomoon-check-icon
						tr
							td.title Urgencias
							td.center-sm
								i.icomoon-check-icon
							td.center-sm
								i.icomoon-check-icon
							td.center-sm
								i.icomoon-check-icon
						tr
							td.title Hospitalización
							td.center-sm
								i.icomoon-check-icon
							td.center-sm
								i.icomoon-check-icon
							td.center-sm
								i.icomoon-check-icon
						tr.extended
							td.title Familiares
							td
							td.center-sm
								i.icomoon-check-icon
							td.center-sm
								i.icomoon-check-icon
						tr.extended
							td.title Salud
							td
							td.center-sm
								i.icomoon-check-icon
							td.center-sm
								i.icomoon-check-icon
						tr.extended
							td.title Muerte
							td
							td.center-sm
								i.icomoon-check-icon
							td
						tr.button-dropdown
							td
							td(colspan="3").center-sm
								button.btn-link.extend-table Ver todas las coberturas
									i.icomoon-arrow-down
				p.conditions *Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
				button.we-call-you.btn-block.btn-yellow Te llamamos gratis
			.col-sm-3
				.show-in-desktop
					include ../shared/call-form.jade
