.aegon
	section
		.seguros.module
			.col-sm-6.col-md-4.box
				i.icomoon-medico
				span.title Medicina especializada
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			.col-sm-6.col-md-4.box
				i.icomoon-clock-time
				span.title Segunda opinión médica
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			.col-sm-6.col-md-4.box
				i.icomoon-chat
				span.title Pruebas diagnósticas
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			.col-sm-6.col-md-4.box
				i.icomoon-maleta
				span.title Asisténcia médica 24 horas
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			.col-sm-6.col-md-4.box
				i.icomoon-list
				span.title Asistencia en viajes
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			.col-sm-6.col-md-4.box
				i.icomoon-world
				span.title Coberturas en el extranjero
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit.