/// buttons styles
.aegon {
  .btn-block {
    width: 100%;
  }

  .btn-blue {
    width: 100%;
    padding: 10px 20px;
    background-color: $button-color;
    color: $text-white;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    font-family: 'Sentico Sans',arial,sans-serif;
    font-weight: 500;
    text-align:center;
    div {
      text-align: center;
    }
  }

  .btn-yellow {
    width: 100%;
    padding: 10px 20px;
    background-color: $button-color-yellow;
    font-family: 'Sentico Sans',arial,sans-serif;
    font-weight: 500;
    color: $text-white;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    div {
      text-align: center;
    }
  }
}