@font-face {
    font-family: 'Sentico Sans';
    src: url('../assets/fonts/senticosansdt-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/senticosansdt-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sentico Sans';
    src: url('../assets/fonts/senticosansdt-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/senticosansdt-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sentico Sans';
    src: url('../assets/fonts/senticosansdt-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/senticosansdt-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sentico Sans';
    src: url('../assets/fonts/senticosansdt-mediumitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/senticosansdt-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Sentico Sans';
    src: url('../assets/fonts/senticosansdt-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/senticosansdt-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3,
.sentico-font {
  font-family: 'Sentico Sans', sans-serif;
}