.aegon
	section
		.brands.module.hide-xs
			.row.center-sm.middle-sm
				.col-sm-12
					.wrap-img
						img(src="assets/img/brands/hm.png")
						img(src="assets/img/brands/amedics.png")
						img(src="assets/img/brands/quiron.png")
						img(src="assets/img/brands/gipuzkoa.png")
						img(src="assets/img/brands/nisa.png").show-in-desktop
