.aegon
	.wrap-call-form
		.call-form.sentico-font
			.wrap-title
				h4.title
					span.icomoon-phone-circle
					| Te llamamos

			form.index-form
				input(type="text" placeholder="Tu nombre")

				input(type="text" placeholder="Tu correo electrónico")

				input(type="text" placeholder="¿A qué teléfono te llamamos?")

				.custom-checkbox
					label
						input(type="checkbox" name="privacidad")
						span.box
						span Acepto la política de privacidad

				button.btn-yellow Te llamamos gratis

				span O llámanos gratis al

				span.number 900 330 903

			.gift
				span.card
					img(src="assets/img/gift.png")
				span.giftText Llévate esta tarjeta regalo al contratar tu seguro


