.aegon
	section
		.search
			.module
				.col-xs-12.col-sm-12
					.wrap-content
						div.sub-title Busca tu centro médico
						div.info 30.000 especialistas, 1.000 clínicas a tu disposición

				.start-sm
					.col-xs-12.col-sm-12
						.wrap-radios
							.custom-radio
								label
									input(type="radio" name="search-cuadro")
									span.circle
									span.check-text Cuadro médico
							.custom-radio
								label
									input(type="radio" name="search-cuadro")
									span.circle
									span.check-text Cuadro dental

				.col-xs-12.col-sm-12
					.wrap-input-content
						span.wrap-input
							input(type="text" placeholder="Busca por clinica, especialidad o código postal")
						span.wrap-button.show-in-desktop
							button.btn-yellow
								span.icomoon-lupa
								span Buscar
						span.wrap-button.show-in-mobile
							button.btn-yellow
								span.icomoon-lupa
