.aegon
	section.wrap-services

		//button.btn-yellow.show-in-mobile
			div
				span Te llamamos gratis

		.services.module

			.row.center-sm.center-xs
				.col-sm-4.col-xs-12
					img(src="assets/img/service1.png")
					.wrap-content
						.description
							h3.sub-title Salud
							span Los mejores profesionales y sin esperas innecesarias. Te ofrecemos el seguro de salud con la mejor asistencia sanitaria.

						.more-info.sentico-font
							a(href="#")
								span.icomoon-arrow-right
								span.text Más información

				.col-sm-4.col-xs-12
					img(src="assets/img/service2.png")
					.wrap-content
						.description
							h3.sub-title Vida
							span Protege la seguridad de tu familia, la educación de tus hijos o la hipoteca con el seguro de vida más completo.

						.more-info.sentico-font
							a(href="#")
								span.icomoon-arrow-right
								span.text Más información

				.col-sm-4.col-xs-12
					img(src="assets/img/service3.png")
					.wrap-content
						.description
							h3.sub-title Ahorro
							span Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati.

						.more-info.sentico-font
							a(href="#")
								span.icomoon-arrow-right
								span.text Más información



