.aegon {
	.brands {
		padding: 20px 0;
		.wrap-img {
			@include responsive-flex(row, wrap, space-between, center);
			img {
				margin: 0 40px;
				&:first-of-type {
					margin-left: 0;
				}
				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}

	@include respond-to(max-sm) {
		.brands .wrap-img img {
			margin: 20px;
		}
	}

	@include respond-to(max-xs) {
		.branch {
			.wrap-img {
				img:first-child {
					margin-left: 30px;
				}
			}
		}
	}

	@include respond-to(max-xs) {
		.branch {
			.wrap-img {
				img:first-child {
					margin-left: 30px;
				}
			}
		}
	}
}