.aegon {
	.breadcrumbs{
		width: 100%;
		padding:8px 0;
		font-size: 14px;
		font-weight:500;
		font-family:'Sentico Sans',arial, sans-serif;
		background-color: $background-light-grey;
		.module{
			max-width: 1024px;
			padding: 0 10px;
			span a{
				color:$text-blue;
			}
			span.active{
				color:$text-dark-blue;
			}
			span.icomoon-arrow-right{
				color:$text-blue;
				font-size: 12px;
				padding-left:5px;
				padding-right:5px;
			}
		}
	}
}