.aegon {
	.wrap-call-form {
		background-color: white;
		margin-right: 10px;

		.call-form  {
			@include responsive-flex(column, nowrap, flex-start, flex-start);
			width: 270px;
			padding: 15px 20px 10px 20px;
			border-top: 2px solid $text-blue;
			.wrap-title {
				.title {
					font-size: 19px;
					color: $text-blue;
					margin: 0;
					display: inline;
					font-weight: 500;
					.icomoon-phone-circle {
						display: inline-block;
						float: left;
						margin-right: 10px;
					}
				}
			}

			form.index-form {
				input[type="text"] {
					margin-top: 10px;
				}
			}

			.custom-checkbox  {
				margin: 20px 5px 10px 0px;
				label {
					display: table;
				}
				span {
					vertical-align: middle;
					font-weight: 300;
					font-size: 13px;
					display: table-cell;
				}
			}

			button {
				margin: 15px 0;
			}

			.number {
				color: $text-blue;
				font-size:16px;
				font-weight: 500;
				&:before {
					content: ' ';
				}
			}

			.gift {
				margin: 20px -10px 0 -10px;
				background-color: $background-light-grey;
				padding:10px;
				.card {
			    display: inline-block;
			    float: left;
			    margin-right: 10px;
				}
				.giftText {
					position: relative;
					top: 3px;
					color: $text-blue;
					font-weight: 500;
				}
			}
		}
	}
}