.aegon {
	.search {
		background: url("../assets/img/background-search.png") no-repeat center top;
		background-size: cover;
		background-color: $background-color-search;
		text-align: center;
		color: white;

		padding: 36px 114px 46px 114px;

		.wrap-content {
			padding-bottom: 33px;
			border-bottom: 1px solid rgba(255,255,255,0.3);
			.sub-title {
				font-size: 36px;
				font-family: 'Sentico Sans';
				font-weight: 700;
			}

			.info {
				font-size: 18px;
				font-family: 'Sentico Sans';
				font-weight: 500;
			}
		}

		.wrap-radios {
			padding: 20px 0 10px 0;
			text-align: left;
			.check-text {
				font-size: 15px;
				margin-right: 30px;
				font-family: 'Sentico Sans', aril, sans-serif;
				font-weight: 500;
			}
			@include respond-to(max-xxs) {
				display: table;
				.custom-radio {
					display: table-cell;
					.check-text {
						margin-left: 5px;
						margin-right: 25px;
						font-size: 14px;
					}
					&:last-of-type {
						.check-text {
							margin-right: 0;
						}
					}
				}
			}
		}

		.wrap-input-content {
			@include responsive-flex(row, nowrap, center, center)
			.wrap-input {
				margin-right: 10px;
				width: 100%;
				input {
					width: 100%;
					height: 40px;
					border-radius: 3px;
		    		border: none;
		    		padding: 10px;
		    		font-size: 15px;
					font-family: 'Sentico Sans',arial,sans-serif;
					font-weight: 500;
				}
			}

			.wrap-button {
				width: 180px;
				button {
					height: 40px;
					span{font-weight:700;}
					.icomoon-lupa { margin-right: 5px; font-size: 14px;}
				}
			}
		}
	}

	@include respond-to(max-xs) {
		.search {
			padding: 20px 10px 40px 10px;

			.wrap-content {
				.sub-title {
					font-size: 28px;
					margin-bottom: 20px;
				}
				.info { font-size: 16px; }
			}

			.wrap-checkboxes {
				.check-text {
					font-size: 15px;
				}
			}
		}
	}

	@include respond-to(max-xs) {
		.search {
			padding: 20px 10px 40px 10px;
			.wrap-input-content {
				.wrap-input {
					margin-right: 0;
					input {
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
					}
				}
				.wrap-button {
					width: 49px;
					button {
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
					}
				}
			}
		}
	}
}