.aegon {
	.wrap-services {
		padding-bottom: 30px;
	}
	.services {
		padding: 0;
		@include respond-to(min-sm) {
			padding: 0 10px;
			margin-bottom:30px;
		}
		img {
			width: 100%;
		}
		.wrap-content {
			text-align: left;
			margin-bottom: 20px;
			@include respond-to(min-sm) {
				margin: 0;
			}
			.description {
				padding-bottom: 20px;
				@include respond-to(min-sm) {
					height: 130px;
				}
				border-bottom: 1px solid $border-color;

				.sub-title {
					color: $text-blue;
					font-size: 26px;
					font-weight: 500;
					padding: 13px 0 10px 0;
				}

				.body-text {
					display: inline-block;
					padding-right: 20px;
				}
			}

			.more-info {
				padding: 10px 0;
				color: $text-blue;
				font-size: 16px;
				font-weight: 500;
				.icomoon-arrow-right {
					font-size: 11px;
					margin-right: 4px;
				}
			}
		}
	}

	.background-gray{
		.wrap-services{
			.wrap-content{
				background-color: white;
	    		padding: 10px;
			}
		}
	}


	@include respond-to(max-xs) {
		.services {
			img{
				width:100%;
			}
		}
		.background-gray{
			padding:0px 10px;
		}
	}
}