.aegon {
	.wrap-engagement.module {
		margin-bottom:30px;
		padding:0px 10px;
		h1{
			margin-bottom:30px;
			font-size: 28px;
		}
		.title{
			background-color:$text-blue;
			color:#ffffff;
			padding:10px;
			font-size: 16px;
			font-family: 'Sentico sans',arial,sans-serif;
			.icomoon-person,
			.icomoon-calendar,
			.icomoon-tag,
			.icomoon-clock{
				font-size: 18px;
				vertical-align: middle;
				margin-right:5px;
			}
		}
		.model{
			background-color:$background-light-grey;
			padding:10px;
			height: 120px;
			ul{
				list-style-type: none;
				font-weight:300;
				font-size: 14px;
				font-family: 'Sentico sans',arial,sans-serif;
			}
		}
	}

	@include respond-to(max-sm) {
		.wrap-engagement.module {
			margin-bottom:20px;
			h1{
				font-size: 22px;
			}
			.box{
				margin-bottom:20px;
				.model{
					height: 120px;
					padding:15px;
				}
			}
		}
	}

	@include respond-to(max-xs) {
		.wrap-engagement.module {
			margin-bottom:20px;
			h1{
				font-size: 22px;
			}
			.box{
				margin-bottom:20px;
				.model{
					height: auto;
					padding:15px;
				}
			}
		}
	}
}