.aegon {
	.wrap-info.module {
		padding:0px 10px;
		.questions{
			display: block;
			margin:20px 20px 40px 0px;
			list-style-type: none;
			border:1px solid #F5F5F3;
			font-family: 'Sentico sans',arial,sans-serif;
			font-weight: 500;
			li{
				padding:15px;
				&:nth-child(odd){
					background-color:$background-light-grey;
				}
				&:nth-child(even){
					background-color:#ffffff;
				}
				.collapse-header{
					color:$text-dark-blue;
					font-size: 16px;
					.icomoon-arrow-right{
						font-size: 12px;
						margin-right:10px;
					}
					.icomoon-arrow-down{
						font-size: 12px;
						margin-right:10px;
						display: none;
					}
				}
				.collapse-content{
					padding-top:15px;
					font-family: Arial,sans-serif;
					font-size: 14px;
					color:$text-grey;
				}
				&.collapsed {
					.collapse-content {
						display: none;
					}
				}
				&.opened {
					.collapse-header {
						.icomoon-arrow-right{
							display:none;
						}
						.icomoon-arrow-down{
							display:-webkit-inline-box;
						}
					}
				}
			}
		}
		.documents{
			margin-top:20px;
			.document{
				text-decoration:none;
				div{
					border: 1px solid $background-light-grey;
					padding:20px;
					color: $text-grey !important;
					text-decoration: none;
					i{
						font-size: 30px;
						float:left;
						color: $text-blue;
						margin-right:10px;
					}
					p{
						margin:0px;
						.download{
							display:block;
							font-size: 16px;
							font-family: 'Sentico sans',arial,sans-serif;
							font-weight: 500;
							text-decoration: none;
							margin-bottom:3px;
						}
						.data{
							font-family: Arial,sans-serif;
							font-size: 14px;
						}
					}
				}
			}
		}
	}



	@include respond-to(max-xs) {
		.wrap-info.module {
			h3{
				margin-bottom:30px;
			}
			.questions{
				margin-bottom:30px;
				margin-right:0px;
			}
			.documents{
				margin-bottom: 30px;
			}
		}
	}
}
