.aegon {
	.main-product {
		background: url("../assets/img/product-intro.png") no-repeat center top;
		background-size: cover;
		background-color:#ffffff;
		height: 185px;
		.module{
			padding:0px 10px;
			.intro{
				color:#ffffff;
				.tittle{
					border-bottom:2px solid #ffffff;
					padding-bottom:10px;
					width: 350px;
					h1{
						font-size: 44px;
						margin-top:20px;
						text-transform: uppercase;
						font-weight: bold;
						span{
							display:block;
						}
					}
				}
				h2{
					font-size: 22px;
					padding-top:10px;
				}
				/*Call-form*/
				.wrap-call-form{
					margin-top:20px;
					.call-form{
						background-color:white;
						border-top:3px solid $text-blue;
						border-bottom:1px solid #E7E7E7;
						border-left:1px solid #E7E7E7;
						border-right:1px solid #E7E7E7;
						float:right;
					}
				}
			}
		}
	}

	.main-description {
		margin-bottom: 15px;
		.module{
			padding:0px 10px;
			.info{
				h1{
					margin-top:30px;
					margin-bottom:20px;
					color: $text-grey;
					font-size: 34px;
				}
				p{
					color: $text-grey;
					font-size: 15px;
					margin-bottom:20px;
				}
				.wrap-price{
					font-family:'Sentico sans',arial, sans-serif;
					background-color:#ffffff;
					border:1px solid #E7E7E7;
					border-radius:5px;
					padding:10px;
					height: 80px;
					width: 380px;
					.price{
						color:$text-blue;
						float:left;
						font-weight:500;
						.from{font-size:14px;display: block;}
						.total{font-size:32px;}
					}
					.icon{
						float:left;
						color:$text-blue;
						margin:25px;
					}
					.action{
						float:left;
						width: 158px;
						margin-top:12px;
						font-size: 16px;
					}
				}
				.wrap-social{
					margin-top:20px;
					margin-bottom: 20px;
					ul{
						list-style-type: none;
						font-family: 'Sentico sans',arial,sans-serif;
						font-weight: 500;
						li{
							 display:inline;
							 margin:10px 1px;
							 font-size: 32px;
							&:first-child{
								font-size: 18px;
								float: left;
								margin: 3px 10px 0 0;
								color: $text-grey;
							}
							a {
								color: #B5BCC1;
								&:hover {
									color: #3498DB;
								}
							}
						}
					}
				}
			}
		}
	}

	@include respond-to(max-xs) {
		.main-product {
			height: 139px;
			.module{
				.intro{
					color:#ffffff;
					.tittle{
						width: 200px;
						h1{
							font-size: 25px;
							margin-top:20px;
						}
					}
					h2{
						font-size: 18px;
					}
				}
			}
		}
		/*Main-Description*/
		.main-description {
			.module{
				.btn-yellow{
					margin-top: 25px;
				}
				.info{
					h1{
						font-size: 22px;
					}
					p{
						font-size: 14px;
					}
					.wrap-price{
						background-color:#ffffff;
						height: 115px;
						width: auto;
						.price{
							color:$text-blue;
							float:none;
							text-align: center;
							.from{font-size:14px;display: initial;}
							.total{font-size:32px;}
						}
						.icon{
							display:none;
						}
						.action{
							width: 100%;
						}
					}
					.wrap-social{
						margin-top:20px;
						margin-bottom: 20px;
						ul{
							list-style-type: none;
							font-size: 14px;
							li{
								 font-size: 32px;
								&:first-child{
									float:none;
									font-size: 16px;
								}
							}
						}
					}
				}
			}
		}
	}
}
