.aegon {
	.wrap-tabs {
		.module{
			padding:0px 10px;
			.content-tabs{
				font-size: 15px;
				font-family: 'Sentico Sans',arial,sans-serif;
				font-weight: 500;
				ul.characteristics {
					margin:20px 0px 40px 0px;
					list-style-type: none;
					display:block;
					width: 100%;
					.collapse-item {
						.collapse-header {
							background-color: $background-light-grey;
							padding: 15px;
							margin-bottom:2px;
							position: relative;
							span {
								color:$text-dark-blue;
								font-size: 16px;
							}
							.icomoon-arrow-down {
								position: absolute;
								top: 17px;
								right: 10px;
								color:$text-dark-blue;
							}
						}
						.collapse-content {
							ul {
								background-color:white;
								list-style-type: none;
								padding:10px;
								.color-tabs {
									color:$text-grey;
									padding:20px;
									height: 80px;
									border-bottom: 1px solid $border-grey-super-light;
									&:last-child{
										border-bottom: none;
									}
									.title{
										.icomoon-check-icon{
											color:#42A72A;
											font-size: 24px;
											float:left;
											margin-right:15px;
										}
										p{
											margin-top:2px;
											font-size: 15px;
										}
									}
									.text{
										font-size:14px;
										font-family: arial, sans-serif;
									}
								}
							}
						}
						&.collapsed {
							.collapse-content {
								display: none;
							}
						}
						&.opened {
							.collapse-header {
								i {
									transform: rotate(-180deg);
								}
							}
						}
					}
				}
			}
		}
	}

	@include respond-to(max-xs) {
		.wrap-tabs {
			.module{
				.content-tabs{
					ul.characteristics {
						.collapse-content{
							ul.description{
								padding: 10px 0px;
								.color-tabs {
									padding: 20px 0px;
									height:auto;
									.text{
										padding-left: 55px;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.collapse .collapsed .collapse-content {
		display: none;
	}
}
