.aegon
	.tab-results.col-xs-12
		ul.tabs-menu.sentico-font
			li.tab.col-md-3.col-sm-3.col-xs-4.current
				a(href="#tab1") Todo
			li.tab.col-md-3.col-sm-3.col-xs-4
				a(href="#tab2") Productos
			li.tab.col-md-3.col-sm-3.col-xs-4
				a(href="#tab3") Ayuda

	.content-tabs.module.tab-content#tab1
		.row.start-md.col-xs-12
			.info
				.question
					h2 ¿Desde cúando puedo beneficiarme de mi seguro médico?
					p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati ...
			.info
				.doctor
					img(src="assets/img/doctor1.jpg")
					.right
						h2 Dr. Marco Cuadrado
						p
							span.icomoon-medico
							span  Especialidad:
								strong Otorrinonalingología
						p
							span.icomoon-location
							span  C/ Espronceda nº 24 2º 3ª 08020 Barcelona
			.info
				.question
					h2 ¿Desde cúando puedo beneficiarme de mi seguro médico?
					p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati ...
			.info
				.doctor
					img(src="assets/img/doctor2.jpg")
					.right
						h2 Dr. Dolores Debarriga
						p
							span.icomoon-medico
							span  Especialidad:
								strong Digestología
						p
							span.icomoon-location
							span  C/ Espronceda nº 24 2º 3ª 08020 Barcelona
			.info
				.question
					h2 ¿Desde cúando puedo beneficiarme de mi seguro médico?
					p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati ...
			.info
				.question
					h2 ¿Desde cúando puedo beneficiarme de mi seguro médico?
					p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati ...
			.info
				.question
					h2 ¿Desde cúando puedo beneficiarme de mi seguro médico?
					p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati ...
	.content-tabs.module.tab-content#tab2.hide
			.row.start-md.col-xs-12
					.info
						h2 Productos
						p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati ...
	.content-tabs.module.tab-content#tab3.hide
			.row.start-md.col-xs-12
					.info
						h2 Ayuda
						p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati ...
						p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati ...

	.row.pagination.center-md.center-xs
		ul
			li
				a.icomoon-arrow-left.disabled
			li.pages
				span
					strong 20
				span de
				span
					strong 200
				span resultados
			li
				a.icomoon-arrow-right


