.aegon
	section
		.main.module
			.row
				.col-sm-12.col-xs-12
					.results-found
						span.results.sentico-font 24 Resultados encontrados

			.row
				.col-sm-12.col-xs-12
					.results-found-search
						.wrap-input-results
							input(type="text", placeholder="¿En qué podemos ayudarte?")
						.wrap-button.show-in-desktop
							button
								span.icomoon-lupa
								span Buscar
						.wrap-button.show-in-mobile
							buttton
								span.icomoon-lupa


