.aegon
	.sidebar
		.background-grey.show-in-desktop
			h1
				span Enlaces Recomendados

			ul
				li
					a(href='#')
						span.icomoon-arrow-down
						span.text  ¿Qué es la segunda opción médica que cubre mi seguro?
				li
					a(href='#')
						span.icomoon-arrow-down
						span.text  Ya he contratado mi póliza con Aegon Seguros, qué documentación tengo que recibir?
				li
					a(href='#')
						span.icomoon-arrow-down
						span.text  Quiero contratar un Seguro de Vida ¿tengo que realizar algún tioi de chequeo médico?
				li
					a(href='#')
						span.icomoon-arrow-down
						span.text  ¿Qué es la firma online y qué ventajas tiene?
				li
					a(href='#')
						span.icomoon-arrow-down
						span.text ¿En qué consiste el Copago?

				li
					a(href='#')
						span.icomoon-arrow-down
						span.text  ¿Qué es la segunda opinión médica que cubre mi seguro?
				li
					a(href='#')
						span.icomoon-arrow-down
						span.text  Ya he contratado mi poliza con Aegon Segudos ¿qué documentación tengo que recibir?
				li
					a(href='#')
						span.icomoon-arrow-down
						span.text  Quiero contratar un Seguro de Vida ¿tengo que realizar algún tipo de chequeo médico?
				li
					a(href='#')
						span.icomoon-arrow-down
						span.text  ¿Qué es la firma online y qué ventajas tiene?
				li
					a(href='#')
						span.icomoon-arrow-down
						span.text  ¿En qué consiste el Copago?

		.contact
			.call-back
				.wrap-tittle.sentico-font
					span.icomoon-phone
					span ¿Prefieres que hablemos?
				.contact-info
					button.btn-yellow.btn-block Te llamamos gratis
					div.call-us
						span O llámanos gratis al
						span.number  900 330 903