// BUSCADOR
.autocomplete__container {
  display: none;
}

.search .hotel .autosuggest-div {
  position: absolute;
  //display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 45px;
  padding: 0 10px 0 30px;
  color: #CCC;
  line-height: 45px;
  overflow: hidden;
}

#autocomplete {
  position: absolute;
  display: none;
  left: 0;
  margin: 0 0 14px 0;
  z-index: 9;
  top: 0px;
  width: 100%;
  background-color: $white;
  @include box-shadow(0, 2px, 4px, rgba(0,0,0,0.17));
  @include respond-to-device(mobile) {
    position: static;
    display: block;
    box-shadow: none;
  }
}

.show-below #predictor:after,
.show-below #autocomplete .last-searches:after {
  top: -9px;
  bottom: inherit;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
}

#autocomplete .last-searches.hidding {
  height: 1px;
  visibility: hidden;
  overflow: hidden;
}

#autocomplete .last-searches li {
  padding: 8px 0;
  color: $blue;
  cursor: pointer;
  margin-left: 0 !important;
  list-style: none !important;
}

.container {
  padding: 0;
}

#predictor {
  display: none;
  width: 100%;
  overflow: hidden;
}


#predictor .ui-autocomplete {
  position: static !important;
  width: 100% !important;
  background-color: #FFF;
}

#predictor .ui-autocomplete .ui-menu {
  position: static !important;
  display: block !important;
}

#predictor .ui-autocomplete .ui-category {
  display: inline-block;
  width: 100%;
  overflow: auto;
}

#predictor .ui-autocomplete ul.ul-category:before {
  //content: attr(data-text);
  display: block;
  //margin-left: 20px;
}

#predictor .ui-autocomplete .ui-menu .cont-search .ui-autocomplete-category,
#predictor .ui-autocomplete ul.ul-category:before {
  padding: 15px 0;
  color: #494949;
  text-transform: uppercase;
}

#predictor .ui-autocomplete .ui-menu .ui-menu-item,
#autocomplete-hoteles-container .ui-autocomplete.ui-menu .ui-menu-item{
  padding: 8px 0;
  color: $blue;
}

// PISO LOS ESTILOS DEL PLUGIN
.bg-white {
  padding: 0 30px;
  @include respond-to-device(mobile) {
    padding: 0 20px;
  }
  .list-unstyled {
    //display: none;
    li {
      display: inline-block;
      width: 190px;
      border-bottom: 1px solid #EBEBEB;
      margin-right: 30px;
      font-size: 13px;
      @include respond-to-device(mobile) {
        width: 100%;
      }
      &:nth-child(4n+4) {
          margin-right: 0;
      }
      &:first-child {
        //border-top: 1px solid #EBEBEB;
      }
      .icon-location {
        font-size: 15px;
        margin-right: 10px;
      }
    }
  }
}

.header-title {
  font-size: 16px;
  text-transform: uppercase;
}

.hotelCount {
  color: #494949;
  font-size: 13px;
  font-family: 'Montserrat-Light';
  margin-left: 5px;
  text-transform: uppercase;
}

#predictor {
  .suggest-conteiner {
    padding-bottom: 20px;
    .list {
      margin: 0 30px;
      width: 100%;
    }
  }
}

.ui-menu .ui-menu-item {
  margin-right: 30px;
}

.category-header {
  font-size: 16px;
  color: #494949;
  text-transform: uppercase;
  padding: 20px 0;
  @include respond-to-device(mobile) {
    border-bottom: 1px solid #EBEBEB;
  }
  @include responsive-flex(row, nowrap, space-between, center);
  .city {
    font-size: 16px;
  }
  .counter {
    color: $blue;
    font-family: 'Montserrat-Light';
    font-size: 15px;
    @include hide(desktop);
    @include hide(bigscree);
  }
  .counterText {
    color: $blue;
    font-family: 'Montserrat-Light';
    font-size: 15px;
    @include hide(mobile);
    @include hide(tablet);
  }
  .icon-plus {
    font-size: 10px;
    color: $blue;
    @include hide(desktop);
    @include hide(bigscree);
  }
}
.separator {
  margin: 0 5px;
  //color: black;
}

.ul-category {
  li {
      font-family: 'Montserrat-Regular';
      font-size: 13px;
      width: 190px;
      display: inline-block;
      color: $blue;
      padding: 10px 0 10px 0;
      border-top: 1px solid #EBEBEB;
      @include respond-to-device(mobile) {
        width: 100%;
      }
      &:first-child {
        //border-top: none;
      }
      &:nth-child(4n+4) {
          margin-right: 0;
      }
      &:nth-last-of-type(1) {
          border-bottom: 1px solid #EBEBEB;
      }
      &:nth-last-of-type(2) {
          border-bottom: 1px solid #EBEBEB;
      }
      &:nth-last-of-type(3) {
          border-bottom: 1px solid #EBEBEB;
      }
      &:nth-last-of-type(4) {
          border-bottom: 1px solid #EBEBEB;
      }
  }
}

.ui-state-focus, .ui-state-hover, .ui-widget-content .ui-state-focus, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-focus, .ui-widget-header .ui-state-hover {
  border: none;
}

.ui-widget, .ui-widget .ui-widget {
  font-family: 'Montserrat-Regular';
  font-size: 16px;
  color: #494949;
}


#editReserveMobile {
  position: absolute;
  top:  60px;
  left: 0;
  z-index: 100000;

  width: 100%;
  background-color: $back-color-header;
  @include hide(tablet);
  @include hide(desktop);
  @include hide(bigscreen);
  @include respond-to(tablet) {
    //top: 72px;
  }
  .search__fields {
    width: 100%;
    padding: 10px;
    @include responsive-flex(column, wrap, center, center);
    input {
      width: 100%;
      height: 45px;
      font-size: 13px;
      padding: 0 15px;
      color: white;
      background-color: $back-color-4;
      font-family: 'Montserrat-Light';
      border: none;
      margin-bottom: 10px;
    }
    .search__location {
      position: relative;
      width: 100%;
      .icon-location {
        @include float-icons(19px, $icon-color-buscar, 12px, 91%);
      }
    }
    .search__dates {
      position: relative;
      width: 100%;
      .icon-calendar {
        @include float-icons(19px, $icon-color-buscar, 12px, 91%);
      }
    }
    .search__persons {
      position: relative;
      width: 100%;
      .icon-person {
        @include float-icons(19px, $icon-color-buscar, 12px, 91%);
      }
    }
  }

  .search__btnContainer {
    border-top: 1px solid #555555;
    height: 74px;
    width: 100%;
    display: table;

    .search__close {
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      width: 72px;
      height: 100%;
      border-right: 1px solid #555555;
      .icon-close {
        color: #979797;
        font-size: 23px;
      }
    }
    .search__find {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      padding: 0 10px 0 10px;

      button {
        height: 45px;
        width: 100%;
        background-color: $blue;
        color: $white;
        .icon-search2 {
          margin-right: 8px;
          font-size: 16px;
          color: $white;
        }
        span {
          text-transform: uppercase;
        }
      }
    }
  }
}