/*
*************** CALENDAR!!! ******************
**********************************************
*/
/*
#check-in-input {
  height: 1px;
}
#check-out-input {
  height: 1px;
}
*/

.icon-arrow-left-big {
    font-size: 30px;
    color: $blue;
}

.calendar-container.active {
  z-index: 801;
}
.calendar-container.right-edge {
  right: -20px;
  left: initial;
}
@media(min-width: 768px) and (max-width: 991px) {
  .calendar-container {
    bottom: 60px;
  }
}

.show-below .calendar-container,
.show-below.search-container-extra .calendar-container{
  top: 59px;
  bottom: inherit;
}

#search-calendar {
  position: relative;
  //display: none;
  width: 100%;
  margin: 0 auto 14px auto;
  padding: 8px 0 0 0;
  z-index: 10;
  background: #fff;
}

.show-below #search-calendar {
  margin: 0 auto 14px auto
}

@media (min-width: 768px) and (max-width: 991px) {
  #search-calendar {
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {

}

.row.search-calendar-header,
.row.search-calendar-footer {
  width: 100%;
  margin: 0;
  background: #FFF;
  font-size: 12px;
}

.row.search-calendar-footer {
  color: $blue;
  font-size: 12px;
  text-transform: uppercase;
}

.search-calendar-header .separator {
  margin: 0 15px;
  color: #C6C6C6;
}

.search-calendar-header .check-in-date,
.search-calendar-header .check-out-date {
  color: #333333;
}

.total-nights {
  color: #333;
}

.search-calendar-header .check-in-title,
.search-calendar-header .check-out-title {
  opacity: 0.5;
  font-family: 'Montserrat-Light';
  font-size: 15px;
}

.search-calendar-header .check-in-title.active,
.search-calendar-header .check-out-title.active {
  opacity: 1
}

.search-calendar-header > div {
  padding: 9px 0;
}

.row.search-calendar-footer > div {
  margin: 0 auto;
  padding: 9px 0;
}

.calendar-wrapper:before {
  position: absolute;
  display: none;
  top: inherit;
  bottom: -9px;
  width: 0;
  height: 0;
  margin: 0 auto;
  content: "";
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #FFF transparent transparent;
}

.show-below .calendar-wrapper:before {
  top: -9px;
  bottom: inherit;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
}

.ui-datepicker.ui-datepicker-inline {
  width: 100% !important;
  border-radius: 0;
}

.calendar-wrapper .ui-datepicker.ui-datepicker-inline {
  padding-bottom: 8px
}

.ui-widget-header {
  background: #FFF;
  border: none;
}

.ui-widget-header {
  padding-top: 8px;
  color: #0073C3;
  font-size: 26px;
  font-weight: normal;
}

#big-calendar {
  margin: 0 -3px
}

#big-calendar .ui-widget-header {
  max-width: 300px;
  margin: 0 auto;
}

.calendar-wrapper .ui-widget-header {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.ui-datepicker th {
  width: 14.28%;
  color: #444444;
  font-size: 16px;
  font-weight: normal;
}

.ui-widget-content {
  background: #fff;
  border: none;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border-color: #ccc
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: transparent
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  padding: 11px 0;
  color: #999999;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  background: transparent;
}

.ui-widget-content .ui-datepicker-today a,
.ui-widget-content .ui-datepicker-today span {
  padding: 5px 0 17px
}

.calendar-wrapper .ui-state-default,
.calendar-wrapper .ui-widget-content .ui-state-default,
.calendar-wrapper .ui-widget-header .ui-state-default {
  border: 1px solid #fff
}

.calendar-wrapper .ui-widget-content .date-range-selected,
.calendar-wrapper .ui-widget-content td.date-hover,
.calendar-wrapper .ui-widget-content .range-first.date-hover,
.calendar-wrapper .ui-widget-content .range-last.date-hover {
  background-color: #89C6DD;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.calendar-wrapper .ui-widget-content td:hover {
  background: #0073C3;
}

.ui-state-default:hover,
.calendar-wrapper .ui-widget-content td:hover .ui-state-default {
  color: #fff;
  border-color: transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
}

td.ui-datepicker-unselectable:hover,
.ui-state-disabled:hover,
td.ui-datepicker-unselectable {
  background: #EDEDED !important
}
.ui-widget-header .ui-state-disabled:hover {background:#fff !important}

.calendar-wrapper .ui-widget-content .date-range-selected > .ui-state-default,
.calendar-wrapper .ui-widget-content .date-range-selected:hover > .ui-state-default,
.calendar-wrapper .ui-widget-content .date-hover > .ui-state-default {
  position: relative;
  color: #fff;
  background: none;
  border-color: transparent;
}

.date-range-selected.ui-datepicker-current-day {
  background: #0073C3;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.calendar-wrapper .ui-widget-content .ui-state-default:hover {
  border: none
}

#big-calendar .ui-widget-content .date-range-selected > .ui-state-default {
  color: #F75947;
  background: none;
  border: none;
  box-shadow: inset 0 0 0 2px #F75947;
}

#big-calendar .ui-widget-content .range-first > .ui-state-default,
#big-calendar .ui-widget-content .range-last > .ui-state-default {
  box-shadow: inset 0 0 0 4px #F75947
}

#big-calendar .ui-widget-content .ui-state-default {
  margin: 4px 3px;
  padding: 6px 0;
  color: #333333;
  font-size: 20px;
  border: 2px solid #ddd;
}

@media (min-width: 768px) {
  #big-calendar .ui-widget-content .ui-state-default {
    padding: 21px 0;
    font-size: 28px;
  }
}

#big-calendar .ui-datepicker.ui-datepicker-inline {
  padding: 0;
  border: none;
}

#big-calendar .ui-datepicker th.ui-datepicker-week-end:first-child {
  padding-left: 5px
}

#big-calendar .ui-datepicker th.ui-datepicker-week-end:last-child {
  padding-right: 5px
}

#big-calendar .ui-datepicker th {
  padding-right: 0;
  padding-bottom: 5px;
  padding-left: 0;
}

#big-calendar .ui-datepicker th span {
  display: block;
  padding-bottom: 5px;
  color: #545454;
  border-bottom: 1px solid #CCCCCC;
  font-size: 16px;
  font-weight: 500;
}

.calendar-wrapper .ui-widget-content .range-first,
.calendar-wrapper .ui-widget-content .range-last {
  background: $blue;//#0073C3
}

.calendar-wrapper .ui-widget-content .range-first > .ui-state-default:before,
.calendar-wrapper .ui-widget-content .range-last > .ui-state-default:before {
  position: absolute;
  top: 9px;
  left: 5px;
  width: 5px;
  height: 25px;
  content: "";
}

.calendar-wrapper .ui-widget-content .range-last > .ui-state-default:before {
  right: 5px;
  left: auto;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border-color: #ccc;
  background: none;
}

.ui-widget-header .ui-state-hover {
  border: none;
  background: none;
}

.calendar-wrapper .ui-datepicker td {
  padding: 1px;
  border: 1px solid #CCCCCC;
  height: 46px;
}

.calendar-wrapper .ui-datepicker td.ui-datepicker-unselectable.ui-state-disabled .ui-state-default {
  color: #BBBBBB
}

.ui-datepicker .ui-datepicker-title {
  font-size: 16px;
  font-weight: normal;
  color: #818181;
}

.ui-widget-header .ui-icon {
  width: 9px;
  height: 14px;
  margin-top: 0;
}
.ui-datepicker-prev, .ui-datepicker-next { cursor:pointer}
.ui-widget-header .ui-datepicker-prev:before {
  font-family: 'melia-icons';
  content:"\e625";
  display:block;
  margin:8px 0 0 5px ;
  }
.ui-widget-header .ui-datepicker-next:before {
  font-family: 'melia-icons';
  content:"\e639";
  display:block;
  margin:8px 5px 0 0 ;
  }
.ui-state-disabled { color:#CCC !important}

@media (min-width: 992px) {
  .calendar-wrapper.is-checkin-date:before {
    left: 260px
  }
  .hotel .calendar-wrapper.is-checkin-date:before {
    left: 212px
  }

  .calendar-wrapper.is-checkout-date:before {
    left: 395px
  }


}

@media (min-width: 1200px) {
  .calendar-wrapper.is-checkin-date:before {
    left: 290px
  }

  .calendar-wrapper.is-checkout-date:before {
    left: 445px
  }

  .hotel .calendar-wrapper.is-checkout-date:before {
    left: 402px
  }
}

@media (min-width: 768px) and (max-width:991px) {
  .calendar-wrapper.is-checkin-date:before {
    left: 75px
  }

  .calendar-wrapper.is-checkout-date:before {
    left: 240px
  }
}

.button-wrapper {
  padding: 15px 0;
  border-top: 1px solid #CCCCCC;
  text-align: center;
}

.button-wrapper .btn {
  max-width: 100%;
  padding: 10px 70px;
}

@media (max-width: 767px) {
  .calendar-wrapper.is-checkin-date:before {
    left: 20%
  }

  .calendar-wrapper.is-checkout-date:before {
    left: 70%
  }
}

.button-wrapper {
  padding: 15px 0;
  border-top: 1px solid #CCCCCC;
  text-align: center;
}

.button-wrapper .btn {
  max-width: 100%;
  padding: 10px 70px;
}

.ui-datepicker-today .ui-state-default {
  position: relative;
  border: 1px solid $blue !important;
}

.ui-datepicker-today .ui-state-default:after {
  position: absolute;
  display: block;
  top: 25px;
  width: 100%;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: $blue;
  content: attr(data-today-text);
}

.ui-state-default:after {
    content: attr(data-cell-text);
    //position: absolute;
    display: block;
    top: 0px;
    width: 100%;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
}

.hover-inactive {
  background: #fff !important
}

.hover-inactive .ui-state-default {
  color: #444444 !important
}

.hover-inactive.ui-datepicker-unselectable .ui-state-default {
  color: #BBBBBB !important
}

.hover-active {
  background-color: #65aada;
}

.hover-active .ui-state-default {
  color: #fff !important;
  border-color: transparent !important;
}

.hover-active.hover-first,
.hover-active.hover-last {
  background: #0073C3 !important
}

#search-calendar label {
  margin: 0;
  font-weight: normal;
}
.search .options .reset { margin-left: 10px}
@media(max-width: 991px) {
  .search .text-column {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}
@media(min-width: 992px) {
  .search.hotel .check-in,
  .search.hotel .check-out {
    width: 16%;
  }
  .search.hotel #ocupation {
    width: 23%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #autocomplete {
    bottom: 136px;
}

  .search .hotel {
    width: 100%;
    position: relative;
    background-color: #FFF;
    margin-bottom: 10px;
    font-size: 12px;
  }

  .search .check-in,
  .search .check-out {
    width: 22%
  }

  #ocupation {
    width: 29%;
    background: #fff;
  }

  #search-button {
    width: 24.9%;
    float: right;
  }

  #autocomplete {
    top: 40px;
    width: 100%;
  }

  #predictor {
    width: 100%
  }

  .calendar-container {
    width: 100%;
    left: 0;
    padding: 0 10px;
    background-color: white;
  }

  .show-below .calendar-container {
    top: 114px
  }

  .gestion-reserva .show-below .calendar-container {
    top: 60px;
    right: -25px;
    width:  100%;
  }

  .search-module-square.show-below .calendar-container {
    top: 60px;
    left: -20px;
    width:  100%;
  }


  @media (min-width: 768px) and (max-width: 991px) {
    .search-module-square.show-below .calendar-container,
    .gestion-reserva .calendar-container {
        width: 150% !important;
    }
    .gestion-reserva .calendar-container {
        left: -47%;
    }
  }

  #search-calendar {
    width: 100%
  }

  div#mostpopular {
    width: 100%;
    left: auto;
  }
}

@media (max-width:767px) {
  .search .hotel {
    width: 100%;
    position: relative;
    background-color: #FFF;
    font-size: 12px;
  }

  .search .check-in,
  .search .check-out {
    width: 49.4%
  }

  .search .check-in {
    margin-right: 0
  }

  .search .check-out {
    margin-right: 0;
    float: right;
  }

  #predictor {
    height: auto;
    max-height: none;
  }

  #search-button {
    width: 100%;
    margin-top: 10px;
  }

  #search-calendar,
  .show-below #search-calendar {
    margin: 0;
    min-height: 100%;
    width: 100%;
  }

  .row.search-calendar-header {
    padding: 0
  }

  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default {
    font-size: 12px
  }

  .ui-datepicker th {
    font-size: 12px
  }

}

.ui-datepicker .ui-datepicker-prev {
    left: -10%;
    top: 420%;
    @include respond-to-device(tablet) {
        top: 5px;
        left: 0;
    }
}

.ui-datepicker .ui-datepicker-next {
    right: -38px;
    top: 420%;
    @include respond-to-device(tablet) {
        top: 5px;
        right: 0;
    }
}

.calendar-container {
    padding: 0 58px;
    @include respond-to-device(tablet) {
        padding: 0 40px;
    }
}

.search-calendar {
    border: none;
    box-shadow: initial;
}

.ui-datepicker-calendar {
    th {
        font-family: 'Montserrat-Light';
        color: #666666;
        font-size: 11px;
    }
}

.ui-icon {
    width: 17px;
    height: 32px;
}
.ui-icon-circle-triangle-w {
    background-position: top;
}
.ui-icon-circle-triangle-e {
    background-position: top;
}
.ui-widget-header .ui-datepicker-prev:before {
    content: ''
}
.ui-widget-header .ui-datepicker-next:before {
    content: ''
}

.ui-datepicker-prev {
    .ui-icon, .ui-widget-content .ui-icon, .ui-widget-header .ui-icon {
        width: 17px;
        height: 30px;
        background-image: url('../assets/img/arrow_left_calendar.png');
        @include respond-to-device(tablet) {
            background-image: url('../assets/img/arrow_left_calendar_mobile.png');
        }
    }
}

.ui-datepicker-next {
    .ui-icon, .ui-widget-content .ui-icon, .ui-widget-header .ui-icon {
        width: 17px;
        height: 30px;
        background-image: url('../assets/img/arrow_right_calendar.png');
        @include respond-to-device(tablet) {
            background-image: url('../assets/img/arrow_right_calendar_mobile.png');
        }
    }
}

#content {
    width: 100%;
    background-color: 100%;
}

.tab-content {
    background-color: white;
}

.ui-datepicker .ui-datepicker-title {
    border-top: 1px solid $border-color-light;
    border-bottom: 1px solid $border-color-light;
    margin: 0;
    padding: 5px 0;
}

//TODO: ver porque no me toma esta clase!
.ui-datepicker-other-month {
    background-color: #EDEDED !important;
}
.ui-datepicker-other-month {
    opacity: 1 !important;
}

.sepa {
    margin: 0 5px;
    font-weight: normal;
}

.totalDays {
    text-align: right;
}

.daysTotalPrice {
    font-weight: normal;
    font-size: 15px;
}

.check-in-date, .check-out-date {
    font-family: 'Montserrat-Light';
    padding-left: 5px;
    font-weight: normal;
}

.calendarDates {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.reservation-calendar {
  display: flex;
  input {
    padding: 0 0;
  }
}
/*
.check-in {
  width: 40%;
  height: 50px;
  margin-right: 5px;
  input {
    text-align: right;
  }
}

.check-out {
  width: 40%;
  height: 50px;
  input {
    text-align: left;
  }
}*/