// Template de cuartos Clases propias
.ocupation__container {
    //display: none;
    @include respond-to(mobile) {
        min-height: 500px;
    }
    .roomsWrap {
        position: relative;
        padding: 0 20px 0 20px;
        @include responsive-flex(row, wrap, flex-start, center);
        min-height: 108px;
        border-bottom: 1px solid $border-light;

        .roomName {
            margin-right: 46px;
            .roomValue { padding-left: 4px; }
            @include respond-to-device(mobile) {
                margin-right: 0;
            }
        }
        .removeRoom {
            margin-top: 4px;
            @include hide(desktop);
            @include hide(bigscreen);
            a { color: $blue; }
        }
        .icon-close {
            color: #D3D3D3;
            font-size: 20px;
            margin-left: 20px;
            @include hide(mobile);
            @include hide(tablet);
        }
        .conuterNumber {
            font-family: 'Montserrat-Light';
            font-size: 24px;
            color: $blue;
            width: 25px;

            @include respond-to-device(mobile) {
                font-size: 20px;
            }
        }
        .counters {
            width: 40px;
            margin-left: 15px;
        }

        button {
            border: 1px solid $grey-light;
            width: 40px;
            height: 34px;
            color: $blue;
        }
        .icon-plus {
            font-size: 12px;
        }
        .icon-less {
            font-size: 2px;
        }
        [class^="less"] {
            padding-bottom: 7px;
        }
        .personType {
            @include respond-to-device(mobile) {
                font-family: 'Montserrat-Light';
                font-size: 13px;
            }
        }
        .childrenAges {
            color: $text-black;
            font-size: 12px;
            font-family: 'Montserrat-Light';
            @include respond-to-device(mobile) {
                font-size: 11px;
            }
        }
        .personType { width: 54px; }
        .ocupationCounters {
            @include responsive-flex(row, wrap, flex-start, center);
            color: #333333;
            .roomsCounter, .adultsCounter, .JuniorCounter, .childrensCounter, .BebeCounter  {
                @include responsive-flex(row, wrap, space-between, center);
            }
            @include respond-to-device(mobile) {
                max-width: 180px;

                .substract {
                    margin-right: 10px;
                }
                .add {
                    margin-left: 10px;
                }
            }
        }
        .ocupationCounters > div {
            margin-right: 34px;
            @include respond-to-device(mobile) {
                margin-right: 0;
                margin-bottom: 18px;
            }
            &:last-child {
                margin-right: 0;
                margin-bottom: 0;
            }
        }
        //.marginSelection5Rooms { margin-right: 34px !important }
        .ocupationCounters.moreThanFiveRoom {
            max-width: none;
            .personType {
                width: none;
            }
        }
        .ocupationCounters.moreThanFiveRoom > div {
            width: 100%;
        }
        @include respond-to-device(tablet) {
            padding: 15px 30px 15px 30px;
            border-bottom: none;
            .roomName {
                width: 100%;
                margin-right: 0;
                padding-bottom: 15px;
                margin-bottom: 20px;
                margin-top: 20px;
                border-bottom: 1px solid $border-light;
            }
            .icon-close {
                position: absolute;
                top: 34px;
                right: 30px;
            }
        }
        @include respond-to-device(mobile) {
            @include responsive-flex(row, wrap, space-between, center);
            padding: 15px;
            border-bottom: 1px solid $border-light;
            .roomName {
                width: 35%;
                border-bottom: none;
            }
        }
    }
    .room__alert {
        display: none;
        .wrapper {
            height: 40px;
            margin: auto;
            color: $text-light-black;
            font-family: 'Montserrat-Light';
            text-align: center;
            max-width: 548px;
            background-color: $alert-msj;
            @include responsive-flex(row, wrap, center, center);
            margin-bottom: 20px;
            .icon-warning {
                font-size: 17px;
                margin-right: 15px;
            }
            strong {
                margin: 0 5px;
            }
        }
    }
}
.room__add, .room__backFourRooms {
    button {
        font-size: 12px;
        font-family: 'Montserrat-Regular';
        margin: 20px auto 20px auto;
        max-width: 270px;
        @include respond-to(tablet) {
            border: none;
        }
        .icon-plus {
            margin-left: 5px;
            font-size: 14px;
        }
        .icon-angle-left {
            font-size: 14px;
            margin-right: 5px;
        }
    }
}
.room__ready {
    padding: 0 20px;
    margin-bottom: 20px;
    @include hide(desktop);
    @include hide(bigscreen);
}

//CLASES SOBRE ESCRITAS DE SELECT2 PLUGIN
.select2-selection {
    height: 50px;
    @include respond-to-device(mobile) {
        //background-color: $background-black-ligth !important;
    }
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: white !important;
    border: none;
    margin-top: 16px;
    margin-right: 0;
    padding: 0;
    font-size: 13px;
}
.select2-container--open .select2-dropdown {
    top: 1px;
    max-width: 940px;
    @include respond-to-device(mobile) {
        top:70px;
    }
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: transparent;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0 0 0 15px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    display: none;
}

// Simula con un input angosto el titileo de el marcador para escribir
.select2-container .select2-search--inline .select2-search__field {
    height: 38px;
    font-size: 13px;
    padding: 0 15px 0 0;
    //color: $blue;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    display: none;
}

.select2-container--default  .select2-container--focus .select2-selection--multiple {
    border: none;
}

.select2-container--default .select2-selection--multiple {
    border: none;
}

// SOBREESCRIBIENDO CLASES SELECT2
.select2-container {
    // Lo defino al inicializar el componente
    //width: 100% !important;
    //max-height: 420px !important;
    max-height: 520px !important;
    .item--blue {
        color: $blue;
    }
    .select2-selection {
        min-height: 50px;
        border-radius: 0;
    }

    .select2-dropdown {
        border-radius: 0;
        border: none;
        @include box-shadow(0, 2px, 4px, rgba(0,0,0,0.17));
        .select2-results {
            padding: 0 0 20px 20px;
            @include respond-to-device(tablet) {
                padding: 0 15px 0 15px;
            }

            > .select2-results__options {
                max-height: 420px;
            }
            .select2-results__option[role='group'] {
                border-bottom: 1px solid #ebebeb;
                &:last-child {
                    border-bottom: 0;
                }
            }
            .select2-results__options {
                strong { font-weight: normal; }
                .select2-results__group {
                    font-size: 16px;
                    color: $text-black-less-light;
                    padding: 20px 0;
                    font-family: 'Montserrat-Regular';
                    text-transform: uppercase;
                }
            }
            ul.select2-results__options--nested {
                .select2-results__option {
                    width: 190px !important;
                }
                li {
                    font-family: 'Montserrat-Regular';
                    font-size: 13px;
                    width: 200px;
                    display: inline-block;
                    color: $blue;
                    padding: 10px 0 10px 0;
                    border-top: 1px solid #EBEBEB;
                    margin-right: 40px;
                    &:nth-child(4n+4) {
                        margin-right: 20px;
                    }
                    &:nth-last-of-type(1) {
                        border-bottom: 1px solid #EBEBEB;
                    }
                    &:nth-last-of-type(2) {
                        border-bottom: 1px solid #EBEBEB;
                    }
                    &:nth-last-of-type(3) {
                        border-bottom: 1px solid #EBEBEB;
                    }
                    &:nth-last-of-type(4) {
                        border-bottom: 1px solid #EBEBEB;
                    }
                }
            }
        }
        @include respond-to-device(mobile) {
            box-shadow: none;
        }
    }
}

.select2-dropdown {
    width: 992px !important;
    @include respond-to-device(tablet) {
        width: 98%!important;
    }
    @include respond-to-device(mobile) {
        width: 100%!important;
    }
    .icon-plus {
        color: $blue;
        font-size: 12px;
        @include hide(desktop);
        @include hide(bigscreen);
        padding-top: 4px;
    }
}

.icon--blue {
    color: $blue !important;
}

.select2-groupHeader {
    color: $blue;
    font-family: 'Montserrat-Light';
    font-size: 15px;
}

.separator {
    margin: 0 10px;
    color: #B4B4B4;
}

.select2, .select2-container, .select2-container--default {
    width: 100%;
    @include respond-to-device(mobile) {
        width: 78% !important;
    }
}

.select2-results__options--nested {
    @include respond-to-device(mobile) {
        display: none;
    }
}