

.searchBarContainer {
	//margin-top: -85px;
    margin-top: 100px;
    @include respond-to-device(tablet) {
        margin-top: 0px;
    }
	.searchBar {
		position: relative;
		@include responsive-flex(row, wrap, center, center);
		margin: auto;
		max-width: $break-medium;
		z-index: 1000;
        max-width: 940px;
		height: 50px;
		@include respond-to-device(mobile) {
			margin-top: 0px;
			padding: 15px 10px 0 10px;

			[class^="searchBar__"] {
				margin-bottom: 2px;
			}
		}
		.searchBar__location {
			position: relative;
			width: 30%;
            height: 51px;
			border-right: 1px solid $border-input;
            border-bottom: 1px solid $border-input;
            background-color: $white;
			.icon-location {
				z-index: 1;
                @include float-icons(19px, $icon-color-buscar, 15px, 87%);
                @include hide(mobile);
			}
            .icon-close {
                color: $white;
                font-size: 16px;
            }
			@include respond-to-device(mobile) {
                width: 100%;
				.icon-location {
					left: 93%;
				}
			}
            @include respond-to-device(mobile) {
                width: 100%;
            }
		}
		.searchBar__dates {
			position: relative;
			width: 22%;
            height: 51px;
            background-color: $white;
            border-right: 1px solid $border-input;
            border-bottom: 1px solid $border-input;
			.icon-calendar {
				@include float-icons(19px, $icon-color-buscar, 15px, 87%);
			}
            @include respond-to-device(mobile) {
                width: 100%;
                .icon-calendar {
                    left: 93%;
                }
            }
		}
		.searchBar__persons {
			position: relative;
			width: 22%;
            height: 51px;
            border-left: 1px solid $border-input;
            border-bottom: 1px solid $border-input;
			.icon-person {
				@include float-icons(19px, $icon-color-buscar, 15px, 87%);
			}
			.ocupationBox {
				width: 100%;
				height: 100%;
				background-color: $white;
                @include responsive-flex(row, wrap, flex-start, center);
                div {
                    margin: 0 5px;
                }
                div:first-child {
                    margin-left: 20px;
                }
			}
            @include respond-to-device(mobile) {
                width: 100%;
                .icon-person {
                    left: 93%;
                }
            }
		}
		.searchBar__code {
			position: relative;
            width: 13%;
            height: 50px;
			display: none;
            @include respond-to-device(mobile) {
                width: 100%;
            }
			.icon-search2 {
				@include float-icons(19px, $white, 15px, 70%);
			}
		}
		.searchBar__btnCode {
			position: relative;
			display: block;
            width: 12%;
			height: 50px;
			background-color: $background-black-ligth;
            @include respond-to-device(mobile) {
                width: 100%;
                display: none;
            }
			@include responsive-flex(row, nowrap, space-element, center);
			.icon-perc {
				@include float-icons(20px, $white, 12px, 70%);
			}
			.icon-perc { font-size: 20px; }
			.text-btn {
				width: 67px;
				font-size: 11px;
				text-align: left;
				padding-left: 12px;
			}
		}
		.searchBar__search {
			position: relative;
            width: 14%;
            @include respond-to-device(mobile) {
                width: 100%;
                margin: 20px 0;
            }
			.icon-search2 {
				@include float-icons(15px, $white, 19px, 70%);
			}
            .buscar {
                height: 50px;
            }
		}
	}
}
// Solo se muestra en pantalla completa
.movileHeadersContainer {
    display: none;
    position: relative;
    height: 70px;
    width: 100%;
    color: $white;
    background-color: #333333;

    .temporalMessage {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 3;
        background-color: #333333;
        display: table;
        div {
            display: table-cell;
            vertical-align: middle;
            font-size: 14px;
            padding: 0 20px;
        }
    }
    .topBarReserveDate {
        height: 100%;
        width: 100%;
        @include responsive-flex(row, nowrap, space-between, center);
        .editWrap {
            width: 100%;
            padding-left: 23px;
            padding-right: 15px;
            @include responsive-flex(row, nowrap, space-between, center);
            .icon-edit {
                color: white;
                font-size: 20px;
            }
        }
    }
    .locationMobile {
        position: relative;
        height: 100%;
        width: 100%;
        padding-left: 10px;
        @include responsive-flex(row, wrap, space-between, center);
        input {
            height: 49px;
            background-color: #434343;
            width: 80%;
            color: white;
            border: none;
        }
        .closeWrap {
            border-left: none;
        }
    }
}

.closeWrap {
    width: 52px;
    height: 70px;
    @include responsive-flex(row, nowrap, center, center);
    border-left: 1px solid #979797;
    button {
        width: 100%;
        height: 100%;
    }
    .icon-close {
        font-size: 16px;
        color: white;
        font-weight: bold;
    }
}
/* Clase agregada a .searchBar__location in movile */
.fixedTop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: $white;
}

.movileFullScreenSelect2 {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
}

.fullScreen {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

#hideElement {
    z-index: 0;
    @include respond-to-device(mobile) {
        z-index: 1;
    }
}
.calendarSetMinHeight {
    min-height: 520px;
}
.locationSearch {
    height: 49px;
    background-color: $white;
    width: 78%;
    border-radius: 0;
    background-color: #434343;
    border: none;
}
// Contenedor desplegable donde apareceran las opciones
#searchBar__containerBox {
	width: 100%;
	display: none;
	position: absolute;
	top: 51px;
	left: 0;
	background-color: $white;
	@include box-shadow(0, 2px, 4px, rgba(0,0,0,0.17));
}

.checkBoxWithOutDates {
    @include responsive-flex(row, nowrap, flex-end, center);
    .custom-checkbox {
        margin-left: 10px;
    }
}

#roomTemplate {
	display: none
}
.room[data-room-number="1"] .delete-room {
	display: none;
}

.desktop {
	@include hide(mobile);
	@include hide(tablet);
}
.mobile {
	@include hide(desktop);
	@include hide(bigscreen);
}

.checkContent {

}


