extends ./layouts/_default.jade

block header

	include ./modules/home/header.jade

block content

	include ./modules/home/destacado.jade

	include ./modules/reserveBar/reserveBar.jade

	include ./modules/home/descuentos.jade

	include ./modules/home/mejoresHoteles.jade

	section
		.wrap-btn
			div
				-var btnText = 'DESCUBRE NUESTRO HOTELS Y DESTINOS'
				include ./elements/btn-color.jade

	include ./modules/home/mejoresOfertas.jade

	include ./modules/home/video.jade

	include ./modules/home/suscriptores.jade

	include ./modules/home/destinos.jade

	include ./modules/home/footer.jade
