.aegon
  .menu-mobile
      nav
        .menu-top

          .wrap-menu-link
            span.icomoon-medico
            span
              a(href='#') Cuadro médico

          .wrap-menu-link
            span.icomoon-person
            span
              a(href='#') Area privada

        .menu-bot
          ul
            li
              a(href='#') SALUD
            li
              a(href='#') VIDA
            li
              a(href='#') AHORRO


