head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
  meta(name="theme-color", content='#2897C1')
  title CATALONIA - HOTEL
  link(rel="stylesheet", href="css/vendor.css")
  link(rel="stylesheet", href="css/styles.css")
  link(rel="stylesheet" href="https://i.icomoon.io/public/9e83001838/Catalonia/style.css")

  <!--[if IE 8]>
  link(rel="stylesheet", href="css/ie.css")
  <!--<![endif]-->

  <script src="js/vendor.js" type="text/javascript"></script>
