// Fondos

$background-grey-light: #F1F1F1; //#A69494;
$background-grey-dark: #484848;
$background-black-ligth: #333333;

//Colores
$blue: #2897C1;
$red: #DB4444;
$yellow: #EFBF4F;
$grey-light: #F5F5F5;
$grey-dark: #ACACAC;
$white-dark: #888888; // white-dark?? jaja que habré querido decir???

//Text
$text-black: #666666;
$text-dark-back: #2A2520;
$text-light-black: #555555;
$text-black-less-light: #494949;
$text-grey: #777777;
$text: #333333;

//Elements
$alert-msj: #F7F7F7;
$back-color-input: #434343;

//Bordes
$border-color-light: #D7D7D7;
$border-color-grey: #535353;
$border-light: #DCDCDC;
$border-input: #E1E1E1;


//Pages
$order-btn-text: #8C8C8C;
$order-btn-filter-background: #F5F5F5;

//Filter
$icon-color-start: #EFBF4F;
$icon-color-star-disable: #B4B4B4;
$slider-bar: #8EC8DF;

$shadowgray: rgba(0, 0, 0, 0.05);

/// Base styles

@import 'reset';

/// modules base styles
.module {
  max-width: 1024px;
  margin: auto;
  //@include clearfix;
}


.row {
  margin-left: 0;
  margin-right: 0;
}

[class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}

// Lo uso para dar efecto de flecha a los tooltip
.toolTipArrow {
  position: absolute;
  top: -7px;
  left: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: white transparent transparent transparent;
  z-index: 100;
}

@mixin responsive-flex($flex-direction, $flex-wrap, $justify-content, $align-items) {
  // Use to give flexbox support in IE 8 and 9
  -js-display: flex;

  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

$grid-columns: 12;
$gutter: 15px;
$darkergray: #4A4A4A;
$white: #FFF;

$back-color-header: #333333;
$back-color-1: #383737;
$back-color-2: #2897C1;

$back-color-4: #494949;
$background-color-light-dark: #484848;

$back-color-ticket: #DB4444;

$btn-color-1: #2897C1;

$text-color: #FFF;


$text-color-3: #333333;
$text-color-4: #666666;
$text-color-5: #444444;
$text-color-grey: #8C8C8C;

$text-red: #DB4444;
$text-green: #2FA74E;

$text-blue: #3498DB;

$text-placeholder: #888888;

$back-color-input: #9C989C;
$back-color-tag: #E5E5E5;
$back-color-mobile: #333333;




$icon-color-header: #555555;
$icon-color-buscar: #ACACAC;
$icon-color-reserva: #2897C1;

$color-hr: #777777;

$border-color: #D2D2D2;

$border-info-btn: #979797;

$border-checkbox: #D1D1D1;

$border-color-row: #EDEDED;//#535353;
//$border-color-result: #EDEDED;



html {
  height: 100%;
}

body {
  font: 100% 'Montserrat-Regular', sans-serif;
  font-size: 14px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-grey-light;
  color: $text;
}

h1, h2 {
  font-family: 'Montserrat-Light', sans-serif;
}

h1 {

}

h2 {

}

.container {

}

a {
  cursor: pointer;
  text-decoration: none;
  color: $white;
}

a,
button,
input {
  outline: none;
}

a:hover {
  text-decoration: none;
  color: $white;
}

label {
  font-weight: normal;
}

.clearfix {
  @include clearfix;
}



$small-device: 480px;
$medium-device: 768px;
$long-device: 940px;

/// Queries styles
$base: 320px;
$break-extra-small: 480px;
$break-small: 768px;  // 768px
$break-medium: 992px; // 992px
$break-large: 1200px;  // 1200px
