@charset 'UTF-8';

/**
  flow: row|colum
  wrap: wrap|nowrap
  hAling: flex-start|flex-end|center|space-between|space  (Alineacion horizontal)
  vAlign: stretch|center|flex-start|flex-end|baseline|initial|inherit; (Alineacion vertical)
  */
@mixin responsive-flex($flow, $wrap, $hAlign, $vAlign) {
  -js-display: flex;
  display: flex;
  flex-flow: $flow $wrap;
  justify-content: $hAlign;
  align-items: $vAlign;
}

/**
  Usado para posicionar iconos sobre elementos con posicion relativa
  */
@mixin float-icons($size, $color, $top, $left) {
  font-size: $size;
  color: $color;
  position: absolute;
  top: $top;
  left: $left;
}


/// breakpoint
/// this mixin needs to be used to enter a @media that will let use use cross-media placeholders
/// ex:
@mixin breakpoint($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  @if $value != null {
    $current-breakpoint: $breakpoint !global;
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Invalid breakpoint `#{$breakpoint}`.";
  }
}

/// @name clearfix
/// @author marcink
/// clearfix float elements
@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}


/// @name show
/// @author Multiplica
/// @param {string} $device - device (mobile, tablet, laptop, desktop)

@mixin show($device) {
  @if $device == xs {
    @media (min-width: $break-small) {
      & {
        display: none !important;
      }
    }
  }
  @else if $device == sm {
    @media (max-width: $break-small -1) {
      & {
        display: none !important;
      }
    }
    @media (min-width: $break-medium) {
      & {
        display: none !important;
      }
    }
  }
  @else if $device == md {
    @media (max-width: $break-medium -1) {
      & {
        display: none !important;
      }
    }
  }
  @else if $device == lg {
    @media (min-width: $break-large) {
      & {
        display: none !important;
      }
    }
  }
}

/// @name box-shadow
/// @param {string} $top - top
/// @param {string} $left - left
/// @param {string} $blur - blur
/// @param {string} $inset - inset
@mixin box-shadow($left, $top, $blur, $color, $inset:"") {
  -webkit-box-shadow:$left $top $blur $color #{$inset};
  -moz-box-shadow:$left $top $blur $color #{$inset};
  box-shadow:$left $top $blur $color #{$inset};
}


/// @name border-radius
/// @param {string} $radius - border radius
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin hide($device) {
  @if $device == mobile {
    @media (min-width: $base) and (max-width: $break-extra-small) {
      & {
        display: none !important;
      }
    }
  }
  @else if $device == tablet {
    @media (min-width: $break-extra-small + 1) and (max-width: $break-small - 1) {
      & {
        display: none !important;
      }
    }
  }
  @else if $device == desktop {
    @media (min-width: $break-small) and (max-width: $break-medium - 1) {
      & {
        display: none !important;
      }
    }
  }
  @else if $device == bigscreen {
    @media (min-width: $break-medium) {
      & {
        display: none !important;
      }
    }
  }
  @else if {
    @media (max-width: $base) {
      & {
        display: none !important;
      }
    }
  }
}

/// @name respond-to
/// @param {string} $device - (mobile, tablet, desktop, bigscreen)
@mixin respond-to($device) {
  @if $device == mobile {
    @media (max-width: $break-extra-small) { @content; }
  }
  @else if $device == tablet {
    @media (max-width: $break-small) { @content; }
  }
  @else if $device == desktop {
    @media (max-width: $break-medium) { @content; }
  }
  @else if $device == bigscreen {
    @media (max-width: $break-large) { @content; }
  }
}

// SEGUN JORDI
@mixin respond-to-device($device) {
  @if $device == mobile {
    @media (max-width: $break-small - 1) { @content; }
  }
  @else if $device == tablet {
    @media (max-width: $break-medium - 1) { @content; }
  }
  @else if $device == desktop {
    @media (min-width: $break-medium) { @content; }
  }
  @else if $device == bigscreen {
    @media (min-width: $break-large) { @content; }
  }
}