.hotel i {
  background-image: none !important;
}

.hotel *:before {
  background: none !important;
}


.hotel-header {
	height: 540px;
	position: relative;
}

@media (min-width: 1200px) and (min-height:800px) { 
	.hotel-header {height:740px;}
}

.hotel .header-caption .h1 {
  margin-bottom: 2px;
  font-size: 34px;
}

.header-caption .stars {
  display: block;
  margin: 0 auto 5px auto;
}

.header-caption .text-center {
  display: inline-block;
}

.header-caption a {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  text-shadow: none;
}

.header-caption a span {
  float: left;
}

.header-caption a i {
  display: inline-block;
  font-size: 26px;
  margin-right: 2px;
  float: left;
}

.hotel-header .container {
  position: relative;
  height: 100%;
  right: 5px;
}

.hotel-header .media-icon {
  position: absolute;
  bottom: 10px;
  right: 5px;
  padding: 12px 15px;
}

.hotel-header .media-icon .icon-camera {
  font-size: 24px;
}

@media(max-width: 767px) {
  .hotel-header {
    height: 245px;
  }
  .header-caption {
    bottom: 50px;
  }
  .hotel .header-caption .h1 { font-size:26px}
  .header-caption a { font-size:16px}
}

.hotel .intro-brand {
  margin-bottom: 50px;
  background: none;
  border-bottom: none;
  color: inherit;
}

.hotel .intro-brand .save {
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  margin-top: 10px;
}

.hotel .h1 {
  font-size: 30px;
}

.hotel-menu {
  border-bottom: 2px solid #f2f2f2;
}

.hotel-menu-mobile {
  margin: 0 10px;
}

.hotel-menu-mobile .btn-group {
  width: 100%;
  color: #0075C0;
}
.hotel-menu-mobile .btn {
  margin-bottom: 0;
}

.hotel-menu-mobile .open>.dropdown-toggle.btn {
  color: #0075C0;
  box-shadow: none;
}

.hotel-menu-mobile .dropdown-menu {
  width: 100%;
}

.hotel-menu-mobile .dropdown-menu>li>a {
  padding: 12px 20px;
  text-transform: uppercase;
}

.hotel-menu-mobile .dropdown-menu>li:hover>a {
  background: #0071C6;
  color: #FFF;
}

.hotel-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  border-right: 1px solid #f2f2f2;
}

.hotel-menu ul li {
  margin-bottom: -2px;
  background-color: #f2f2f2;
  float: left;
  border-top: 1px solid #f2f2f2;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.hotel-menu ul li:hover {
  background-color: #FFF;
}

.hotel-menu ul li.active {
  background-color: #00518F;
}

.hotel-menu ul.items-7 li {
  width: 14.285714286%;
}

.hotel-menu ul.items-6 li {
  width: 16.66666666%;
}

.hotel-menu ul li a {
  display: table;
  width: 100%;
  height: 60px;
  color: #333;
  border-left: 2px solid #DDD;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
} 

.hotel-menu ul li + li a {
  border-left: 1px solid #FFF;
}

.hotel-menu ul li:hover a {
  color: #00518F;
}

.hotel-menu ul li.active a {
  height: 57px;
  font-weight: 700;
  color: #fff;
}

.hotel-menu ul li.active + li a {
  border-left: 1px solid #DDD;
}

.hotel-menu ul.items-7 li a {
  padding: 0 10%;
}

.hotel-menu ul.items-6 li a {
  padding: 0 17.109526606%;
}

.hotel-menu ul li a span {
  display: table-cell;
  vertical-align: middle;
}

.hotel-description {
  margin-bottom: 40px;
}

.hotel-description .tripadvisor-stuff .logo {
  width: 32px;
  overflow: hidden;
  float: left;
  margin-right: 5px;
}

.hotel-description .tripadvisor-stuff .tripadvisor-logo {
  width: 140px;
}

.hotel-description .tripadvisor-stuff .tripadvisor-bullets {
  width: 76px;
  float: left;
  margin-top: 8px;
  margin-right: 10px;
}

.hotel-description .tripadvisor-stuff span {
  margin-top: 8px;
  display: inline-block;
}

@media(max-width: 767px) {
  .hotel-description .address img {
    width: 100%;
  }  
}


.trip-awards img {
  float: left;
  margin-right: 12px;
}

.trip-awards span {
  float: left;
}

.trip-awards .exelence span {
  margin-top: 12px;
}

.trip-awards .leaf img {
  margin-top: 8px;
}

.trip-awards .leaf span {
  margin-top: 10px;
}

.hotel-images {
  height: 500px;
  position: relative;
}

.hotel-images-vertical {
  height: 679px;
  position: relative;
}

.img-container {
  overflow: hidden;
  position: relative;
}

.hotel-images .first {
  height: 66.66666%;
  border-bottom: 5px solid transparent;
}

.hotel-images-vertical .first {
  width: 100%;
  height: 66.6666%;
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  float: left;
}

.hotel-images .second {
  height: 33.33333%;
  width: 50%;
  float: left;
  border-top: 5px solid transparent;
  border-right: 6px solid transparent;
}

.hotel-images-vertical .second {
  width: 50%;
  height: 100%;
  float: right;
  border-left: 5px solid transparent;
}

.hotel-images .third {
  height: 33.33333%;
  width: 50%;
  float: left;
  border-top: 5px solid transparent;
  border-left: 6px solid transparent;
}

.hotel-images-vertical .third {
  float: left;
  width: 50%;
  height: 33.33333%;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
}

.hotel-images-vertical .fourth {
  float: left;
  width: 50%;
  height: 33.33333%;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
}

.hotel-images .fourth,
.hotel-images .fifth,
.hotel-images .sixth,
.hotel-images-vertical .second {
  display: none;
}

.img-container .height-adjust {
  height: 100%;
  width: auto !important;
}

.img-container .width-adjust {
  width: 100%;
  height: auto !important;
}
.hotel-images .img-container,
.hotel-images-vertical .img-container{
    height: 100%;
    margin: 0;

}

@media(min-width: 768px) {
  .hotel-images .first {
    height: 100%;
    width: 66.66666%;
    float: left;
    border: none;
    border-right: 5px solid transparent;
  }

  .hotel-images-vertical .first {
    width: 66.66666%;
  }

  .hotel-images .second {
    height: 50%;
    width: 33.33333%;
    border: none;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }

  .hotel-images-vertical .second {
    width: 33.33333%;
  }

  .hotel-images-vertical .third,
  .hotel-images-vertical .fourth {
    width: 33.33333%;
  }
  .hotel-images .third {
    height: 50%;
    width: 33.33333%;
    border: none;
    border-left: 5px solid transparent;
    border-top: 5px solid transparent;
  }
  .hotel-images-vertical .second {
    display: inline-block;
  }
}

@media(min-width: 992px) {
  .hotel-images .first {
    float: left;
    display: block;
    height: 66.66666%;
    width: 50%;
    border: none;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }
  .hotel-images .second {
    float: left;
    display: block;
    height: 33.3333%;
    width: 25%;
    border: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }
  .hotel-images .third {
    float: left;
    display: block;
    height: 33.3333%;
    width: 25%;
    border: none;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }
  .hotel-images .fourth {
    float: left;
    display: block;
    height: 66.66666%;
    width: 50%;
    border: none;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
  }
  .hotel-images .fifth {
    float: left;
    display: block;
    height: 33.3333%;
    width: 25%;
    position: absolute;
    bottom: 0;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
  }
  .hotel-images .sixth {
    float: left;
    display: block;
    height: 33.3333%;
    width: 25%;
    position: absolute;
    bottom: 0;
    left: 25%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
  }
}

@media(min-width: 1500px) {
  .hotel-images {
    height: 350px;
  }
  .hotel-images .first {
    position: relative;
    height: 100%;
    width: 33.33333%;
    left: 16.66666%;
    border: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
  .hotel-images .second {
    position: relative;
    height: 50%;
    width: 16.66666%;
    left: 50%;
    border: none;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }
  .hotel-images .third {
    position: relative;
    height: 50%;
    width: 16.66666%;
    left: 33.33333%;
    top: 50%;
    border: none;
    border-left: 5px solid transparent;
    border-top: 5px solid transparent;
  }
  .hotel-images .fourth {
    position: relative;
    height: 100%;
    width: 33.33333%;
    left: -16.66666%;
    border: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
  .hotel-images .fifth {
    height: 50%;
    width: 16.66666%;
    top: 0;
    left: 0;
    border: none;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }
  .hotel-images .sixth {
    height: 50%;
    width: 16.66666%;
    top: 50%;
    left: 0;
    border: none;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
  }
}

.hotel-images .caption,
.hotel-images-vertical .caption {
  background-image: url('../img/bg-none.png');
}

.hotel-images .grid-item .caption-inner,
.hotel-images-vertical .grid-item .caption-inner {
  opacity: 0;
  color: #FFF;
  font-size: 45px;
  text-align: center;
}

.hotel-images .grid-item:hover .caption-inner,
.hotel-images-vertical .grid-item:hover .caption-inner {
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

.hotel-map .map-container {
  position: relative;
}

.hotel-map .google-maps {
  width: 100%;
  height: 550px;
  background-size: cover;
}

.hotel-map .details {
  position: absolute;
  top: 55px;
  margin-left: 5px;
}

.hotel-map article {
  width: 300px;
  padding: 20px;
  background-color: #FFF;
}

.hotel-map article .icon-printer {
font-size: 24px;
  float: left;
  margin-top: -3px;
  }

.hotel-map .details {
  font-size: 14px;
}

.hotel-map .details .h1 {
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 18px;
}

.hotel-map address {
  margin: 0 0 10px 0;
  color: #666;
}

.hotel-map dl {
  color: #666;
}

.hotel-map dt {
  float: left;
  font-weight: 400;
}

.hotel-map dt:after {
  content: ':';
  margin-right: 5px;
}

.hotel-map dt.coordinates {
  font-weight: 700;
  text-transform: uppercase;
  float: inherit;
  margin-top: 20px;
}

.hotel-map a {
  font-weight: 700;
  cursor: pointer;
}

.hotel-map .contact dl {
  margin-bottom: 5px;
}

.hotel-map .contact dd {
  font-weight: 700;
}

.hotel-map dd a {
  font-weight: 400;
}

@media(min-width: 768px) {
  .share-module ul {
    margin: 30px 0 25px;
  }
}
  .share-module ul.left {
    float: left;
  }

  .share-module ul.right {
    float: right;
  }


.share-module ul lh {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  color: #999;
  margin-right: 20px;
  float: left;
  margin-top: 10px;
}

.share-module ul li {
  float: left;
  margin-right: 8px;
}

.share-module ul li a {
  font-size: 35px;
}

.share-module ul.right li {
  margin-top: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #999;
}

.share-module ul li.send {
  margin-right: 50px;
}

.share-module ul.right li a {
  float: right;
  margin: -11px 10px 0 10px;
}

.room-header {
  padding-bottom: 20px;
}

.hotel .btn-footer.btn-big-icons .btn {
  margin: 0 4px;
}

@media (max-width: 767px) {
  .hotel .btn-footer.btn-big-icons .btn {
    margin: 6px 4px;
    display: block;
  }    
      .module-share { padding-top:20px;}

}

.row.premio-hotel {
  margin: 25px 5px 0 5px;
  background: #FFF;
}
.row.premio-hotel .h2 {
  font-size: 21px;
  color: #444444;
  font-weight: bold;
}
.row.premio-hotel .col-logo {
  background: #50AACC;
  text-align: center;
  height: 150px;
}
.row.premio-hotel .col-logo img {
  position: relative;
  top: 30%;
}
.row.premio-hotel .col-content {
  padding-bottom: 15px;
}
.row.premio-hotel .col-content p {
  line-height: 17px;
  margin: 0;
}
@media(min-width: 768px) {
  .row.premio-hotel {
    height: 170px;
  }
  .row.premio-hotel .col-logo {
    height: 100%;
  }
  .row.premio-hotel .col-content {
    padding-left: 15px;
    padding-bottom: 0;
  }

}
@media(max-width: 991px) {
  .restaurante-content {
    margin-top: 15px;
  }
}

.intro-rew-tab { text-align: center;}
.intro-rew-tab .h1 { margin: 0; padding: 20px 0 0 0; font-size: 24px}
.intro-rew-tab  .logo { margin-top: 40px}

.offer-rew { text-align: left; border-bottom: 1px solid #ccc; padding-top: 20px}
.offer-rew .item { padding-bottom: 20px}
.offer-rew .points { display: block; width: 72px; height: 72px; position: relative;color: #fff; font-size: 22px;
-webkit-border-radius: 72px;
-moz-border-radius: 72px;
border-radius: 72px;
}
.offer-rew .points > span { display: block; position: absolute; width: 100%; text-align: center; top: 22px}
.offer-rew p { margin-left: 82px; font-size: 12px; color: #858585; letter-spacing: 1px; line-height: 18px; padding-top: 10px}
.offer-rew p strong { font-size: 16px; color: #333}


/*FICHA REWARDS*/

.ficha-rewards {background-image: url(../img/bg_rewards01.png); background-attachment: fixed; }

#rwd-ventaja1 {
    border-right: 1px solid #F2F2F2;
}

#rwd-ventaja3 {
    border-left: 1px solid #F2F2F2;
}

.item-reward-ventaja {
    background: transparent;
    position: relative;
    padding: 0 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
    margin-bottom: 45px;
}

.item-reward-ventaja .image {
    margin: 22px auto;
    width: 140px;
}

.moments .grid-item .image {
  height: 300px;
}

.moments .grid-item.half {
  margin-bottom: 10px;
}

.moments .grid-item.half .image {
  height: 145px;
}

.grid-item .visible-hover {
  visibility: hidden;
  padding: 0 20px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
}

.grid-item .caption.no-color {
  background: transparent;
}

.grid-item:hover .caption.no-color {
  background-image: url('../img/bg-grid.png');
}

.grid-item:hover .visible-hover {
  visibility: visible;
}

.reward-app { padding-bottom: 40px}

@media (max-width: 640px) {
  .reward-app { text-align: center;}
  .hotel .h1 { font-size: 25px}
  .row-restaurante .restaurante-content .h2 { font-size: 18px}
  .row-restaurante { margin-top: 0}
}

.row-meliareward {margin-top: 45px; margin-bottom: 45px;}
.row-meliareward .canje-img {overflow: hidden;width: 100%}
.row-meliareward .canje-img > img {width: 100%; margin-bottom: 20px;}
.row-meliareward .canje-desc .h2 {font-size: 20px; margin-top: 0;}
.row-meliareward .canje-desc p {letter-spacing: 1px;}

.reward-close {padding-left: 0;padding-right: 0;}
.reward-close .container { position: relative;}
.reward-cierre {position: relative; overflow: hidden;}
.reward-cierre img {width: 100%; min-width: 1020px;left: -320px;position: relative;}
.reward-cierre img.layer {position: absolute; top: 0; left: 0; z-index: 10;min-width: 320px; max-width: 320px;width: 320px;}
.reward-cierre .cierre-desc {position: absolute; top: 30px; left: 30px; z-index: 11; width: 85%;}
.reward-cierre .cierre-desc p {color: #fff; font-size: 30px;font-family: 'avalon';line-height: 1;}
.reward-cierre .cierre-desc .btn {box-shadow: 0 0 0 0 rgba(255,255,255,0);padding: 12px 20px;position: relative;bottom: -150px;margin-left: auto;margin-right: auto;display: block;width: 280px;}

.app-desc p {width: 100%;position: relative;top: 15px;left: 0px;letter-spacing: 1px;padding-bottom: 30px;}


@media (min-width: 320px) {
  .rewards-menu-partners-select {width:100%;}
  .btn-title {font-size: 25px;}
  ul.rewardsCategory {left:0px;}

}

@media (min-width: 480px) {
  .reward-main-partners .rewards-grid-partners .grid-item .image img, 
  .reward-main-partners .rewards-grid-partners-category .grid-item .image img {margin-top: -50px;}
}

@media (min-width: 640px) {
  .item-reward-ventaja {}
  .item-reward-ventaja .t2 {font-size: 0.9em}
  .app-desc p {width: 100%;}
  .row-meliareward .canje-img {overflow: hidden;}
  .reward-cierre img {width: 100%; min-width: 870px; left: 0;}
  .reward-cierre .cierre-desc {top:10px;width: 445px;}
  .reward-cierre .cierre-desc p {font-size: 40px;}
  .reward-cierre .cierre-desc .btn {font-size: 1em;}
  .reward-main-partners .rewards-grid-partners .grid-item .image img, 
  .reward-main-partners .rewards-grid-partners-category .grid-item .image img {margin-top: -100px;}
  .parteners-app-content .image > img {width: 100%;}

}

@media (min-width: 768px) {
  .item-reward-ventaja {}
  .item-reward-ventaja .t2 {font-size: 0.9em}
  .app-desc p {width: 100%;}
  .app-desc a {font-size: 1em;}
  .row-meliareward .canje-img {overflow: hidden;}
  .reward-cierre img {width: 100%; min-width: 1020px;left: 0;}
  .reward-cierre img.layer {min-width: 1020px; width: 100%;max-width: 100%}
  .reward-cierre .cierre-desc {top:30px; left: 50px; width: 500px;}
  .reward-cierre .cierre-desc p {font-size: 44px;line-height: 1.4;}
  .reward-cierre .cierre-desc .btn {font-size: 1em;bottom: 0;margin: 0;}
  #carousel-home .item {height: 450px;}
  .carousel-rewards-caption {left: 8%;top: -10px;}
  .btn-reward.carousel {margin-top: 90px;}
  
  .reward-main-partners .rewards-grid-partners .grid-item .image img, 
  .reward-main-partners .rewards-grid-partners-category .grid-item .image img {margin-top:0;}
  .parteners-app-content .image > img {width:auto;margin-top:30px;}
  .reward-register > section > form {width: 90%;}
}

@media (min-width: 992px) {
  .item-reward-ventaja .t2 {font-size: 1em;}
  .app-desc p {width: 395px; font-size: 16px}
  .app-desc a {font-size: 1em;}
  .app-img {position: relative;left: 30px;}
  .app-img img {margin-bottom: 20px}
  .reward-cierre img {width: 100%;left: 0;}
  .reward-cierre img.layer {min-width: 1020px; width: 100%;max-width: 100%}
  .reward-cierre .cierre-desc {top: 125px; left: 50px; width: 480px;}
  .reward-cierre .cierre-desc p {font-size: 40px;line-height: 1.4;}
  .reward-cierre .cierre-desc .btn {font-size: 1em;bottom:0;margin: 0;}

  #carousel-home .item {height: 490px;}
  .carousel-rewards-caption p.first-line {text-transform: uppercase;font-size: 22px;width: 50%;}
  .carousel-rewards-caption p.second-line {width: 36%;}
  .btn-reward.carousel {margin-top: 150px;}
  .reward-main-partners .rewards-grid-partners .grid-item .image img, 
  .reward-main-partners .rewards-grid-partners-category .grid-item .image img {margin-top: 0;}
  .parteners-app-content .image > img {margin-top:45px;}
  .parteners-app-content li {margin-bottom: 30px;}
  .reward-register > section > form {width: 70%;}
}

@media (min-width: 1200px) {
  #carousel-home .item {
    margin-top: 0;
  }
}
