.ie-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
  .ie-container {
    width: auto;
  }
}
@media (min-width: 992px) {
  .ie-container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .ie-container {
    width: 1160px;
  }
}
.ie-container > .navbar-header,
.ie-container-fluid > .navbar-header,
.ie-container > .navbar-collapse,
.ie-container-fluid > .navbar-collapse {
  margin-right: -10px;
  margin-left: -10px;
}
@media (min-width: 768px) {
  .ie-container > .navbar-header,
  .ie-container-fluid > .navbar-header,
  .ie-container > .navbar-collapse,
  .ie-container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar > .ie-container .navbar-brand,
  .navbar > .ie-container-fluid .navbar-brand {
    margin-left: -10px;
  }
}
.ie-container:before,
.ie-container:after {
  content: " ";
  display: table;
}
.ie-container:after {
  clear: both;
}

.navbar-nav > li > a {padding-top: 0!important;padding-bottom: 0!important}
.menu-opened .navbar {background-color: #FFF}
.menu-opened #menu-toggle span:before {top: -6px}
.menu-opened #menu-toggle span:after {bottom: -6px}
.menu-opened #menu-toggle span,.menu-opened .affix #menu-toggle span {background-color: #0073C3}
/*.destination-grid > div {height: 390px}*/
.form-control {padding:10px;height:45px}
.rewards-banner .circle {background: url('../img/bg_oferta_ie8.png') no-repeat;}
#predictor .rewards-banner .circle {background: url('../img/bg_oferta_ie8_small.png') no-repeat;}
.autosuggest-div {display: none;}
.carousel-indicators {display: none;}
.indicators-cont .carousel-indicators {display: inherit;}
.dest-rewards strong {background: none !important; font-weight: 700; color: #333; font-size: 18px}

.hotels-section .img-cont img {
  margin-left: -60%;
  min-width: 100%;
  margin-top: -32%;
}

.hotels-section.closed .hotel-aside,
.hotels-section.closing .hotel-aside {
  visibility: hidden;
}

.custom-select select{width: 200%!important;}
.select-sm.custom-select select {
  position: relative;
  top: -7px;
}

.search .hotel input {
  padding-top: 15px;
}

#mostpopular,
#moreoptions,
.last-searches,
#predictor,
#search-calendar {
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

#autocomplete {
  top: 45px !important;
  margin: 14px 0 0 0;
}

.search-module-square #autocomplete {
  top: 116px;
  left: 11px;
  z-index: 999;
}


#predictor:after,
#autocomplete .last-searches:after {
  top: -9px;
  bottom: inherit;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
}


#ocupationselection {
  top: 100%;
  bottom: inherit;
  margin: 14px 0 0 0;
}

#ocupationselection:after {
  top: -9px;
  bottom: inherit;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
}

.calendar-container {
  top: 59px;
  bottom: inherit;
}

#search-calendar {
  margin: 0 auto 14px auto
}

.calendar-wrapper:before {
  top: -9px;
  bottom: inherit;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
}

.cont-ocupance {
  width: 51%;
}

.confirmation-banner .value {
  background: transparent;
}

.offer-rew .points {
  color: #333 !important;
  background: transparent !important;
}

#pointsUsed {
  zoom: 0.914;
  left: 13px;
  top: 16px;
}

#pointsBlocked {
  zoom: 0.815;
  left: 31px;
  top: 37px;
}