#ocupationselection {
  width: 205%;
  left: -52.5%
}

.custom-select {
  height: 45px !important;
}

.custom-select select {
  width: 100%!important; 
  height: 100% !important;
}

.form-group {overflow: hidden !important}

.custom-select:after {
  content: none;
}

.select-sm.custom-select select {
  padding: 0 20px 0 10px;
}

#newsletter-form .form-group label.sr-only {
  width: auto;
  height: auto;
  margin: 0;
  overflow: hidden;
  clip: inherit;
  color: #999;
  top: 15px;
  z-index: 99;
  text-transform: uppercase;
  font-weight: 400;
  left: 46px;
}

.hotels-section .img-cont img {
  position: static;
}

.ie-placeholder {
  position:absolute;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  color: #bbb;
  left: 12px;
  top: 15px;
}

.form-group.with-placeholder{
  position:relative;
}

/*Reerva Check-in*/
.rw-checkin-agregar-huesped{
  padding: 13px 25px 30px; 
}

.form-group {
    margin-bottom: 15px;
    overflow: auto;
}

.rw-checkin-agregar-huesped .control-label{
  text-align:right;
  padding-top: 16px;
}

.rw-checkin-agregar-huesped .h5 {
    margin-bottom: 30px;
    padding-top: 25px;
    font-family: 'avalon', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: #333333;
    border-top: 1px solid #EEEEEE;
}

@media (max-width: 991px){
  .rw-checkin-agregar-huesped .h5 {
    margin-bottom: 20px;
  }
}

.rw-checkin-agregar-huesped .btn-modal {
    position: absolute;
    top: 10px;
    right: -25px;
    font-size: 22px;
    cursor: pointer;
}
