.brands-header { height:540px; position:relative}
.brands-header .carousel-caption .h1 { font-size:35px}
.brands-header .carousel-caption .btn { background:transparent}
@media (max-width:767px){
	.carousel-caption, .header-caption {padding-top: 7px;}
	.carousel-caption .btn-default, .header-caption .btn-default {margin-top: 5px;}
	.brands-header { height:auto; padding: 0;}
	.brands-header img {width:100%; min-height: 100%}
	.brands-header .carousel-caption {top:36%;}
	.brands-header .carousel-caption .h1 { font-size:18px; margin:0}
	.brands-header .carousel-caption .btn { font-size:12px; padding:10px}
	}
@media (min-width: 1200px) and (min-height:800px) { 
	.brands-header {height:740px;}
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-top:14px;}
.dest-rewards {
	border-bottom:1px solid #DDD;
	padding:5px 0;
	text-align:center;
	margin-bottom:0
}
.dest-rewards .left,
.dest-rewards .body {
	display: inline-block;
}

@media(max-width: 991px) {
	.dest-rewards .body {
		margin-top: 10px;
	}
}

@media(max-width: 991px) {
	.dest-rewards .left {
		display: block;
	}
}

.dest-rewards strong {
	display:inline-block;
	height:40px;
	width:40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	font-weight:normal;
	color:#fff;
	font-family:'lato' !important;
	margin:0 10px
}
.dest-rewards strong>span { display:block; margin-top:10px; font-size:16px; text-align:center}
.dest-rewards strong>span span { font-size:12px}
.intro-brand { border-bottom:1px solid #ddd}
@media (max-width:767px){
	.dest-rewards .logo-dest {text-align:center;display: inline-block;}
	.dest-rewards .logo-dest:after {content:''; display:block; clear:both; margin-bottom:10px}
	.dest-rewards strong { margin-right:10px}
	.carousel-indicators {padding-left:20px !important;}
}
.brand-cont.border, .slide.border { border-bottom:10px solid #90B3C6}
.container.brand-cont, .container.brand-cont .image {
	padding:0;
}
.col-md-6.col-sm-6.image { padding-left:0; padding-right:0;}

@media(min-width: 1200px) {
.brand-cont { height: 400px; overflow: hidden;}

}
.brand-carousel .carousel-inner img { min-height: inherit}
container { padding:0}
.brand-cont .h1 {
	font-size:26px;
	margin: 0
}
.brand-carousel .carousel-inner .h1 {
  position: absolute;
  top: 0px;
  margin: 20px 33px;
}
@media(max-width: 767px) {
	.brand-carousel .carousel-inner .h1 {
		margin: 20px 18px;
	}
}

@media(min-width: 768px) {
	.brand-carousel.model-left .image {
	  padding-left: 0;
	  padding-right:0;
	  margin-bottom: -10px;
	}
	.brand-carousel.model-right .image {
	  padding-right: 0;
	  padding-left:0;
	  margin-bottom: -10px;
	}
	.brand-carousel.model-right .carousel-inner .h1 {
		left: 50%;
	}
}
.brand-cont.cont-hotel .h1 {
  font-weight: bold;
  margin-bottom: 20px;
}
.brand-cont.cont-hotel p {
  font-size: 15px;
}
.brand-cont.cont-hotel .btn-wrapper {
  text-align: center;
  border-top: 1px solid #DDDDDD;
  margin-top: 20px;
  padding-top: 20px;
}
.brand-cont.cont-hotel .btn {
  margin: 0 auto;
  padding: 8px 17px;
}
.brand-cont .h2 {
	font-size:16px;
}
.brand-cont .image {
	overflow:hidden
}
.brand-cont .image img {
	min-width:100%
}
.brand-cont .text {
	padding:25px
	}
.brand-cont.full {
	position:relative;
	overflow:hidden;
	margin:0 -10px;
}
.brand-cont.full .text {
	background:#fff; margin-top:50px
}
.carousel .text { margin-top:70px;}
.brand-cont.full > img {position:absolute; min-width:100%; min-height: 100%;	left: 0}
.brand-cont.full {
	height:500px;
}

@media (max-width:767px) { 
  .module-email .h1 {
    font-size: 26px;
  }
}
.carousel-indicators {
	position: inherit;
	bottom: inherit;
	left: inherit;
	z-index: 1;
	width: inherit;
	margin-left: inherit;
	padding-left: inherit;
	list-style: inherit;
	text-align: inherit;
}

.carousel-indicators li {
	display: inherit;
  width: auto;
  height: auto;
  margin: inherit;
  text-indent: inherit;
  border: none;
  border-radius: 0;
  cursor: pointer;
  background-color:transparent;
}
.carousel-indicators li.active {  
  margin: 0;
  width: auto;
  height: auto;
  background-color: transparent;
}
.carousel-indicators li {
	display:inline;
	font-size:12px
}
.indicators-cont {
	width:50%; position:absolute;
}
@media (max-width: 767px) {
	.indicators-cont { width:100%;}
	.carousel-menu {top: 20px;}
	.brand-cont .text {padding:10px}
	.brand-cont.full {height:auto;padding-bottom:30px}
	.brand-cont.full .text {background:#fff; margin-top:30px}	
	.brand-cont .h1 { margin-top:15px}
	.brand-cont .image img {max-width:100%}
}

.carousel-menu {
	left:0; top:30px;
}
.indicators-cont ul, .indicators-cont ol {
	margin: 0 auto;
	width: 90%;
  top: 35px;
  left: 15px;
}
@media (max-width: 767px) {
	.indicators-cont ul, .indicators-cont ol {
		left: 0;
	}

	.indicators-cont ul li:last-child {
		display: none;
	}

	.indicators-cont ul li:first-child {
		padding: 0;
	}
}

.carousel-menu li + li,
.carousel-menu li + li.active {
	background: url(../img/brands/bullet-list.png) no-repeat 0px 6px;
	padding:0 6px 0 16px;
}

.carousel-menu li,
.carousel-menu li.active {
	padding:0 8px 0 20px;
}

ol.carousel-bullet  {
	text-align:center;
	 width:50%;
	position: absolute;
	bottom: 20px; left:0
}

ol.carousel-bullet li a {
	display:inline-block;
	width:9px;
	height:14px;
	background: url(../img/melia-sprite.png) no-repeat;
	text-indent:-9999em
	}
ol.carousel-bullet li a.next {
	background-position:-200px -92px
	}
ol.carousel-bullet li a.prev {
	background-position:-190px -92px
	}
.model-right ol.carousel-bullet,
.model-right .carousel-menu  {
	right:0; left:auto
	}

/***************************************************
****************** TABS SOCIALES **********************
***************************************************/	

.social .h2 { font-size:18px; float:left; margin:15px 0 10px 5px; text-transform: uppercase;}
.social .btn { display:inline-block; color:#fff; background:blue; text-transform:uppercase;float:right; margin:0 5px 10px 0; font-size:14px; padding:8px 20px}
.social .grid-item {background:#fff;}
.social .grid-item img { width:100%}

/*social-twitter panel*/
.tw-panel .grid-item, .yt-panel .grid-item {
	height:320px;
	}
.tw-panel .grid-item span, .yt-panel .grid-item span {
	display:block;
	position:absolute;
	bottom:13px;
	left:20px;
	color:#777;
	font-size:14px;
	}
.tw-panel .grid-item.item-text p, .yt-panel .grid-item.item-text p {
	font-size:24px;
	padding:68px 25px 0 25px;
	line-height:28px
	}
.tw-panel .grid-item.item-image p, .yt-panel .grid-item.item-image p {
	font-size:16px;
	padding:10px 20px 0 20px;
	line-height:18px
	}
.yt-panel .grid-item { height:320px;}	
.yt-panel .grid-item .img-cont {
	position:relative;
	width:100%
	}
.yt-panel .img-cont a { position:absolute; display:block; height:100%; width:100%; z-index:2; background:url(../img/brands/yt-link-me.png) no-repeat center center;
-webkit-transition:background-image .2s;
    transition:background-image .2s;}
.yt-panel .img-cont a:hover {background:url(../img/brands/yt-link-me-hover.png) no-repeat center center;
	-webkit-transition:background-image .5s;
    transition:background-image .5s;
}
@media (max-width:767px) {
	.social .nav-tabs { margin-bottom:15px;}
.social .btn { width:100%; float:none; }
.social .h2 { text-align:center; float:none}
	}
.navbar-brand:after { display:none}

i.iconb-tw {
	width:23px;
	height:19px;
	background-position:-561px -73px;
	margin:0 5px -2px 0
	}
i.iconb-yt {
	width:27px;
	height:18px;
	background-position:-584px -74px;
	margin:0 5px -2px 0
	}
i.iconb-tw-bt {
	width:23px;
	height:19px;
	background-position:-474px -25px;
	margin:0 10px -3px 0;
	}
i.iconb-fb-bt {
	width:11px;
	height:23px;
	background-position:-498px -25px;
	margin:0 10px -5px 0;
	}
i.iconb-ins-bt {
	width:20px;
	height:20px;
	background-position:-510px -25px;
	margin:0 10px -5px 0;
	}
i.iconb-yt-bt {
	width:28px;
	height:20px;
	background-position:-531px -25px;
	margin:0 10px -5px 0;
	}
i.iconb-tab-tw {
	width:23px;
	height:19px;
	background-position:-474px -49px;
	margin:0 10px -3px 0;
	}
i.iconb-tab-fb {
	width:11px;
	height:23px;
	background-position:-498px -49px;
	margin:0 10px -5px 0;
	}
i.iconb-tab-ins {
	width:20px;
	height:20px;
	background-position:-510px -49px;
	margin:0 10px -5px 0;
	}
i.iconb-tab-yt {
	width:28px;
	height:20px;
	background-position:-531px -49px;
	margin:0 10px -5px 0;
	}
.table-responsive .btn-primary i.icon-next, .table-responsive .carousel-caption .btn-default i.icon-next { background-position:-51px -332px}	
.sub-rewards .btn-default i.icon-next {
  background-position:-346px -0px
  }
.sub-rewards .btn-default { border:0}
.sub-rewards .btn-default:hover { border:0} 
.social-brands-header { list-style:none; clear:both; margin:0 auto; text-align:center}
.social-brands-header li { display:inline-block; padding: 26px 3px;}
.social-brands-header i.circle-sm {font-size: 30px;}

@media (max-width:767px) {
	.brand-intro { text-align:center;}
}
	
.melia-bar { background:url(../img/brands/bg-header-bar.png); height:30px; overflow:hidden;
	-webkit-transition: all 1s;
	transition: all 1s;
}
.melia-bar a { display:inline-block; padding:5px 60px;}
.affix .melia-bar { height:0; overflow:hidden;}

.banner {}
.banner .container { background:url(../img/brands/airplane-banner.png) no-repeat bottom right; height:270px;}
.banner .caption { background:url(../img/brands/bg-caption-banner.png);width:390px; padding:15px; margin-top:50px;}
.banner .h1 { font-size:24px; margin:0; margin-bottom:10px; line-height:24px; font-weight:700}
.logos { background:#fff; padding:30px 0 10px 0;}
.logos a { display:inline-block; margin:0 20px 20px 20px;}

.tabs-sol ul { padding:0; margin:25px 0; }
.tabs-sol li { list-style:none; display:inline-block; width:20%; float:left}
.tabs-sol li a { display:block; height:86px; position:relative; margin-bottom:-1px; border-bottom:1px solid #DDD; }
.tabs-sol li a img { position:absolute; top:0; left:50%; margin-left:-52px;}
.tabs-sol li a img.color { 	opacity:0;
	filter: alpha(opacity=0);
	-webkit-transition: all 1s;
	transition: all 1s; 
}
.tabs-sol li.active a {border:1px solid #DDD; border-top:3px solid #ddd; border-bottom:none}
.tabs-sol li a:hover img.color, .tabs-sol li.active img.color {
	opacity:1.0;
	filter: alpha(opacity=100%); 
-webkit-transition: all 0.5s;
	transition: all 0.5s;}
.tabs-sol li a:hover img.grey, .tabs-sol li.active a img.grey {
	opacity:0;
	filter: alpha(opacity=0); 
-webkit-transition: all 1s;
	transition: all 1s;}

.tabs-sol li.tab1 a, .tabs-sol li.tab2 a { border-top-color:#E41F3B}
.tabs-sol li.tab3 a { border-top-color:#F58B38}
.tabs-sol li.tab4 a { border-top-color:#2CB3E7}
.tabs-sol li.tab5 a { border-top-color:#00ABA0}

.select-sol .dropdown-menu { width:100%; text-align:center; border-radius:0; text-transform:uppercase }
.select-sol .dropdown-menu>li>a { padding:10px 0}
.select-sol .dropdown-menu>li>a:hover { color:#fff}

i.icon-construct {
	margin-right: 10px;
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  float: left;
}
@media(max-width:767px) {
	i.icon-construct {
	float: inherit;
	}
}

.grid-item.no-link:hover .caption {background: url('../img/bg_grid.png')}
.grid-item.no-link:hover .caption > div {
	border:0;
	top:0;
  left:0;
  right:0;
  bottom:0;
}
.grid-item.no-link .footer { font-size:16px; font-weight:700; text-align:left; padding: 32px 20px;}
@media(max-width: 991px) {
	.grid-item.no-link .footer{ padding: 34px 20px 33px;}
}
.grid-item.no-link .footer p {margin:0;border:none;padding:0;height: inherit;}
@media(max-width:767px) {
	.grid-item.no-link .footer p {
		text-align: center;
	}
}
.grid-item.no-link .footer em { font-weight:300; font-style:normal; display:block; clear:both; margin-left:30px;}
@media(max-width:767px) {
	.grid-item.no-link .footer em {
		margin-left: 0;
	}
}