#modal-media {
  padding: 0 !important;
  color: #FFF;
  background-color: #333;
}
#modal-media .modal-content .close {
  margin-top: 10px;
  color: #FFF;
  margin-right: 4px;
}

#modal-media .modal-content .close:before {
  color: #FFF;
  font-size: 20px;
}

#modal-media .modal-content .close span {
  display: none;
}

#modal-media a {
  color: #FFF;
}
#modal-media .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
}
#modal-media .modal-body {
  padding-top: 35px;
}
#modal-media .modal-content {
  height: 100%;
  border: 0;
  background-color: transparent;
  box-shadow: none;
}
#modal-media .nav-tabs {
  border-bottom: 1px solid #888888;
  margin: 0;
}
#modal-media .nav-tabs>li>a {
  border-radius: 0;
  border: 1px solid transparent;
  padding: 5px 25px;
  font-size: 23px;
}
#modal-media .nav-tabs>li.active>a,
#modal-media .nav-tabs>li.active>a:hover,
#modal-media .nav-tabs>li.active>a:focus,
#modal-media .nav>li>a:hover,
#modal-media .nav>li>a:focus {
  background: #333;
  border-top-color: #888888;
  border-left-color: #888888;
  border-right-color: #888888;
}


#modal-media .breadcrumb {
  background: none;
  font-size: 16px;
  padding: 0;
  text-transform: uppercase;
}
#modal-media .breadcrumb>.active {
  color: #FFF;
  font-weight: bold;
}
#modal-media .breadcrumb > li + li:before {
  content: none;
}
#modal-media .breadcrumb > li + li {
  border-left: 1px solid white;
  margin-left: 5px;
  padding-left: 10px;
}

#modal-media .list-inline.list-share {
  color: #CCCCCC;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 25px;
  text-align: right;
}
#modal-media .list-inline.list-share span {
  line-height: 30px;
  float: left;
  margin-right: 10px;
  font-size: 13px;
}
#modal-media .list-inline.list-share a {
  color: #fff;
  position: relative;
  display: inline-block;
}
#modal-media .list-inline.list-share i {
  font-size: 30px;
}
#modal-media .list-inline.list-share>li+li {
  border-left: 1px solid white;
  padding-left: 20px;
  margin-left: 15px;
}
.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.grid-media {

}
.grid-media a {

}
.grid-media .media-wrapper {
  position: relative;
}
.grid-media .media-wrapper img {
  width: 100%;
}

/*Media queries media wrapper img*/

@media(min-width: 1200px) {
  .grid-media .media-wrapper img{
    width: 262.5px;
    height: 178px;
  }

}

/*@media(min-width: 992px) {
  .grid-media .media-wrapper img{
    width: 212.5px;
    height: 144px;
  }
}*/

@media (max-width: 767px) {
  .grid-media .media-wrapper img{
    width: 100%;
    height: auto;
  }
  #modal-media .modal-body { padding-top: 0}
  .modal-body { padding:0 }
  .modal-header { padding-left: 0; padding-right: 0}
  .grid-media .h3 {margin: 18px 0px 30px 0px}
  #modal-media .list-inline.list-share>li+li { border: 0; padding-top: 5px}
}
/*END Media queries media wrapper img*/

.grid-media .h3 {
  font-size: 14px;
  margin: 18px 6px 50px 6px;
}
.grid-media.grid-videos .h3,
.grid-media.grid-virtual-tour .h3 {
  font-weight: bold;
}
.grid-media .media-wrapper .media-icon {
  position: absolute;
  right: 5px;
  bottom: 5px;
}