.opinion-user {
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  color: #333333;
  padding-top: 22px;
}

.opinion-title {
  font-family: Georgia;
  font-style: italic;
  font-size: 18px;
  color: #333333;
  padding-top: 16px;
  margin-bottom: 5px;
}

.opinion-date {
  font-family: Arial;
  font-size: 14px;
  color: #777777;
}

.opinion-date img {
  height: 14px;
}

.opinion-text {
  font-family: Arial;
  font-size: 14px;
  color: #777777;
  margin-top: 16px;
  margin-bottom: 16px;
}

.opiniones-header {
  font-family: Arial;
  font-size: 14px;
  color: #777777;
  margin-top: 70px;
}

.opiniones-header .opinion-rating {
  line-height: 37px;
}

.opiniones-header img {
  height: 19px;
}

.opiniones-header .opinion-tripadvisor img {
  height: 37px;
  position: relative;
  top: -2px;
}

.opiniones-header .opinion-tripadvisor {
  font-size: 12px;
}

.opiniones-intro {
  font-family: Arial;
  font-size: 20px;
  color: #333333;
  margin-top: 41px;
  text-transform: none;
}

.row-opiniones {
  border-top: 1px solid #DDDDDD;
}
@media(min-width: 768px) {
  .row-opiniones {
    border-top: none;
  }
  .row-opiniones>div {
    border-top: 1px solid #DDDDDD;
  }
}

.opiniones-footer {
  font-family: Arial;
  font-size: 11px;
  color: #999999;
}

.opiniones-footer > div {
  border-top: 1px solid #DDDDDD;
  padding-top: 12px;
}

.opiniones-total {
  font-size: 14px;
  margin-bottom: 16px;
  color: #777;
}

.opiniones-footer .btn {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media(max-width: 767px) {
  .opiniones-footer .btn {
    display: block;
    width: 100%;
  }
}

#modal-opiniones .modal-content {
  padding-left: 5px;
  padding-right: 5px;
}

#modal-opiniones .h4 {
  margin: 20px 0 0 0;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'avalon', sans-serif;
  text-align: center;
}
#modal-opiniones .opiniones-header {
  margin-top: 20px;
}

#modal-opiniones .opiniones-footer-modal {
  border-top: 1px solid #DDDDDD;
  font-weight: bold;
  font-family: 'avalon', sans-serif;
  text-align: center;
  padding: 50px 0 40px 0;
  font-size: 14px;
}

#modal-opiniones .modal-body {
  max-height: 600px;
  overflow: hidden;
  overflow-y: scroll;
}

@media(min-width: 992px) {
  #modal-opiniones .modal-dialog {
    width: 940px;
  }
}