.mtop0{margin-top: 0px !important;}
.mtop20{margin-top: 20px !important;}
.mtop30{margin-top: 30px !important;}
.mtop40{margin-top: 40px !important;}
.mtop50{margin-top: 50px !important;}
.mtop80{margin-top: 80px !important;}

.mbottom80{margin-bottom: 80px !important;}
.mbottom50{margin-bottom: 50px !important;}
.mbottom40{margin-bottom: 40px !important;}
.mbottom30{margin-bottom: 30px !important;}
.mbottom20{margin-bottom: 20px !important;}
.mbottom10{margin-bottom: 10px !important;}

.ptop50{padding-top: 50px !important;}
.ptop30{padding-top: 50px !important;}

.pbottom20{padding-bottom: 20px !important;}
.pbottom40{padding-bottom: 40px !important;}
.bbsoft {border-bottom: 1px solid #EEE}

.white {color: #FFF;}
.no-shadow {box-shadow: 0 0 0 0 rgba(255,255,255,0);}
.bar-sections div {width: 33.333%}
.bar-sections div.active,.btn-default,.rw-reservas-detalle,
.radio-cont input[type="radio"]:checked + label span:before {color: #F2712F}
.bar-blue,.grid-item:hover .btn,
.calendar-wrapper .ui-widget-content .range-first, .calendar-wrapper .ui-widget-content .range-last,
.calendar-wrapper .ui-widget-content td:hover,
.date-range-selected.ui-datepicker-current-day,
.calendar-wrapper .ui-widget-content .range-first,
.calendar-wrapper .ui-widget-content .range-last,
.calendar-wrapper .ui-widget-content .hover-first,
.calendar-wrapper .ui-widget-content .hover-last,
.rw-reservas .btn-border:hover,
.rw-reservas-detalle .btn-default:hover{background-color: #F2712F}
.h1-margin {margin-bottom:25px;}

.brands-footer {
    background: #f2f2f2;
    border-top: 1px solid #ddd;
}

.btn-primary {
  background-color: #F2712F !important;
}

.btn-default:hover,.btn-default:focus,
.btn-primary:hover,.btn-default.focus,
.btn-primary:hover,.btn-primary:focus,
.rw-reservas .btn-border:hover,
.rw-reservas .btn-border:focus {
  background-color: #D85C42 !important;
  border-color: #D85C42 !important;
  color: #FFF !important;
}
.btn-default,.rw-reservas .btn-border {
  color: #F2712F !important;
  border-color: #F2712F !important;
  background-color: #FFF !important;
}

.back-arrow {
    float: left;
    margin-top: 50px;
    text-transform: uppercase;
}

.back-arrow, .back-arrow:active, .back-arrow:focus {
    color: #989898;
}

@media (max-width: 767px){
  .back-arrow {
    float: none;
    display: block;
    text-align: center;
    margin-top: 15px;
    margin-bottom: -20px;
  }
}

.grid-item .topo strong, .hotels-section .hotel .topo strong {
    background: #F2712F;
}

.modal {
  overflow: scroll;
}

.modal-content .close:before {
  color: #F2712F;
}

.color-naranja {
  color: #FF5F3D;
}

.color-amarillo{
  color:#FFBF00;
}

.color-rojo{
  color:red;
}

.nav-menu-closed > li > a > i.icon-agency{font-size: 20px;}

.calendar-wrapper .ui-widget-content .date-range-selected, .calendar-wrapper .ui-widget-content td.date-hover, .calendar-wrapper .ui-widget-content .range-first.date-hover, .calendar-wrapper .ui-widget-content .range-last.date-hover,
.calendar-wrapper .ui-widget-content .date-range-selected,
.calendar-wrapper .ui-widget-content td.date-hover,
.calendar-wrapper .ui-widget-content .range-first.date-hover,
.calendar-wrapper .ui-widget-content .range-last.date-hover,.hover-active {
  background-color: #f9b966;
}

.hover-active.hover-first,
.hover-active.hover-last {
  background: #F2712F !important
}

.btn-default,.btn-default:hover,.btn-default:focus,.btn-primary,.rw-reservas .btn-border:hover,.rw-reservas-detalle .btn-default{border-color: #F2712F;}
.btn-default:hover,.rw-reservas .btn-border:hover{color:#FFF;}
.bar-intro p {float: inherit;}
.extract-header{margin-bottom: 2px}
.extract-header .points span.number {color: inherit;}
.hook-priv {padding-top: 20px;}
.hook-priv .intro img {display: inline-block;margin-bottom: 30px}
header.rew-head.navbar > .container .navbar-brand {
  background-image: url('../img/brand-logos/meliapro.png');
  width: 220px;
  height: 30px;
  margin-top: 10px;
}

.rew-menu ul.container li.active a:before {width: 100%}
.rew-menu ul.container li a:before,
.search-options .btn-search:before {background-color: #F2712F}

.rew-menu ul.container li.active a,
.rew-menu ul.container li a:hover {color: #F2712F}
.box-puntos .btn-default {
  padding: 10px 20px;
  margin-bottom: 0;
}
.table-movements-cont .btn-container {margin: 20px 0 10px;}

i.icon-search-btn:before {
  font-size: 14px;
}

.search-options .btn-search i.icon-search-btn:before {
  color: #F2712F !important;
}
.custom-select:after, .dropdown button:after {
  color: #F2712F;
}

.custom-select.focus, .dropdown button:focus {
  border-color: #F2712F;
}

body.rew-priv .tabpanel .nav>li a:hover, body.rew-priv .tabpanel .nav>li a:active, body.rew-priv .tabpanel .nav>li.active a,
#ocupationselection,
#roomsadded legend span,
.row.search-calendar-header, .row.search-calendar-footer,
.ui-widget-header {
  color: #F2712F;
}

body.rew-priv .big.nav-tabs li.active, body.rew-priv .big.nav-tabs li:hover, body.rew-priv .big.nav-tabs li a {
  border-top-color: #F2712F;
}

.form-mis-puntos2 form .h4 {
  text-transform: inherit;
  border-bottom: none;
  margin-bottom: 0;
}

.list-circle.variant li {
  margin-bottom: 5px;
}

.list-circle.variant li:before {
  font-size: 35px;
  line-height: 0.4;
}

.reward-main-partners .grid-item:hover .caption {
  background-image: url('../img/bg-grid-pro.png');
}

.codigo-promocional-num,
.codigo-promocional-pais,
a, a:focus, a:hover,
#coupon-form .reset, #coupon-form .icon-close, #specialrates .icon-close {
  color: #F2712F;
}

.form-control:focus {
  border-color: #F2712F;
}


.regalos-cumple > .row {
  border-color: #F2712F;
}


.search .check-in:before, .search .check-out:before, .cont-search [class^="icon-"]:before, .cont-search [class*=" icon-"]:before, header.affix .navbar-navigation [class^="icon-"]:before, header.affix .navbar-navigation [class*=" icon-"]:before, header.interior .navbar-navigation [class^="icon-"]:before, header.interior .navbar-navigation [class*=" icon-"]:before, header.results .navbar-navigation [class^="icon-"]:before, header.results .navbar-navigation [class*=" icon-"]:before {
    color: #F2712F;
}

@media (min-width: 992px) {
  .rw-reservas .search.affix {
    top: 75px;
  }
}

.btn-primary:hover {
  border-color: #F2712F;
  background-color: #F2712F;
}

.show-below .calendar-container, .show-below.search-container-extra .calendar-container {
  top: 80px;
}

@media (min-width: 992px) {
  .calendar-wrapper.is-checkin-date:before {
      left: 260px;
  }
  .calendar-wrapper.is-checkout-date:before {
    left: 395px;
  }
}

.show-below #autocomplete {
  top: 66px;
}

@media (max-width: 992px) {
  #rwd-ventaja3 {clear:none;}

  .show-below #autocomplete {
    top: 45px;
  }
}

.rewards-banner .circle {
  background-color: #F2712F;
}

#autocomplete .last-searches li, .autocomplete-hotels-wrapper .sugerencia-hoteles li,
.cont-search .ui-autocomplete li.ui-category.hotels:before,
.cont-search .ui-autocomplete .ui-menu .ui-menu-item, #autocomplete-hotels-container .ui-autocomplete.ui-menu .ui-menu-item {
  color: #F2712F;
}

.priv-submenu li.active a, 
.priv-submenu li a:hover{
  color: #F2712F;
}

.priv-submenu li.active, .priv-submenu li:hover {
  border-top-color: #F2712F;
}
@media(max-width: 442px) {
  .priv-submenu li {
    width: 50%;
  }  
}
.summary .tit-row {
  border-left-color: #F2712F;
}

.hotel-map-checkout .close{color:#F2712F;}

@media(max-width: 767px) {
  .summary .tit-row{border-top: 2px solid #F2712F;}
  .show-below .calendar-container, .show-below.search-container-extra .calendar-container {
    top: 105px;
  }
}
@media (max-width: 720px) {
  header.rew-head {
    height: 110px;
  }
}

@media (max-width: 767px) {
  header.rew-head .navbar-navigation [class^="icon-"]:hover:before, header.rew-head.affix .navbar-navigation [class*=" icon-"]:hover:before {
    color: #F2712F;
  }
}

.dropdown-toggle.btn-default {
  border: none !important;
  color: #F2712F !important;
  background-color: transparent !important;
}

.intro-reservation img{max-width: 100%;margin-top: 10px;}

@media (max-width: 767px) {
  .intro-reservation img{margin-bottom: 10px;}
}

/*Cambio de logo en HEADER*/

.white-header .navbar {
    border-bottom: 1px solid #F2F2F2;
}

.white-header .navbar-brand, .menu-opened .navbar-brand {
    background: url('../img/brand-logos/meliapro.png') no-repeat 0 0;
    width: 120px;
}

@media (min-width: 768px){
  .affix .navbar-brand, .white-header .affix .navbar-brand {
      background: url('../img/logo-header-MP-small.png') no-repeat 0 0;
      width: 85px;
  }
}
/*Fin Cambio de logo en HEADER*/

.navbar-nav > li > a:hover {
    color: #333;
}

.nav-menu-closed > li > a.active, 
.nav-menu-closed > li > a.active:focus, 
.nav-menu-closed > li > a.active:hover {
    color: #333;
}

.navbar-navigation li a[data-target="#company"]:after {
    display: inline-block;
    float: right;
    margin: 14px -9px 0 -5px;
    font-family: 'melia-icons';
    content: "\e615";
    font-size: 24px;
    text-indent: 0;
}

.carousel-indicators .active {
    background: #F2712F;
    border-color: #F2712F;
}

.carousel-caption .btn-default{
    color: #FFF !important;
    background-color: transparent !important;
    border-color: #FFF !important;
}

.carousel-caption .btn-default:hover{
    color: #FFF !important;
    background-color: #F2712F !important;
    border-color: #F2712F !important;
}

@media (min-height: 600px) and (min-width: 1000px){
  #carousel-home .item {
    height: 550px;
  }
}

#login-form .form-group {
    margin-top: 15px;
}

.sub-rewards .rewards-mod .h2{
  margin-bottom:15px;
  font-size: 28px;
}

.sub-rewards ul.checks-menu li{
  color:#333 !important;
  font-size: 14px;
}

.sub-rewards ul.checks li {
  font-size: 15px;
  text-align: left;
  color:#999;
}

.sub-rewards ul.checks li:before{
 color:#F2712F;
}

.rewards-banner{
  padding-top:25px;
}

.rewards-banner .sub-rewards ul.checks{
  text-transform: none;
}

.btn-solicitar{
  padding-bottom:80px;
  margin-left:-95px;
}

@media (max-width: 768px){
  .btn-solicitar{
    padding-bottom:40px;
    padding-right:10px;
    padding-left:10px;
    margin-left: 0px;
  }

  .sub-rewards ul.checks li {
    margin-bottom: 8px;
  }
}

.intro-meliapro h2{
  text-transform: uppercase;
  padding-top:20px;
 
}

.intro-meliapro p{
  color:#999;
  font-size: 16px;
}

.item-reward-ventaja{
  margin-top: 40px;
  margin-bottom: 20px;
}

#rwd-ventaja1, #rwd-ventaja2 {
    border-right: 1px solid #CCC5C5;
    padding-right: 20px;
    padding-left: 20px;
}

@media (max-width: 768px){
  #rwd-ventaja1, #rwd-ventaja2 {
    border-right: none;
    padding-right: 10px;
    padding-left: 10px;
  }
  .item-reward-ventaja{
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.item-reward-ventaja .image {
   margin-bottom:20px;
}

.item-reward-ventaja .t1{
  text-transform: uppercase;
  font-size: 18px;
}

.item-reward-ventaja .t2{
  color:#999;
  font-size: 16px;
}

.row-meliareward .canje-img > img {
    width: 100%;
    margin-bottom: 20px;
}

.row-meliareward .canje-desc p {
    color:#999;
}

/*Forms*/

.checkout-form {
    padding: 12px;
    margin-bottom: 0px;
}

.checkout-form .form1{
  margin-top: 60px;
}

.checkout-form .h4{
  margin-top: 20px;
  margin-bottom:30px;
}

.checkout-form .legal1 {
    padding-top: 20px;
    padding-bottom: 80px;
    border:none;
}

.checkout-form .legal1 button[type="submit"] {
    padding: 16px 80px;
    font-size: 16px;
}

@media (max-width: 768px){
  .checkout-form .legal1 button[type="submit"] {
    padding: 16px 10px;
    font-size: 14px;
    max-width: 100%;
  }
}

.info-form .icon-info{
  font-size: 20px;
  float:left;
  margin-right:10px;
  margin-bottom:20px;
  color: #888;
}

.info-form p{
  font-size: 16px;
}

.checkout-form .cvv-modal1 {
    position: absolute;
    top: -1px;
    right: -22px;
    font-size: 22px;
    cursor: pointer;
}

.sub-texts{
  font-size: 16px;
}

/*Preguntas Frecuentes*/

.reservation-header.faqs .h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    width: 69%;
    font-weight: 600;
}

.row-faqs-wrapper {
  background: #fff;
  padding: 10px 15px;
  margin-bottom: 50px;
}
.row-faqs {
  background-color: #fff;
  transition: background .5s;
  border-bottom: 1px solid #DDDDDD;
}

.row-faqs .icon-plus {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    display: none;
    color:#858585;
}
.row-faqs:hover .icon-plus {
   display: block;
}
.row-faqs.active .icon-plus {
   display: none;
}
.row-faqs .icon-close {
  float: right;
  margin-right: 10px;
  color:#F2712F;
  display: none;
}
.row-faqs.active .icon-close {
  display: block;
}
.row-faqs .col-img {
  text-align: center;
}
.row-faqs .col-img img {
  margin: 0 auto;
}
.row-faqs .h4 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
  color: #333333;
}

.row-faqs a.row {
  display: block;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-left: 0;
  margin-right: 0;
}

.row-faqs a.row:hover{
  background: #F2F2F2;
  color: #333333;
}

.row-faqs.active {
  background: #F2F2F2;
  padding-bottom: 35px;
  border-bottom: 1px solid #DDDDDD;
}
.row-faqs.active a.row {
  border-top: 1px solid #DDDDDD;
}
.row-faqs.active .col-puntos {
  margin-bottom:10px;
}
.row-faqs a.row:hover .h4 {
  color: #000;
  font-weight: 600;
}
.row-faqs .col-puntos {
  display: none;
  padding-left: 15px;
  padding-right: 10px;
}
.row-faqs p {
  font-size: 14px;
  color: #858585;
  margin: 0;
}
.row-faqs .col-puntos label {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 12px;
}
.row-faqs .total {
  padding: 20px 10px;
  font-size: 16px;
  margin-bottom: 0;
  color: #333;
}
.row-faqs .total span {
  font-size: 32px;
  font-weight: bold;
}
.row-faqs .total .btn {
  float: right;
  padding: 12px;
}
/*Aside*/
.aside-mispuntos2 .aside-codigo-promocional:first-child {
    margin-top: 0px;
}
.aside-mispuntos2 .aside-codigo-promocional {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}
.color-gris-claro {
    color: #858585;
}
.aside-box-codigo-promocional {
    margin: 0;
    padding: 15px 10px;
    background-color: #F2F2F2;
}
.aside-codigo-promocional .h4 {
    max-width: 200px;
    margin: 0px auto 10px;
    text-transform: uppercase;
    margin-top: 0px;
    background-color: transparent;
}
.codigo-promocional-text, 
.codigo-promocional-num, 
.codigo-promocional-pais {
    display: block;
}
.codigo-promocional-num {
    width: 98%;
    margin-left: 1%;
    margin-bottom: 15px;
    padding: 15px 0px;
    font-size: 18px;
    border-bottom: solid 1px #CCCCCC;
}
.codigo-promocional-text {
    font-size: 16px;
    color: #858585;
}
.codigo-promocional-pais {
    font-size: 16px;
}

.puntos-container {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.form-mis-puntos2 p{
  margin-top: 10px;
}
.meliapro-text-area.form-control{
  height: 150px;
  text-transform: none;
}

.big.nav-tabs li:first-child {
    border-right: 1px solid #F2F2F2;
}

.big.nav-tabs li.active, .big.nav-tabs li:hover {
    border-top: 3px solid #F2712F;
    font-weight: bold;
}


@media (max-width: 768px){
  .nav.nav-tabs li.active:hover a {
      padding-top: 13px;
  }
}

@media (min-width: 767px){
  .rewards.big.nav-tabs li a:hover {
    padding: 20px 0;
  }
}


.tabpanel .nav>li a:hover, 
.tabpanel .nav>li a:active,
.tabpanel .nav>li.active a {
    color: #F2712F;
}


/*  section llamar */

.info-training{
  border-bottom: 1px solid #F2F2F2;
  margin-right: 50px;
  margin-left: 50px;
  text-align: center;
}

.info-training-description{
  float:left;
  margin-top: 40px;
  margin-left: 70px;
}

.info-training-description img{
  margin:15px;
  max-width: 100%;
}

.info-training.sub-rewards ul.checks li {
    font-size: 18px;
}

.info-training-description ul.checks{
  text-transform: none;
  font-size: 18px;
  font-weight: bold;
}

.info-training .main-photo{
  float: right;
  width: 60%;
}

@media (max-width: 1024px){
  .info-training-description{
    margin-top: 0px;
    margin-left: 0px;
  }
  .info-training .main-photo{
    width: 54%;
  }
}

.rwd-main {background-color: #fff;position: relative;z-index: 801;width:100%;top:0;-webkit-transition: top .5s;transition: top .5s; border-bottom: 1px solid #F2F2F2;}
.rwd-main.affix {position: fixed;top: 35px;z-index: 13;border-bottom:1px solid #F2F2F2;-webkit-transition: top 1s;transition: top 1s;}
@media(max-width: 991px) {
  .rwd-main.affix{
    top: 48px;
  }
}
.rwd-main.affix .reward-nav {margin-bottom: 2px;height: 35px;min-height: 35px;}
.rwd-main.affix .reward-nav li {min-height: 35px;;}
.rwd-main.affix .reward-nav li a {min-height: 35px;line-height:35px;}
.reward-nav {margin-bottom: 0;min-height: 45px;}
.reward-nav li {min-height: 45px; border-right: 1px solid #F2F2F2;}
.reward-nav li a {min-height: 45px;line-height:45px;background-color:transparent;color:#333333;text-transform:uppercase;padding: 0 15px;margin-bottom: 0px;border-radius: 0;}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {color: #333333;background-color: transparent; border-top:none; border-bottom: 2px solid #F2712F;margin-top: 0;color:#F2712F;}
.nav-pills>li>a:hover, .nav-pills>li>a:focus {text-decoration:none;background-color:transparent;border-top:none;border-bottom: 2px solid #F2712F;margin-top: 0;color:#F2712F;}

.reward-nav-select {width: 100%;text-align: center;padding: 0; background: #fff;}
.reward-nav-select button span.textlabel { float: left; padding-right: 5px;}
.reward-nav-select button span.caret {vertical-align: middle;display: inline-block;}
.input-group-btn{box-shadow: inset 0 3px 5px rgba(0,0,0,0);outline: none;}
.rewardsNav {width: 100%;margin: 0;border: none;border-radius: 0;}
.rewardsNav > li {text-align: center;}
.rewardsNav > li > a > span {text-transform: uppercase;font-size: 16px;font-weight: 700;color: #F2712F;display: block;height: 40px;line-height: 40px;}

.btn-nav-title {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'avalon', sans-serif;
}


.table-movements-cont {
    padding: 10px;
}

.table-gen tr {border-bottom: 1px solid #ddd;}
.table-gen th {padding: 10px;font-size: 12px;text-transform: uppercase;color: #858585;font-weight: 400;letter-spacing: 1px;}
.table-gen tr {border-bottom: 1px solid #ddd;}
.table-gen td {padding: 10px;}
.table-gen.table-movements tr:hover td { background: #f2f2f2; cursor: pointer;}
.table-gen.table-movements tr:active td { background: #ddd}

/*Carrousel*/
.carousel-rewards-caption {position: absolute;top: 0;left: 10%;bottom: inherit;z-index: 10;padding-top: 20px;padding-bottom: 20px;}
.carousel-rewards-caption p.first-line {text-transform: uppercase; font-size: 22px; width: 50%}
.carousel-rewards-caption p.second-line {height: 75px; width: 37%; padding-left: 84px;}
.vcenter { display: inline-block; vertical-align: middle;float: none;}
.carousel-inner .carousel-rewards-caption .h1 {margin-top:10px;}
.carousel-inner .carousel-rewards-caption .h1 img {width: auto; min-width: inherit; min-height: inherit;}
.btn.carousel {box-shadow: none;margin-top: 10px;}

.carousel-layer {
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-inner .carousel-rewards-caption .circle{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #F2712F;
    color: #FFF;
    font-weight: 400;
    text-align: center;
    font-family: 'avalon';
    float: left;
    margin-right: 10px;
}

.carousel-inner .carousel-rewards-caption .to-tag {
    margin-top: 15px;
    margin-bottom: -5px;
    padding-top: 0px;
    font-size: 14px;
}

.carousel-inner .carousel-rewards-caption .price {
    font-size: 34px;
    letter-spacing: 0;
}

.carousel-inner .carousel-rewards-caption .half-size {
    margin-left: -7px;
    display: inline-block;
}

@media (min-width: 768px){
  .carousel-rewards-caption {
      left: 8%;
      top: -10px;
  }
  .carousel-rewards-caption .h1 img {
    width: 150px;
  }
  .meliapro-carousel .carousel-rewards-caption {
      left: 8%;
      top: 40px;
  }
}

@media (max-width: 767px){
  .btn.carousel {
    width: 100%;
    padding-top: 8px;
  }
  .carousel-inner>.item>img {
    min-width: 100%;
    max-width: none;
  }
  .carousel-inner .carousel-rewards-caption .h1 img {
    width: 150px;
    margin-top: 10px;
  }
  .carousel-rewards-caption {
    left: 10%;
    top: -40px;
    right: 10%;
  }
  .carousel-rewards-caption p.first-line {
    font-size: 15px;
    width: 100%;
  }
  .carousel-rewards-caption p.second-line {
    width: 100%;
    padding-top: 15px;
  }
  .carousel-rewards-caption .rewards-mod {
    margin-top:0px;
  }
  .meliapro-carousel .carousel-rewards-caption {
    left: 10%;
    top: -30px;
    right: 10%;
  }
  .meliapro-carousel .btn.carousel {
    margin-top: 5px;
  }
  #carousel-home .carousel-inner .item {
    height: 250px;
  }
}

@media (min-width: 992px){
  .carousel-rewards-caption p.first-line {
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
  }
  .carousel-rewards-caption p.second-line {
    width: 36%;
  }
  .btn.carousel {
    margin-top: 30px;
  }
  .meliapro-carousel .carousel-rewards-caption p.first-line {
    text-transform: uppercase;
    font-size: 22px;
    width: 60%;
  }
  .meliapro-carousel .carousel-rewards-caption p.second-line {
    width: 50%;
    font-size: 16px;
    padding-top: 12px;
  }
  .meliapro-carousel .btn.carousel {
    margin-top: 120px;
  }
}

@media (min-width: 1200px){
  #carousel-home.meliapro-home .item {
    margin-top: 0;
  }
}

@media (min-width: 992px){
  #carousel-home.meliapro-home .item {
    height: 490px;

  }
}

@media (min-width: 768px){
  #carousel-home.meliapro-home .item {
    height: 350px;
  }
}

.slider-rewards-checks ul.checks{
    text-transform: none;
    font-weight: bold;
}

.alert.alert-warning {
  padding:20px;
}

.alert.alert-warning i.icon-error {
  vertical-align: top;
  line-height: 50px;
}

.alert-reservation .alert-title{
  font-size: 18px;
  font-weight: bold;
  color:#666666;
  display: inline;
  vertical-align: top;
  line-height: 50px;
}

.alert-reservation .alert .alert-big{
  color:#666666;
  width: 50%;
  font-size: 16px;
}

.alert-reservation a{
  float:right;
}

.alert-warning i.icon-next {
    color: #fff;
    float:none;
}

@media (max-width: 768px){

  .alert.alert-warning span {
    display: inline-block;
  }
  .alert-reservation .alert .alert-big{
    width: 100%;
  }
  .alert-reservation a{
    float:none;
    margin-top:20px;
    width: 100%;
  }
}

.modal-cancelar-reserva  .h1 {
    font-size: 30px;
}

.modal-cancelar-reserva {
    margin-top: 15px;
}

.modal-cancelar-reserva .icon-error {
    display: block;
    margin: 40px 0px 30px;
    font-size: 70px;
    color: #FF3F00;
}

.cancel-titulo{
    font-size: 24px;
    color: #FF3F00;
    margin-bottom: 20px;
    font-weight: bold;
}

.cancel-text {
  font-size: 20px;
  color: #FF3F00;
  margin: 0px 20px 60px 20px;
}

.modal-cancelar-reserva .clearfix {
    margin-bottom: 45px;
}

.modal-cancelar-reserva .rw-reservas .btn-border {
    padding-top: 11px;
    padding-bottom: 11px;
    border: solid 2px #F2712F;
    background-color: transparent;
}

.modal-cancelar-reserva .btn i.icon-close {
  margin-left:50px;
  float:right;
}

.popup-hotel .modal-header h3{
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: -30px;
} 

.popup-hotel .modal-cancelar-reserva .clearfix {
    margin-bottom: 25px;
}  

.popup-hotel .hotels-section {
    margin-bottom: 0px;
}

.popup-hotel .intro-reservation .tit-field {
  font-size: 14px;
}

.popup-hotel .hotels-section .tit-field {
  text-transform: uppercase;
  display: block;
  color: #858585;
  letter-spacing: 1px;
  font-size: 14px;
  padding:0px;
  margin:0px;
}

.popup-hotel .hotel {
  margin-top:10px;
  border-bottom: 1px solid #eee;
  padding:0px;
  box-shadow:none;
}
.popup-hotel .buttons-row{
  border-bottom: 1px solid #eee;
  padding-bottom: 35px;
}

.popup-hotel .buttons-row .icon-exit{
    font-size: 24px;
    margin-bottom: 0;
    float: right;
    margin-left: 10px;
    margin-top: 0;
}

.popup-hotel .buttons-row .icon-edit {
    font-size: 20px;
    margin-bottom: 0;
    float: right;
    margin-left: 10px;
    margin-top: 0;
}


@media (max-width: 767px){
  .popup-hotel .buttons-row div{
    margin-top:5px;
    margin-bottom:5px;
  }
  .btn-container .btn + .btn {
    margin-top: 10px;
  }
}

.benefits-container{
  padding: 20px;
  margin-bottom: 100px;
}

.benefits-container .h3{
  text-transform: none;
  font-size: 20px;
  font-weight: bold;
}

.benefits-container .benefits{
  border-bottom:1px solid #F2F2F2;
  padding-bottom: 20px;
}

.benefits-container .benefits p{
  color: #999;
  font-size: 16px;
}

.benefits-container .benefits ul{
  color: #999;
  font-size: 16px;
  padding-left: 0px; 
  list-style: inside;
}

.benefits-container .benefits ul li{
  margin-bottom: 10px;
}

.promo.btn-container a {
    text-transform: uppercase;
    font-weight: 700;
}

/*-------------------------------------*\

  PÁGINA - MODIFICAR RESERVAS

\*-------------------------------------*/

.rw-reserva-modificar-reserva{
  margin-bottom: 20px;
  padding: 20px 20px 10px;
  position: relative;
}

.rw-reserva-modificar-reserva .editar-datos{
  position: absolute;
  top: 20px;
  right: 23px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;  
}
.rw-reserva-modificar-reserva .agregar-datos {
  position: absolute;
  top: 10px;
  right: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
@media (max-width: 475px){
  .rw-reserva-modificar-reserva .agregar-datos {
    position: relative;
    float: right;
    top:-1px;
  }
}

@media (min-width: 768px){
  .rw-reserva-modificar-reserva .form-horizontal .control-label {
     text-align: left; 
  }
}

.rw-reserva-modificar-reserva .form-horizontal.datos-reserva .editar-datos,
.rw-reserva-modificar-reserva .form-horizontal.datos-reserva .editar-datos i {
  position: static;
}
.rw-reserva-modificar-reserva .form-horizontal.datos-reserva .editar-datos {
  padding: 7px 0;
  display: block;
  float: right;
}
.rw-reserva-modificar-reserva .form-horizontal.datos-reserva .control-label {
  font-weight: bold;
  padding-top: 9px;
  text-align: left;
  padding-left: 0;
}
.rw-reserva-modificar-reserva .form-horizontal.datos-reserva .form-control-password {
  font-size: 50px;
  line-height: 10px;
  color: #999999;
}
.rw-reserva-modificar-reserva .form-horizontal.datos-reserva .intro-separator {
  padding-top: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid #EEE;
}
.rw-reserva-modificar-reserva .form-horizontal.datos-reserva .form-group {
  margin-left: 0;
  margin-right: 0;
}
.rw-reserva-modificar-reserva .form-horizontal.datos-reserva .form-group+.form-group {
  border-top: 1px solid #EEEEEE;
  padding-top: 15px;
}
.rw-reserva-modificar-reserva .form-horizontal .required-msg {
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 15px;
  color: #878787;
}
.rw-reserva-modificar-reserva .agregar-datos .btn {
  padding: 10px 30px;
}
@media (max-width: 475px){
  .rw-reserva-modificar-reserva .agregar-datos .btn {
    margin-top: 5px;
  }
}
.rw-reserva-modificar-reserva .agregar-datos span {
  font-size: 18px;
  text-transform: none;
  font-weight: normal;
  margin-right: 25px;
}
.rw-reserva-modificar-reserva .agregar-datos span span {
  font-size: 18px;
  font-weight: bold;
  color: #999;
  margin: 0;
}
.rw-reserva-modificar-reserva .editar-datos .icon-edit{font-size: 16px; padding-right: 5px;}

.rw-reserva-modificar-reserva .h5{
  margin-top: 0px;
  padding-right: 90px;
  padding-bottom: 10px;
  font-size: 16px;
  border-bottom: solid 1px #EEEEEE;
}
.rw-reserva-modificar-reserva.sin-datos .h5 {
  border-bottom: none;
  padding-bottom: 5px;
}
.rw-reserva-modificar-reserva dl{margin-bottom: 0px;}
.rw-reserva-modificar-reserva dt, 
.rw-reserva-modificar-reserva dd {
    float: left;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.rw-reserva-modificar-reserva dt{
    width: 35%;
    margin-right: 10px;
    clear: left;    
}
.rw-reserva-modificar-reserva dd {color: #777777;}
.rw-reserva-modificar-reserva .email-info{text-transform:inherit;}

.rw-reserva-modificar-reserva .observaciones{
  font-size: 16px;
  color:#858585;
}

/* fechas */

@media (max-width: 767px){
  .rw-reserva-modificar-reserva .search-container-extra .calendar-container{z-index: 1000;}
}

.rw-reserva-modificar-reserva .search-container-extra .room-alert{
  padding: 0px;
  margin-bottom: 30px;
}

.rw-reserva-modificar-reserva .search-container-extra .check-in,
.rw-reserva-modificar-reserva .search-container-extra .check-out{
  width:48%;
  margin-left:1%;
  margin-right: 1%;
}

@media (max-width: 768px){
  .rw-reserva-modificar-reserva .search-container-extra .check-in,
  .rw-reserva-modificar-reserva .search-container-extra .check-out{
    width:96%;
    margin-left:2%;
    margin-right: 2%;
  }
}

.rw-reserva-modificar-reserva .search-container-extra .check-in:before,
.rw-reserva-modificar-reserva .search-container-extra .check-out:before {
    position: absolute;
    top: 10px;
    left: 10px;
    content: "\e604";
    font-family: 'melia-icons';
    font-size: 20px;
    color: #0075C0;
}

.rw-reserva-modificar-reserva .search-container-extra .check-in:after,
.rw-reserva-modificar-reserva .search-container-extra .check-out:after{
  position: absolute;
  top: 15px;
  left: 40px;
  width: 200px;
  color: #777777;
  font-size: 12px;
  text-transform: uppercase;
  content: attr(data-text);
}

.rw-reserva-modificar-reserva .search-container-extra .check-in input,
.rw-reserva-modificar-reserva .search-container-extra .check-out input{/*padding-left: 30px*/visibility: hidden;}
.rw-reserva-modificar-reserva .search-container-extra .fechas-btn-group{margin-top: 25px;}
@media (max-width: 992px){
  .rw-reserva-modificar-reserva .search-container-extra .fechas-btn-group{margin-top: 0px;}
}

.rw-reserva-modificar-reserva .alerta-modificar{display: none;}
.rw-reserva-modificar-reserva .alerta-modificar .room-alert{  
  padding: 5px 0px 10px;
  margin-top: 5px;
}
.rw-reserva-modificar-reserva .alerta-modificar .alert-warning .alert-big{
    margin: 0px;
    font-weight: bold;
    color: #666666;
}
.rw-reserva-modificar-reserva .alerta-modificar .alert-warning small{float: left;}
@media (max-width: 767px){
  .rw-reserva-modificar-reserva .search-container-extra #check-out{margin-top: 15px;}
}
/* fin fechas */

.rw-reserva-modificar-reserva .datos-reserva{/*display: none;*/}
.rw-reserva-modificar-reserva form{
  display: none;
  padding: 10px 0px;
}
.rw-reserva-modificar-reserva form.form-visible {
  display: block;
}
.rw-reserva-modificar-reserva .btns-cont{margin-top: 20px;}
.rw-reserva-modificar-reserva .btn-cancelar,
.rw-reserva-modificar-reserva .link-cancelar{
  float: right;
  margin-right: 50px;
  padding-top: 15px;
  font-size: 12px;
  color:#999999;
}

.rw-reserva-modificar-reserva .info-form p {
    font-size: 14px;
     color: #999999;
}

.rw-reserva-modificar-reserva .custom-checkbox .cvv-modal .icon-question{
  position: absolute;
  right: 235px;
  top: -4px;
}

.rw-reserva-modificar-reserva .cvv-modal .icon-question{
    position: absolute;
    top: 11px;
    right: -22px;
    font-size: 22px;
    cursor: pointer;
}

@media (max-width: 991px){
  .rw-reserva-modificar-reserva .btn-cancelar {
    display: block;
    float: none;
    margin: 10px 0 20px;
    padding: 20px 0px 5px;
    text-align: center;
  }
}

.aside-form{
  color: #777777;
  margin-top: 0px;
}

.aside-form .editar-datos{
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  float: right;
}

.aside-form i.icon-edit{
  font-size: 16px;
  padding-right: 5px;
}

.aside-top-margin a{
  text-align: center;
}

.aside-mispuntos2 .aside-form .h4{
  max-width: 100%;
  padding-bottom:10px;
  padding-top: 20px;
  border-bottom: solid 1px #ddd;
  text-transform: uppercase;
}

.aside-mispuntos2 .aside-form {
  margin-bottom: 20px;
  padding: 15px;
  text-align: left;
  font-size: 16px;
  text-align: center;
  color:#858585;
}

.aside-mispuntos2 .aside-form p {
  text-align: left;
}

.aside-mispuntos2 .change-picture{
  display:none;
}

.aside-form .btn-cancelar {
  text-transform: uppercase;
  font-size: 14px;
  color: #999999;
}


.aside-form i.icon-camera{font-size: 22px;}
.aside-form i.icon-camera:before {position: relative; top: 3px;}

.aside-form-agents .h4{
  border-bottom: solid 1px #ddd;
  max-width: 100%;
  padding-bottom: 10px;
}

.aside-form-agents p{
  font-size: 16px;
  text-align: left;
}

.aside-form-agents i.icon-add-agent{font-size: 18px;position: relative; top: 2px;}

.rw-reservas-aside .checkout-aside header h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.empty-msg {
    font-size: 22px;
    color: #999999;
    text-align: center;
    padding: 65px 0;
    font-weight: 500;
}

.checkout-aside .legal i {
    font-size: 16px;
    color: #888;
}

.checkout-aside.aside-form-agents{
  color:#999999;
  font-size: 16px;
  margin-top:0px;
}


.agents-popup{
  padding:15px;
}

.agents-popup .h1{
  font-weight: 400;
  font-size: 30px;
  margin-bottom:50px;
}

.agents-popup p{
  font-size: 18px;
  margin-bottom: 20px;
}

.agents-popup input{
  text-transform: none;
  font-size: 16px;
}

.agents-popup .btn-primary.btn-lg{
  margin-top:30px;
  padding: 12px 50px;
}

@media (max-width: 767px){
  .modal-content .close {
        right: 20px;
  }
}

.row-acompanantes {
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 16px;
    color: #545454;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.row-acompanantes>.col-name {
    padding-left: 40px;
}

.row-acompanantes a {
    font-size: 14px;
    font-weight: bold;
    float: right;
    padding-right: 30px;
}

.row-acompanantes>.col-delete a {
    color: #777777;
    font-weight: normal;
}

@media (max-width: 767px){
  .row-acompanantes>.col-name {
    padding-left: 20px;
  }
  .row-acompanantes a {
    font-size: 12px;
  }
}  

.checkout-aside.aside-form i{
  font-size: 22px;
  vertical-align: top;
}

.aside-box-codigo-rewards {
    margin: 0;
    padding: 15px 10px;
    background: #f2f2f2 url('../img/bg_rewards01.png') fixed;
}

.aside-box-codigo-rewards p{
  border-top: solid 1px #ddd;
  padding-top: 15px;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.aside-box-codigo-rewards .btn.more-info{
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.hook-priv { padding-top: 40px; border-bottom:1px solid #f2f2f2;}
.hook-priv .border-right { border-right: 1px solid #f2f2f2}
.hook-priv .intro { text-align: center;}
.hook-priv .intro p { font-size: 18px; color: #666; padding: 0 20px}
.hook-priv .cont { padding-top: 20px}
.hook-priv .h4 { font-weight: 700; font-size: 14px; margin:0 0 14px 0}
.hook-priv li { font-size: 14px; color: #666; margin-bottom: 15px; padding-left: 24px; background: url('../img/rewards/tick-rw.png') no-repeat 0px 2px;}
.hook-priv li i { color: #0073C3; font-size: 16px; margin-right:10px;}

.dest-rewards strong{background-color: #F2712F;}
.reservation-header .steps ul li.active .path1:before {color: #f2712f;}
.rooms-section .options .option article .details .checks li:before {color: #FF7B4A;}

@media (min-width: 768px){
  .rooms-section .options .header {border-left: 3px solid #FF7B4A;}
}

/*Confirmation pages*/

.hotels-section .hotel .text address{
  color: #858585;
  font-size: 16px;
}

.hotels-section .hotel .description{
  color: #858585;
  font-size: 16px;
}

/* Tabs compra y regala */

.tabs-compra-regala{margin-top: 20px}
.tabs-compra-regala .tab-content{
  margin-top: 0px;
  border-top:solid 1px #DDDDDD;
}
.tabs-compra-regala .nav-tabs{
  margin-left: 10px;
  padding-bottom: 0px;
}

.tabs-compra-regala .nav-tabs span{
  font-size: 12px;
  text-transform: none;
  color:#888;
  text-align: left;
}

.tabs-compra-regala.tabpanel .nav>li.active a,
.tabs-compra-regala.tabpanel .nav>li.active a:hover,
.tabs-compra-regala.tabpanel .nav>li.active a:active{
    color: #333;
}

.tabs-compra-regala .nav-tabs li{background-color: #F2F2F2;font-size: 14px;}
.tabs-compra-regala .nav-tabs li.active{
  border:solid 1px #DDDDDD;
  border-bottom: none;
  background-color: none;
}

.tabs-compra-regala .nav-tabs>li>a{font-size: 12px;}
.tabs-compra-regala .nav-tabs>li>a{margin-right: 0px;}
.tabs-compra-regala .nav-tabs>li.active>a:before{content: none;}
.tabs-compra-regala .nav>li a:hover{
  padding-top: 15px;
  min-height: 47px;
  border:none;
  color: #333;
  background-color:#DDDDDD;
}
.tabs-compra-regala .nav-tabs>li.active>a:hover{padding-top: 15px;}

.tabs-compra-regala .nav>li a:focus{border:none;}
.tabs-compra-regala .nav>li.active a:hover{background-color:#ffffff;}


@media (max-width: 479px){
  .tabs-compra-regala .nav-tabs li a{
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 399px){
  .tabs-compra-regala .nav-tabs li a{min-height: 65px;}
  .tabs-compra-regala .nav-tabs li a:hover{min-height: 65px;}
}

/*Tabs compra y regala Final*/

.checkout-form .acount-checkout {
    background-color: #F2F2F2;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
}

.checkout-form .acount-checkout p{
    font-size:14px;
    margin-top: 8px;
    margin-bottom: 0px;
    font-weight: bold;
    text-align: right;
}

.checkout-form .acount-checkout div{
    text-align: left;
}

.checkout-form .acount-checkout span{
    color:#f2712f;
}

.checkout-form .cards { margin-left: 10px;}

@media (max-width: 768px){

  .checkout-form .acount-checkout p{
    text-align: center;
    margin-bottom:10px;
  }
  .checkout-form .acount-checkout div{
    text-align: center;
  }
}

.custom-checkbox .box .tick {
  border-bottom: 3px solid #f2712f;
  border-left: 3px solid #f2712f;
}

.blue-warning {
    border-radius: 0;
    border: 1px solid #337ab7;
    background-color: transparent;
    color: #333;
    padding: 20px 30px 20px 30px;
}

.blue-warning .alert-big {
    margin: 0px;
    font-weight: bold;
    color: #666666;
}

.blue-warning i {
    color: #337ab7;
    float: left;
    font-size: 23px;
    margin-right: 10px;
}

.blue-warning span {
  color:#888;
  display: inline;
  margin-right: 20px;
  margin-top: 4px;
}

@media (max-width: 992px){
  .blue-warning span {
    display: inline;
  }
}

.net-price{
  background-color: #F2F2F2;
  padding:20px 20px 0px 20px;
}

.net-price div{
  display:inline;
  clear:both;
}

.net-price h3{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top:0px;
  margin-bottom: 0px;
}

.net-price p{
  color:#888;
  font-size: 14px;
  font-weight: bold;
  float:left;
}

.net-price .price{
  color:#333;
  font-size: 25px;
  font-weight: bold;
  float:right;
  margin-top: 0px;
}

@media (max-width: 992px){
  .net-price .price {
    float:left;
    margin-left:10px;
  }
}

.login-form .header.borderbottom {
    margin-bottom: 15px; 
}

.terms-texts p{
  color:#888;
  font-size: 16px;
}

/*Sub menu Meliapro*/

.rwdpro-main {
    background-color: #fff;
    position: relative;
    z-index: 801;
    width: 100%;
    top: 0;
    -webkit-transition: top .5s;
    transition: top .5s;
    border-bottom: 1px solid #F2F2F2;
}


.rwdpro-main .reward-nav li {
    min-height: 45px;
    border-right: 1px solid #F2F2F2;
    width: 33%;
    text-align: center;
}

.rwdpro-main .reward-nav li:nth-child(3){
    border-right: none;
}

.rwdpro-main .nav-pills>li.active>a, 
.rwdpro-main .nav-pills>li.active>a:hover, 
.rwdpro-main .nav-pills>li.active>a:focus {
  color: #333333;
  background-color: transparent; 
  border-top:none; 
  border-bottom: none;
  margin-top: 0;
  color:#F2712F;
}

.rwdpro-main .nav-pills>li>a:hover, 
.rwdpro-main .nav-pills>li>a:focus {
  text-decoration:none;
  background-color:transparent;
  border-top:none;
  border-bottom: none;
  margin-top: 0;
  color:#F2712F;
}

/*Icons color*/
#coupon-form .icon-arrow-down{color: #F2712F;}
.form-group.icon-destination:before{color: #F2712F;}
i.icon-key,i.icon-adult,i.icon-child{color: #F2712F;}
.search #close-search:hover{color: #F2712F;}

/*Search events*/

.cont-search .search {
  padding: 16px 0;
}

.cont-search .search .destination,
.cont-search .search .assistants,
.cont-search .search .rooms {
  position: relative;
  background-color: #FFF;
  font-size: 12px;
}

.cont-search .search .assistants,
.cont-search .search .rooms {
  width: 15.6%;
}

@media(min-width: 1200px) {
  .cont-search .search .assistants,
  .cont-search .search .rooms {
    width: 15.73%;
  }

}

.cont-search {
  height: inherit;
}

.cont-search .search input {
  background-color: transparent;
  position: relative;
  z-index: 3;
  padding-left: 28px;
  text-transform: uppercase;
}

.cont-search .search .destination {
  width: 35%;
}

.cont-search .search .placeholder {
  position: absolute;
  top: 6px;
  left: 0;
  text-transform: uppercase;
  padding-left: 30px;
  line-height: 1.4;
  z-index: 1;
  transition: top .3s;
  -webkit-transition: top .3s;
}

.cont-search .search .placeholder.oneLine {
  top: 14px;
}

.cont-search .search .placeholder span {
  display: block;
  color: #888;
}

.cont-search.mice .search .assistants:before {
  content: '\e61d';
  font-family: 'melia-icons';
  position: absolute;
  color: #F2712F;
  font-size: 24px;
  top: 8px;
  left: 4px;
}

.cont-search.mice .search .rooms:before {
  content: '\e61e';
  font-family: 'melia-icons';
  position: absolute;
  color: #F2712F;
  font-size: 24px;
  top: 8px;
  left: 4px;
}

.cont-search .search input:focus + .placeholder {
  top: 14px;
}

.cont-search .search input:focus + .placeholder span {
  display: none;
}

.autosuggest-div {
  display: none;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 0px;
  color: #AAA;
  background-color: #FFF;
  padding: 17px 30px;
  z-index: 2;
}

.mice .ui-autocomplete li.ui-category.cities,
.mice .ui-autocomplete li.ui-category.regions,
.mice .ui-autocomplete li.ui-category.countries,
.mice .ui-autocomplete li.ui-category.continents {
  width: 25%;
  float: left;
  max-height: 213px;
  overflow: auto;
}

@media(max-width: 767px) {
  .mice .ui-autocomplete li.ui-category.cities,
  .mice .ui-autocomplete li.ui-category.regions,
  .mice .ui-autocomplete li.ui-category.countries,
  .mice .ui-autocomplete li.ui-category.continents {
    width: 100%;
    max-height: none;
  }
}

.mice #autocomplete {
  bottom: 50px;
}

.mice #predictor {
  width: 100%;
}

#predictor:after,
#autocomplete .last-searches:after {
  bottom: -9px;
}

#autocomplete .here {
  padding-right: 32px;
}

@media(max-width: 991px) {
  .cont-search .search .destination {
    width: 100%;
    margin-bottom: 10px;
  }
  .cont-search .search .assistants,
  .cont-search .search .rooms {
    width: 24%;
  }
  #search-button {
    width: 25%;
  }
  .mice #autocomplete {
    bottom: 100px;
  }
}

@media(max-width: 767px) {
  .cont-search .search .assistants,
  .cont-search .search .rooms {
    width: 100%;
  }
  .mice #search-button {
    width: 100%;
    margin-top: 0;
  }
  #search-button {
    width: 100%;
  }

}

.cont-search .ui-autocomplete li.ui-category.destinations:before, 
.cont-search .ui-autocomplete li.ui-category.cities:before,
.cont-search .ui-autocomplete li.ui-category.countries:before {
    color: #F2712F;
}

/*acc-thumb*/

.acc-thumb-border-bottom {
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 1em;
}
.acc-thumb {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 1.25em;
}
.acc-thumb__label {
  padding-right: 0;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 1em;
  margin-bottom: 1em;
  display: block;
  width: 100%;
}
.acc-thumb {
  width: 49%;
}
.acc-thumb__label {
  display: none;
}

.acc-thumb__label.col-md-6 {
  width: 49%;
  display: block;
}
.acc-thumb__label.col-md-6:first-child {
  margin-right: 1%;
}
.acc-thumb__label.col-md-6:last-child {
  margin-left: 1%;
}

@media (max-width: 900px) {
  .acc-thumb,
  .acc-thumb__label {
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .acc-thumb__label {
    display: block !important;
  }
  .acc-thumb__label.col-md-6 {
    display: none !important;
  }
}
.acc-thumb:first-child {
  margin-right: 1%;
}
.acc-thumb:last-child {
  margin-left: 1%;
}
.acc-thumb__content {
  color: inherit !important;
  background-color: #f9f9f9;
  -webkit-box-shadow: 4px 4px 0px 0px #dbdbdb;
  -moz-box-shadow:    4px 4px 0px 0px #dbdbdb;
  box-shadow:         4px 4px 0px 0px #dbdbdb;
  position: relative;
  cursor: pointer;
  display: block;
}
  .acc-thumb__content:hover,
  .acc-thumb__active {
    background-color: #ffffff;
  }
  .acc-thumb__active:before {
    font-family: 'melia-icons';
    font-size: 1.5em;
    color: #ee6e02;
    content: '\e650';
    position: absolute;
    top: .2em;
    left: .35em;
  }
.acc-thumb__content,
.acc-thumb__body {
  padding: .75em;
  line-height: 1.5;
  font-size: 1.1em;
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}
.acc-thumb__body {
  border-left: 1px solid #c7c7c7;
}
.acc-thumb__icon {
  padding: .75em;
  color: #ee6e02;
}
  .acc-thumb__icon i {
    font-size: 3.5em;
  }

.acc-thumb__body,
.acc-thumb__icon,
.acc-thumb__image {
  display: inline-block;
  vertical-align: middle;
  max-width: 25%;
}
.acc-thumb__image img {
  display: inline-block;
  max-width: 100%;
}
.acc-thumb__body {
  width: 50%;
  max-width: 100%;
}