main.reservation {
  -webkit-transition: margin-top .2s;
          transition: margin-top .2s;
}

main.reservation.showing-searched {
  margin-top: 111px;
}

main.reservation.showing-search {
  margin-top: 160px;
}

.reservation-search {
  background-color: #333;
  -webkit-transition: background-color .2s, height .2s;
          transition: background-color .2s, height .2s;
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 50px;
}

#coupon-form .form-group, #specialrates { padding-bottom: 8px}

.reservation-modify {
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 50px;
}

.showing-searched .reservation-search {
  overflow: hidden;
  height: 58px;
}

.showing-search .reservation-search {
  overflow: hidden;
  height: 106px;
}


@media(min-width: 992px) {
  .reservation-search.header-small {
    top: 37px;
  }
}
@media(max-width: 991px) {
  .showing-search .reservation-search {
    height: 162px;
  }
}

.reservation-search:hover {
  background-color: #444;
}

#searched,
.reservation-modify {
  text-transform: uppercase;
  color: #FFF;
  transition: margin-top .2s;
  -webkit-transition: margin-top .2s; 
}

.showing-search #searched {
  margin-top: -58px;
}


@media(max-width: 991px) {
  main.reservation.showing-search {
    margin-top: 215px;
  }
  .showing-searched .reservation-search {
    height: 58px;
  }
}

@media(max-width: 767px) {
  main.reservation {
    margin-top: 40px;
  }
  .showing-searched .reservation-search {
    height: 50px;
  }
  main.reservation.showing-searched {
    margin-top: 58px;
  }
  .showing-search #searched {
    margin-top: -58px;
  }
  .showing-search .reservation-search {
    height: 291px;
  }
  main.reservation.showing-search {
    margin-top: 294px;
  }
}


@media (min-width: 320px) and (max-width: 410px) {
   .showing-searched .reservation-search {
    height: 58px;
  }
}

.reservation-search #searched ul,
.reservation-modify #searched ul {
  display: table;
  margin-bottom: 0;
  /*min-height: 50px;*/
}

@media(max-width: 991px) {
  .reservation-search #searched ul,
  .reservation-modify #searched ul {
    height: 70px;
  }
}

@media(max-width: 991px) {
  .reservation-search #searched ul,
  .reservation-modify #searched ul {
    height: 50px;
  }
}

.reservation-search #searched ul li,
.reservation-modify #searched ul li {
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  text-align: center;
  padding: 14px 5px;
  font-weight: 700;
}

.reservation-search #searched ul li {
  cursor: pointer;
}

.reservation-search #searched ul li + li,
.reservation-modify #searched ul li + li {
  border-left: 1px solid #666;
  transition: border-color .2s;
}

.reservation-search:hover #searched ul li + li,
.reservation-modify:hover #searched ul li + li {
  border-color: #777;
  transition: border-color .2s;
}

.reservation-search #searched li span,
.reservation-modify #searched li span {
  display: block;
  font-weight: normal;
}

.reservation-search .destination {
  width: 24%;
}

.reservation-modify .destination {
  width: 22%;
}

.reservation-modify .modify-title {
  font-weight: 400;
  width: 20%;
}

.reservation-modify .modify-title .h3 {
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}

.reservation-search .dates,
.reservation-modify .dates {
  width: 16%;
}

.reservation-search .rooms,
.reservation-modify .rooms {
  width: 15%;
}

.reservation-search .ocupation,
.reservation-modify .ocupation {
  width: 15%;
}

.reservation-search .price,
.reservation-modify .price {
  width: 17%;
  font-size: 18px;
  text-align: left;
  padding-left: 15px;
}

.reservation-search .price span,
.reservation-modify .price span {
  font-size: 12px;
}

.reservation-search .modify,
.reservation-modify .modify {
  text-align: left;
  padding-left: 20px;
}

.reservation-search .modify i,
.reservation-modify .modify i {
  position: relative;
  top: 3px;
  left: 10px;
  line-height: 0;
}

.reservation-search .modify i:before,
.reservation-modify .modify i:before {
  font-size: 16px;
}

@media(min-width: 768px) and (max-width: 991px) {
  .reservation-modify .modify-title .h3 {
    font-size: 14px;
  }
  .reservation-search .price,
  .reservation-modify .price {
    width: inherit;
  }
  
  .reservation-search .modify,
  .reservation-modify .modify {
    text-align: center;
    width: 8%;
  }

  .reservation-search .modify i,
  .reservation-modify .modify i {
    top: 5px;
    left: 3px;
  }

  .reservation-search .modify i:before,
  .reservation-modify .modify i:before {
    font-size: 20px;
  }
}

@media(max-width: 767px) {
  .reservation-search .destination,
  .reservation-modify .destination {
    width: 86%;
    text-align: left;
    padding-left: 0;
  }
  .reservation-search .modify,
  .reservation-modify .modify {
    width: 22%;
  }
}

.reservation-header .h1 {
  float: left;
  margin-bottom: 0;
}

.reservation-header .h1 .back {
  font-size: 22px;
  padding-right: 10px;
  border-right: 1px solid #CCC;
  position: relative;
  margin-right: 10px;
}

.reservation-header .h1 .back i {
  font-size: 21px;
  position: relative;
  top: 2px;
}

@media(max-width: 767px) {
  .reservation-header .h1 {
    float: inherit;
    margin-bottom: 0;
  }
  .reservation-header .h1 .back i {
    font-size: 19px;
  }
}

.reservation-header .steps {
  float: right;
  margin-top: 45px;
  max-height: 35px;
}

.reservation-header .steps .text {
  float: left;
  margin-top: 6px;
}

.reservation-header .steps ul {
  display: inline-block;
  margin-left: 20px;
  color: #FFF;
  height: 5px;
  margin-top: 10px;
  background-color: #DDD;
}

.reservation-header .steps ul li {
  display: inline-block;
  width: 32px;
  height: 32px;
  position: relative;
  top: -13px;
}

.reservation-header .steps ul li + li {
  margin-left: 20px;
}

.reservation-header .steps ul li .path1,
.reservation-header .steps ul li .path2 {
  font-size: 32px;
}

.reservation-header .steps ul li .path1:before {
  color: #DDD;
}

.reservation-header .steps ul li.active .path1:before {
  color: #337ab7;
}

.reservation-header .steps ul li .path2:before {
  color: #EEE;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.reservation-header .steps ul li .number {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 12px;
  font-weight: 700;
}

.no-availability {
  background-color: #FFF;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.no-availability .h3 {
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid #CCC;
  margin-bottom: 25px;
}

.no-availability .h4 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
}

.no-availability .icon-alert {
  margin: 1px 10px 0 0;
  position: relative;
  top: 1px;
}

.h4.alternative {
  text-align: center;
  text-transform: uppercase;
  margin-top: 25px;
}

.no-data .title-description p {
  margin-bottom: 20px;
}

.tabpanel .dest-rewards {
  padding: 0;
  vertical-align: top;
  margin-top: 4px;
  border: 0;
  display: inline-block;
}

.tabpanel .dest-rewards strong {
  width: 50px;
  height: 50px;
}

.tabpanel .dest-rewards strong > span {
  font-size: 21px;
}

.tabpanel .dest-rewards strong > span span {
  font-size: 17px;
}

.tabpanel .text {
  display: inline-block;
  text-align: left;
}

.tabpanel .text span span {
  font-weight: normal;
  font-size: 14px;
}

.reservation .rooms-section article {
  margin-bottom: 2px;
}

.reservation .room {
  margin-bottom: 20px;
}

@media(min-width: 768px) and (max-width: 991px) {
  .reservation .rooms-section .img-container {
    height: 225px;
  }
}


.reservation .room footer {
  margin-top: 8px;
}

.reservation .room footer .price .from {
  text-transform: uppercase;
}

.reservation .room footer .conditions {
  text-align: right;
  font-size: 12px;
}

.reservation .room footer .alert {
  color: #FF7B4A;
  font-weight: 700;
  padding: 0;
  display: block;
  margin-bottom: 0;
  font-size: 14px;
}

@media(max-width: 767px) {
  .reservation .room footer {
    border-top: 1px solid #DDD;
    padding: 10px 10px 0 10px;
  }
  .reservation .room footer .price {
    float: left;
  }
  .reservation .room footer .price .from {
    display: block;
  }
  .reservation .room footer .conditions {
    float: none;
    text-align: left;
  }
}

.rooms-section .options {
  padding: 0;
  font-size: 13px;
}

.rooms-section .options section {
  padding: 5px 0 5px 5px
}

.rooms-section .options section + section {
  border-top: 1px solid #DDD;
}

.rooms-section .options article {
  margin-bottom: 0;
  padding: 0;
  box-shadow: none;
}

@media(min-width: 768px) {
  .reservation .room footer .conditions span {
    display: block;
  }
}


@media(min-width: 768px) {
  .rooms-section .options article section {
    display: table;
    width: 100%;
  }

  .rooms-section .options .header {
    display: table-cell;
    vertical-align: middle;
    background-color: #F2F2F2;
    border-left: 3px solid #0075C0;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px;
  }

  .rooms-section .options .option {
    display: table-cell;
    width: 87%;
    padding-left: 10px;
  }

  .rooms-section .options .option article {
    display: table;
    width: 100%;
    min-height: 75px;
    padding-left: 5px;
  }

  .rooms-section .options .option article + article {
    border-top: 1px solid #DDD;
  }

  .rooms-section .options .option article .details {
    display: table-cell;
    vertical-align: middle;
    width: 64%;
  }

  .rooms-section .options .option article .details .checks {
    float: left;
    width: 100%;
    margin: 10px 0 8px;
  }

  .rooms-section .options .option article .details .checks li {
    float: left;
    width: 33%;
    font-weight: 700;
  }


  .rooms-section .options .option article .details span {
    clear: left;
    display: inline-block;
    margin-bottom: 5px;
  }

  .rooms-section .options .option article .price {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    width: 20%;
    line-height: 1.1;
  }

  .rooms-section .options .option article .btn-container {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding: 0 10px 0 15px;
  }
}
@media(max-width: 991px) {
  .rooms-section .options .option article .details {
    width: 59%;
  }
  .rooms-section .options .option article .details .checks li {
    width: 50%;
  }
  .rooms-section .options .header {
    width: 16%;
  }
}

.rooms-section .options .option article .details .checks li:before {
  color: #0075C0;
  margin-right: 4px;
}

.rooms-section .options .option article .price > span {
  display: block;
}

.rooms-section .options .option article .price span.small {
  font-size: 18px;
}

@media(min-width: 768px) {
  .rooms-section .options .option article .price span.small span {
    display: block;
  }
}

.rooms-section .options .option article .btn-container a {
  padding-top: 8px;
  padding-bottom: 8px;
}

@media(max-width: 767px) {
  .rooms .big.nav-tabs li a {
    font-size: 14px;
    padding: 10px 0;
  }
  .rooms .big.nav-tabs li a .text strong {
    margin-bottom: 3px;
    display: inline-block;
  }
  .rooms .big.nav-tabs li a .text span {
    font-size: 12px;
  }

  .rooms .big.nav-tabs li a .text > span {
    float: left;
    line-height: 1.3;
  }

  .rooms .big.nav-tabs li a .text span .from {
    display: block;
  }

  .rooms-section .options section {
    padding: 0;
  }

  .rooms-section .options article {
    padding: 15px 8px;
  }

  .rooms-section .options article + article {
    border-top: 1px solid #DDD;
  }

  .rooms-section .options article .h4 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 0;
  }

  .rooms-section .options .option article .details {
    width: 100%;
  }

  .rooms-section .options .option article .details .checks li {
    width: 50%;
    float: left;
  }

  .rooms-section .options .option article .details span {
    clear: left;
    display: block;
    padding-top: 7px;
  }

  .rooms-section .options .option article .price {
    text-align: center;
    border: 1px solid #DDD;
    padding: 10px;
    margin-top: 10px;
  }

  .rooms-section .options .option article .btn-container a {
    width: 100%;
    margin-top: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

}

.checkout .reservation-header .h1 {
  text-align: left;
}

.checkout .reservation-header .h1 a {
  float: left;
}

.checkout .reservation-header .h1 span {
  float: left;
}

.checkout .reservation-header .h1 strong {
  display: block;
}
@media(min-width: 992px) {
  .checkout .reservation-header .h1 strong {
    display: inline;
  }
}

.checkout-aside {
  margin: 20px 0;
  overflow: hidden;
          transition: max-height .5s;
  -webkit-transition: max-height .5s;
}

.checkout-aside.opened {
  max-height: 900px !important;
}

@media(min-width: 768px) {
  .checkout-aside {
    max-height: inherit !important;
  }
}

.checkout-aside .bg-white {
  padding: 10px 10px 10px 10px;
}

@media(min-width: 1200px) {
  .checkout-aside .bg-white {
    padding: 25px 25px 25px 25px;
  }
}

.checkout-aside header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}

.checkout-aside .h1 {
  font-family: 'lato';
  font-size: 18px;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 0;
  padding-top: 20px;
  cursor: pointer;
}

.checkout-aside img {
  display: inline-block;
  margin: 10px 0; 
}

.checkout #colapse-header i {
  float: right;
  position: relative;
  top: -2px;
  color: #0075C0;
}

.checkout-aside .h2 {
  margin: 0;
  text-transform: inherit;
  font-family: 'lato';
  font-size: 18px;
  line-height: 1.4;
  font-weight: 600;
}

.checkout-aside .stars {
  display: inline-block;
  line-height: 1;
  color: #FFBF00;
  position: relative;
  left: -5px;
}

.checkout-aside header p {
  color: #888;
}

.checkout-aside .details {
  border-bottom: 1px solid #EEE;
  margin-bottom: 10px;
}

.checkout-aside .details dt {
  float: left;
  width: 33%;
  margin-right: 2%;
}

.checkout-aside .details dd {
  float: left;
  width: 65%;
  margin-bottom: 8px;
  color: #888;
}

.checkout-aside .rates {
  color: #888;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEE;
}

.checkout-aside .rates li {
  padding: 2px 0;
}

.checkout-aside .rates li span {
  float: right;
}

.checkout-aside .total {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 3px;
}

.checkout-aside .total span {
  float: right;
  font-size: 20px;
  line-height: 0.8;
}

.checkout-aside .legal {
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 3px;
}

.checkout-aside .legal i {
  margin-right: 4px;
  position: relative;
  top: 1px;
}

.checkout-aside .legal dd {
  margin-bottom: 20px;
  color: #888;
}

.checkout .hurry-up {
  margin: 20px 0 15px;
}

.checkout .hurry-up i {
  float: left;
  color: #0075C0;
  padding: 10px;
  font-size: 22px;
}

.checkout .hurry-up span {
  margin-top: 13px;
  display: inline-block;
}

.checkout-form {
  padding: 12px;
  margin-bottom: 30px;
}

.checkout-form header {
  background-color: #F2F2F2;
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
}
.checkout-form header strong {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 7px;
}

.checkout-form header a {
  padding: 5px 25px;
}

.checkout-form header a span {
  float: left;
  display: inline-block;
}

.checkout-form header a i {
  font-size: 18px;
  margin-left: 5px;
  float: left;
}

.checkout-form p {
  margin-bottom: 20px;
  font-size: 12px;
  text-align: left;
}

@media(min-width: 768px) {
  .checkout-form .price-cond {
    text-align: right;
  }
} 

.checkout-form section + section {
  padding-top: 20px;
  border-top: 1px solid #EEE;
}

.checkout-form section .h1 {
  font-family: 'lato';
  font-size: 18px;
  margin: 15px 0 25px;
  font-weight: 700;
}

@media(min-width: 992px) {
  .checkout-form .form-horizontal .control-label {
    text-align: right;

  }
}

@media(max-width: 991px) {
  .checkout-form .form-horizontal .control-label {
    margin-bottom: 5px;

  }
}

.checkout-form .btn-group.custom {
  border: 1px solid #bbb;
  background: #F2F2F2;
}



.checkout-form .btn-group.custom .btn {
  box-shadow: none;
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: normal;
  color: #333;
  position: relative;
  z-index: 2;
  padding: 14px 30px 10px 30px;
}

@media(max-width: 991px) {
  .checkout-form .form-horizontal .control-label {
    margin-bottom: 5px;
  }
  .checkout-form .btn-group.custom {
    width: 100%;
  }
  .checkout-form .btn-group.custom .btn {
    width: 50%;
  }
}

.checkout-form .btn-group.custom .btn:hover {
  color: #008C00;
}

.checkout-form .btn-group.custom .btn.active {
  color: #008C00;
  font-weight: 700;
}

.checkout-form .btn-group.custom .background {
  position: absolute;
  top: 2px;
  bottom: 2px;
  background-color: #FFF;
  border-radius: 2px;
  border: 1px solid #EEE;
  z-index: 1;
          transition: width .3s, left .3s;
  -webkit-transition: width .3s, left .3s;
}

.checkout-form fieldset legend,
.checkout-form fieldset .legend {
  padding-top: 16px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
}

@media(min-width: 992px) {
  .checkout-form fieldset legend {
    text-align: right;
  }
}

.checkout-form textarea {
  resize: none;
}

.checkout-form .alert-success .icon-alert-success {
  display: inline-block;
  margin-right: 15px;
}

.checkout-form .alert-success .h3 {
  font-size: 16px;
  margin: 3px 0;
  font-weight: 700;
}

.checkout-form .alert-success p {
  margin-bottom: 0;
}

.checkout-form .cards {
  margin-top: 10px;
  margin-bottom: 15px;
}

.checkout-form .cards img {
  margin-right: 7px;
}

@media(max-width: 360px) {
 .checkout-form .cards img {
    margin-right: 0px;
  }   
}

.checkout-form .cvv-modal {
  position: absolute;
  top: 11px;
  right: -22px;
  font-size: 22px;
  cursor: pointer;
}

#billing-data {
  display: none;
}

.checkout-form .price .now {
  line-height: 1.25;
}

.checkout-form .price.hotel {
  margin-top: 15px;
  margin-bottom: 10px;
}

.checkout-form .price.hotel .now {
  line-height: 0.65;
}

.checkout-form .legal button[type="submit"] {
  float: right;
  padding: 16px 90px;
  font-size: 16px;
}

@media(max-width: 991px) {
  .checkout-form .legal button[type="submit"] {
    float: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.checkout-form .login-form {
  background-color: #F0f0f0;
  padding: 10px;
  margin-bottom: 15px;
  display: none;
  position: relative;
}

.checkout-form .login-form .btn {
  float: right;
}

#close-login-form {
  font-size: 18px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.checkout-form .cvv-modal {
  right: -20px;
}

.checkout-form .cvv-modal i {
  position: static;
}

.modal-cvv .h4 {
  font-family: 'lato';
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 2px;
}

.modal-cvv p {
  margin-bottom: 20px;
}

.modal-cvv img {
  min-width: 100%;
}

.checkout-form .points-selector {
  border: 0;
}

.checkout-form .points-selector p {
  margin-bottom: 4px;
  float: none;
  text-align: center;
}

.checkout-form #slider-select-points {
  width: 50%;
}

.checkout-form .points-euros {
  background-color: #F2F2F2;
  padding: 10px;
}

.points-euros .h4 {
  text-transform: uppercase;
  margin-bottom: 2px;
}

.points-euros .left {
  float: left;
}

.points-euros .price {
  float: right;
  font-size: 22px;
  margin-top: 12px;
  font-weight: 700;
}

.modal-present .first {
  padding-left: 30px;
  position: relative;
  margin-bottom: 30px;
}

.modal-present .orange i {
  font-size: 20px;
  position: absolute;
  top: -2px;
  left: 5px;
}

.modal-present,
.modal-rates,
.modal-cvv {
  padding: 15px;
}

.modal-present .orange {
  color: #FF7B4A;
  font-weight: 700;
}

.modal-present .h1,
.modal-rates .h1 {
  text-align: center;
  margin-bottom: 20px;
}

.modal-present ul,
.modal-rates ul {
  margin-bottom: 40px;
}

.modal-present li,
.modal-rates li {
  margin-bottom: 18px;
}

.modal-present li:before,
.modal-rates li:before {
  color: #0075C0;
}

.confirmation section { margin-bottom: 20px;}
.intro-reservation .tit-field { text-transform: uppercase; display: block; color: #858585; letter-spacing: 1px; font-size: 12px; padding-bottom: 10px}
.intro-reservation .value { display: block; text-transform: uppercase; font-size: 18px; font-weight: 700; line-height: 20px; margin-bottom: 5px;}
.intro-reservation .value span { font-size: 14px; font-weight: 400;  color: #858585; text-transform: none;}
.intro-reservation { border-bottom: 1px solid #eee;padding: 10px 0}
.intro-reservation .small-text { padding-top:10px;}

.confirmation-banner {}
.confirmation-banner .value { display: block; float: left; height: 88px; margin-left:10px;width: 88px; position: relative; color: #fff; font-size: 44px; background: #0075C0;
-webkit-border-radius: 88px;
-moz-border-radius: 88px;
border-radius: 88px;
}
.confirmation-banner .value span.cipher { display: block; position: absolute; width: 100%; top: 15px; letter-spacing: -4px; text-align: center;}
.confirmation-banner .value span.cipher span { display: inline-block; font-size: 18px; padding-left: 4px}
.confirmation-banner .cont { margin-left: 118px; padding-right: 20px;}
.confirmation-banner .h2 { font-size: 14px; font-family: 'lato', sans-serif}
.confirmation-banner .h2 strong { font-size: 24px; display: block; font-family: 'avalon', sans-serif}
.confirmation-banner .banner-desc { font-size: 18px; line-height: 20px}
.small-text { color: #999999; font-size: 12px; }
.confirmation-banner .small-text { padding-top:0; padding-bottom: 0}

.summary { padding: 10px 0 0 0; border-bottom: 1px solid #eee; margin-bottom: 20px;}
.summary .row { margin: 0 10px; border-bottom: 1px solid #eee; padding-bottom: 1px; margin-bottom: 1px}
.summary .item { display: table-cell; vertical-align: top;}
.summary .tit-field { display: block;}
.summary .value { font-size: 14px; font-weight: 700; margin: 10px 0; display: inline-block;}
.summary .tit-row { background: #F2F2F2; border-left: 2px solid #0073C3; padding:25px 15px; vertical-align: middle;}
.summary .tit-field { text-transform: uppercase; display: block; color: #858585; letter-spacing: 1px; font-size: 12px; padding: 5px 0}
.summary .value {}

.summary-table { width: 98%; margin:1%; border-bottom:1px solid #eee; margin-top: 10px; margin-left: 10px}
.summary-table td { text-align: right; padding: 8px 0; font-weight: 700}
.summary-table tr { border-top:1px dashed #eee }
.summary-table th { text-transform: uppercase;}
.summary-table caption { text-transform: uppercase; letter-spacing: 1px; font-size: 12px}
.summary-table .highlight { color: #008D00}

.cross-sel .item { padding-bottom: 30px;}
.cross-sel .item img { max-width: 100%}
.cross-sel .item .h2 { font-size: 16px; font-weight: 700; margin-bottom:0 }
.cross-sel .sub-text { display: block; clear: both; color: #666; text-transform: uppercase; font-size: 12px; letter-spacing: 1px}
.cross-sel .price { font-size: 24px; font-weight: bold; display: block; margin-top: 10px}
.cross-sel .button-cont { margin-top: 10px}
.cross-sel .button-cont .sub-text { margin-bottom:4px; color: #333; font-weight: 700 }

.search-car.row { border-bottom:1px solid #eee; margin: 0 10px; padding: 15px 0 }
.search-car.row label { text-align: right; padding-top: 14px; text-transform: uppercase;}
.search-car .text-to { text-transform: uppercase; padding:14px 0 0 20px }
.btn-only .btn-footer { padding: 15px 0}

.faqs {
 padding: 5px;
}

.chapter {
  margin: 0 10px;
  padding-bottom: 10px;
  color: #999;
}

.chapter p {

}

.chapter + .chapter {
  border-top: 1px solid #DDD;
}

.chapter .h2 {
  font-family: 'lato', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 19px;

}

 .h4.chapter  {
    font-family: 'lato', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 19px;
  text-transform:uppercase;
  color: #999;
  margin: 10px 0 0 0
 }

.apps .h2 { font-weight: 700}
.apps .app-btn { padding-top: 64px}
.apps .app-btn a { display: block; margin-bottom: 10px;}
.apps .img { position: relative; height: 230px;}
.apps .img img { max-width: 100%; position: absolute; bottom: 0; left: 0}

@media(max-width: 991px){
  .apps .img {height: 230px}
  .apps .app-btn { clear: both; padding-top: 10px; margin-top: 10px; border-top:1px solid #eee }
  .apps .app-btn a { width: 50%; float: left; text-align: center;}
  .confirmation-banner .small-text { padding:0 10px  }
  .intro-reservation .value { font-size: 17px; line-height: 18px}
}

@media(max-width: 767px) {
  .intro-reservation { border-bottom: none; padding:10px 0 }
  .intro-reservation .value { border-bottom: 1px solid #eee; padding-bottom: 10px; margin-bottom:10px; }
  .summary { padding: 0}
  .summary-table { width:94%}

  .summary .row { border-bottom: 0}
  .summary .item { display: block; border-top: 1px solid #eee; padding: 5px 0}
  .summary .tit-row {border-top: 2px solid #0073C3; border-left: 0; padding: 10px 15px; text-align: center; }
  .summary .btn-footer {border-top: 1px solid #eee; margin-top: 0; padding-top:20px; }
  .btn-footer a { width: 100%}

  .search-car.row label { text-align: left; padding-left: 0}
  .search-car .text-to { padding-left:0 }

  .confirmation-banner .h2 { margin-top: 0}
  .confirmation-banner { text-align: center;}
  .confirmation-banner .value { float: none; text-align: center; margin-top: 10px; margin-left:0; display: inline-block;}
  .confirmation-banner .cont { margin: 10px}

  .cross-sel .row { margin: 0}
  .cross-sel .item { border-top: 1px solid #eee}
  .search-car.row { border-bottom: 0; padding-bottom: 0}

  .apps { text-align: center;}
  .apps .img img { position:inherit;}

}

.icon-printer {
  font-size: 24px;
  position: relative;
  top: 4px;
  left: 3px;
}

.btn-footer .btn .icon-exit {
    font-size: 24px;
    margin-bottom: 0;
    float: right;
    margin-left: 10px;
    margin-top: 0;
}
.btn-footer .btn .icon-add-calendar {
  font-size: 19px;
    float: right;
    margin-left: 10px;
}

.btn-footer .btn .icon-printer {
    font-size: 24px;
    margin-top: -4px;
    margin-bottom: 4px;
    margin-left: 10px;
    display: inline-block;
}

.share-module { border-bottom: 1px solid #f2f2f2}

.share-module ul { margin: 10px 0 0 0}
@media(min-width: 768px) {
  .share-module ul {
    margin: 30px 0 25px;
   }
}
  .share-module ul.left {
    float: left;
  }

  .share-module ul.right {
    float: right;
  }


.share-module ul lh {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  color: #999;
  margin-right: 20px;
  float: left;
  margin-top: 10px;
}

.share-module ul li {
  float: left;
  margin-right: 8px;
}

.share-module ul li a {
  font-size: 35px;
}

.share-module ul.right li {
  margin-top: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #999;
}

.share-module ul li.send {
  margin-right: 50px;
}

.share-module ul.right li a {
  float: right;
  margin: -11px 10px 0 10px;
}

/*Modal no hay resultados reserva*/

.modal-cancelar-reserva {
    margin-top: 15px;
    margin-bottom:15px;
}

.modal-cancelar-reserva .h1 {
    font-size: 30px;
}

.modal-cancelar-reserva .icon-error {
    display: block;
    margin: 40px 0px 30px;
    font-size: 70px;
    color: #FF3F00;
}

.cancel-titulo {
    font-size: 24px;
    color: #FF3F00;
    margin-bottom: 20px;
    font-weight: bold;
}

.cancel-text {
    font-size: 20px;
    color: #333;
    margin: 0px 20px 60px 20px;
}
