.row-restaurante {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 40px;
  margin-top: 40px;
}
@media (max-width: 680px) {
  .row-restaurante {
    margin-top: 20px;
    padding-bottom:20px;
  }
  .aside-outlined { text-align: center;}
}
.row-restaurante .restaurante-foto {

}
.row-restaurante .restaurante-foto img {
  width: 100%;
}
.row-restaurante .restaurante-foto .media-icon {
  position: absolute;
  right: 20px;
  bottom: 10px;
  padding: 15px;
}
.row-restaurante .restaurante-foto .media-icon i {
  font-size: 23px;
}

@media(min-width: 992px) {
  .row-restaurante .restaurante-content {
    padding-left: 50px;
    font-size: 15px;
  }
  .row-restaurante>.restaurante-content:first-child {
    padding-left: 0;
    padding-right: 50px;
  }
  }

.row-restaurante .restaurante-content .h2 {
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 20px;
}

.row-restaurante .list-long li {
  padding-bottom: 5px;
}

.row-restaurante .btn {
  margin-top: 20px;
  padding: 8px 17px;
}

.row-restaurante .restaurante-content ul {
  font-size: 15px;
}

.row-restaurante .restaurante-content .more-trigger {
  font-size: 15px;
  padding-left: 10px;
}

.wrapper-reserva,
.wrapper-comprar {
  text-align: center;
  padding: 20px 0;
}

.wrapper-reserva .btn,
.wrapper-comprar .btn {
  padding: 10px 40px;
}

.wrapper-comprar {
  text-align: center;
  padding: 20px 0;
}