body {background-image: url(../img/bg_rewards01.png); background-attachment: fixed; }

.no-shadow {box-shadow: 0 0 0 0 rgba(255,255,255,0);}
.reward-header header {box-shadow: 0 -1px 5px #fff;-webkit-box-shadow: 0 -1px 5px #fff;border-bottom: 1px solid #F2F2F2;}
.reward-header header .nav-menu-closed > li > a:hover,
header.rew-head.affix .nav-menu-closed > li > a.active,
header.rew-head.affix .navbar-navigation a.active [class^="icon-"]:before,
.nav-menu-closed > li > a.active,
.nav-menu-closed > li > a.active:hover,
.nav-menu-closed > li > a.active:focus{
   background-color:#F0F0F0;
  color: #0075C0;
  border-top: none;
}
.demi-white {background-color: #F2F2F2}

@media (max-width: 767px){
  .navbar-brand {
      background: url('../img/logo_header.png') no-repeat 0 0;
  }
}

.rwd-main {background-color: #fff;position: relative;z-index: 801;width:100%;top:0;-webkit-transition: top .5s;transition: top .5s;}
.rwd-main.affix {position: fixed;top: 35px;z-index: 13;border-bottom:1px solid #F2F2F2;-webkit-transition: top 1s;transition: top 1s;}
@media(max-width: 991px) {
  .rwd-main.affix{
    top: 48px;
  }
}
.rwd-main.affix .reward-nav {margin-top: 2px;height: 35px;min-height: 35px;}
.rwd-main.affix .reward-nav li {min-height: 35px;;}
.rwd-main.affix .reward-nav li a {min-height: 35px;line-height:35px;}
.reward-nav {margin-bottom: 0;min-height: 45px;}
.reward-nav li {min-height: 45px; border-right: 1px solid #F2F2F2;}
.reward-nav li a {min-height: 45px;line-height:45px;background-color:transparent;color:#333333;text-transform:uppercase;padding: 0 15px;margin-top: 2px;border-radius: 0;}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {color: #333333;background-color: transparent; border-top: 2px solid #0075C0;margin-top: 0;}
.nav>li>a:hover, .nav>li>a:focus {text-decoration:none;background-color:transparent;border-top: 2px solid #0075C0;margin-top: 0;}

.reward-nav-select {width: 100%;text-align: center;padding: 0; background: #fff}
.btn-nav-title {background-color: transparent;color: #0075C0;border: none;margin:0;padding:16px 20px;font-size: 16px;font-weight: 700;text-transform: uppercase;font-family: 'avalon', sans-serif;}
.btn-nav-title:hover, .btn-nav-title:active, .btn-nav-title:focus, .btn-nav-title:visited 
.btn-nav-title:active:hover, .btn-nav-title.active:hover,.open>.dropdown-toggle.btn-nav-title:hover, 
.btn-nav-title:active:focus, .btn-nav-title.active:focus, .open>.dropdown-toggle.btn-nav-title:focus, 
.btn-nav-title:active.focus, .btn-nav-title.active.focus, .open>.dropdown-toggle.btn-nav-title.focus {background-color: transparent;color: #0075C0;}
.btn-default:active:hover, .btn-default.active:hover, .open>.dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open>.dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: transparent;
  color: #333;
  background-color: transparent;
}

.rewardsNav {width: 100%;margin: 0;border: none;border-radius: 0;}
.rewardsNav > li {text-align: center;}
.rewardsNav > li a:hover {background-color: transparent;cursor: pointer;}
.rewardsNav > li > a > span {text-transform: uppercase;font-size: 16px;font-weight: 700;color: #0075C0;display: block;height: 40px; line-height: 40px;}

.carousel-layer {position:absolute;top:0;left:0;}

.carousel-rewards-caption {position: absolute;top: 0;left: 10%;bottom: inherit;z-index: 10;padding-top: 20px;padding-bottom: 20px;}
.carousel-rewards-caption p.first-line {text-transform: uppercase; font-size: 22px; width: 50%}
.carousel-rewards-caption p.second-line {height: 75px; width: 37%; padding-left: 84px;padding-top:20px;}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.carousel-inner .carousel-rewards-caption .h1 img {
  width: auto;
  min-width: inherit;
  min-height: inherit;

}
@media(max-width: 767px) {
  #carousel-home .item {
    height: 310px;
  }
  .carousel-inner>.item>img {
    min-width: 100%;
    height: 100%;
    max-width: none;
  }
  .carousel-rewards-caption .h1 {
    margin-top: 10px;
  }
  .carousel-rewards-caption .h1 img {
    width: 150px;
  }
}

.moments .grid-item .image {
  height: 300px;
}

.moments .grid-item.half {
  margin-bottom: 10px;
}
.moments .grid-item.half .image {
  height: 145px;

}
.grid-item .visible-hover {
  visibility: hidden;
  padding: 0 20px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
}
.grid-item .caption.no-color {
  background: transparent;
}
.grid-item:hover .caption.no-color {
  background-image: url('../img/bg-grid.png');
}
.grid-item:hover .visible-hover {
  visibility: visible;
}
.reward-center-text {text-align: center;}
.btn.carousel {box-shadow: none; margin-top: 10px}
@media(min-width: 992px) {
  .btn.carousel {margin-top: 30px;}
}
.navbar-navigation ul > li > a {border-top: none !important;}
.nav-pills>li+li {margin-left: 0;}
.item-reward-ventaja {position: relative;padding:0 25px;margin-left: auto;margin-right: auto;margin:30px 0;}
.item-reward-ventaja article {margin-top: -36px}
.item-reward-ventaja .image {margin: 22px auto; width: 140px;}
.item-reward-ventaja .t1 {text-transform: uppercase;letter-spacing: 1px;margin-bottom: 8px}
.item-reward-ventaja .t2 {letter-spacing: 1px;color: #666;font-weight: 500;margin: auto;width: 100%;font-size: 0.9em}
#rwd-ventaja1 {border-right: 1px solid #F2F2F2;
margin-bottom: 30px;}
#rwd-ventaja3 {border-left: 1px solid #F2F2F2;
margin-bottom: 30px;}
#rwd-ventaja4 {border-left: 1px solid #F2F2F2;
margin-bottom: 30px;}

@media (max-width: 992px) {
#rwd-ventaja3 {clear:left;}
}

.reward-app { padding-bottom: 40px}
.app-desc p {width: 100%;position: relative;top: 15px;left: 0px;letter-spacing: 1px; padding-bottom: 30px}
.app-desc a {font-size: 0.85em;}
.app-img  img {max-width: 265px;}

.row-meliareward {margin-top: 35px; margin-bottom: 40px;}
.row-meliareward .canje-img {overflow: hidden;width: 100%}
.row-meliareward .canje-img > img {width: 100%; margin-bottom: 20px;}
.row-meliareward .canje-desc .h2 {font-size: 20px; margin-top: 0;}
.row-meliareward .canje-desc p {letter-spacing: 1px;}

.reward-close {padding-left: 0;padding-right: 0;}
.reward-close .container { position: relative;}
.reward-cierre {position: relative; overflow: hidden;}
.reward-cierre img {width: 100%; min-width: 1020px;left: -320px;position: relative;}
.reward-cierre img.layer {position: absolute; top: 0; left: 0; z-index: 10;min-width: 320px; max-width: 320px;width: 320px;}
.reward-cierre .cierre-desc {position: absolute; top: 30px; left: 30px; z-index: 11; width: 85%;}
.reward-cierre .cierre-desc p {color: #fff; font-size: 30px;font-family: 'avalon';line-height: 1;}
.reward-cierre .cierre-desc .btn {box-shadow: 0 0 0 0 rgba(255,255,255,0);padding: 12px 20px;position: relative;bottom: -150px;margin-left: auto;margin-right: auto;display: block;width: 280px;}


/*    VENTAJAS    */

.reward-main-ventajas .tab-content {background-color: #fff; margin: 0 -10px; padding-bottom: 60px}
.reward-main-ventajas .big.nav-tabs {padding-bottom: 0;margin:30px 0 0 0;background: transparent;}
.reward-main-ventajas .big.nav-tabs li {margin:0; border:0;}
.reward-main-ventajas .big.nav-tabs li.active, .reward-main-ventajas .big.nav-tabs li:hover {border-top: 3px solid #0073C3;background-color: #fff;}
.reward-main-ventajas .big.nav-tabs li.active a, .reward-main-ventajas .big.nav-tabs li:hover a {border-top: 0;}
.tab-ventajas-title {text-align: center;display: block;margin-top: 30px;margin-bottom: 20px;}
.tab-ventajas-title img { max-width: 100%}
.reward-main-ventajas .item-reward-ventaja {padding: 0 15px;}
.reward-main-ventajas .item-reward-ventaja p {margin: 0 15px 30px 15px;color: #666666}
.reward-main-ventajas .item-reward-ventaja ul {position: relative;}
.reward-main-ventajas .item-reward-ventaja li {
  position: relative;
}
.reward-main-ventajas .item-reward-ventaja li:before {content: "\e616";font-family: 'melia-icons'; position: relative;     position: absolute;
    left: -32px;
    font-size: 20px;
    top: -4px;
    color: #2db200;}
.reward-main-ventajas .item-reward-ventaja li {margin-left: 40px; margin-bottom:30px;color: #666;}
.reward-main-ventajas .item-reward-ventaja li span {color: #999;}

@media (max-width: 992px) {
  .reward-main-ventajas .item-reward-ventaja {
    padding: 0 30px;
  }
}

/*    PARTNERS    */
.reward-main-partners {background-image: url(../img/bg_rewards01.png); background-attachment: fixed;}
.reward-main-partners .grid-item.featured .footer .title {float: left;width: 66%;height: 35px;}
.reward-main-partners .grid-item .footer p {height:85px;border-bottom:1px solid #CCC;padding-bottom: 7px;text-align:left;}
.reward-main-partners .grid-item.featured p {height:35px;padding-bottom: 0;border-bottom: none;}
.reward-main-partners .grid-item .btn {margin-top: 0;}
.reward-main-partners .rewards-grid-partners .grid-item .caption .h1 {font-weight: 700;}

.rewards-partners-banner {display: block;padding: 20px;margin-top:10px;margin-bottom: 10px;color: #1F1F1F;font-size: 20px; background-color: #fff;}
.rewards-partners-banner > div {display: block;position: relative;}
.rewards-partners-banner > div.text {display: block;line-height:40px;margin-left: 15px; float: left;}
.rewards-partners-banner .btn-primary { float: right;}
.rewards-partners-banner img { float: left;}

.rewards-menu-partners-select {width:400px;margin:auto;text-align:center; position:relative;}
.btn-title {background-color: transparent;color:#1F1F1F;border:none;margin: 30px 0 0 0;font-size: 30px;font-weight: 400;text-transform: uppercase;font-family: 'avalon', sans-serif;}
.dropdown-toggle.btn-default {background-color: transparent;color:#0075C0;border: none;font-weight: 300;}
.rewards-menu-partners-select .dropdown-toggle.btn-default { color: #333}
.input-group-btn, .btn-default.active, .dropdown-toggle.btn-default, .open>.dropdown-toggle.btn-default{box-shadow: inset 0 3px 5px rgba(0,0,0,0);outline:none;}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {outline: none;}

ul.rewardsCategory {width: 300px;height:auto;padding:5px 0 10px 0;margin: 0; left:50px;float:none;border-radius: 0;-webkit-box-shadow: 3px 3px 0 0 rgba(0,28,83,0.10);box-shadow: 3px 3px 0 0 rgba(0,28,83,0.10);}
ul.rewardsCategory > li {margin: 0 5px 0 5px; height: 40px;border-bottom: 1px solid #F1F1F1;}
ul.rewardsCategory > li a {background-color: transparent;cursor: pointer;color:#0075C0;}
ul.rewardsCategory > li > a > span {font-size: 18px;line-height: 40px;margin-left: 12px;}
ul.rewardsCategory li a:hover { background:#0073C3; color: #fff;cursor: pointer;}

/*.back-arrow {position: absolute;top:150px; text-transform: uppercase;}*/
.back-arrow { float: left; margin-top: 50px; text-transform: uppercase;}
.back-arrow:hover {color:#0075C0;}
.back-arrow, .back-arrow:active, .back-arrow:focus {color:#989898;}
.back-arrow > .icon-previous {margin-right:10px;}

@media (max-width: 767px) {
  .back-arrow { float: none; display: block; text-align: center; margin-top: 15px; margin-bottom: -20px
  }
}

section.rewards-partner-detail .image img {width:100%;margin-bottom:50px;}
section.rewards-partner-detail.change .image img {margin-bottom: 0px}
section.rewards-partner-detail .h2 {margin-bottom:20px;font-size:16px;font-weight:700;}
.rewards-partner-detail .logo { text-align: center; margin-bottom: 30px; margin-top: 30px;}

.partners-app .download-apps {margin: 30px auto;}
.partners-app .download-apps a {margin: 0 7px;}
.parteners-app-content {background-color: #fff; padding: 10px 10px 60px 10px;}
.parteners-app-content ul {position: relative;}
.parteners-app-content li:before {display:block;background: url(../img/melia-sprite.png) no-repeat -79px -80px; width: 16px; height: 12px;position:absolute;left:0;content: "";}
.parteners-app-content li {margin-left: 40px; margin-bottom:15px;color: #666;}
.parteners-app-content li span {color: #999;}
.parteners-app-content .image > img {margin-top:30px;}

.rewards-grid-partners-category .caption {background-image: none}

.reward-register {background-color: #fff;}
.reward-register > section > form {width: 100%;margin:35px auto 130px auto;}
.rewards-register-title .btn-group {background-color: #F1F1F1; border: 1px solid #BABABA;margin-left: 10px;padding: 2px;}
.rewards-register-title .btn-group > .btn-default {border: 1px solid #F1F1F1; font-weight: 300;color: #777;margin: 0;}
.rewards-register-title .btn-group > .btn-default.active {background-color: #fff;border: 1px solid #E2E2E2;color: #008C00;}
.rewards-register-captcha {margin-top:25px; }
.rewards-register-terms {margin-top:35px; }
.rewards-register-create {margin-top:45px; }
.rewards-register-create > .btn {padding-top: 16px;padding-bottom: 16px;}

@media (max-width: 767px){
  .carousel-rewards-caption {left: 10%;top: -10px;right: 10%;}
  .carousel-rewards-caption p.first-line {font-size: 15px;width: 100%;}
  .carousel-rewards-caption p.second-line {width: 100%;}
  .btn.carousel {
    width: 100%;
    padding-top: 8px;
  }

  .reward-main-partners .rewards-grid-partners .grid-item .image, .reward-main-partners .rewards-grid-partners .grid-item.featured .image {height: 200px;}
  .parteners-app-content .image > img {margin-top:30px;}
}

@media (max-width: 320px) {
  .rewards-menu-partners-select {width:100%;}
  .btn-title {font-size: 25px;}
  ul.rewardsCategory {left:0px;}

}
@media (min-width: 480px) {
  .reward-main-partners .rewards-grid-partners .grid-item .image img, 
  .reward-main-partners .rewards-grid-partners-category .grid-item .image img {margin-top: -50px;}
}
@media (min-width: 640px) {
  .item-reward-ventaja {}
  .item-reward-ventaja .t2 {font-size: 0.9em}
  .app-desc p {width: 100%;}
  .row-meliareward .canje-img {overflow: hidden;}
  .reward-cierre img {width: 100%; min-width: 870px; left: 0;}
  .reward-cierre .cierre-desc {top:10px;width: 445px;}
  .reward-cierre .cierre-desc p {font-size: 40px;}
  .reward-cierre .cierre-desc .btn {font-size: 1em;}
  .reward-main-partners .rewards-grid-partners .grid-item .image img, 
  .reward-main-partners .rewards-grid-partners-category .grid-item .image img {margin-top: -100px;}
  .parteners-app-content .image > img {width: 100%;}
}

@media (min-width: 768px) {
  .item-reward-ventaja {}
  .item-reward-ventaja .t2 {font-size: 0.9em}
  .app-desc p {width: 100%;}
  .app-desc a {font-size: 1em;}
  .row-meliareward .canje-img {overflow: hidden;}
  .reward-cierre img {width: 100%; min-width: 1020px;left: 0;}
  .reward-cierre img.layer {min-width: 1020px; width: 100%;max-width: 100%}
  .reward-cierre .cierre-desc {top:30px; left: 50px; width: 500px;}
  .reward-cierre .cierre-desc p {font-size: 44px;line-height: 1.4;}
  .reward-cierre .cierre-desc .btn {font-size: 1em;bottom: 0;margin: 0;}
  #carousel-home .item {height: 400px;}
  .carousel-rewards-caption {left: 8%;top: -10px;}
  .btn-reward.carousel {margin-top: 90px;}
  
  .reward-main-partners .rewards-grid-partners .grid-item .image img, 
  .reward-main-partners .rewards-grid-partners-category .grid-item .image img {margin-top:0;}
  .parteners-app-content .image > img {width:auto;margin-top:30px;}
  .reward-register > section > form {width: 90%;}
}
@media (min-width: 992px) {
  .item-reward-ventaja .t2 {}
  .app-desc p {width: 395px; font-size: 16px}
  .app-desc a {font-size: 1em;}
  .app-img {position: relative;left: 30px;}
  .app-img img {margin-bottom: 20px}
  .reward-cierre img {width: 100%;left: 0;}
  .reward-cierre img.layer {min-width: 1020px; width: 100%;max-width: 100%}
  .reward-cierre .cierre-desc {top: 125px; left: 50px; width: 480px;}
  .reward-cierre .cierre-desc p {font-size: 40px;line-height: 1.4;}
  .reward-cierre .cierre-desc .btn {font-size: 1em;bottom:0;margin: 0;}

  #carousel-home .item {height: 430px;}
  .carousel-rewards-caption p.first-line {text-transform: uppercase;font-size: 22px;width: 50%;}
  .carousel-rewards-caption p.second-line {width: 36%;}
  .btn-reward.carousel {margin-top: 150px;}
  .reward-main-partners .rewards-grid-partners .grid-item .image img, 
  .reward-main-partners .rewards-grid-partners-category .grid-item .image img {margin-top: 0;}
  .parteners-app-content .image > img {margin-top:45px;}
  .parteners-app-content li {margin-bottom: 30px;}
  .reward-register > section > form {width: 70%;}
}
@media (min-width: 1200px) {
  #carousel-home .item {
    margin-top: 0;
  }
}

@media (max-width: 640px) {
  .reward-app { text-align: center;}
  .reward-main-ventajas .big.nav-tabs li a { font-size: 14px}


}
@media (max-width: 991px) {
  .rewards-partners-banner { text-align: center; font-size: 16px}
  .rewards-partners-banner > div.text { line-height: 20px; margin-bottom: 10px}
  .rewards-partners-banner .btn-primary, .rewards-partners-banner img { float: none;}
  .rewards-partners-banner > div.text { float: none;}
  .reward-main-partners .grid-item.featured .image { height: 220px;}
  .reward-main-partners .grid-item.featured .image { float: none;}
  .reward-main-partners .grid-item.featured .footer .title {float: none; width: auto; height: auto;}
  .reward-main-partners .grid-item .footer p {height: 85px; border-bottom: 1px solid #CCC; padding-bottom: 7px; text-align: left;}
  .reward-main-partners .grid-item.featured .footer { max-height: inherit; text-align: center;}
  .reward-main-partners .grid-item.featured .btn { float: none;}
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .reward-main-partners .grid-item.featured .image { height: 100%;}
}

/* SLIDER LOW HEIGHT */

.slider-low-height #carousel-home .item{
    height: 450px;
    margin-top: -100px;
}

.slider-low-height .carousel-caption, 
.slider-low-height .header-caption{
  top:35%;
}

@media (max-width: 767px){
  .slider-low-height #carousel-home .item {
    height: 210px;
    margin-top: -25px;
  }
  .slider-low-height #carousel-home .carousel-caption, .header-caption {
    left: 10%;
    right: 10%;
    top: 8%;
  }
  .slider-low-height .carousel-indicators {
    bottom: 5px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px){
  .slider-low-height #carousel-home .item {
     margin-top: -25px;
  }
  .slider-low-height #carousel-home .carousel-caption, 
  .slider-low-height .header-caption {
    top: 20%;
  }
}

@media (min-width: 1200px){
  .slider-low-height #carousel-home .item {
    margin-top: -100px;
  }
}

.form-group.icon-destination:before, .autocomplete-hotels-wrapper:before {
  left: 16px;
}

/*Secundary menu*/

.rewards-menu{background-color:transparent;}

.rewards-second-menu {
  padding-bottom: 2px;
  border-bottom:2px solid #f2f2f2;
  background: #fff;
  
}

.rewards-second-mobile {
  margin: 0 10px;
}

.rewards-second-mobile .btn-group {
  width: 100%;
  color: #0075C0;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
}
.rewards-second-mobile .btn {
  margin-bottom: 0px;
  border: 2px solid #0071C6;
}

.rewards-second-mobile .btn.btn-default {
    background: transparent;
    border: 2px solid #0071C6;
    color: #0071C6;
}


.rewards-second-mobile .btn.btn-default:active,
.rewards-second-mobile .btn.btn-default:hover{
    border: 2px solid #0071C6;
    background-color: #0071C6;
    color:#fff !important;
}

.rewards-second-mobile .open>.dropdown-toggle.btn {
  color: #0075C0;
  box-shadow: none;
}

.rewards-second-mobile .dropdown-menu {
  width: 100%;
}

.rewards-second-mobile .dropdown-menu>li>a {
  padding: 12px 20px;
  text-transform: uppercase;
}

.rewards-second-mobile .dropdown-menu>li:hover>a {
  background: #0071C6;
  color: #FFF;
}

.rewards-second-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  border-right: 1px solid #f2f2f2;
}

.rewards-second-menu ul li {
  margin-bottom: -2px;
  background-color: #fff;
  float: left;
  border-top: 1px solid #f2f2f2;
  border-left:1px solid #f2f2f2;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.rewards-second-menu ul li.active {
  border-top: 3px solid #0075C0;
}

.rewards-second-menu ul.items-7 li {
  width: 20%;
}

.rewards-second-menu ul.items-6 li {
  width: 16.66666666%;
}

.rewards-second-menu ul li a {
  display: table;
  width: 100%;
  height: 60px;
  color: #333;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
} 

.rewards-second-menu ul li + li a {
  border-left: 1px solid #FFF;
}

.rewards-second-menu ul li:hover a {
  color: #0075C0;
}

.rewards-second-menu ul li.active a {
  height: 57px;
  font-weight: 700;
  color: #0075C0;
}


.rewards-second-menu ul.items-7 li a {
  padding: 0 10%;
}

.rewards-second-menu ul.items-6 li a {
  padding: 0 17.109526606%;
}

.rewards-second-menu ul li a span {
  display: table-cell;
  vertical-align: middle;
}

header.rew-head.affix .navbar-navigation a:hover [class^="icon-"] {
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
}

.carousel-inner .carousel-rewards-caption .circle{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #0075C0;
    color: #FFF;
    font-weight: 400;
    text-align: center;
    font-family: 'avalon';
    float: left;
    margin-right: 10px;
}

.carousel-inner .carousel-rewards-caption .to-tag {
    margin-top: 15px;
    margin-bottom: -5px;
    padding-top: 0px;
    font-size: 14px;
}

.carousel-inner .carousel-rewards-caption .price {
    font-size: 34px;
    letter-spacing: 0;
}

.carousel-inner .carousel-rewards-caption .half-size {
    margin-left: -7px;
    display: inline-block;
}