/*-------------------------------------*\

  HEADER PRIV - REWARDS CHECKIN 

\*-------------------------------------*/
.rw-header-checkin{
	text-transform: uppercase;
	color: white;
}
.rw-header-checkin:hover{background-color: #333;}
.rw-header-checkin ul li{cursor: inherit;}
.rw-header-checkin .localizador{
	width: 24%;
	padding-left: 0px;
	text-align: left;	
}
.rw-header-checkin .localizador{font-size: 20px;}
.rw-header-checkin .localizador span{
	font-size: 12px;
	display:inherit;
}
.rw-header-checkin .localizador span strong{padding-right: 5px;}
@media (max-width: 991px){
	.rw-header-checkin .localizador{font-size: 16px;}
	.rw-header-checkin ul li{padding: 10px 5px;}
}
@media (max-width: 767px){
	.rw-header-checkin ul li{padding: 10px;}
	.rw-header-checkin .localizador{
		width: auto;
		font-size: 14px;
	}
	.rw-header-checkin .destination{
		width: auto;
		padding-left: 10px;
	}
}
@media (max-width: 479px){
	.showing-searched .rw-header-checkin{height: auto;}
}

/*Reservation header*/
@media (max-width: 991px) and (min-width: 768px){
    .reservation-header .header-large{width: 65%;}
	.reservation-header .header-large a{float: left;}
	.reservation-header .header-large span{
		max-width: 380px;
		float: left;
	}
}

/*-------------------------------------*\

  ASIDE - REWARDS

\*-------------------------------------*/
.rw-reservas-aside .checkout-aside{margin-top: 0px;}
.rw-reservas-aside .checkout-aside #colapse-header i{
  float: right;
  position: relative;
  top: -2px;     
}
/*-------------------------------------*\

  PÁGINA - REWARDS CHECKIN 

\*-------------------------------------*/
.rw-reservas-checkin{margin-top: 20px;}

/* Paso 1 */
.rw-checkin-p1-habitaciones .media .icon-alert-success{font-size: 35px;}
.rw-checkin-p1-habitaciones header .h1 {padding: 20px 0px;}
.rw-checkin-p1-habitaciones{margin-bottom: 20px;}
.rw-checkin-p1-habitaciones ul{
  margin-left: 5px;
  margin-bottom: 20px;
}
.rw-checkin-p1-options{
  margin-bottom: 70px;
  padding:15px 5px;
}
.rw-checkin-p1-options .btn-primary.btn-lg{padding: 14px 20px;}
.rw-checkin-p1-habitaciones .media{margin: 10px 0px;}

@media (max-width: 991px) and (min-width: 768px){
	.rw-checkin-p1-habitaciones .media{
		min-height: 60px;
		margin-top: 5px;
		margin-bottom: 0px
	}
	.rw-checkin-tu-habitacion .media{
		min-height: inherit;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.rw-checkin-p1-habitaciones header .h1{min-height: 89px;}
}
@media (max-width: 767px){
  .rw-checkin-p1-options .btn-primary{margin-top: 15px;}
}

.rw-reservas-checkin .img-container img { min-width: 100%}

@media (min-width: 1200px) {
  .reservation .rooms-section .img-container { height: 290px}

}

/* Paso 2 */
.rw-reservas-checkin .rw-checkin-p2{margin-bottom: 20px;}
.rw-reservas-checkin .rw-checkin-p2 article{box-shadow:none;}
.reservation .rw-reservas-checkin .rw-checkin-p2-servicio-extra{
    margin: 15px 15px 0px;
    padding: 5px 5px 20px;
    border-bottom: solid 1px #EEEEEE;
}
.rw-checkin-p2-servicio-extra .cerrar-edicion .icon-close{
	float: right;
	cursor: pointer;
	color:#0071C6;
	display: none;
}
.rw-checkin-p2-servicio-extra .h4{
	text-transform: uppercase;
	font-weight: bold;
	color: ##444444;
	font-size: 20px;
}
.rw-checkin-p2-servicio-extra .h4 i{
	vertical-align: middle;
	margin-right: 15px;
	font-size: 25px;
	color: #2278BD;
}
.descripcion-servicio{margin-top: 15px;}
.descripcion-servicio p{
	font-size: 16px;
	color: #858585;
}
.rw-checkin-p2-servicio-extra .servicio-anadido .icon-tick{
	font-size: 40px;
	color: rgb(45, 178, 0);
}
.rw-checkin-p2-servicio-extra .servicio-anadido .media-body{color:#777777;}

.rw-checkin-p2-servicio-extra .precio-servicio{
	margin-bottom: 15px;
	text-transform: uppercase;
	text-align: right;
	font-size: 12px;
}
	.rw-checkin-p2-servicio-extra .precio-servicio span{
		margin-left: 5px;
		font-weight: bold;		
		font-size: 28px;
	}

.rw-checkin-p2-servicio-extra .eliminar-servicio{
	display: block;
	margin-bottom: 15px;
	font-family: 'latoregular', sans-serif;
	text-transform: uppercase;
	text-align: right;	
	font-size: 12px;
	color: #444444;	
}
	.rw-checkin-p2-servicio-extra .eliminar-servicio i{
    	width: 30px;
    	position: relative;
    	display: inline-block;
		margin-right: 5px;
		font-size: 16px;
		color:#AAAAAA;
	}
		.rw-checkin-p2-servicio-extra .eliminar-servicio i:before{
			position: absolute;
			top: -12px;
			right: 0;			
		}

.rw-checkin-p2-servicio-extra .anadir-servicio,
.rw-checkin-p2-servicio-extra .eliminar-servicio,
.rw-checkin-p2-servicio-extra .modificar-servicio,
.rw-checkin-p2-servicio-extra .servicio-anadido,
.rw-checkin-p2-servicio-extra.active .tomar-servicio,
.rw-checkin-p2-servicio-extra.active .precio-servicio,
.rw-checkin-p2-servicio-extra.active.servicio-tomado .modificar-servicio,
.rw-checkin-p2-servicio-extra.active.servicio-tomado .eliminar-servicio,
.rw-checkin-p2-servicio-extra.servicio-tomado .precio-servicio,
.rw-checkin-p2-servicio-extra.servicio-tomado .tomar-servicio{display: none;}

.rw-checkin-p2-servicio-extra.active .icon-close,
.rw-checkin-p2-servicio-extra.servicio-tomado .modificar-servicio,
.rw-checkin-p2-servicio-extra.servicio-tomado .eliminar-servicio,
.rw-checkin-p2-servicio-extra.servicio-tomado .servicio-anadido{display:block;}

.rw-checkin-p2-servicio-extra.active{background-color: #F2F2F2;}

.anadir-servicio th{
	text-transform: uppercase;
	font-weight: normal;
	color:#444444;
}
.anadir-servicio tr{border-bottom: 1px solid #ddd;}
.anadir-servicio th,
.anadir-servicio td{padding: 10px;}
	.anadir-servicio .fecha-servicio{
		width: 80%;
		font-size: 20px;
		color:#333333;
	}
	.anadir-servicio .cantidad-servicio{
		width: 20%;
		padding-right: 0px;
	}
.anadir-servicio .total{
	padding-top: 24px;
	line-height: 10px;	
}
	.anadir-servicio .total span{
		margin-left: 10px;
	    font-weight: bold;
		font-size: 32px;
	}
.total-servicio-cont{margin-top: 30px;}

.rw-checkin-continuar,
.rw-checkin-finalizar{
	margin: -1px 0px 20px;
	padding: 30px 20px;
	border-top: 2px solid #EEEEEE;
}

@media (max-width: 767px){
	.anadir-servicio .total{margin-bottom: 20px;}
	.rw-checkin-p2-servicio-extra .eliminar-servicio{margin: 20px 0px 30px;}
	.anadir-servicio .fecha-servicio{font-size: 16px;}
}

/* Paso 3 */
.rw-checkin-form section{
	padding: 13px 25px 30px;
	position: relative;
}
	.rw-checkin-form .editar-huesped{
		position: absolute;
		top: 25px;
		right: 25px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 12px;
	}

	.rw-checkin-form .editar-huesped .icon-edit{font-size: 16px;}
	.rw-checkin-form .rw-checkin-editar-huesped{padding: 13px 25px 5px;}
	.rw-checkin-huesped .editar-huesped,
	.rw-checkin-editar-huesped *,
	.rw-checkin-form .rw-checkin-editar-huesped .h5{
		display: none;
	}
	.rw-checkin-form .rw-checkin-editar-huesped .h4,
	.rw-checkin-editar-huesped .editar-huesped{
		display: block;
	}
	.rw-checkin-form .rw-checkin-editar-huesped .h4 *,
	.rw-checkin-editar-huesped .editar-huesped *{display: inline;}
	.rw-checkin-editar-huesped .rw-checkin-p2-servicios-extra{padding-top: 15px;}

@media (max-width: 991px){
	.rw-checkin-form .rw-checkin-editar-huesped .h4 span{
	    margin-top: 10px;
	    display: block;
	}
}

	.rw-checkin-form .h4{
		margin-bottom: 15px;
		font-family: 'avalon', sans-serif;
		text-transform: uppercase;
		padding-right: 60px;
	}
		.rw-checkin-form .h4 span{
			font-size: 14px;
			color: #777777;
		}
	.rw-checkin-form .h5{
		margin-bottom: 40px;
		padding-top: 25px;
	    font-family: 'avalon', sans-serif;
		text-transform: uppercase;
		font-size: 16px;
		color: #333333;
		border-top: 1px solid #EEEEEE;	
	}
	.rw-checkin-form .btn-modal{
		position: absolute;
		top: 10px;
		right: -25px;/*-45px;*/
		font-size: 22px;
		cursor: pointer;	
	}

	.modal-dni img{max-width: 100%;}
	.rw-checkin-form .texto-checkin{
		font-size: 16px;
		color:#999999;
	}
	.rw-checkin-form .numero-de-vuelo{display: none;}
	/*Agregar huesped*/
	.rw-checkin-agregar-huesped{margin: 20px 0px;}
	.rw-checkin-agregar-huesped .acompanante-habitual{
		margin-top: 30px;
		padding: 20px 0px;
		border-top: solid 1px #EEEEEE;
	}
	.rw-checkin-agregar-huesped .h4{
		padding-bottom: 15px;
		border-bottom: 1px solid #EEEEEE;
	}
	.rw-checkin-agregar-huesped .h5.first{border-top: none;}
	.recuperar-datos-cliente,
	.rw-checkin-form-acompanante{
		padding: 15px;
		margin: 0 -5px;
		cursor: pointer;
		background-color: #F2F2F2;
	}
	.recuperar-datos-cliente span{color: #1E76C3;}
	.rw-checkin-form-acompanante{display: none;}
	.rw-checkin-form-acompanante .icon-close{
		float: right;
		color: #1E76C3;
	}
	.rw-checkin-form-acompanante .h5{
		margin: 5px 0px 20px;
		padding: 0px 30px 20px;
		text-align: center;
		font-size: 14px;	
	}
	.rw-checkin-form-acompanante .form-group{margin-bottom: 0px;}
	/*btns*/
	.rw-reservas-checkin .texto-confirmacion{
		display: block;
		margin-bottom: 40px;
		font-weight: normal;
		color: #999999;
	}
	.rw-reservas-checkin .btn-finalizar-checkin:disabled{
		background-color: #BBBBBB;
		border-color: #BBBBBB;
	}

	.rw-reservas-checkin .btns-cont{margin-top: 30px;}
	.rw-reservas-checkin  .btn-cancelar{
	    float: right;
	    margin-right: 50px;
	    padding-top: 15px;
	    font-family: 'latoregular', sans-serif;
	    font-size: 12px;
	    color: #999999;		
	}

	@media (max-width: 991px){
		.rw-reservas-checkin  .btn-cancelar {
		    display: block;
		    float: none;
		    margin: 10px 0 20px;
		    padding: 20px 0px 5px;
		    text-align: center;
		}	
	}

/* Alertas */
.rw-alert-top{margin-bottom: 20px;}
.alert-warning .alert-big{
	margin: 0px;
	font-weight: bold;
	color: #666666;	
}

@media (max-width: 991px){
	.rw-checkin-form .h5{margin-bottom: 20px;}
	.rw-checkin-form .h4 span{
		margin-top: 10px;
		display: block;
	}
	.rw-checkin-form .label-block{
	    width: 100%;
	    text-align: left;
	}
	.rw-checkin-form-acompanante button{
		margin-top: 15px;
	}
}

@media (max-width: 767px){
	.rw-checkin-form section{padding: 5px 15px 30px;}
	.rw-checkin-form .cont-day{padding-right: 5px;}
	.rw-checkin-form .cont-date,
	.rw-checkin-form .cont-date select{padding: 0 5px;}
	.rw-checkin-form .editar-huesped{
	    width: 30px;
	    height: 25px;
		top: 20px;
		right: 20px;	    
	    text-align: right;
	}
	.rw-checkin-form .editar-huesped span{display: none;}
	.rw-checkin-form .h4{padding-right: 25px;}
}

