@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'latobold';
  src: url('../fonts/rewards/lato-bold-webfont.eot');
  src: url('../fonts/rewards/lato-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/rewards/lato-bold-webfont.woff2') format('woff2'), url('../fonts/rewards/lato-bold-webfont.woff') format('woff'), url('../fonts/rewards/lato-bold-webfont.ttf') format('truetype'), url('../fonts/rewards/lato-bold-webfont.svg#latobold') format('svg');
}
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'latoregular';
  src: url('../fonts/rewards/lato-regular-webfont.eot');
  src: url('../fonts/rewards/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/rewards/lato-regular-webfont.woff2') format('woff2'), url('../fonts/rewards/lato-regular-webfont.woff') format('woff'), url('../fonts/rewards/lato-regular-webfont.ttf') format('truetype'), url('../fonts/rewards/lato-regular-webfont.svg#latobold') format('svg');
}


body.rew-priv { padding-top:109px; font-family: 'latoregular', sans-serif; background:#f2f2f2 url('../img/bg_rewards01.png') fixed;}
.h1, .h2, .h3, .h4 {font-family: 'latoregular', sans-serif;}
.btn-primary { background: #333; border: 1px solid #333;}
.btn-primary.btn-inverse {
  background-color: #FFF;
  border-color: #000;
  border-width: 2px;
  color: #000;
  max-width: 100%;
}
.sect-tit-rw { font-size: 18px; font-weight: 700; padding:0 0 15px 0; margin: 0}
.rewards-menu-partners-select { font-family: 'latoregular';}

header.rew-head { background:#000 url('../img/rewards/bg-header-priv.jpg') no-repeat top center; height:109px;}

header.affix.rew-head { height:75px; background:#000 url('../img/rewards/bg-header-priv.jpg') no-repeat top center;}
.rew-menu .navbar-brand { background:url('../img/rewards/logo-head-rew.png') no-repeat 0 0; height:30px;}
.rew-menu { position:fixed; top:50px; border-top:1px solid #444; z-index:1; width:100%;transition:top .3s}
.rew-menu ul.container li { border-right:1px solid #444; float:left;}
.rew-menu ul.container li a { display:inline-block; float:left; padding:20px; color:#FFF; text-transform:uppercase; font-weight:400; font-size:14px; transition:padding .7s; position:relative;}
.rew-menu ul.container li a:before {	content:""; width:0%; height:2px; background:#FFF; position:absolute;	top:0; left:0;}
.rew-menu ul.container li a.logo-details {margin-top: 16px; width: 150px;}
.rew-menu ul.container li a.logo-details:before { content:""; width:0%; height:2px; background:#FFF; position:absolute; top: -16px; left:0;}
.rew-menu ul.container li a:hover:before {width:100%;}

@media(min-width: 992px) {
  .affix .rew-menu { top:37px;transition:top .5s}
}
.affix .rew-menu ul.container li a { padding:10px 20px; transition:padding .5s}
.rew-menu .custom-select { margin: 0 10px}
.rew-menu .custom-select.select-sm.focus { margin: 0 10px}
.rew-menu .custom-select.select-sm.focus:after { margin-top:-6px; margin-right: -2px;}

@media (max-width: 720px) {
  header.rew-head { height: 90px;}
  .rew-menu {border-top:0;}
}
.rew-head .navbar-navigation li a[data-target="#phones"]:after,
.rew-head .navbar-navigation li a[data-target="#languages"]:after,
.rew-head .navbar-navigation li a[data-target="#user-loged"]:after {
  line-height: 20px;
}
@media (max-width: 991px) {
  .affix.rew-head .nav-menu-closed > li > a {
    padding-top: 0;
  }
  .affix.rew-head .navbar-nav > li > a > i {
    margin-top: 13px;
  }
  .affix.rew-head .navbar-navigation li a[data-target="#phones"]:after,
  .affix.rew-head .navbar-navigation li a[data-target="#languages"]:after,
  .affix.rew-head .navbar-navigation li a[data-target="#user-loged"]:after,
  .affix.rew-head .navbar-nav > li > a > span {
    margin-top: 16px;
  }
}
header.rew-head.affix .nav-menu-closed > li > a,
header.rew-head.affix .navbar-navigation [class^="icon-"]:before,
header.rew-head.affix #menu-toggle span
{ color:#fff}

header.rew-head.affix #menu-toggle span,
header.rew-head.affix #menu-toggle span:after,
header.rew-head.affix #menu-toggle span:before,
header.rew-head #menu-toggle:after{
  background: #FFF;
}

header.rew-head .navbar-brand { background:url('../img/rewards/logo-head-rew.png') no-repeat 0 0; height:30px;}
header.rew-head.navbar > .container .navbar-brand {
  margin-top: 16px /*!important*/;
  width: 55px;
  margin-bottom: 3px;
}

@media(max-width: 992px) {
  header.rew-head .navbar-brand {  float:none;width:131px;}
}

body.rew-priv #menu {
  background-color: #FFF;
}
body.rew-priv.menu-opened .rew-menu {
  display: none;
}



main section { margin-bottom: 20px}
.search-options { margin-top: 0;}
.search-options.search-options-toggle {
  padding-bottom: 0;
}
.search-options.search-options-toggle > div {
  padding-bottom: 10px;
}
.reward-main-partners { padding-bottom: 0;}

.bg-white .sub-tit-rw { font-size: 18px; padding: 15px 0; border-bottom: 1px solid #ddd; margin: 0 15px 15px 15px}

.btn-primary .icon-printer { font-size: 24px; margin-top: 4px; margin-left: 5px; display: inline-block;}


.extract-header { background: #fff; box-shadow: 0px 3px 4px #DDDFE3; padding:10px 0; margin-bottom: 40px }
.extract-header .card { height: 92px; position: relative;}
.extract-header .card p { color: #fff; font-size: 12px; position: absolute; bottom: 0; margin-left: 10px}
.extract-header .card span { display: block;}
.extract-header .card.gold { background: url('../img/rewards/card-header-gold.jpg') no-repeat 0 0; }
.extract-header .points { margin-top: 10px;}
.extract-header .points span.number { display: block; color:#006EC9; font-size: 32px; margin: -5px 0;}
.bar-intro { margin-top: 3px;}
.bar-intro .dropdown { float: left; width: auto; margin-left: -10px}
.bar-intro .dropdown span { display: block; padding-right: 25px}
.bar-intro p { padding: 8px 0 0 5px; float: left;}
.bar-intro .dropdown button { border: 2px solid #fff}
.bar-intro .dropdown button:focus {border:2px solid #0071C6; margin:0 }
.bar-intro .dropdown button:focus:after { right: 10px}

.count-bar { clear: both; position:relative; margin-top: 7px;}
.bar-container { position: absolute; height: 11px; top: 0: left:0; width: 100%; z-index: 0;}
.bar-cont { height: 11px; width:100%; position: relative;}
.bar-grey { height: 5px; position: absolute; width: 100%; background-color: #ddd; top: 3px; left: 0; z-index: 0}
.bar-blue { height: 11px ; position: absolute; z-index: 1; background-color: #0071C6; width: 65%; top: 0; left: 0;}
.bar-sections { position: absolute; top: 0; left: 0; z-index: 2; width: 100%}
.bar-sections div { width: 25%; float: left; text-transform: uppercase; font-size: 12px; border-right:2px solid #fff; padding-top: 20px; color: #bbb; font-weight: 700  }
.bar-sections div.last { border: 0;}
.bar-sections div.active { color: #0071C6}

.promo-buttons { padding: 10px  }
.promo-buttons .btn {margin-top: 10px;}
.promo-buttons .h3 {}
.promo-buttons li {  display: block;}
.promo-buttons li .shadow { font-size: 14px; color: #333; display: block; clear: both;border: 1px solid #EDEFF3; margin-bottom: 10px; font-weight: 700; transition:border .5s}
.promo-buttons .text { display: inline-block; padding-top: 15px; padding-left: 10px}
.promo-buttons .iconfirst { font-size: 40px; color: #a1a1a1; float: left; display: block; width: 60px;  text-align: center;}
.promo-buttons .price { display: inline-block; float: right; padding-top: 15px; font-size: 20px; padding-right: 10px}

@media(min-width: 992px) {
  .row.same-height-cols-md .promo-buttons {
    height: 100%;
  }
}

.hook-priv { padding-top: 40px}
.hook-priv .border-right { border-right: 1px solid #f2f2f2}
.hook-priv .intro { text-align: center;}
.hook-priv .h3 { font-size: 18px; font-weight: 700; margin-top: 35px;}
.hook-priv .intro p { font-size: 18px; color: #666; padding: 0 20px}
.hook-priv .close-btn { display: block; border-top: 1px solid #f2f2f2; text-align: center; text-transform: uppercase; margin-top: 20px; padding: 20px 0 12px 0}
.hook-priv .close-btn i { clear: both; display: block; margin: 4px 0 0 0; transition:margin .2s;}
.hook-priv .close-btn:hover i { margin: 8px 0 -4px 0; transition:margin .5s;}
.hook-priv .cont { padding-top: 20px}
.hook-priv .h4 { font-weight: 700; font-size: 14px; margin:0 0 14px 0}
.hook-priv li { font-size: 14px; color: #666; margin-bottom: 15px; padding-left: 24px; background: url('../img/rewards/tick-rw.png') no-repeat 0px 2px;}
.hook-priv li i { color: #0073C3; font-size: 16px; margin-right:10px;}
.hook-priv .ventajas-toggle {color: #333;font-weight: bold;padding-top: 10px;}
.hook-priv .ventajas-toggle i {color: #0071C6;}
/*movements*/
.movements .extract-header { margin-bottom: 0}
.table-movements-cont { padding: 10px}
.table-gen th { padding: 10px; font-size: 12px; text-transform: uppercase; color: #858585; font-weight: 400; letter-spacing: 1px}
.table-gen tr { border-bottom: 1px solid #ddd}
.table-gen td { padding: 10px;}
.table-gen.table-movements tr:hover td { background: #f2f2f2; cursor: pointer;}
.table-gen.table-movements tr:active td { background: #ddd}
.table-gen .last { text-align: right;}
.table-gen .red { display: block;}


.search-options label { font-weight: 300; padding-top: 8px; }
.search-options .btn-search { position: relative; border-left:1px solid #ddd; color: #333; font-size: 14px; text-transform: uppercase; text-align: center; padding:15px 0 16px 0; margin: -10px 0  }
.search-options .btn-search i.icon-search-btn:before { color: #0071C6 !important; margin-left: 5px; }
.search-options .btn-search:before { content:""; width:0%; height:2px; background: #0071C6; position:absolute; top:0; left:0;}
.search-options .btn-search:hover:before { width: 100%}

dl.movement-detail {text-transform: uppercase; font-size: 14px; margin: 25px 15px; }
.movement-detail dd {display: block; width: 48%; float: left; text-align: right; font-weight: 700; padding-bottom: 10px}
.movement-detail dt {display: block; width: 48%; float: right; text-align: left; font-weight: 300; padding-bottom: 10px; color: #999}
.one-side-info dd {display: block;width: 100%;text-align: left;padding-bottom: 0px;}
.one-side-info dt {display: block;width: 100%;text-align: left;padding-bottom: 8px; }

@media(min-width: 768px) and (max-width: 820px) {
  .one-side-info dd { padding-bottom: 5px;}
}

/*single partners*/
.intro-single { padding-bottom: 20px;}
.single-partner .h2 { font-size: 20px;}
.single-partner form.form-horizontal { padding:10px 10px 20px 10px;}
.single-partner label { font-size: 12px; margin-top: 10px; text-transform: uppercase; letter-spacing: 1px; font-weight: 300}
.single-partner .total { padding: 20px 10px;}
.single-partner form .total {border-top:1px solid #eee; margin-top: 20px; padding-bottom:0 }
.single-partner .total p { font-size: 16px; margin-bottom: 0; color: #333 !important}
.single-partner .total p span { font-size: 32px; font-weight: bold;}
.single-partner .total .btn { float: right; padding: 12px;}
.single-partner .parnter-logo div { text-align: center; padding: 45px 0}
.single-partner .bg-white { margin-bottom: 20px}
.single-partner .bg-white p { padding: 0 15px; color: #858585}
.single-partner .bg-white ul { padding-top: 30px}
.single-partner .bg-white li { color: #858585; list-style: disc; margin-left: 30px; padding-bottom: 10px}

.partner-small-text { color: #858585; font-size: 14px;}

/*single parters confirmation*/
.single-partner.confirmation dl { padding: 15px 15px 0 15px }
.single-partner.confirmation dd { font-size: 14; font-weight: 300; text-transform: uppercase; float: left; width: 30%; display: block; padding-top: 5px}
.single-partner.confirmation dt { font-size: 18px; font-weight: 700; float: left; width: 70%; display: block; padding-bottom: 10px;}
.single-partner.confirmation .desc { border-bottom: 1px solid #ddd; margin: 0 15px; padding-bottom: 20px}
.single-partner.confirmation.success .desc { border-bottom: 0}
.single-partner.confirmation .desc p { padding:0}
.reservation-header .steps ul li.active .path1:before { color: #333}

.success .parnter-logo { border-left: 1px solid #ddd; margin-top: 15px; margin-bottom: 15px}
.success .btn-footer { margin-bottom: 80px}
.success .btn-footer .btn { padding: 12px;}

.rw-dest-points .tab-content { margin: 30px -5px 0 -5px; overflow: hidden;}
.rw-dest-points .tab-content .item .cont {height: 100%;}
.rw-dest-points .tab-content .item { padding: 0 5px 10px 5px; margin-bottom: 1px;}
.rw-dest-points .tab-content .item .cont {overflow: hidden; position: relative;}
.rw-dest-points .tab-content .item .cont img { width: 100%;height: 100%;}
.rw-dest-points .tab-content .img-container {height: 100%;}
.rw-dest-points .grid-item {margin-left: 0;margin-right: 0;}

.rw-dest-points .tab-pane {height: 1400px;}
.rw-dest-points .tab-content .item {height: 10.8%;}
@media(max-width: 767px) {
  .rw-dest-points .tab-content .item .grid-item .caption .h1 {
    font-size: 25px;
  }
}
@media(min-width: 768px) {
  .rw-dest-points .tab-pane {height: 500px;}
  .rw-dest-points .tab-content .item {height: 33.33333%;}
}

.slider-promo .carousel-caption {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: none;
  text-align: left;
  padding-left: 60px;
}
.slider-promo .carousel-caption .h4 {
  color: #333;
  font-size: 23px;
  font-weight: bold;
  text-shadow: none;
  margin-top: 0;
  padding-top: 10px;
}
.slider-promo .carousel-caption p {
  border: none;
  margin: 0;
  padding: 0;
  text-transform: none;
  font-size: 16px;
  color: #1F1F1F;
  text-shadow: none;
  font-weight: normal;
  font-family: Lato;
}
.slider-promo .carousel-caption a.btn {
  margin-top: 15px;
  min-width: 200px;
  display: inline-block;
  padding-left: 45px;
  text-align: left;
}
.slider-promo .carousel-caption a.btn i {
  margin-top: 2px;
}
@media(max-width: 767px) {
  .slider-promo .carousel-caption {
    position: static;
    padding: 0 5px 30px 5px;
    text-align: center;
  }
  .slider-promo .carousel-inner>.item>img {
    width: 100%;
  }
}


.rw-priv-home-check-in {
  margin-bottom: 30px
}

.rw-priv-home-check-in .shadow {
  padding: 15px;
}

.rw-priv-home-check-in .row-data {
  color: #858585;
  font-size: 12px;
}

.rw-priv-home-check-in .row-data span {
  font-weight: bold;
  color: #333333;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

.rw-priv-home-check-in .h4 {
  text-align: center;
  margin-top: 3px;
  border-bottom: 1px solid #EEE;
  padding-bottom: 10px;
}
.rw-priv-home-check-in .h3 .stars {
  color: #FFBF00;
  position: relative;
  top: 2px;
  margin-left: 10px;
}
.rw-priv-home-check-in .h3 .stars:before {
  font-size: 20px;
}
.rw-priv-home-check-in .h3 {
  font-size: 20px;
  font-weight: bold;
  text-transform: none;
  color: #444444;
  margin-top: 19px;
  margin-bottom: 32px;
}

.buscador-puntos {
  border-top: 1px solid #ddd;
  padding: 10px 10px 0 10px;
}
.buscador-puntos > div {
  float: left;
  margin-right: 30px;
}
.buscador-puntos > div .btn {
  height: 29px;
  font-weight: bold;
  font-size: 12px;
  font-family: Lato;
  padding: 5px 12px;
  margin-top: -2px;
}
.buscador-puntos .view-more-toggle {
  color: #999999;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 5px;
  display: block;
}
.buscador-puntos > div > label,
.buscador-puntos > div > input,
.buscador-puntos > div > div {
  float: left;
  margin-right: 5px;
}
.buscador-puntos > div > label {
  margin-right: 20px;
  padding-top: 5px;
}
.buscador-puntos input {
  width: 64px;
  height: 26px;
  text-transform: none;
  font-size: 14px;
}
.buscador-puntos .dropdown {
  width: 110px;
}
.buscador-puntos .dropdown button {
  padding: 4px 7px;
}
.reservation-header.mis-puntos {
  margin-top: 25px;
  margin-bottom: 22px;
}
.reservation-header.mis-puntos .h1 {
  margin-top: 0;
  font-size: 25px;
  width: 69%
}
.reservation-header.mis-puntos .steps ul li {
  width: 37px;
  height: 37px;
  top: -17px;
}
.reservation-header.mis-puntos .steps {
  margin-top: 0;
}
.reservation-header.mis-puntos .steps ul li .path1,
.reservation-header.mis-puntos .steps ul li .path2 {
  font-size: 37px;
}
.reservation-header.mis-puntos .steps ul li .number {
  left: 14px;
}
.reservation-header.mis-puntos .icon-previous {
  float: left;
  font-size: 19px;
  margin-right: 15px;
  margin-top: 3px;
  border-right: 1px solid #777777;
  padding-right: 6px;
  padding-bottom: 2px;
}
.row-aspro-wrapper {
  background: #fff;
  padding: 5px 15px;
}
.row-aspro {
  background-color: #fff;
  transition: background .5s;
  margin: 10px 0;
}
.row-aspro .icon-close {
  float: right;
  margin-right: 10px;
  display: none;
}
.row-aspro.active .icon-close {
  display: block;
}
.row-aspro .col-img {
  text-align: center;
}
.row-aspro .col-img img {
  margin: 0 auto;
}
.row-aspro .h4 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
  color: #333333;
}
.row-aspro a.row {
  display: block;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-left: 0;
  margin-right: 0;
}
.row-aspro.active {
  background: #F2F2F2;
}
.row-aspro.active a.row {
  border-top: 1px solid #DDDDDD;
}
.row-aspro.active .col-puntos {
  border-bottom: 1px solid #DDDDDD;
}

.row-aspro a.row:hover .h4 {
  color: #0071C6;
}
.row-aspro .col-puntos {
  display: none;
  padding-left: 15px;
  padding-right: 10px;
}

.row-aspro.active .col-puntos .col-puntos-top{
  margin-bottom: 8px;
}

.row-aspro .col-puntos .type-person-options{
  border-top:1px solid #DDDDDD;
  padding-top:10px;
}

.row-aspro .col-puntos .type-person-options .point-person h4{
  font-weight: bold;
}

.row-aspro .col-puntos .person-section{
  text-transform: uppercase;
}

.row-aspro .col-puntos .person-section .custom-select{
  margin-bottom:10px;
}

.row-aspro .col-puntos .choosen-tickets{
    border-top: 1px solid #DDDDDD;
    padding-top: 15px;
}

.row-aspro .col-puntos .choosen-tickets h4{
  font-weight: bold;
  margin-bottom: 5px;
}

.row-aspro .col-puntos .choosen-tickets ul li:before{
    font-family: 'melia-icons';
    margin-right: 10px;
    margin-bottom: 10px;
    content: "\e616";
    font-size: 45px;
    float: left;
    line-height: 0.4;
    color: #2DB200;
}

.row-aspro .col-puntos .modify-tickets{
  float: right;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
  font-size: 14px;
}

.row-aspro .col-puntos .modify-tickets i{
  font-size: 20px;
  margin-right:8px;
}

.row-aspro p {
  font-size: 14px;
  color: #858585;
  margin: 0;
}
.row-aspro .col-puntos label {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
}

.row-aspro .total {
  padding: 20px 10px;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 12px;
  color: #333;
  border-top: 1px solid #DDDDDD;
}
.row-aspro .total span {
  font-size: 32px;
  font-weight: bold;
}

.row-aspro .total span.puntos {
  font-size: 24px;
  font-weight: 300;
  text-transform: none;
} 

.row-aspro .total .btn {
  float: right;
  padding: 12px;
}

 .row-aspro .total .pull-left {
    text-transform: uppercase;
}

@media(max-width: 767px) {
  .row-aspro.active .col-puntos .col-puntos-top{
    margin-bottom: 40px;
  }
  .row-aspro .total .btn {
    float: none;
    padding: 12px;
    margin-top:10px;
  }
  .row-aspro .total .pull-left {
    margin-right:10px;
  }
}

.logo-wrapper {
  padding: 36px 0;
  text-align: center;
  background-color: #fff;
}
.logo-wrapper img {
  margin: 0 auto;
}
.points-cart {
  padding: 20px 20px;
  margin-top:20px;
  text-align: center;
  background-color: #fff;
  text-transform: uppercase;
}

.points-cart .total-points {
    font-size: 15px;
    margin-bottom: 20px;
}

.points-cart .total-points span {
    font-size: 32px;
    font-weight: bold;
}

.points-cart .total-points span.puntos {
    font-size: 24px;
    font-weight: 300;
    text-transform: none;
}

.points-cart a{
    padding: 10px;
    width: 100%;
}

.selected-tickets .tickets ul:first-child{
  text-align:left;
  margin: 0px 15px;
  padding-top:20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DDDDDD;
}

.selected-tickets .tickets ul{
    text-align: left;
    margin: 10px 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDDDDD;
    border-top: none;
}

.selected-tickets li{
  text-transform: none;
  padding-bottom: 8px;
  color:#858585;
  font-size: 14px;
}

.selected-tickets .aspro-place{
  font-size: 16px;
  color:#333;;
}

.selected-tickets .icon-close{
  float: right;
  margin-top: 5px;
}

.puntos-terms-conditions {
  color: #999999;
  margin-top: 30px;
}
.puntos-terms-conditions a {
  color: #999999;
  font-weight: bold;
}

header.rew-head .reward-nav-select,
header.rew-head ul.rewardsNav {
  background: #000 !important;
}

.reward-nav-select .input-group-btn:last-child >.btn{background-color: #000;}

.reward-nav-select button span.caret{vertical-align: middle; display:inline-block;}
.reward-nav-select button span.textlabel{ float: left; padding-right:5px;}

header.rew-head .rewardsNav > li > a > span {
  color: #FFF;
}
header.rew-head .btn-nav-title {
  color: #FFF;
  font-weight: bold;
  font-size: 18px;
}
header.rew-head .open>.dropdown-toggle.btn-default:hover {
  color: #FFF;
}

/*-------------------------------*\

  CSS REWARDS MIS PUNTOS 2

\*-------------------------------*/
.puntos-container {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.puntos-container .h1 {
  margin-top: 25px;
}
.rw-problemas-puntos .puntos-container,
.rw-traspasa-puntos .puntos-container,
.rw-compra-puntos .puntos-container{
  padding-left: 15px;
  padding-right: 15px;
}
/* Mis puntos2 steps */
.reservation-header.steps-rewards .steps{margin-top: 0px;}
.reservation-header.steps-rewards{margin-top: 20px;}
.reservation-header.steps-rewards .steps ul li.active .path1:before,
.icon-step .path1:before{color:#000000;}
.aside-mispuntos2 .partner-logo{
  margin-top: 25px;
  margin-bottom: 15px;
  padding-top: 50px;
  text-align: center;
  border-top: solid 1px #EEEEEE;
}
@media (max-width: 767px){.aside-mispuntos2{margin-bottom: 20px;}}
/* Tabs rew-priv */
body.rew-priv .big.nav-tabs li a{
  font-size: 16px;
  border-color:#333;
}
body.rew-priv .tabpanel .nav>li a:hover,
body.rew-priv .tabpanel .nav>li a:active,
body.rew-priv .tabpanel .nav>li.active a{color: #333;}
body.rew-priv .big.nav-tabs li.active,
body.rew-priv .big.nav-tabs li:hover{
  border-top: 3px solid #333;
}
body.rew-priv .big.nav-tabs li:last-child {border-left: 1px solid #F2F2F2;}
@media (max-width: 767px){
  body.rew-priv .big.nav-tabs li.active a:hover{padding-top: 13px;}
  body.rew-priv .big.nav-tabs li a:hover{padding-top:11px;}
}
/*-------------------------------*\

  PÁGINA - MIS PUNTOS 2

\*-------------------------------*/

/* CSS MODULO TUS PUNTOS MELIA */

/* Puntos Info */

.puntos-info .h3{
  min-width: 180px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  display: inline-block;
  font-size: 26px;
  border-bottom: solid 1px #DDDDDD;
}

.puntos-info p{
  margin-top: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.puntos-info .icon-secction{
  display: block;
  font-size: 16px;
  color:#DDDDDD;
}

.puntos-info .btn-activar-puntos{
  margin-top: 25px;
  margin-bottom: 10px;
}

/* Puntos Boxes */

.box-puntos {
  padding: 18px 10px 10px;
  text-align: center;
}

.box-puntos .h3 {
  padding-bottom: 0px;
  text-align: center;
  height:35px;
}

.box-puntos .icon-center {
  width: 100%;
  min-height: 100px;
  padding-top: 10px;
  display: block;
  text-align: center;
  font-size: 65px;
  color: #a1a1a1;
}

.box-puntos p{
  max-width: 330px;
  min-height: 88px;
  margin-bottom: 24px;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
  color: #777777;
}

.box-puntos ul{margin-bottom: 0px;}
.box-puntos ul li {margin-bottom: 10px;}
.box-puntos ul li:last-child{margin-bottom:0px;}

.box-puntos li a {
  padding: 10px;
  text-transform: inherit;
  font-weight: 600;
  text-align: left;
  color: #333;
  clear: both;
  border: 1px solid #EDEFF3;
  background-color: #FFFFFF;
  transition:border .5s;
}

.box-puntos li a:hover {
  border: 1px solid #0070C6;
  transition:border .5s;
}

.box-puntos li a .text{float:left;}

.box-puntos li a .icon-text{
  float: right;
  display: inline-block;
  padding-top: 0px;
  padding-right: 10px;
  font-size: 20px;
}

.box-puntos li a .icon-next {color: #0070C6;}
.box-opciones ul{margin-top: 10px;}

@media (max-width: 991px){
  .box-opciones{margin-top: 20px;}
}

@media (max-width: 767px){
  .box-opciones{margin-top: 0px;}
  .box-puntos{margin-bottom: 20px;}
}

/* CSS MODULO ÚLTIMOS MOVIMIENTOS */

.ultimos-movimientos table{border-bottom: solid 1px #DDDDDD;}

.ultimos-movimientos table thead{
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 12px;
  color:#858585;
}

.ultimos-movimientos table p,
.ultimos-movimientos table span{
  font-weight: bold;
  margin: 0px;
}

/*-------------------------------------*\

  PÁGINA - MIS PUNTOS 2 - TRASPASA

\*-------------------------------------*/

/* TRASPASA PASO 1 */

.aside-mispuntos2 .h2{
  text-transform: uppercase;
  font-size: 22px;
  color:#1F1F1F;
}

.aside-mispuntos2 aside{padding: 20px;}

.aside-mispuntos2 aside .regala-info{
  margin-bottom: 0px;
  line-height: 1.4;
}

.aside-mispuntos2 aside .regala-info .titulo-aside{
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.form-mis-puntos2 form .h4{
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  border-bottom: solid 1px #EEEEEE;
}

.form-mis-puntos2 form label{font-size: 12px;}

.form-mis-puntos2 form button{
  min-width: 200px;
  margin-top: 15px;
  padding: 10px 12px;
}

/* TRASPASA PASOS 2 y 3 */

.header-back{padding-top: 20px;}

.header-back .back{
  font-size: 22px;
  padding-right: 10px;
  border-right: 1px solid #CCC;
  position: relative;
  margin-right: 10px;
}

.header-back .h3{margin: 0;}
.header-back .icon-alert-success{font-size: 50px;}

.traspasa-rw-rw-p2 p,
.traspasa-rw-rw-p3 p{
  margin-bottom: 20px;
  color: #999999;
}

.traspasa-rw-rw-p2 strong,
.traspasa-rw-rw-p3 strong{color: #333333;}

.traspasa-rw-rw-p2 .separator-line,
.traspasa-rw-rw-p3 .separator-line{
  width: 100%;
  margin: 0 0 20px 0;
}

/* Transfer confirm */

.transfer-confirm{
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px #EEEEEE;
}
.transfer-confirm dt,
.transfer-confirm dd{
  float: left;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.transfer-confirm dt{
  clear: left;
  margin-right: 10px;
}
.transfer-confirm dd{color:#999999;}
.transfer-confirm-first{margin-top: 40px;}
.transfer-confirm-last{border:none;}
.transfer-checkbox{
  margin-bottom: 15px;
  padding: 20px 0px;
  font-size: 14px;
  color:#858585;
  border-top: solid 1px #EEEEEE;
  border-bottom: solid 1px #EEEEEE;
}
.transfer-checkbox .text{font-size: 14px;}

@media (max-width: 767px){
  .transfer-confirm dd{
    width: 100%;
    display: block;
  }
}

/*-------------------------------------*\

  PÁGINA - MIS PUNTOS 2 - COMPRA

\*-------------------------------------*/

/* Tabs compra y regala */

.tabs-compra-regala{margin-top: 20px}
.tabs-compra-regala .tab-content{
  margin-top: 0px;
  border-top:solid 1px #DDDDDD;
}
.tabs-compra-regala .nav-tabs{
  margin-left: 10px;
  padding-bottom: 0px;
}
.tabs-compra-regala .nav-tabs li{background-color: #F2F2F2;}
.tabs-compra-regala .nav-tabs li.active{
  border:solid 1px #DDDDDD;
  border-bottom: none;
  background-color: none;
}
.tabs-compra-regala.tabpanel .nav>li.active a,
.tabs-compra-regala.tabpanel .nav>li.active a:hover,
.tabs-compra-regala.tabpanel .nav>li.active a:active{
    color: #333;
}

.tabs-compra-regala .nav-tabs>li>a{font-size: 12px;}
.tabs-compra-regala .nav-tabs>li>a{margin-right: 0px;}
.tabs-compra-regala .nav-tabs>li.active>a:before{content: none;}
.tabs-compra-regala .nav>li a:hover{
  padding-top: 15px;
  min-height: 47px;
  border:none;
  background-color:#DDDDDD;
}
.tabs-compra-regala .nav-tabs>li.active>a:hover{padding-top: 15px;}
.tabs-compra-regala .nav>li a:focus{border:none; color:#333;font-weight: bold;}
.tabs-compra-regala .nav>li.active a:hover{background-color:#ffffff;color:#333;font-weight: bold;}

@media (max-width: 479px){
  .tabs-compra-regala .nav-tabs li a{
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 399px){
  .tabs-compra-regala .nav-tabs li a{min-height: 65px;}
  .tabs-compra-regala .nav-tabs li a:hover{min-height: 65px;}
}

/* terminos compra y regala -*/

.terminos-compra{
  padding-top: 20px;
  border-top: solid 1px #EEEEEE;
}
.terminos-compra .text{font-size: 14px;}

/* Paso 1 */

.compra-form,
.reclama-form{margin-top: 30px;}
.compra-precio-total{font-size: 32px;}
.compra-precio-total .precio-total-moneda{font-size: 20px;}

/* Paso 2 */

.compra-form .cards{
  margin-top: 10px;
  margin-bottom: 15px;
}
.compra-form .cards img{margin-right: 7px;}
.compra-form .cvv-modal{right: -20px;}
.compra-form .cvv-modal{
  position: absolute;
  top: 11px;
  right: -22px;
  font-size: 22px;
  cursor: pointer;
}
.compra-form .cvv-modal i {position: static;}

@media (max-width: 991px){
  .compra-form .label-block,
  .form-mispuntos2-problemas .label-block{
    text-align: left;
  }
}

@media (max-width: 479px){
  .compra-form .cards img{margin-right: 1px;}
}

/*-------------------------------------*\

  PÁGINA - MIS PUNTOS 2 - REGALA

\*-------------------------------------*/

/*Paso 1*/

.regala-charac-max{text-transform:initial;}
.regala-text-area.form-control{height: 145px;}

/*-------------------------------------*\

  PÁGINA - MIS PUNTOS 2 - RECLAMA

\*-------------------------------------*/

/*Paso 1*/
.aside-mispuntos2 .aside-codigo-promocional{
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

.aside-mispuntos2 .aside-codigo-promocional:first-child{margin-top: 0px;}

.aside-box-codigo-promocional{
  margin: 0;
  padding: 15px 10px;
  background-color: #F2F2F2;
}

.aside-codigo-promocional .h4{
  max-width: 200px;
  margin: 0px auto 10px;
  text-transform: uppercase;
  margin-top: 0px;
  background-color: transparent;
}

.codigo-promocional-text,
.codigo-promocional-num,
.codigo-promocional-pais{display: block;}

.codigo-promocional-text{
  font-size: 16px;
  color:#858585;
}

.codigo-promocional-num{
  width: 98%;
  margin-left: 1%;
  margin-bottom: 15px;
  padding: 15px 0px;
  font-size: 18px;
  color:#0073C2;
  border-bottom: solid 1px #CCCCCC;
}
.codigo-promocional-num .icon-phone{
  margin-right: 5px;
  font-size: 20px;
}

.codigo-promocional-pais{
  font-size: 16px;
  color:#0074BF;
}

@media (max-width: 767px){
  .aside-box-codigo-promocional .codigo-promocional-num{
    width: auto;
    display: inline-block;
    padding: 15px 35px;
  }
}

/*Ayuda puntos bottom*/
.ayuda-puntos-bottom{
  margin: 10px;
  padding: 15px 30px;
  background-color: #F2F2F2;
}

.ayuda-puntos-bottom .h4{margin-top: 0px;}
.ayuda-puntos-bottom .codigo-promocional-num{
  width: auto;
  border:none;
  margin: 0px;
  padding: 7px 0px 0px;
}

.ayuda-puntos-bottom .client-atention{margin-top:10px;}
.ayuda-puntos-bottom .codigo-promocional-pais{padding: 7px 0px 0px;}

@media (max-width: 991px){
  .ayuda-puntos-bottom .h4{max-width: 200px;}
  .ayuda-puntos-bottom .client-atention{max-width: 100%;}
  .ayuda-puntos-bottom .codigo-promocional-num,
  .ayuda-puntos-bottom .codigo-promocional-pais{padding-top: 20px;}
}

@media (max-width: 767px){
  .ayuda-puntos-bottom .h4{
    margin-left: auto;
    margin-right: auto;
  }
  .ayuda-puntos-bottom{text-align: center;}
  .ayuda-puntos-bottom .codigo-promocional-num{
    display: inline-block;
    padding: 10px 35px;
    border-bottom: solid 1px #CCCCCC;
  }
}

.ayuda-puntos-bottom .intro-help{
    text-align: right;
}

.ayuda-puntos-bottom .help-link {
    font-size: 16px;
    color: #0074BF;
    display:block;
    text-align:right;
    margin-top:10px;
}

@media (max-width: 768px){
.ayuda-puntos-bottom .help-link {
    text-align: center;
  }
  .ayuda-puntos-bottom .intro-help{
    text-align: center;
  }
}


/*-------------------------------------*\

  PÁGINA - MIS PUNTOS 2 - PROBLEMAS

\*-------------------------------------*/
.list-mispuntos-problemas {border-bottom:1px solid #ddd; margin-top: 35px}
.list-mispuntos-problemas a { display: block; padding:30px; font-size:16px; border-top:1px solid #ddd; color: #878787;}
.list-mispuntos-problemas a:hover {color: #333333;background: #f2f2f2}

.titular-mispuntos2{margin-top: 25px;}
.titulo-mispuntos2-problemas{margin-bottom: 40px;}

/*Formas*/
.form-mispuntos2-problemas{
  margin-top: 45px;
  width: 90%;
  margin-left: 10%;
}
.form-mispuntos2-problemas .regala-text-area.form-control{height: 219px;}
.form-mispuntos2-problemas .max-text,
.form-mispuntos2-consultas .max-text{
  margin-top: 10px;
  font-size: 12px;
  color:#AAAAAA;
}

@media (max-width: 1199px){
  .form-mispuntos2-problemas{
    width: 100%;
    margin-left: 0;
  }
}

/*Formas - Mensaje de confirmación*/

.traspasa-rw-rw-p3 .problemas-texto-confirmacion{
  min-height: 69px;
  margin-left: 60px;
  font-size: 16px;
  color: #666666;
}

@media (max-width: 1199px){
  .traspasa-rw-rw-p3 .problemas-texto-confirmacion{
    min-height: 60px;
    margin-top: 10px;
  }
}

.problemas-detalle .detalle-texto-decripcion{
  padding: 10px 15px 15px;
}
.problemas-detalle .consulta-remitente{
  font-weight: bold;
  font-size: 16px;
}
.problemas-detalle .consulta-fecha{
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.problemas-detalle .list-comentarios-cont li { border-bottom: 1px solid #ddd; margin:15px; padding: 0 0 15px 0}

.form-mispuntos2-consultas{padding: 3px;}
.form-mispuntos2-consultas .max-text{margin-bottom: 20px;}
.form-mispuntos2-consultas .btn-enviar-reclamacion-cont{margin-bottom: 0px;}
.form-mispuntos2-consultas .form-enviar-reclamacion{display: none;}

.form-mispuntos2-consultas .btn-enviar-reclamacion,
.form-mispuntos2-consultas .btn-responder-reclamacion{
  min-width: 190px;
  margin-bottom: 10px;
}

/* Shortcodes */
.margin-auto{margin:0 auto;}
.color-verde{color:#59B200;}
.color-azul-oscuro{color:#006CCC;}
.color-azul-claro{color:#3AB8FF;}
.color-naranja{color:#FF5F3D;}
.color-amarillo{color:#FFCB00;}
.color-gris-claro{color:#858585;}
.no-padding-left{padding-left: 0px;}
.no-padding-right{padding-right: 0px;}

@media (max-width: 767px) {
  .hook-priv .cont {border-bottom: 1px solid #f2f2f2; margin-bottom: 20px;}
  .hook-priv .close-btn { display: none;}
  .hook-priv .border-right { border: 0}
  .search-options .btn-search { margin: 0; border-left:0; border-top: 1px solid #ddd; padding: 10px 0px 5px; margin-top: 10px}
  .movement-detail dd { display: block; width: 100%; text-align: left; padding-bottom: 0px}
  .movement-detail dt {display: block; width: 100%; }
  .single-partner  .total { text-align: center;}
  .single-partner  .total p {width: 100%}
  .single-partner  .total .btn { float:none; width: 100%}
  .single-partner form label { margin-top: 10px}
  .single-partner .parnter-logo div { margin-top:10px; padding: 20px 0}
  .single-partner.confirmation dd { float: none;width: 100%}
  .single-partner.confirmation dt { float: none; border-bottom: 1px solid #ddd; width: 100%}
  .reservation-header .h1 { text-align: left;}
  .reservation-header.mis-puntos .h1 { font-size: 20px; margin-left: 40px; width: 85%;}
  .reservation-header.mis-puntos .icon-previous { padding-left: 0}
  .reservation-header .steps { margin-right: 0}
  .extract-header .points span.number {font-size: 18px; display: inline-block;}
  .extract-header .points span.expire {display: block; clear: both;}
  .extract-header .points { margin:0;}
  .rw-priv-home-check-in .h3 { margin-bottom: 20px}
  .slider-promo .carousel-caption { background: #fff; margin-bottom: 30px}
  .rew-priv .big.nav-tabs li a { font-size: 12px}
  .buscador-puntos div { margin-bottom: 5px}
  .buscador-puntos div label { display: block; float: left; width: 60px}
  .problemas-detalle .list-comentarios-cont .color-gris-claro { padding-top:10px;}
  .user-loged .menu-log li { width: 100%; float: none;}
  .slider-promo .carousel-caption a.btn {text-align: center;}
  .user-loged ul {border-top:1px solid #ddd; margin-left:0px; margin-top: 0; padding-top:10px;}
  .user-loged .h4 { font-size: 20px}
  .header-back { border-bottom: 1px solid #ddd; padding-bottom: 10px; padding-top: 10px}
  .form-mispuntos2-problemas, .compra-form, .reclama-form, .transfer-confirm-first { margin-top: 10px}
  .form-mispuntos2-problemas .btn, .form-horizontal .btn { width: 100%}
  body.rew-priv .big.nav-tabs li a { font-size: 12px; padding-left:3px; padding-right: 3px}
  .puntos-container .h3 { font-size: 16px; border-bottom: 1px solid #ddd; font-weight: 700; padding: 10px 0 10px 0; margin:0;}
  .header-back .h3 { font-size: 16px; border: 0; padding-bottom: 0; padding-top: 0}
  .header-back { border-bottom: 1px solid #ddd; padding-bottom: 10px; padding-top: 10px }
  .reservation-header.steps-rewards {margin-top: 0px}

}
@media (max-width: 960px) {
  .rw-priv-home-check-in .row-data div { margin-top: 10px}
}

@media (min-width: 960px) {
  .rw-dest-points .tab-pane {height: 710px;}
  .rw-dest-points .tab-content .item {height: 33.33333%;}
  .rw-dest-points .tab-content .item.first {height: 66.66666%;}
}

.banner-big {
  padding-top: 15px;
  padding-bottom: 20px;
  /*border-bottom: 3px solid #EEEEEE;*/
  margin: 0;
}
.banner-big .col-icon {
  text-align: center;
  padding-right: 0;
}
.banner-big .col-icon i {
  color: #9E9E9E;
}
.banner-big .col-icon i.icon-cake {
  font-size: 60px;
}
.banner-big .col-icon i.icon-ticket {
  font-size: 40px;
  margin-top: 15px;
  display: block;
}
.banner-big .h4 {
  text-transform: uppercase;
  font-size: 22px;
  color: #1F1F1F;
  margin-bottom: 3px;
}

.banner-big .h4.disable{
  text-transform: uppercase;
  font-size: 22px;
  color: #999;
  margin-bottom: 3px;
}

.banner-big .h5 {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
}
.banner-big p {
  font-size: 16px;
  margin: 0;
}
.banner-big p.disable {
  font-size: 16px;
  margin: 0;
  color: #999;
}

.banner-big .col-buttons {
  padding-right: 15px;
}
.banner-big .col-buttons .codigo {
  background-color: #EEEEEE;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 8px 0;
}
.banner-big .col-buttons.col-codigo .codigo,
.banner-big .col-buttons.col-codigo a.btn {
  min-width: 95%;
  width: 100%;
  display: inline-block;
}
.banner-big+.banner-big {
  margin-top: 20px;
}
.banner-big .small-text {
  font-size: 12px;
  color: #999999;
  margin-top: 15px;
  margin-bottom: 10px;
}
.regalos-cumple {
  padding: 5px 0;
}
.regalos-cumple-wrapper {
  padding: 7px;
  margin-bottom: 20px;
}
.regalos-cumple > .row {
  border-left: 2px solid #1F1F1F;
  margin: 0;
}
.regalos-cumple+.regalos-cumple {
  border-top: 1px solid #EEEEEE;
}
.regalos-cumple > .row > div {
  padding-left: 20px;
  margin: 0;
}
.regalos-cumple .h5 {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  margin-top: 2px;
  margin-bottom: 3px;
}
.regalos-cumple p {
  font-size: 16px;
  color: #858585;
}
@media(min-width: 992px) {
  .regalos-cumple .col-buttons,
  .banner-big .col-buttons {
    text-align: right;
  }
  .banner-big .small-text {
    margin-bottom: 0;
  }
  .banner-big .col-buttons.col-codigo .codigo,
  .banner-big .col-buttons.col-codigo a.btn {
    width: auto;
  }
}
.regalos-cumple .col-buttons a.btn,
.banner-big .col-buttons a.btn {
  margin-top: 9px;
}
.regalos-cumple .col-buttons .conditions,
.banner-big .col-buttons .conditions {
  font-size: 12px;
  color: #999999;
  margin-top: 10px;
  margin-bottom: 5px;
  display: block;
}

.button-pagination-wrapper {
  text-align: center;
  padding: 30px 0;
}

.empty-msg {
  font-size: 22px;
  color: #999999;
  text-align: center;
  font-family: Lato;
  padding: 65px 0;
  font-weight: 500;
}
.empty-msg.empty-msg-sm {
  font-size: 18px;
}
.h1+p.subtitle {
  font-size: 16px;
  text-align: center;
  margin-bottom: 35px;
}

/*------------------------------------*\

  CSS RW-RESERVAS

\*------------------------------------*/

.titular-rw-reservas{margin: 40px 0px 35px;}


/*  Btn border */
.rw-reservas .btn-border{
  padding-top: 11px;
  padding-bottom: 11px;
  color: #333333;
  border:solid 2px #333333;
  background-color: transparent;
}
.rw-reservas .btn-border:hover { border-color:#286090; color: #286090 }
.rw-reservas .orange{color:#FF9200;}

/*aside*/
.extras-cont{
  width: 100%;
  display: inline-block;
  padding-top: 12px;
  border-top: 1px solid #EEE;
}
.extras-cont ul{margin-bottom: 0px;}


/*-------------------------------------*\

  PÁGINA - RESERVAS DETALLE

\*-------------------------------------*/
.rw-reservas-detalle {font-family: 'lato', sans-serif;}
.rw-reservas-detalle .rw-reserva-btns .btn-border{margin-top: 0px;}
.rw-reservas-detalle .btn-default{
  color: #333;
  border-color: #333;
}
.btn-default:hover { border-color:#286090; color: #286090 }
.rw-reservas-detalle .btn-default:hover{background-color: white;}
.rw-reservas-detalle .rw-reserva-info-detalle-footer .btn-primary .icon-printer{margin-top: -6px;}

@media (max-width: 767px){
  .rw-reservas-detalle .rw-reserva-btns {padding: 15px 5px;}
  .rw-reservas-detalle .rw-reserva-btns .btn-border{margin-top: 15px;}
}


@media (max-width: 991px){
  header.rw-reserva-info-detalle dt{font-size: 16px;}
  header.rw-reserva-info-detalle .rw-reserva-impuestos{
    display: block;
    margin-left: 0px;
  }
  section.rw-reserva-info-detalle,
  section.rw-reserva-info-detalle section{margin-bottom: 0;}
  .rw-reserva-info-opciones{
    padding-left: 10px;
    padding-right:10px;
  }
  .rw-reserva-cancelar-reserva-volver .btn-border{margin-top: 30px;}
  form.rw-cancelar-reserva .nombre-web label{padding-top: 0px;}
  form.rw-cancelar-reserva .label-block,
  .rw-reserva-modificar-reserva .label-block{
    width: 100%;
    text-align: left;
  }
  .rw-reserva-modificar-reserva .btn-cancelar{
    display: block;
    float: none;
    margin: 10px 0 20px; 
    padding: 20px 0px 5px;
    text-align: center;
  }
}

@media (max-width: 767px){
  header.rw-reserva-info-detalle{border:none;}
  header.rw-reserva-info-detalle dt{
    padding-bottom: 10px;
    border-bottom: solid 1px #EEEEEE;
  }
  section.rw-reserva-info-detalle .estado-hotel{margin-bottom: 20px;}
  section.rw-reserva-info-detalle .rw-reserva-info-hotel-img{margin-bottom: 20px;}
  section.rw-reserva-info-detalle .rw-reserva-info-hotel-img img{width: 100%;}
  .rw-reserva-info-opciones .btn-border{margin-top: 20px;}
  section.rw-reserva-info-habitaciones{padding: 0px;}
  .rw-reserva-info-habitacion,
  .rw-reserva-info-habitacion-header,
  .rw-reserva-info-habitacion-datos{display: block;}
  .rw-reserva-info-habitacion-header{
    padding: 20px 15px;
    border-left: none;
    border-top: 2px solid #0075C0;
  }
  .rw-reserva-info-habitacion-datos-cont{
    margin: 0px;
    padding: 0px;
    border-bottom: none;
  }
  .rw-reserva-info-habitacion-datos-cont div{
    padding: 15px 0px;
    border-bottom: solid 1px #EEEEEE;
  }
  .rw-reserva-info-habitacion-datos-cont div:last-child{border-bottom: none;}

  .rw-reserva-modificar-reserva .h5{padding-right: 20px;}
  .rw-reserva-modificar-reserva .editar-datos{
    width: 30px;
    height: 25px;
    text-align: right;
    right: 20px;
  }
  .rw-reserva-modificar-reserva .editar-datos span{display: none;}
  .rw-reserva-modificar-reserva dt, 
  .rw-reserva-modificar-reserva dd {width: 100%;}  
}

@media (max-width: 479px){
  .modal-cancelar-reserva{
    max-width: 200px;
    display: inline-block;
  }
  .btn-primary.rw-btn-confirmar-cancelacion{padding: 12px 10px;}
}

/* Shortcodes */
.color-gris-oscuro{color: #999999;}

@media (min-width: 992px){
  .calendar-wrapper.is-checkin-date:before {
      left: 130px;
  }
  .calendar-wrapper.is-checkout-date:before {
      left: 440px;
  }
}

.priv-submenu {
  background: #fff;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  margin-bottom: 40px;
}
.priv-submenu ul {
  margin-bottom: 0;
}
.priv-submenu li {
  float: left;
  border-top: 2px solid transparent;
}

@media (max-width: 442px){
  .priv-submenu li {
    width: 33%;
    text-align: center;
  }
}


.priv-submenu li.active,
.priv-submenu li:hover {
  border-top-color: #333333;
}
.priv-submenu li+li {
  border-left: 1px solid #F2F2F2;
}
.priv-submenu a {
  color: #333333;
  text-transform: uppercase;
  padding: 13px 25px;
  font-weight: bold;
  display: block;
}
.rw-header-perfil,
.rw-header-perfil2{
  margin-bottom: 15px;
}
.rw-header-perfil .h1 {
  margin-top: 0;
}
.rw-header-perfil .back-arrow {
  margin-top: 5px;
}

@media (max-width: 480px){
  .priv-submenu a {
    padding: 13px 15px;
  }
}

@media (max-width: 767px){
  .rw-header-perfil .back-arrow {
      float: none;
      display: block;
      text-align: center;
      margin-top: -20px;
      margin-bottom: 20px;
  }
}

.checkout-aside.aside-perfil header {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.checkout-aside.aside-perfil .btn .icon-user {
  font-size: 20px;
  position: relative;
  top: 2px;
}
.checkout-aside.aside-perfil .special-title {
  position: absolute;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  background: #0071C6;
  font-size: 12px;
  display: inline-block;
  margin-left: -15px;
  padding: 5px 7px;
  margin-bottom: 15px;
}

.checkout-aside.aside-perfil .h1 {
    font-family: 'lato';
    font-size: 18px;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    padding-top: 20px;
    cursor: pointer;
}

@media (min-width: 1199px){
  .checkout-aside.aside-perfil .special-title {
    margin-left: -30px;
  }
}

@media (max-width: 767px){
  .checkout-aside.aside-perfil .special-title {
    display: none;
  }
}

.checkout-aside.aside-perfil header>.special-title:first-child {
  margin-top: 10px;
}

.checkout-aside.aside-perfil .special-title:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-top: 5px solid #0071C6;
  border-right: none;
  position: absolute;
  left: 0px;
  bottom: -5px;
}
.checkout-aside.aside-perfil header .h1{
  margin-bottom: 15px;
}

.checkout-aside.aside-perfil header p {
  margin-bottom: 15px;
}

.checkout-aside.aside-perfil .aside-top-margin header p{
  padding-top:50px;
}

.row-acompanantes {
  padding-top: 22px;
  padding-bottom: 22px;
  font-size: 16px;
  color: #545454;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.row-acompanantes>.col-name {
  padding-left: 40px;
}
.row-acompanantes>.col-delete a {
  color: #777777;
  font-weight: normal;
}
.row-acompanantes a {
  font-size: 12px;
  font-weight: bold;
}

@media (max-width: 442px){
  .row-acompanantes div:nth-child(2), .row-acompanantes div:nth-child(3) {
    margin-top: 15px;
  }
}

.big-list {
  margin: 0;
}
.big-list li {
  border-bottom: 1px solid #EEE;
}
.big-list li a {
  padding: 19px 0;
  display: block;
  font-weight: bold;
  color: #878787;
}
.checkout-aside .big-list {
  margin-bottom: 25px;
  margin-left: -25px;
  margin-right: -25px;
}
.checkout-aside .big-list a {
  padding-left: 35px;
  padding-right: 35px;
}

@media (min-width:768px) and (max-width: 991px) {
  .aside-perfil .btn-primary,
  .aside-perfil .btn-primary:active{
    font-size: 12px;
  }
}

.destination-favoritos .grid-item .caption .h1 {
  font-size: 20px;
  min-height: 45px;
}

.destination-favoritos .grid-item .h2 {
  font-size: 14px;
  margin-top: 10px;
}

.grid-item .remove-fav {
  padding: 15px 0 10px 0;
  border-top: 1px solid #CCC;
  margin-top: 15px;
}

.grid-item .remove-fav a {
  color: #777777;
  text-transform: uppercase;
  font-size: 12px;
}

.table-ultimas-busquedas td>i {
  color: #0073C3;
  float: left;
}
.table-ultimas-busquedas td.col-location {
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 10px;
}

@media (min-width:768px){
    .table-ultimas-busquedas td.col-location {
      width: 30%;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .table-ultimas-busquedas td:nth-child(2) {
      width: 25%;
    }
}

.table-ultimas-busquedas td.col-small {
  line-height: 20px;
}

.form-group-separator {
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 15px;
}

.rw-reserva-modificar-reserva .custom-checkbox {
  padding-top: 10px;
}

.form-aficiones .custom-checkbox .text {
  font-weight: bold;
}

.rw-reserva-modificar-reserva .col-puntos {
  font-size: 16px;
  color: #CCCCCC;
  padding-top: 10px;
}
.rw-reserva-modificar-reserva .col-puntos span {
  font-size: 18px;
  font-weight: bold;
}

.rw-reserva-modificar-reserva form.simple-validation-error .row.btns-cont .btn {
  background: #DDDDDD;
  border-color: #DDDDDD;
  pointer-events: none;
  cursor: default;
}

.msg-points {
  font-size: 28px;
  color: #017BC9;
  font-family: Lato;
  text-align: center;
  padding: 70px 0;
}
.msg-points span {
  font-weight: bold;
}

/*-------------------------------*\

  CSS REWARDS FAQS  

\*-------------------------------*/

.reservation-header.faqs .h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    width: 69%;
    font-weight: 600;
}

.row-faqs-wrapper {
  background: #fff;
  padding: 10px 15px;
}
.row-faqs {
  background-color: #fff;
  transition: background .5s;
  border-bottom: 1px solid #DDDDDD;
}

.row-faqs .icon-plus {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    display: none;
    color:#858585;
}
.row-faqs:hover .icon-plus {
   display: block;
}
.row-faqs.active .icon-plus {
   display: none;
}
.row-faqs .icon-close {
  float: right;
  margin-right: 10px;
  display: none;
}
.row-faqs.active .icon-close {
  display: block;
}
.row-faqs .col-img {
  text-align: center;
}
.row-faqs .col-img img {
  margin: 0 auto;
}
.row-faqs .h4 {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 5px;
  color: #333333;
}

.row-faqs a.row {
  display: block;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-left: 0;
  margin-right: 0;
}

.row-faqs a.row:hover{
  background: #F2F2F2;
  color: #333333;
}

.row-faqs.active {
  background: #F2F2F2;
  padding-bottom: 35px;
  border-bottom: 1px solid #DDDDDD;
}
.row-faqs.active a.row {
  border-top: 1px solid #DDDDDD;
}
.row-faqs.active .col-puntos {
  margin-bottom:10px;
}
.row-faqs a.row:hover .h4 {
  color: #000;
  font-weight: 600;
}
.row-faqs .col-puntos {
  display: none;
  padding-left: 15px;
  padding-right: 10px;
}
.row-faqs p {
  font-size: 14px;
  color: #858585;
  margin: 0;
}
.row-faqs .col-puntos label {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 12px;
}
.row-faqs .total {
  padding: 20px 10px;
  font-size: 16px;
  margin-bottom: 0;
  color: #333;
}
.row-faqs .total span {
  font-size: 32px;
  font-weight: bold;
}
.row-faqs .total .btn {
  float: right;
  padding: 12px;
}
