/*-------------------------------------*\

  CSS - RW-RESERVAS

\*-------------------------------------*/

.titular-rw-reservas{margin: 40px 0px 35px;}
.rw-header-reservas{margin-bottom: 15px;}

/*  Btn icon-action */
.rw-reservas .btn-primary .icon-action{
  position: relative;
  width: 30px;
  display: inline-block;
  vertical-align: top;
  margin-top: 1px;  
}
.rw-reservas .btn-primary .icon-action:before{
  position: absolute;
  top: -3px;
  left: 10px;
  font-size: 22px;
}

/*  Btn border */
.rw-reservas .btn-border{
  padding-top: 11px;
  padding-bottom: 11px;
  color: #333333;
  border:solid 2px #333333;
  background-color: transparent;
}
.rw-reservas .btn-border:hover { border-color:#286090; color: #286090 }
.rw-reservas .orange{color:#FF9200;}

/*-------------------------------------*\

  PÁGINA - RESERVAS

\*-------------------------------------*/

.rw-reserva-info{
  margin-bottom: 25px;
  padding: 20px 0px;
}
  .rw-reserva-info header{
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: solid 1px #EEEEEE;
  }
    .rw-reserva-info header .h3,
    .rw-reserva-info header span.stars{
      display: inline-block;
      vertical-align: top;
    }
    .rw-reserva-info header .h3{
      margin: 0px 10px 14px 0px;
      text-transform: inherit;
      font-weight: bold;
    }
    .rw-reserva-info header span.stars{
      margin-bottom: 10px;
      color: #FFBF00;
    }

  .rw-reserva-info section{margin-bottom:0px;}
    .rw-reserva-info section dl{
      margin: 30px 0px 0px;
      font-size: 12px;    
    }
      .rw-reserva-info section dd{color:#858585;}

  .rw-reserva-info .btn-border{margin-top: 20px;}

.rw-reserva-confirmada .rw-reserva-estado dt{color:#2CB200;}
.rw-reserva-pendiente .rw-reserva-estado dt{color:#FF9200;}
.rw-reserva-cancelada .rw-reserva-estado dt{color: #FF0000;}

@media (max-width: 991px){
  .rw-reserva-info .btn-border{margin-top: 0px;}
  .rw-reserva-info section{margin-bottom:25px;}
}

@media (max-width: 767px){
  .rw-reserva-info header .h3{margin-bottom: 8px;}
  .rw-reserva-info .btn-border{margin-top: 20px;}
}

/*-------------------------------------*\

  PÁGINA - RESERVAS DETALLE

\*-------------------------------------*/
.rw-reservas-detalle {font-family: 'lato', sans-serif;}
.rw-reservas-detalle .rw-reserva-btns .btn-border{margin-top: 0px;}
.rw-reservas-detalle .btn-default{
  color: #333;
  border-color: #333;
}
.rw-reservas-detalle .btn-default:hover{background-color: white;}
.rw-reservas-detalle .rw-reserva-info-detalle-footer .btn-primary .icon-printer{margin-top: -6px;}

@media (max-width: 767px){
  .rw-reservas-detalle .rw-reserva-btns {padding: 15px 5px;}
  .rw-reservas-detalle .rw-reserva-btns .btn-border{margin-top: 15px;}
}
/*-------------------------------------*\

  PÁGINA - CANCELAR RESERVAS

\*-------------------------------------*/
    
    form.rw-cancelar-reserva .h4{margin-bottom: 15px;}
    form.rw-cancelar-reserva .nombre-web input{text-transform: inherit;}

    .rw-reserva-cancelar-reserva{
      padding-left: 20px;
      padding-right: 20px;
    }

    form.rw-cancelar-reserva .form-group label{font-size: 12px;}

    /*  section llamar */
    .rw-reserva-cancelar-message{
      margin-bottom: 30px;
      color: #FF3F00;
    }
    .rw-reserva-cancelar-message i{font-size: 20px;}
    .rw-reserva-cancelar-message .media-body{font-size: 15px;}

    /*  Volver sin cancelar */
    .btn-volver-sin-cancelar-cont{text-align: center;}
      .btn-volver-sin-cancelar-cont a{
        display: block;
        margin-top: 15px;
        font-size: 12px;
        color: #999999;
      }
      .btn-volver-sin-cancelar-cont i{margin-right: 15px;}
    .rw-reserva-cancelar-reserva-volver .btn-border{margin-top: 0px;}

    /*  modal confirmar cancelar */
    .cancel-titulo,
    .cancel-text{
      font-size: 24px;
      color: #FF3F00;
    }
    .cancel-text{margin-bottom: 90px;}
    .modal-cancelar-reserva{margin-top: 15px;}
    .modal-cancelar-reserva .icon-error{
      display: block;
      margin: 40px 0px 30px;
      font-size: 70px;
      color: #FF3F00;
    }
    .modal-cancelar-reserva .clearfix{margin-bottom: 45px;}

    /* aside resumen reserva */
    .rw-reservas-aside{font-family: 'lato', sans-serif;}
    .rw-reservas-aside:first-child .checkout-aside{margin-top: 0px;}
    .rw-reservas-aside .checkout-aside #colapse-header i{
      float: right;
      position: relative;
      top: -2px;     
    }
    .head-success.rw-reserva-cancelar-reserva p{font-size: 16px;}

/*-------------------------------------*\

  PÁGINA - MODIFICAR RESERVAS

\*-------------------------------------*/

.rw-reserva-modificar-reserva{
  margin-bottom: 20px;
  padding: 20px 20px 10px;
  position: relative;
  font-family: 'lato', sans-serif;
}

.rw-reserva-modificar-reserva .editar-datos{
  position: absolute;
  top: 20px;
  right: 23px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;  
}
  .rw-reserva-modificar-reserva .editar-datos .icon-edit{font-size: 16px;}

.rw-reserva-modificar-reserva .h5{
  margin-top: 0px;
  padding-right: 90px;
  padding-bottom: 10px;
  font-family: 'latoregular', sans-serif;  
  font-size: 16px;
  border-bottom: solid 1px #EEEEEE;
}

.rw-reserva-modificar-reserva dl{margin-bottom: 0px;}
.rw-reserva-modificar-reserva dt, 
.rw-reserva-modificar-reserva dd {
    float: left;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.rw-reserva-modificar-reserva dt{
    width: 35%;
    margin-right: 10px;
    clear: left;    
}
.rw-reserva-modificar-reserva dd {color: #777777;}
.rw-reserva-modificar-reserva .email-info{text-transform:inherit;}

.rw-reserva-modificar-reserva .observaciones{
  font-size: 16px;
  color:#858585;
}

.rw-reserva-modificar-reserva .datos-reserva{/*display: none;*/}
.rw-reserva-modificar-reserva form{
  display: none;
  padding: 10px 0px;
}

.rw-reserva-modificar-reserva .btns-cont{margin-top: 20px;}
.rw-reserva-modificar-reserva .btn-cancelar{
  float: right;
  margin-right: 50px;
  padding-top: 15px;
  font-family: 'latoregular', sans-serif;  
  font-size: 12px;
  color:#999999;
}

/*Sección modificar habitaciones*/
.rw-reserva-modificar-reserva .modificar-habitacion{
  padding-right: 30px;
  padding-bottom: 10px;
  border-bottom: solid 1px #EEEEEE;
}
.rw-reserva-modificar-reserva .modificar-habitacion .habitaciones-huespedes{margin-bottom: 20px;}
.rw-reserva-modificar-reserva .modificar-habitacion .label-title{text-align: left;}
.rw-reserva-modificar-reserva .modificar-habitacion .label-title-ninos{
  text-transform: inherit;
  font-weight: bold;  
  text-align: left;
  color:#777777;
}
.rw-reserva-modificar-reserva .modificar-habitacion select{height: 30px;}
.rw-reserva-modificar-reserva .modificar-habitacion .control-label{
  padding-top: 8px;
  position: relative;
}
.rw-reserva-modificar-reserva .modificar-habitacion .icon-adult{
  right: 69px;
  top: 4px;
}
.rw-reserva-modificar-reserva .modificar-habitacion .icon-child{
  right: 53px;
  top: 4px;  
}

@media (max-width: 1199px){
  .rw-reserva-modificar-reserva .modificar-habitacion{padding-right:0px;}
  .rw-reserva-modificar-reserva .modificar-habitacion select{padding: 6px;}
}

@media (max-width: 991px){
  header.rw-reserva-info-detalle dt{font-size: 16px;}
  header.rw-reserva-info-detalle .rw-reserva-impuestos{
    display: block;
    margin-left: 0px;
  }
  section.rw-reserva-info-detalle,
  section.rw-reserva-info-detalle section{margin-bottom: 0;}
  .rw-reserva-info-opciones{
    padding-left: 10px;
    padding-right:10px;
  }
  .rw-reserva-cancelar-reserva-volver .btn-border{margin-top: 30px;}
  form.rw-cancelar-reserva .nombre-web label{padding-top: 0px;}
  form.rw-cancelar-reserva .label-block,
  .rw-reserva-modificar-reserva .label-block{
    width: 100%;
    text-align: left;
  }
  .rw-reserva-modificar-reserva .btn-cancelar{
    display: block;
    float: none;
    margin: 10px 0 20px; 
    padding: 20px 0px 5px;
    text-align: center;
  }
  .rw-reserva-modificar-reserva .habitaciones-huespedes label span,
  .rw-reserva-modificar-reserva .edades-ninos .control-label{display: none;}
  .rw-reserva-modificar-reserva .edades-ninos .label-title-ninos{display: block;}
  .rw-reserva-modificar-reserva .modificar-habitacion .icon-child,
  .rw-reserva-modificar-reserva .modificar-habitacion .icon-adult{
    position: relative;
    right: -8px;
    top: -1px;
  }
}

@media (max-width: 767px){
  header.rw-reserva-info-detalle{border:none;}
  header.rw-reserva-info-detalle dt{
    padding-bottom: 10px;
    border-bottom: solid 1px #EEEEEE;
  }
  section.rw-reserva-info-detalle .estado-hotel{margin-bottom: 20px;}
  section.rw-reserva-info-detalle .rw-reserva-info-hotel-img{margin-bottom: 20px;}
  section.rw-reserva-info-detalle .rw-reserva-info-hotel-img img{width: 100%;}
  .rw-reserva-info-opciones .btn-border{margin-top: 20px;}
  section.rw-reserva-info-habitaciones{padding: 0px;}
  .rw-reserva-info-habitacion,
  .rw-reserva-info-habitacion-header,
  .rw-reserva-info-habitacion-datos{display: block;}
  .rw-reserva-info-habitacion-header{
    padding: 20px 15px;
    border-left: none;
    border-top: 2px solid #0075C0;
  }
  .rw-reserva-info-habitacion-datos-cont{
    margin: 0px;
    padding: 0px;
    border-bottom: none;
  }
  .rw-reserva-info-habitacion-datos-cont div{
    padding: 15px 0px;
    border-bottom: solid 1px #EEEEEE;
  }
  .rw-reserva-info-habitacion-datos-cont div:last-child{border-bottom: none;}

  .rw-reserva-modificar-reserva .h5{padding-right: 20px;}
  .rw-reserva-modificar-reserva .editar-datos{
    width: 30px;
    height: 25px;
    text-align: right;
    right: 20px;
  }
  .rw-reserva-modificar-reserva .editar-datos span{display: none;}
  .rw-reserva-modificar-reserva dt, 
  .rw-reserva-modificar-reserva dd {width: 100%;}

  .rw-reserva-modificar-reserva .modificar-habitacion .habitaciones-huespedes label{text-align: right;}
  .rw-reserva-modificar-reserva .modificar-habitacion .label-title,
  .rw-reserva-modificar-reserva .edades-ninos .label-title-ninos{margin-bottom: 15px;}
  .rw-reserva-modificar-reserva .edades-ninos select{padding: 6px 1px;}
  
}

@media (max-width: 479px){
  .modal-cancelar-reserva{
    max-width: 200px;
    display: inline-block;
  }
  .btn-primary.rw-btn-confirmar-cancelacion{padding: 12px 10px;}
}

/* Shortcodes */
.color-gris-oscuro{color: #999999;}