/*---------SEARCH & RESERVATIONS PAGE ----------
-----------------------------------------------*/

.search-module-form.search {
  background-color: transparent;
  height: auto;
}

.search-module-square {
  padding: 10px;
  background: #FFF;
  z-index: auto;
}

.search-module-square header,
.gestion-reserva header {
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.search-module-square header .h2,
.gestion-reserva header .h2 {
  font-size: 22px;
  margin-bottom: 5px;
  width: inherit;
  margin-top: 10px;
}

.search-module-form .form-group {
  float: none;
  display: block;
  width: 100%;
}

.search-module-square #autocomplete {
  top: 150px !important;
  left: 0 !important;
}

.gestion-reserva,.contact { background:#fff; padding:10px; margin-bottom:20px;}
.gestion-reserva form {padding-top: 10px;}
.gestion-reserva .form-control,
.gestion-reserva .form-control:focus { margin-bottom:10px;}
.contact .content { background:#F2F2F2; padding:12px}
.gestion-reserva .h3,
.contact .h3 { color:#777777; padding:0 0 5px 0; margin:0; font-weight:700; font-size:18px;}
.gestion-reserva .btn { width:100%; padding:10px 0; margin-top: 5px;}
.gestion-reserva a.phone,
.contact a.phone { font-size:18px; display: inline-block; margin: 5px 15px 0 0;}
.gestion-reserva .phone i,
.contact .phone i { padding-right:6px; font-size:24px; float:left}
.gestion-reserva p.text-center { font-size:16px; color:#858585; padding:10px 30px }
.gestion-reserva .check-in,
.gestion-reserva .check-out {
	position:relative
}
.gestion-reserva .check-in:before,
.gestion-reserva .check-out:before {
  position: absolute;
  top: 10px;
  left: 10px;
  content: "\e604";
  font-family: 'melia-icons';
  font-size: 20px;
  color: #0075C0;
}
.gestion-reserva .check-in input,
.gestion-reserva .check-out input {
	padding-left:40px
}

.search-module-square .cont-search {
  height: auto;
  background: transparent;
}

.search-module-square .search-module-form {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0;
}

.search-module-square #ocupationselection {
  width: 160%;
  left: -30%;
}

@media(max-width: 991px) {
  .search-module-square #ocupationselection {
    width: 100%;
    left: 0;
  }
}

@media(max-width: 767px) {
  .search-module-square #ocupationselection {
    width: 110%;
    left: -5%;
  }
}

@media(min-width: 992px) {
  .search-module-square #predictor {
    width: 900px;
  }
}



.search-module-square .form-group {
  position: relative;
}

#ocupationshow i, #ocupationselection i {
  position: inherit !important;
}

.search-module-square #search-calendar {
  width: 760px;
}

.search-module-square .options a {
  text-transform: uppercase;
  color: #666;
}

@media(max-width: 767px) {
  .search-module-square .options a {
    text-transform: initial;
  }
}

.search-module-square #specialrates a {
  color: #FFF;
}

.search-module-square .icon-alert:before {
  color: #bf0310;
}

.search-module-square #coupon-form {
  padding-bottom: 10px;
  border-bottom: 1px solid #DDD;
  margin-bottom: 15px;
}

.search-module-square #coupon-form .form-group {
  padding-top: 2px;
  margin-top: 6px;
}

.search-module-square #coupon-form .form-group .icon-alert {
  right: 10px !important;
}

@media (min-width: 1200px) {
  .search-module-square .calendar-wrapper.is-checkin-date:before {
    left: 120px;
  }
  .search-module-square .calendar-wrapper.is-checkout-date:before {
    left: 400px;
  }
}

.search-module-square #search-button {
  float: inherit;
  width: 60%;
}

.search-module-square #search-button i {
  margin-left: 12px;
}

.search-module-square #search-button i.icon-search-btn:before {
  font-size: 16px;
}

@media(max-width: 991px) {
  .gestion-reserva a,
  .contact a {
    display: block;
  }
}

@media(min-width: 768px) {

  .gestion-reserva article.gestion,
  .search-module-square {
    overflow: visible !important;
  }
}

@media(max-width: 767px) {

  .search-module-square {
    margin-bottom: 20px;
  }

  .search-module-square #ocupation {
    width: 100%;
    padding: 0;
  }

  .search-module-square #ocupationshow div span {
    width: 30px;
  }

  .search-module-square #search-button {
    width: 100%;
  }

  .search-module-form .form-group {
    margin-bottom: 15px
  }

  .gestion-reserva,
  .contact {
    margin-bottom: 20px;
  }

  .gestion-reserva article.gestion,
  .search-module-square {
    overflow: hidden;
  }

  .gestion-reserva.closed article.gestion,
  .search-module-square.closed,
  .gestion-reserva.closed {
    max-height: 54px;
    transition: max-height .3s;
  }

  .gestion-reserva.opened article.gestion,
  .search-module-square.opened,
  .gestion-reserva.opened {
    max-height: 700px;
    transition: max-height .5s;
  }

  .search-module-square header .h2, .gestion-reserva header .h2 {
    font-size: 20px;
    margin: 10px 0 8px 0;
    text-align: left;
    color: #0071C6;
  }

  .search-module-square header .h2 i, .gestion-reserva header .h2 i {
    float: right;
    font-size: 18px;
  }

  .search-module-square.opened header .h2 i:before, .gestion-reserva.opened header .h2 i:before {
    content: "\e621";
  }
  

}


@media(min-width: 768px) {
  .gestion-reserva.nofocus,
  .search-module-square.nofocus {
    background-color: #F6F6F6;
  }

    .gestion-reserva.contact.nofocus {
      background-color: #FFF;
    }

  .search-module-square .form-control,
  .gestion-reserva .form-control,
  .search-module-square .form-group,
  .search-module-square .check-in,
  .search-module-square .check-out,
  .search-module-square #ocupation,
  .search-module-square #ocupationshow {
    background-color: transparent !important;
  }
}




@media(min-width: 992px) {
  .gestion-reserva {
    overflow: visible !important;
  }
  .gestion-reserva .calendar-container {
    width: 800px;
    right: 0;
  }
  .search-module-form .calendar-wrapper.is-checkin-date:before {
    left: 50px;
  }

  .search-module-form .calendar-wrapper.is-checkout-date:before {
    left: 260px;
  }

  .gestion-reserva #search-calendar .calendar-wrapper.is-checkin-date:before {
    left: 385px;
  }

  .gestion-reserva #search-calendar .calendar-wrapper.is-checkout-date:before {
    left: 610px;
  }
  
}

@media(min-width: 1200px) {

  .search-module-form .calendar-wrapper.is-checkin-date:before {
    left: 55px;
  }

  .search-module-form .calendar-wrapper.is-checkout-date:before {
    left: 310px;
  }

  .gestion-reserva #search-calendar .calendar-wrapper.is-checkin-date:before {
    left: 300px;
  }

  .gestion-reserva #search-calendar .calendar-wrapper.is-checkout-date:before {
    left: 560px;
  }

}

@media(max-width: 991px) {
  
  .search-module-form #search-calendar,
  .gestion-reserva #search-calendar {
    width: 740px;
  }

  .search-module-form #search-calendar,
  .gestion-reserva #search-calendar,
  .search-module-form #search-calendar .calendar-container,
  .gestion-reserva #search-calendar .calendar-container {
    width: 100%;
    padding: 0;
  }

  .gestion-reserva .calendar-wrapper.is-checkout-date:before {
    right: 120px;
    left: inherit;
  }
  .gestion-reserva .calendar-wrapper.is-checkin-date:before {
    right: 300px;
    left: inherit;
  }
}

.search-module-square .search-calendar-footer #flexible {
  width: inherit;
  display: inline-block;
  height: inherit;
  margin: 0px 3px 0 0;
}

.search-module-square .search .focus-checkin div.check-in,
.search-module-square .search .focus-checkout div.check-out {
  border: 2px solid #0075C0;
  box-shadow: 3px 3px 0 0 rgba(0,28,83,0.10) !important;
  position: relative;
  left: -1px;
  margin-top: -1px;
  margin-bottom: -1px
  margin-left: 0;
}

@media (min-width: 768px) {
  .gestion-reserva,
  .search-module-square {
    overflow: visible !important;
  }
}
  
