/* ESPECIALS BRANDS*/
/*INSIDE*/
body{background: #000;}
.bg-brand-content {background:#000;}
.bg-brand-content .h1 { color:#fff}
.intro-brand { background:#000; color:#fff;}
.dest-rewards { border:0;}
.container-fluid.rewards-inns { background:#fff}
.social .h2 { color:#fff}
.brand-container { background:#000}
.navbar-brand { width:143px;}
.affix .navbar-brand { width:143px}
.navbar > .container .navbar-brand {margin-top: 18px;background-size: 100px}
.affix .navbar-brand { margin-top:8px !important;}

.brand-cont { color:#fff}
.brand-cont {background:#000 url(../img/brands/bg_inside_content.png) repeat-x top;}
.carousel-inner {}
.carousel-inner .h1 { color:#fff }
.brand-container .full {color:#333}
.carousel-indicators {color:#fff}
ol.carousel-bullet li a.prev {background-position:-210px -92px}
ol.carousel-bullet li a.next {background-position:-220px -92px}

@font-face {
    font-family: 'prozaregular';
    src: url('../fonts/inside/Proza-Regular-webfont.eot');
    src: url('../fonts/inside/Proza-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inside/Proza-Regular-webfont.woff2') format('woff2'),
         url('../fonts/inside/Proza-Regular-webfont.woff') format('woff'),
         url('../fonts/inside/Proza-Regular-webfont.ttf') format('truetype'),
         url('../fonts/inside/Proza-Regular-webfont.svg#prozaregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

li i.icon-mapa, li i.icon-grid { color:#333}

.cont-search [class^="icon-"]:before, .cont-search [class*=" icon-"]:before,
header.affix .navbar-navigation [class^="icon-"]:before, header.affix .navbar-navigation [class*=" icon-"]:before,
.tabpanel.social li a:hover i, .tabpanel.social li a:hover i,  
.tabpanel.social li.active a i, .tabpanel.social li.active a i,
i.icon-construct,
.sub-rewards ul.checks li:before,
.search .check-in:before,
.search .check-out:before,
i.icon-calendar,
li.active i.icon-grid,
li:hover i.icon-grid,
li.active i.icon-mapa,
li:hover i.icon-mapa,
#coupon-form .reset,
.descargar-pdf i,
.row.nota-informativa .h3,
footer .row-links a:hover
{ color:#9E2B94}

.offer-rew .points { background:#9E2B94;}

.brand-cont .h1, .h1 { font-family:'prozaregular'; font-weight:400; font-size:30px; line-height:30px}
.brand-cont .h2, .h2 { font-family:'prozaregular'; font-weight:400}
strong {font-family:'prozaregular'; font-weight:700}

.brand-cont.full {color: #000;}

.hotel .brand-cont .h1, .hotel .h1 { font-family:'lato'; font-weight:400;}
.hotel .brand-cont .h2, .hotel .h2 { font-family:'lato'; font-weight:400 !important}
.hotel .h1 strong, .hotel .h2 strong, .hotel .h3 strong, strong {font-family:'lato'; font-weight:700 !important}.social .btn, .dest-rewards strong, .affix #menu-toggle span, .affix #menu-toggle span:after, .affix #menu-toggle span:before, .affix #menu-toggle:after, .menu-opened #menu-toggle span:after, .menu-opened #menu-toggle span:before, .menu-opened #menu-toggle:after, .white-header #menu-toggle span, .white-header #menu-toggle span:after, .white-header #menu-toggle span:before, .white-header #menu-toggle:after, .white-header .menu-opened #menu-toggle span:after, .white-header .menu-opened #menu-toggle span:before, .white-header .menu-opened #menu-toggle:after, .menu-opened #menu ul li a:hover, .pagination>li a:hover, .pagination>li.active a, .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus, .grid-item .topo strong, .rewards-banner .circle
{background:#9E2B94}
.btn, .btn-primary:active, .btn-primary:focus { background:#9E2B94; border:1px solid #9E2B94;  color:#fff}
.btn:hover, .btn-default:hover, .btn-default:focus, .open>.dropdown-toggle.btn-default, .btn-default:focus
, .btn-default:hover,  .btn-default:focus, .open>.dropdown-toggle.btn-default, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus
{ background:#63195C; color:#fff}
.btn-default:hover, .btn-default:focus, .open>.dropdown-toggle.btn-default, .btn-default:focus
{ border:1px solid #63195C }
a:hover { color:#63195C;}
a, .tabpanel .nav>li a:hover, .tabpanel .nav>li a:active, .tabpanel .nav>li.active a, .carousel-menu .active, .carousel-menu li:hover, .navbar-nav > li > a:hover,
.navbar-nav > li > a.active, #autocomplete .last-searches li, .ui-autocomplete .ui-menu .ui-menu-item, .ui-widget-header, #ocupationselection,#roomsadded legend span, .row.search-calendar-header, .row.search-calendar-footer, a:hover, a:focus, a:active, input[type="reset"]
 { color:#9E2B94}
.big.nav-tabs li.active, .big.nav-tabs li:hover {border-top:3px solid #9E2B94}
.navbar-brand { background:url(../img/brand-logos/head-innside.png) no-repeat 0 0;}
.affix .navbar-brand { background:url(../img/brand-logos/head-innside-small.png) no-repeat 0 0; margin-bottom:-4px}
.white-header .navbar-brand, .menu-opened .navbar-brand { background:url(../img/brand-logos/head-innside-color.png) no-repeat 0 0;}
.menu-opened .affix .navbar-brand {background:url(../img/brand-logos/head-innside-small.png) no-repeat 0 0;}
@media (max-width:767px){
	.navbar-brand, .affix .navbar-brand { background:url(../img/brand-logos/head-innside-color.png) no-repeat 0 0;
	margin:13px 0 9px 0}
	#menu-toggle span, #menu-toggle span:after, #menu-toggle span:before, #menu-toggle:after {background:#9E2B94}
}


.grid-item:hover .caption {background-image: url(../img/brands/bg_color_paradisus.png);}

.sub-last-searches i { color: #9E2B94}
.sub-last-searches .btn i { color:#fff}
.sub-last-searches .btn i { color:#fff !important}
.btn-primary:hover { border:1px solid #9E2B94}
.hotel-menu ul li.active { background-color: #9E2B94 !important;}
.hotel-menu ul li:hover a {color: #9E2B94 !important;}
.hotel-menu ul li.active:hover a { color:#fff !important;}
.btn.btn-default { background:transparent; border:2px solid  #9E2B94; color: #9E2B94}
.btn.btn-default:hover { background: #9E2B94; color:#fff;}
.carousel-caption .btn.btn-default { border:2px solid  #fff; color: #fff}
.carousel-caption .btn.btn-default:hover {border:2px solid  #9E2B94}
.icon-search-btn:before { color:#fff !important}
.hotel-menu-mobile .open>.dropdown-toggle.btn { color:#fff !important}
.custom-select.focus, .form-control:focus { border:2px solid #9E2B94}

@media (max-width: 767px) {
.tabpanel .nav-tabs.gen-tabs>li.active>a, .tabpanel .nav-tabs.gen-tabs>li:hover>a {
  border-top: 2px solid #9E2B94 !important; padding:14px;}
}


.calendar-wrapper .ui-widget-content .range-first,
.date-range-selected.ui-datepicker-current-day,
.hover-active.hover-first,
.hover-active.hover-last,
.calendar-wrapper .ui-widget-content .date-range-selected, .calendar-wrapper .ui-widget-content td:hover
{background:#9E2B94 !important}
.calendar-wrapper .ui-widget-content .date-range-selected,
.calendar-wrapper .ui-widget-content td:hover,
.calendar-wrapper .ui-widget-content td.date-hover,
.calendar-wrapper .ui-widget-content .range-first.date-hover,
.calendar-wrapper .ui-widget-content .range-last.date-hover,
.hover-active
{background-color:rgba(158, 43, 148, 0.6);}
