body#content.cuerpo {
  font-family: 'lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.25;
  background: #f2f2f2;
  font-smoothing: antialiased;
  color: #333;
}

.wpthemeFrame {
  min-width: inherit !important;
  position: relative;
}

.ibmToolbars {
  min-height: 1px;
}

.ibmToolbars + .wpthemeFrame {
  position: relative;
  top: -1px;
}

.ibmToolbars + .wpthemeFrame header.navbar.affix-top {
  position: absolute;
  top: 0;
}

.wpthemeLayoutContainers {
  padding: 0 !important;
}

.wpthemeInner {
  margin: 0 !important;
  width: auto !important;
}

.wpthemeRow {
  margin: 0 !important;
  padding-left: 0 !important;
}

.wpthemeRow.container {
  margin: 0 !important;
  padding: 0 10px !important;
}

.wpthemeRow .wpthemeControl {
  width: 100% !important;
  margin: 0 !important;
}

.wpthemeControl {
  margin: 0px !important;
}

.wpthemeRow .component-control {
  float: inherit !important;
}

.wpthemeRow .wpthemeControl .wpthemeControlBody {
  height: auto !important;
}

.wpthemeOverflowAuto {
  overflow: visible !important;
}

.wpthemeCol {
  margin-left: 0 !important;
  min-height: 50 !important;
  width: 100% !important;
}

.edit-mode .wpthemeCol,
.edit-mode .wpthemeRow {
  margin-bottom: 15px !important;
}

.edit-mode .wpthemeRow {
  min-height: 20px !important;
}

.edit-mode .wpthemeRow.sectionHeader,
.edit-mode .wpthemeCol.sectionHeader {
  min-height: 180px !important;
}


.edit-mode .wpthemeControl.wpthemeHidden {
  padding: 8px !important;
}


/*sacamos cabeceras de IBM del <header> de la maqueta
  agrupamos cabeceras de IBM en un solo <div>
  estilamos el header para visualización con cabeceras IBM
*/


/* MODO EDICIÓN */

.col-xs-1 .wpthemeCol, .col-sm-1 .wpthemeCol, .col-md-1 .wpthemeCol, .col-lg-1 .wpthemeCol, .col-xs-2 .wpthemeCol, .col-sm-2 .wpthemeCol, .col-md-2 .wpthemeCol, .col-lg-2 .wpthemeCol, .col-xs-3 .wpthemeCol, .col-sm-3 .wpthemeCol, .col-md-3 .wpthemeCol, .col-lg-3 .wpthemeCol, .col-xs-4 .wpthemeCol, .col-sm-4 .wpthemeCol, .col-md-4 .wpthemeCol, .col-lg-4 .wpthemeCol, .col-xs-5 .wpthemeCol, .col-sm-5 .wpthemeCol, .col-md-5 .wpthemeCol, .col-lg-5 .wpthemeCol, .col-xs-6 .wpthemeCol, .col-sm-6 .wpthemeCol, .col-md-6 .wpthemeCol, .col-lg-6 .wpthemeCol, .col-xs-7 .wpthemeCol, .col-sm-7 .wpthemeCol, .col-md-7 .wpthemeCol, .col-lg-7 .wpthemeCol, .col-xs-8 .wpthemeCol, .col-sm-8 .wpthemeCol, .col-md-8 .wpthemeCol, .col-lg-8 .wpthemeCol, .col-xs-9 .wpthemeCol, .col-sm-9 .wpthemeCol, .col-md-9 .wpthemeCol, .col-lg-9 .wpthemeCol, .col-xs-10 .wpthemeCol, .col-sm-10 .wpthemeCol, .col-md-10 .wpthemeCol, .col-lg-10 .wpthemeCol, .col-xs-11 .wpthemeCol, .col-sm-11 .wpthemeCol, .col-md-11 .wpthemeCol, .col-lg-11 .wpthemeCol, .col-xs-12 .wpthemeCol, .col-sm-12 .wpthemeCol, .col-md-12 .wpthemeCol, .col-lg-12 .wpthemeCol{
  width: 100% !important;
}