/* ESPECIALS BRANDS*/
/*GRAND MELIA*/
.bg-brand-content .h1 { color: #fff }
.intro-brand {
    background: #000 url('../img/brands/bg_grandmelia.jpg') no-repeat center top;
    color: #fff;
}

.social .h2 { color: #fff }
.brand-container { background: #fff }
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    width: 137px;
    margin-top: 9px;
}
.affix .navbar-brand { width: 137px }
/*.social-brands-header i[class^="icon-"],
.social-brands-header i[class*=" icon-"] {
    background: url('../img/sprite-brands.png') no-repeat;
    display: inline-block;
}*/
.social-brands-header i.icon-tw {
    background-position: 0 -293px;
    width: 35px;
    height: 35px;
}
.social-brands-header i.icon-facebook-sm {
    background-position: -36px -293px;
    width: 36px;
    height: 35px;
}
.social-brands-header i.icon-googleplus-sm {
    background-position: -73px -293px;
    width: 35px;
    height: 35px;
}
@font-face {
    font-family: 'function';
    src: url('../fonts/grandme/FunctionCaps-Medium-webfont.eot');
    src: url('../fonts/grandme/FunctionCaps-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/grandme/FunctionCaps-Medium-webfont.woff2') format('woff2'), url('../fonts/grandme/FunctionCaps-Medium-webfont.woff') format('woff'), url('../fonts/grandme/FunctionCaps-Medium-webfont.ttf') format('truetype'), url('../fonts/grandme/FunctionCaps-Medium-webfont.svg#function_capsmedium') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'function';
    src: url('../fonts/grandme/FunctionPro-Bold-webfont.eot');
    src: url('../fonts/grandme/FunctionPro-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/grandme/FunctionPro-Bold-webfont.woff2') format('woff2'), url('../fonts/grandme/FunctionPro-Bold-webfont.woff') format('woff'), url('../fonts/grandme/FunctionPro-Bold-webfont.ttf') format('truetype'), url('../fonts/grandme/FunctionPro-Bold-webfont.svg#function_pro_bookbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
li i.icon-mapa, li i.icon-grid { color:#333}

.cont-search [class^="icon-"]:before, .cont-search [class*=" icon-"]:before,
header.affix .navbar-navigation [class^="icon-"]:before, header.affix .navbar-navigation [class*=" icon-"]:before,
.tabpanel.social li a:hover i, .tabpanel.social li a:hover i,  
.tabpanel.social li.active a i, .tabpanel.social li.active a i,
i.icon-construct,
.sub-rewards ul.checks li:before,
.search .check-in:before,
.search .check-out:before,
i.icon-calendar,
li.active i.icon-grid,
li:hover i.icon-grid,
li.active i.icon-mapa,
li:hover i.icon-mapa,
#coupon-form .reset,
.descargar-pdf i,
.row.nota-informativa .h3,
footer .row-links a:hover
{ color:#BF3019;}

.offer-rew .points { background:#BF3019;}

@media (max-width:767px){header .navbar-navigation [class^="icon-"]:before, header.affix .navbar-navigation [class*=" icon-"]:before{ 
  color:#BF3019;}
}


.brand-cont .h1, .h1 { font-family:'function'; font-weight:normal; font-size:40px; line-height:30px}
.brand-cont .h2, .h2 { font-family:'function'; font-weight:normal}
strong {font-family:'function'; font-weight:normal}

.hotel .brand-cont .h1, .hotel .h1 { font-family:'lato'; font-weight:400;}
.hotel .brand-cont .h2, .hotel .h2 { font-family:'lato'; font-weight:400 !important}
.hotel .h1 strong, .hotel .h2 strong, .hotel .h3 strong, strong {font-family:'lato'; font-weight:700 !important}


.social .btn,
.dest-rewards strong,
.affix #menu-toggle span,
.affix #menu-toggle span:after,
.affix #menu-toggle span:before,
.affix #menu-toggle:after,
.menu-opened #menu-toggle span:after,
.menu-opened #menu-toggle span:before,
.menu-opened #menu-toggle:after,
.white-header #menu-toggle span,
.white-header #menu-toggle span:after,
.white-header #menu-toggle span:before,
.white-header #menu-toggle:after,
.white-header .menu-opened #menu-toggle span:after,
.white-header .menu-opened #menu-toggle span:before,
.white-header .menu-opened #menu-toggle:after,
.menu-opened #menu ul li a:hover,
.pagination>li a:hover,
.pagination>li.active a,
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
.grid-item .topo strong,
.rewards-banner .circle { background: #BF3019 }
.btn,
.btn-primary:focus,
 .btn-primary:active {
    background: #BF3019;
    border: 1px solid #BF3019;
    color: #fff;
}
.btn:hover,
.btn-default:hover, .btn-default:focus, .open>.dropdown-toggle.btn-default, .btn-default:focus
,
.btn-default:hover,
.btn-default:focus,

.open>.dropdown-toggle.btn-default,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background: #922411;
    color: #fff;
}
.btn-default:hover, btn-default:focus, .open>.dropdown-toggle.btn-default, .btn-default:focus
{ border: 1px solid #922411 }
a:hover { color: #922411 }
a,
.tabpanel .nav>li a:hover,
.tabpanel .nav>li a:active,
.tabpanel .nav>li.active a,
.carousel-menu .active,
.carousel-menu li:hover,
.navbar-nav > li > a:hover,
.navbar-nav > li > a.active,
#autocomplete .last-searches li,
.ui-autocomplete .ui-menu .ui-menu-item,
.ui-widget-header,
#ocupationselection,
#roomsadded legend span,
.row.search-calendar-header,
.row.search-calendar-footer,
a:hover,
a:focus,
a:active,
input[type="reset"] { color: #BF3019 }
.big.nav-tabs li.active,
.big.nav-tabs li:hover { border-top: 3px solid #BF3019 }
.navbar-brand { background: url('../img/brand-logos/head-granmelia.png') no-repeat 0 0 }
.affix .navbar-brand {
    background: url('../img/brand-logos/head-granmelia-small.png') no-repeat 0 0;
    margin-bottom: -4px;
}
.white-header .navbar-brand,
.menu-opened .navbar-brand { background: url('../img/brand-logos/head-granmelia-color.png') no-repeat 0 0 }
.menu-opened .affix .navbar-brand { background: url('../img/brand-logos/head-granmelia-small.png') no-repeat 0 0 }
@media (max-width:767px) { 
    .navbar-brand,
    .affix .navbar-brand {
        background: url('../img/brand-logos/head-granmelia-color.png') no-repeat 0 0;
        margin: 13px 0 9px 0;
    }
    #menu-toggle span,
    #menu-toggle span:after,
    #menu-toggle span:before,
    #menu-toggle:after { background: #BF3019 }
}
li i.icon-tw,
li i.icon-yt,
li i.icon-ins,
li i.icon-fb { 
  font-size: 24px;
  vertical-align: bottom;
  display: inline-block;
  margin-right: 8px; 
  color: #bbb;
}

li:hover i.icon-tw,
.active .icon-tw,
li:hover i.icon-yt,
.active .icon-yt,
li:hover i.icon-ins,
.active .icon-ins,
li:hover i.icon-fb, 
.active .icon-fb{
    color: #BF3019 ;
}


.grid-item:hover .caption { background-image: url('../img/brands/bg_color_grandmelia.png') }
.form-group.icon-destination:before,
i.icon-destination,
.ui-autocomplete li.ui-category.destinations:before { background-position: -563px 0 }
i.icon-key, i.icon-arrow-down { color: #BF3019 }
i.icon-adult,
#roomsadded .ico-adult { color: #BF3019 }
i.icon-child,
#roomsadded .ico-child { color: #BF3019 }
i.icon-mapa { color: #BF3019 }
i.icon-add { color: #BF3019 }
i.icon-rem { color: #BF3019 }

a.ico-close,
.ico-close {  color: #BF3019}

.sub-last-searches i { color: #BF3019}
.sub-last-searches .btn i { color:#fff}
.btn-primary:hover { border:1px solid #BF3019}
.hotel-menu ul li.active { background-color: #BF3019 !important;}
.hotel-menu ul li:hover a {color: #BF3019 !important;}
.hotel-menu ul li.active:hover a { color:#fff !important;}
.btn.btn-default { background:transparent; border:2px solid  #BF3019; color: #BF3019}
.btn.btn-default:hover { background: #BF3019; color:#fff;}
.carousel-caption .btn.btn-default { border:2px solid  #fff; color: #fff}
.carousel-caption .btn.btn-default:hover {border:2px solid  #BF3019}
.icon-search-btn:before { color:#fff !important}
.hotel-menu-mobile .open>.dropdown-toggle.btn { color:#fff !important}
.hotel-menu-mobile .open>.dropdown-toggle.btn .icon-arrow-down { color:#fff}
.custom-select.focus, .form-control:focus { border:2px solid #BF3019}

/*.tabpanel .nav-tabs.gen-tabs>li.active>a, .tabpanel .nav-tabs.gen-tabs>li:hover>a {
  border-top: 2px solid #BF3019; !important}*/

@media (max-width: 767px){
    .tabpanel .nav-tabs.gen-tabs>li.active>a, 
    .tabpanel .nav-tabs.gen-tabs>li:hover>a,
    .tabpanel .nav-tabs.gen-tabs>li:focus>a {
         border-top: 2px solid #BF3019;
         padding-top: 13px;
    }
}

.calendar-wrapper .ui-widget-content .range-first,
.date-range-selected.ui-datepicker-current-day,
.hover-active.hover-first,
.hover-active.hover-last,
.calendar-wrapper .ui-widget-content .date-range-selected, .calendar-wrapper .ui-widget-content td:hover
{background:#BF3019 !important}
.calendar-wrapper .ui-widget-content .date-range-selected,
.calendar-wrapper .ui-widget-content td:hover,
.calendar-wrapper .ui-widget-content td.date-hover,
.calendar-wrapper .ui-widget-content .range-first.date-hover,
.calendar-wrapper .ui-widget-content .range-last.date-hover,
.hover-active
{background-color:rgba(191, 48, 25, 0.6);}  