/* ESPECIALS BRANDS*/
/*MELIA*/
li i.icon-mapa, li i.icon-grid { color:#333}

.cont-search [class^="icon-"]:before, .cont-search [class*=" icon-"]:before,
header.affix .navbar-navigation [class^="icon-"]:before, header.affix .navbar-navigation [class*=" icon-"]:before,
.tabpanel.social li a:hover i, .tabpanel.social li a:hover i,  
.tabpanel.social li.active a i, .tabpanel.social li.active a i,
i.icon-construct,
.sub-rewards ul.checks li:before,
.search .check-in:before,
.search .check-out:before,
i.icon-calendar,
.custom-select:after,
.descargar-pdf i,
li.active i.icon-grid,
li:hover i.icon-grid,
li.active i.icon-mapa,
li:hover i.icon-mapa,
.row.nota-informativa .h3,
footer .row-links a:hover
{ color:#072244;}

.offer-rew .points { background:#072244;}

@media (max-width:767px){header .navbar-navigation [class^="icon-"]:before, header.affix .navbar-navigation [class*=" icon-"]:before{ 
   color:#072244;}
}

.bg-brand-content .h1 { color:#fff}
.intro-brand { background: url(../img/brands/bg-melia.jpg) repeat-x; color:#fff;}
.dest-rewards { border:0}
.social .h2 { color:#fff}
.social .h2 a {
  color: #FFF;
}
.brand-container { background:#fff}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { width:137px;margin-top: 9px}
.navbar.affix > .container .navbar-brand, .navbar.affix > .container-fluid .navbar-brand { width:72px}

.indicators-cont li { color:#989898}
.social-brands-header i.icon-twitter-sm { background-position: 0 -293px; width:35px; height:35px}
.social-brands-header i.icon-facebook-sm {background-position: -36px -293px; width:36px; height:35px}
.social-brands-header i.icon-googleplus-sm {background-position: -73px -293px; width:35px; height:35px}


.brand-cont .h1, .h1 {  font-weight:400; font-size:40px; line-height:30px}
.brand-cont .h2, .h2 {  font-weight:400}
strong { font-weight:700}
.social .btn, .dest-rewards strong, .affix #menu-toggle span, .affix #menu-toggle span:after, .affix #menu-toggle span:before, .affix #menu-toggle:after, .menu-opened #menu-toggle span:after, .menu-opened #menu-toggle span:before, .menu-opened #menu-toggle:after, .white-header #menu-toggle span, .white-header #menu-toggle span:after, .white-header #menu-toggle span:before, .white-header #menu-toggle:after, .white-header .menu-opened #menu-toggle span:after, .white-header .menu-opened #menu-toggle span:before, .white-header .menu-opened #menu-toggle:after, .menu-opened #menu ul li a:hover, .pagination>li a:hover, .pagination>li.active a, .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus, .grid-item .topo strong {background:#072244}
.btn, .btn-primary:active, .btn-primary:focus { background:#072244; border:1px solid #072244;  color:#fff}
.btn:hover, .btn-default:hover, btn-default:focus, .open>.dropdown-toggle.btn-default, .btn-default:focus
, .btn-default:hover, .btn-default:focus, .open>.dropdown-toggle.btn-default, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus
{ background:#444; color:#fff}
.btn-default:hover, btn-default:focus, .open>.dropdown-toggle.btn-default, .btn-default:focus
{ border:1px solid #444 }
a:hover { color:#444;}
a, .tabpanel .nav>li a:hover, .tabpanel .nav>li a:active, .tabpanel .nav>li.active a, .carousel-menu .active, .carousel-menu li:hover, .navbar-nav > li > a:hover,
.navbar-nav > li > a.active, #autocomplete .last-searches li, .ui-autocomplete .ui-menu .ui-menu-item, .ui-widget-header, #ocupationselection,#roomsadded legend span, .row.search-calendar-header, .row.search-calendar-footer, a:hover, a:focus, a:active, input[type="reset"]
 { color:#072244}
.big.nav-tabs li.active, .big.nav-tabs li:hover {border-top:3px solid #072244}
.affix .navbar-brand { margin-bottom:-4px}
/*.menu-opened .affix .navbar-brand {background:url(../img/brand-logos/head-granmelia-small.png) no-repeat 0 0;}*/
@media (max-width:767px){
	.navbar-brand, .affix .navbar-brand { background:url(../img/brand-logos/head-granmelia-color.png) no-repeat 0 0;
	margin:13px 0 9px 0}
	#menu-toggle span, #menu-toggle span:after, #menu-toggle span:before, #menu-toggle:after {background:#072244}
}
.active i.iconb-tab-tw,
li:hover i.iconb-tab-tw {background-position:-474px 0;}
.active i.iconb-tab-fb,
li:hover i.iconb-tab-fb {background-position:-498px 0;}
.active i.iconb-tab-ins,
li:hover i.iconb-tab-ins {background-position:-510px 0;}
.active i.iconb-tab-yt,
li:hover i.iconb-tab-yt {background-position:-531px 0;}
li.active i.icon-grid, li:hover i.icon-grid { background-position:-722px 0}
li.active i.icon-mapa, li:hover i.icon-mapa { background-position:-743px 0}

.affix i.icon-search-white-sm, .affix a:hover i.icon-search-white-sm, a:hover i.icon-search-white-sm, a:focus i.icon-search-white-sm, a.active  i.icon-search-white-sm
{ background-position:-630px 0; }
.affix i.icon-user-white, .affix a:hover i.icon-user-white, a:hover i.icon-user-white, a:focus i.icon-user-white, a.active i.icon-user-white
{ background-position:-649px 0; }
.affix i.icon-phone-white-sm, .affix a:hover i.icon-phone-white-sm, a:hover i.icon-phone-white-sm, a:focus i.icon-phone-white-sm, a.active i.icon-phone-white-sm
{background-position:-666px 0;}
.affix i.icon-world-white, .affix a:hover i.icon-world-white, a:hover i.icon-world-white, a:focus i.icon-world-white, a.active i.icon-world-white
{background-position:-684px 0;}
.affix i.icon-heart-white-sm, .affix a:hover i.icon-heart-white-sm, a:hover i.icon-heart-white-sm, a:focus i.icon-heart-white-sm, a:active i.icon-heart-white-sm
{background-position:-703px 0;}

i.icon-construct {background-position:-763px 0}
.grid-item .topo:after {background-position: -894px 0;}

@media (max-width:767px){

  i.icon-user-white, a.active i.icon-user-white, a:active i.icon-user-white, a:focus i.icon-user-white {  background-position:-649px 0; }
  i.icon-phone-white-sm, a.active i.icon-phone-white-sm, a:active i.icon-phone-white-sm, a:focus i.icon-phone-white-sm{background-position:-666px 0;}

}

.grid-item:hover .caption {background-image: url(../img/brands/bg_color_melia.png);}
.form-group.icon-destination:before, i.icon-destination, .ui-autocomplete li.ui-category.destinations:before { background-position:-563px 0}
.search .check-in:before, .search .check-out:before, i.icon-calendar {background-position: -603px 0;}
i.icon-key {background-position: -575px 0;}
i.icon-adult, #roomsadded .ico-adult {background-position: -587px 0;}
i.icon-child, #roomsadded .ico-child {background-position: -596px 0;}
i.icon-add {background-position: -796px 0;}
i.icon-rem {background-position:-816px 0}
i.icon-hotel, .ui-autocomplete li.ui-category.hotels:before {background-position:-921px 0}
i.icon-arrow-down, .custom-select:after {background-position:-618px 0}
a.ico-close, .ico-close {background-position:-834px 0}
i.icon-location {background-position:-900px 0}
.ui-widget-header .ui-datepicker-prev .ui-icon { background-position:-900px -22px}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { background-position:-911px -22px}

/*buscador*/
.search { background:#fff; border-bottom:1px solid #ddd}
.form-group.hotel, #check-in, #check-out, #ocupation { border:1px solid #000}
#ocupationshow { margin-left:-2px; background:transparent}
.search .options a  { color:#888;}
.search button { height:47px}
.search .options #specialrates a { color:#fff;}

.sub-last-searches i { color: #072244}
.sub-last-searches .btn i { color:#fff}
.btn-primary:hover { border:1px solid #072244}
.hotel-menu ul li.active { background-color: #072244 !important;}
.hotel-menu ul li:hover a {color: #072244 !important;}
.hotel-menu ul li.active:hover a { color:#fff !important;}
.btn.btn-default { background:transparent; border:2px solid #072244; color: #072244}
.btn.btn-default:hover { background: #072244; color:#fff;}
.carousel-caption .btn.btn-default { border:2px solid  #fff; color: #fff}
.carousel-caption .btn.btn-default:hover {border:2px solid  #072244}
.icon-search-btn:before { color:#fff !important}
.search .text-column { color: #072244 !important}
.open>.dropdown-toggle.btn-default { background:#072244;}
.hotel-menu-mobile .open>.dropdown-toggle.btn { color:#fff !important}
.custom-select.focus, .form-control:focus { border:2px solid #072244}


@media (max-width: 767px) {
.tabpanel .nav-tabs.gen-tabs>li.active>a, .tabpanel .nav-tabs.gen-tabs>li:hover>a {
  border-top: 2px solid #072244 !important; padding-top:13px;}
}
 

.calendar-wrapper .ui-widget-content .range-first,
.date-range-selected.ui-datepicker-current-day,
.hover-active.hover-first,
.hover-active.hover-last,
.calendar-wrapper .ui-widget-content .date-range-selected, .calendar-wrapper .ui-widget-content td:hover
{background:#072244 !important}
.calendar-wrapper .ui-widget-content .date-range-selected,
.calendar-wrapper .ui-widget-content td:hover,
.calendar-wrapper .ui-widget-content td.date-hover,
.calendar-wrapper .ui-widget-content .range-first.date-hover,
.calendar-wrapper .ui-widget-content .range-last.date-hover,
.hover-active
{background-color:rgba(7, 34, 68, 0.6);}