/* ESPECIALS BRANDS*/
/*ME*/

@font-face {
    font-family: 'engravers';
    src: url('../fonts/me/EngraversGothic-Regular-webfont.eot');
    src: url('../fonts/me/EngraversGothic-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/me/EngraversGothic-Regular-webfont.woff2') format('woff2'),
         url('../fonts/me/EngraversGothic-Regular-webfont.woff') format('woff'),
         url('../fonts/me/EngraversGothic-Regular-webfont.ttf') format('truetype'),
         url('../fonts/me/EngraversGothic-Regular-webfont.svg#engravers_gothic_fsregular') format('svg');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'engravers';
    src: url('../fonts/me/EngraversGothic-BoldExt-webfont.eot');
    src: url('../fonts/me/EngraversGothic-BoldExt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/me/EngraversGothic-BoldExt-webfont.woff2') format('woff2'),
         url('../fonts/me/EngraversGothic-BoldExt-webfont.woff') format('woff'),
         url('../fonts/me/EngraversGothic-BoldExt-webfont.ttf') format('truetype'),
         url('../fonts/me/EngraversGothic-BoldExt-webfont.svg#engravers_gothic_fsBdEx') format('svg');
    font-weight: 700;
    font-style: normal;
}

li i.icon-mapa, li i.icon-grid { color:#333}

.cont-search [class^="icon-"]:before, .cont-search [class*=" icon-"]:before,
.custom-select:after,
header.affix .navbar-navigation [class^="icon-"]:before, header.affix .navbar-navigation [class*=" icon-"]:before,
.tabpanel.social li a:hover i, .tabpanel.social li a:hover i,  
.tabpanel.social li.active a i, .tabpanel.social li.active a i,
i.icon-construct,
.sub-rewards ul.checks li:before,
.search .check-in:before,
.search .check-out:before,
i.icon-calendar,
li.active i.icon-grid,
li:hover i.icon-grid,
li.active i.icon-mapa,
li:hover i.icon-mapa,
.descargar-pdf i,
#coupon-form .reset,
.row.nota-informativa .h3,
footer .row-links a:hover
{ color:#90B3C6;}

.offer-rew .points { background:#90B3C6;}

@media (max-width:767px){header .navbar-navigation [class^="icon-"]:before, header.affix .navbar-navigation [class*=" icon-"]:before{ 
  color:#90B3C6;}
}

.brand-cont .h1, .h1 { font-family:'engravers'; font-weight:400; font-size:40px; line-height:30px}
.brand-cont .h2, .h2 { font-family:'engravers'; font-weight:400}
.h1 strong, .h2 strong {font-family:'engravers'; font-weight:700}

.hotel .brand-cont .h1, .hotel .h1 { font-family:'lato'; font-weight:400;}
.hotel .brand-cont .h2, .hotel .h2 { font-family:'lato'; font-weight:400 !important}
.hotel .h1 strong, .hotel .h2 strong, .hotel .h3 strong, strong {font-family:'lato'; font-weight:700 !important}.social .btn, .dest-rewards strong, .affix #menu-toggle span, .affix #menu-toggle span:after, .affix #menu-toggle span:before, .affix #menu-toggle:after, .menu-opened #menu-toggle span:after, .menu-opened #menu-toggle span:before, .menu-opened #menu-toggle:after, .white-header #menu-toggle span, .white-header #menu-toggle span:after, .white-header #menu-toggle span:before, .white-header #menu-toggle:after, .white-header .menu-opened #menu-toggle span:after, .white-header .menu-opened #menu-toggle span:before, .white-header .menu-opened #menu-toggle:after, .menu-opened #menu ul li a:hover, .pagination>li a:hover, .pagination>li.active a, .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus, .grid-item .topo strong, .rewards-banner .circle
{background:#90B5C7}
.btn,  .btn-primary:active, .btn-primary:focus, { background:#90B3C6; border:1px solid #90B3C6;  color:#fff}
.btn:hover, .btn-default:hover, .btn-default:focus, .open>.dropdown-toggle.btn-default, .btn-default:focus
, .btn-default:hover, .btn-default:focus, .open>.dropdown-toggle.btn-default, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus
{ background:#7996A4; color:#fff}
.btn-default:hover, btn-default:focus, .open>.dropdown-toggle.btn-default, .btn-default:focus
{ border:1px solid #7996A4 }
a:hover { color:#7996A4;}
a, .tabpanel .nav>li a:hover, .tabpanel .nav>li a:active, .tabpanel .nav>li.active a, .carousel-menu .active, .carousel-menu li:hover, .navbar-nav > li > a:hover,
.navbar-nav > li > a.active, #autocomplete .last-searches li, .ui-autocomplete .ui-menu .ui-menu-item, .ui-widget-header, #ocupationselection,#roomsadded legend span, .row.search-calendar-header, .row.search-calendar-footer, a:hover, a:focus, a:active, input[type="reset"]
{ color:#90B3C6}
.big.nav-tabs li.active, .big.nav-tabs li:hover {border-top:3px solid #90B3C6}
.navbar-brand { background:url(../img/brand-logos/head-me.png) no-repeat 0 0;}
.affix .navbar-brand { background:url(../img/brand-logos/head-me-small.png) no-repeat 0 0; margin-bottom:-4px}
.white-header .navbar-brand, .menu-opened .navbar-brand { background:url(../img/brand-logos/head-me-color.png) no-repeat 0 0;}
.menu-opened .affix .navbar-brand {background:url(../img/brand-logos/head-me-small.png) no-repeat 0 0;}
@media (max-width:767px){
	.navbar-brand, .affix .navbar-brand { background:url(../img/brand-logos/head-me-color.png) no-repeat 0 0;
	margin:13px 0 9px 0}
	#menu-toggle span, #menu-toggle span:after, #menu-toggle span:before, #menu-toggle:after {background:#90B5C7}
}


.grid-item:hover .caption {background-image: url(../img/brands/bg_color_me.png);}

.sub-last-searches i { color: #90B3C6}
.sub-last-searches .btn i { color:#fff}
.btn-primary:hover { border:1px solid #90B3C6}
.hotel-menu ul li.active { background-color: #90B3C6 !important;}
.hotel-menu ul li:hover a {color: #90B3C6 !important;}
.hotel-menu ul li.active:hover a { color:#fff !important;}
.btn.btn-default {background:transparent; border:2px solid  #90B3C6; color: #90B3C6}
.btn.btn-default:hover { background: #90B3C6; color:#fff;}
.carousel-caption .btn.btn-default { border:2px solid  #fff; color: #fff}
.carousel-caption .btn.btn-default:hover {border:2px solid  #90B3C6}
.icon-search-btn:before { color:#fff !important}
.hotel-menu-mobile .open>.dropdown-toggle.btn { color:#fff !important}
.custom-select.focus, .form-control:focus { border:2px solid #90B3C6}

@media (max-width: 767px) {
.tabpanel .nav-tabs.gen-tabs>li.active>a, .tabpanel .nav-tabs.gen-tabs>li:hover>a {
  border-top: 2px solid #90B3C6 !important;padding-top:13px;}
}


.calendar-wrapper .ui-widget-content .range-first,
.date-range-selected.ui-datepicker-current-day,
.hover-active.hover-first,
.hover-active.hover-last,
.calendar-wrapper .ui-widget-content .date-range-selected, .calendar-wrapper .ui-widget-content td:hover
{background:#90B3C6 !important}
.calendar-wrapper .ui-widget-content .date-range-selected,
.calendar-wrapper .ui-widget-content td:hover,
.calendar-wrapper .ui-widget-content td.date-hover,
.calendar-wrapper .ui-widget-content .range-first.date-hover,
.calendar-wrapper .ui-widget-content .range-last.date-hover,
.hover-active{background-color:rgba(144, 179, 198, 0.6);}  

.me-parrallax{ position:absolute;top:0; left:0; right:0; bottom:0;z-index:-1;} 