/* ESPECIALS BRANDS*/
/*sol*/

@font-face {
    font-family: 'bariol_boldbold';
    src: url('../fonts/sol/bariol_bold-webfont.eot');
    src: url('../fonts/sol/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sol/bariol_bold-webfont.woff2') format('woff2'),
         url('../fonts/sol/bariol_bold-webfont.woff') format('woff'),
         url('../fonts/sol/bariol_bold-webfont.ttf') format('truetype'),
         url('../fonts/sol/bariol_bold-webfont.svg#bariol_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

li i.icon-mapa, li i.icon-grid { color:#333}

.cont-search [class^="icon-"]:before, .cont-search [class*=" icon-"]:before,
header.affix .navbar-navigation [class^="icon-"]:before, header.affix .navbar-navigation [class*=" icon-"]:before,
.tabpanel.social li a:hover i, .tabpanel.social li a:hover i,  
.tabpanel.social li.active a i, .tabpanel.social li.active a i,
i.icon-construct,
.sub-rewards ul.checks li:before,
.search .check-in:before,
.search .check-out:before,
i.icon-calendar,
li.active i.icon-grid,
li:hover i.icon-grid,
li.active i.icon-mapa,
.custom-select:after,
.descargar-pdf i,
li:hover i.icon-mapa,
#coupon-form .reset,
.row.nota-informativa .h3,
footer .row-links a:hover
{ color:#F58B38}

.offer-rew .points { background:#F58B38;}

@media (max-width:767px){header .navbar-navigation [class^="icon-"]:before, header.affix .navbar-navigation [class*=" icon-"]:before{ 
    color:#F58B38;}
}

.brand-cont .h1, .h1 { font-family:'bariol_boldbold'; font-weight:normal; font-size:40px; line-height:30px}
.brand-cont .h2, .h2 { font-family:'bariol_boldbold'; font-weight:normal}
strong {font-family:'bariol_boldbold'; font-weight:normal}

.hotel .brand-cont .h1, .hotel .h1 { font-family:'lato'; font-weight:400;}
.hotel .brand-cont .h2, .hotel .h2 { font-family:'lato'; font-weight:400 !important}
.hotel .h1 strong, .hotel .h2 strong, .hotel .h3 strong, strong {font-family:'lato'; font-weight:700 !important}

.social .btn, .dest-rewards strong, .affix #menu-toggle span, .affix #menu-toggle span:after, .affix #menu-toggle span:before, .affix #menu-toggle:after, .menu-opened #menu-toggle span:after, .menu-opened #menu-toggle span:before, .menu-opened #menu-toggle:after, .white-header #menu-toggle span, .white-header #menu-toggle span:after, .white-header #menu-toggle span:before, .white-header #menu-toggle:after, .white-header .menu-opened #menu-toggle span:after, .white-header .menu-opened #menu-toggle span:before, .white-header .menu-opened #menu-toggle:after, .menu-opened #menu ul li a:hover, .pagination>li a:hover, .pagination>li.active a, .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus, .grid-item .topo strong, .rewards-banner .circle
{background:#F58B38}
.btn, .btn-primary:active, .btn-primary:focus { background:#F58B38; border:1px solid #F58B38;  color:#fff}
.btn:hover, .brands-header .carousel-caption .btn:hover, .btn-default:hover, .btn-default:focus, .open>.dropdown-toggle.btn-default, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus
{ background:#D47831; color:#fff}
.btn-default:hover, btn-default:focus, .open>.dropdown-toggle.btn-default, .btn-default:focus
{ border:1px solid #D47831 }
a:hover { color:#D47831;}
a, .tabpanel .nav>li a:hover, .tabpanel .nav>li a:active, .tabpanel .nav>li.active a, .carousel-menu .active, .carousel-menu li:hover, .navbar-nav > li > a:hover,
.navbar-nav > li > a.active, #autocomplete .last-searches li, .ui-autocomplete .ui-menu .ui-menu-item, .ui-widget-header, #ocupationselection,#roomsadded legend span, .row.search-calendar-header, .row.search-calendar-footer, a:hover, a:focus, a:active, input[type="reset"]
{ color:#F58B38}
.big.nav-tabs li.active, .big.nav-tabs li:hover {border-top:3px solid #F58B38}
.navbar-brand { background:url(../img/brand-logos/head-sol.png) no-repeat 0 0;}
.affix .navbar-brand { background:url(../img/brand-logos/head-sol-small.png) no-repeat 0 0; margin-bottom:-4px}
.white-header .navbar-brand, .menu-opened .navbar-brand { background:url(../img/brand-logos/head-sol-color.png) no-repeat 0 0;}
.menu-opened .affix .navbar-brand {background:url(../img/brand-logos/head-sol-small.png) no-repeat 0 0;}
@media (max-width:767px){
	.navbar-brand, .affix .navbar-brand { background:url(../img/brand-logos/head-sol-color.png) no-repeat 0 0;
	margin:13px 0 9px 0}
	#menu-toggle span, #menu-toggle span:after, #menu-toggle span:before, #menu-toggle:after {background:#F58B38}
}

@media (max-width:767px){

i.icon-user-white, a.active i.icon-user-white, a:active i.icon-user-white, a:focus i.icon-user-white {  background-position:-649px 0; }
i.icon-phone-white-sm, a.active i.icon-phone-white-sm, a:active i.icon-phone-white-sm, a:focus i.icon-phone-white-sm{background-position:-666px 0;}

}

.grid-item:hover .caption {background-image: url(../img/brands/bg_color_sol_katmandu.png);}

.sub-last-searches i { color: #F58B38}
.sub-last-searches .btn i { color:#fff}
.btn-primary:hover { border:1px solid #F58B38}
.hotel-menu ul li.active { background-color: #F58B38 !important;}
.hotel-menu ul li:hover a {color: #F58B38 !important;}
.hotel-menu ul li.active:hover a { color:#fff !important;}
.btn.btn-default { background:transparent; border:2px solid  #F58B38; color: #F58B38}
.btn.btn-default:hover, .btn-primary:active { background: #F58B38; color:#fff;}
.carousel-caption .btn.btn-default { border:2px solid  #fff; color: #fff}
.carousel-caption .btn.btn-default:hover {border:2px solid #D47831}
.icon-search-btn:before { color:#fff !important}
.hotel-menu-mobile .open>.dropdown-toggle.btn { color:#fff !important}
.hotel-menu-mobile .open>.dropdown-toggle.btn .icon-arrow-down { color:#fff}
.custom-select.focus, .form-control:focus { border:2px solid #F58B38}


@media (max-width: 767px) {
.tabpanel .nav-tabs.gen-tabs>li.active>a, .tabpanel .nav-tabs.gen-tabs>li:hover>a {
  border-top: 2px solid #F58B38 !important;padding-top:13px;}
}

.calendar-wrapper .ui-widget-content .range-first,
.date-range-selected.ui-datepicker-current-day,
.hover-active.hover-first,
.hover-active.hover-last,
.calendar-wrapper .ui-widget-content .date-range-selected, .calendar-wrapper .ui-widget-content td:hover
{background:#F58B38 !important}
.calendar-wrapper .ui-widget-content .date-range-selected,
.calendar-wrapper .ui-widget-content td:hover,
.calendar-wrapper .ui-widget-content td.date-hover,
.calendar-wrapper .ui-widget-content .range-first.date-hover,
.calendar-wrapper .ui-widget-content .range-last.date-hover,
.hover-active
{background-color:  rgba(245, 139, 42, 0.6);}

.sol-katmandu-parrallax{ position:absolute; top:0; left:0; right:0; bottom:0;z-index:-1;}