/* ESPECIALS BRANDS*/
/*tryp*/

li i.icon-mapa, li i.icon-grid { color:#333}

.cont-search [class^="icon-"]:before, .cont-search [class*=" icon-"]:before,
header.affix .navbar-navigation [class^="icon-"]:before, header.affix .navbar-navigation [class*=" icon-"]:before,
.tabpanel.social li a:hover i, .tabpanel.social li a:hover i,  
.tabpanel.social li.active a i, .tabpanel.social li.active a i,
i.icon-construct,
.sub-rewards ul.checks li:before,
.search .check-in:before,
.search .check-out:before,
i.icon-calendar,
li.active i.icon-grid,
li:hover i.icon-grid,
.custom-select:after,
.descargar-pdf i,
li.active i.icon-mapa,
li:hover i.icon-mapa
{ color:#094586;}

.offer-rew .points { background:#094586;}

@media (max-width:767px){header .navbar-navigation [class^="icon-"]:before, header.affix .navbar-navigation [class*=" icon-"]:before{ 
    color:#094586;}
}

.intro-brand { background:#005FA6 url(../img/brands/bg-tryp-head.png) no-repeat right top; color:#fff}
.brand-cont .h1, .h1 { font-family:'avalon'; font-weight:400; font-size:40px; line-height:30px}
.brand-cont .h2, .h2 { font-family:'avalon'; font-weight:400}

.social .btn, .dest-rewards strong, .affix #menu-toggle span, .affix #menu-toggle span:after, .affix #menu-toggle span:before, .affix #menu-toggle:after, .menu-opened #menu-toggle span:after, .menu-opened #menu-toggle span:before, .menu-opened #menu-toggle:after, .white-header #menu-toggle span, .white-header #menu-toggle span:after, .white-header #menu-toggle span:before, .white-header #menu-toggle:after, .white-header .menu-opened #menu-toggle span:after, .white-header .menu-opened #menu-toggle span:before, .white-header .menu-opened #menu-toggle:after, .menu-opened #menu ul li a:hover, .pagination>li a:hover, .pagination>li.active a, .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {background:#005FA6}
.btn-primary, .btn-primary:active, .btn-primary:focus { background:#005FA6; border:2px solid #005FA6;  color:#fff}
.btn-rpimary:hover, .brands-header .carousel-caption .btn-rpimary:hover { background:#094586;border:2px solid #094586}
 .brands-header .carousel-caption .btn:hover { border:1px solid #094586 }
a:hover { color:#094586;}
a, .tabpanel .nav>li a:hover, .tabpanel .nav>li a:active, .tabpanel .nav>li.active a, .carousel-trypnu .active, .carousel-trypnu li:hover, .navbar-nav > li > a:hover,
.navbar-nav > li > a.active, .carousel-indicators .active { color:#005FA6}
.big.nav-tabs li.active, .big.nav-tabs li:hover {border-top:3px solid #005FA6}
.navbar-brand { background:url(../img/brand-logos/head-tryp.png) no-repeat 0 0;}
.affix .navbar-brand { background:url(../img/brand-logos/head-tryp-small.png) no-repeat 0 0; margin-bottom:-4px}
.white-header .navbar-brand, .menu-opened .navbar-brand { background:url(../img/brand-logos/head-tryp-color.png) no-repeat 0 0;}
.menu-opened .affix .navbar-brand {background:url(../img/brand-logos/head-tryp-small.png) no-repeat 0 0;}
@media (max-width:767px){
	.navbar-brand, .affix .navbar-brand { background:url(../img/brand-logos/head-tryp-color.png) no-repeat 0 0;
	margin:13px 0 9px 0}
	#menu-toggle span, #menu-toggle span:after, #menu-toggle span:before, #menu-toggle:after {background:#005FA6}
}

.grid-item:hover .caption {background-image: url(../img/brands/bg_color_tryp.png);}

.hotel .intro-brand { background-image:none !important;}

.hotel-menu-mobile .open>.dropdown-toggle.btn { color:#fff !important}
.btn.btn-default { background:transparent; border:2px solid  #094586; color: #094586}
.btn.btn-default:hover { background: #094586; color:#fff;}
.carousel-caption .btn.btn-default { border:2px solid  #fff; color: #fff}
.carousel-caption .btn.btn-default:hover {border:2px solid #094586}


