/* ESPECIALS BRANDS*/
/*sol*/

@font-face {
    font-family: 'bariol_boldbold';
    src: url('../fonts/sol/bariol_bold-webfont.eot');
    src: url('../fonts/sol/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sol/bariol_bold-webfont.woff2') format('woff2'),
         url('../fonts/sol/bariol_bold-webfont.woff') format('woff'),
         url('../fonts/sol/bariol_bold-webfont.ttf') format('truetype'),
         url('../fonts/sol/bariol_bold-webfont.svg#bariol_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

li i.icon-mapa, li i.icon-grid { color:#333}

.cont-search [class^="icon-"]:before, .cont-search [class*=" icon-"]:before,
header.affix .navbar-navigation [class^="icon-"]:before, header.affix .navbar-navigation [class*=" icon-"]:before,
.tabpanel.social li a:hover i, .tabpanel.social li a:hover i,  
.tabpanel.social li.active a i, .tabpanel.social li.active a i,
i.icon-construct,
.sub-rewards ul.checks li:before,
.search .check-in:before,
.search .check-out:before,
i.icon-calendar,
li.active i.icon-grid,
li:hover i.icon-grid,
.custom-select:after,
li.active i.icon-mapa,
li:hover i.icon-mapa,
.descargar-pdf i,
#coupon-form .reset,
.row.nota-informativa .h3,
footer .row-links a:hover
{color:#E41F3B}

.offer-rew .points { background:#E41F3B;}

@media (max-width:767px){header .navbar-navigation [class^="icon-"]:before, header.affix .navbar-navigation [class*=" icon-"]:before{ 
    color:#E41F3B;}
}


.brand-cont .h1, .h1 { font-family:'bariol_boldbold'; font-weight:normal; font-size:40px; line-height:30px}
.brand-cont .h2, .h2 { font-family:'bariol_boldbold'; font-weight:normal}
strong {font-family:'bariol_boldbold'; font-weight:normal}

.hotel .brand-cont .h1, .hotel .h1 { font-family:'lato'; font-weight:400;}
.hotel .brand-cont .h2, .hotel .h2 { font-family:'lato'; font-weight:400 !important}
.hotel .h1 strong, .hotel .h2 strong, .hotel .h3 strong, strong {font-family:'lato'; font-weight:700 !important}.social .btn, .dest-rewards strong, .affix #menu-toggle span, .affix #menu-toggle span:after, .affix #menu-toggle span:before, .affix #menu-toggle:after, .menu-opened #menu-toggle span:after, .menu-opened #menu-toggle span:before, .menu-opened #menu-toggle:after, .white-header #menu-toggle span, .white-header #menu-toggle span:after, .white-header #menu-toggle span:before, .white-header #menu-toggle:after, .white-header .menu-opened #menu-toggle span:after, .white-header .menu-opened #menu-toggle span:before, .white-header .menu-opened #menu-toggle:after, .menu-opened #menu ul li a:hover, .pagination>li a:hover, .pagination>li.active a, .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus, .grid-item .topo strong, .rewards-banner .circle
{background:#E41F3B}
.btn,  .btn-primary:active, .btn-primary:focus { background:#E41F3B; border:1px solid #E41F3B;  color:#fff}
.btn:hover, .brands-header .carousel-caption .btn:hover, .btn-default:hover, .btn-default:focus, .open>.dropdown-toggle.btn-default, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus
{ background:#A51429; color:#fff}
.btn-default:hover, btn-default:focus, .open>.dropdown-toggle.btn-default, .btn-default:focus
{ border:1px solid #A51429 }
a:hover, a:focus { color:#A51429;}
a, .tabpanel .nav>li a:hover, .tabpanel .nav>li a:active, .tabpanel .nav>li.active a, .carousel-menu .active, .carousel-menu li:hover, .navbar-nav > li > a:hover,
.navbar-nav > li > a.active, #autocomplete .last-searches li, .ui-autocomplete .ui-menu .ui-menu-item, .ui-widget-header, #ocupationselection,#roomsadded legend span, .row.search-calendar-header, .row.search-calendar-footer, a:hover, a:focus, a:active, input[type="reset"]
 { color:#E41F3B}
.big.nav-tabs li.active, .big.nav-tabs li:hover {border-top:3px solid #E41F3B}
.navbar-brand { background:url(../img/brand-logos/head-sol.png) no-repeat 0 0;}
.affix .navbar-brand { background:url(../img/brand-logos/head-sol-small.png) no-repeat 0 0; margin-bottom:-4px}
.white-header .navbar-brand, .menu-opened .navbar-brand { background:url(../img/brand-logos/head-sol-color.png) no-repeat 0 0;}
.menu-opened .affix .navbar-brand {background:url(../img/brand-logos/head-sol-small.png) no-repeat 0 0;}
@media (max-width:767px){
	.navbar-brand, .affix .navbar-brand { background:url(../img/brand-logos/head-sol-color.png) no-repeat 0 0;
	margin:13px 0 9px 0}
	#menu-toggle span, #menu-toggle span:after, #menu-toggle span:before, #menu-toggle:after {background:#E41F3B}
}

i.icon-construct {background-position:-763px 0}
.grid-item .topo:after {background-position: -894px 0;}
@media (max-width:767px){

i.icon-user-white, a.active i.icon-user-white, a:active i.icon-user-white, a:focus i.icon-user-white { background-position:-649px 0; }
i.icon-phone-white-sm, a.active i.icon-phone-white-sm, a:active i.icon-phone-white-sm, a:focus i.icon-phone-white-sm{background-position:-666px 0;}

}

.grid-item:hover .caption {background-image: url(../img/brands/bg_color_sol.png);}
.form-group.icon-destination:before, i.icon-destination, .ui-autocomplete li.ui-category.destinations:before { background-position:-563px 0}
.search .check-in:before, .search .check-out:before, i.icon-calendar {background-position: -603px 0;}
i.icon-key {background-position: -575px 0;}
i.icon-hotel, .ui-autocomplete li.ui-category.hotels:before {background-position:-921px 0}
a.ico-close, .ico-close {background-position:-834px 0}
i.icon-location {background-position:-900px 0}
.ui-widget-header .ui-datepicker-prev .ui-icon { background-position:-900px -22px}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { background-position:-911px -22px}@media (max-width:767px){

i.icon-user-white, a.active i.icon-user-white, a:active i.icon-user-white, a:focus i.icon-user-white { background-position:-649px 0; }
i.icon-phone-white-sm, a.active i.icon-phone-white-sm, a:active i.icon-phone-white-sm, a:focus i.icon-phone-white-sm{background-position:-666px 0;}

}

.grid-item:hover .caption {
  background-image: url(../img/brands/bg_color_sol.png);}
  
  
.grid-hoteles-sol .item { position:relative; background:#fff; margin-bottom:20px;}
.grid-hoteles-sol .image { position:relative; height:285px; background:red; overflow:hidden}
.grid-hoteles-sol .image .photo { position:absolute; min-width:100%;}
.grid-hoteles-sol .image .caption { position:absolute; background:url(../img/brands/bg-caption-sol.png); top:30px; left:50%; margin-left:-132px; top:50%; margin-top:-68px}
.grid-hoteles-sol .item .row { margin:15px 10px 0 10px}
.grid-hoteles-sol .item .h2 { margin:0; padding:0; font-size:20px; font-weight:700}

.grid-hoteles-sol div:hover .icon-next, a:hover .icon-next,.btn:hover .icon-next { left: 5px;}

span.bar { height:5px; display:block; width:100%; margin-top:10px;}
span.bar-anime { height:5px; display:block; background:#E10038; width:0; margin:0 auto;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.item.beach span.bar-anime { background:#00B099}
.item.house span.bar-anime { background:#009FE2}
.item.katmandu span.bar-anime { background:#FB8C0A}

.item:hover span.bar-anime { width:100%;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	}

@media (max-width:786px){
	.grid-hoteles-sol .image { height:200px;}
	.grid-hoteles-sol .image .photo { position:absolute; min-width:100%; top:-60px;}
	.grid-hoteles-sol .btn { margin-top:10px}
}

@media (min-width:1200px){
	.grid-hoteles-sol .image { height:300px;}
	.grid-hoteles-sol .image .photo { position:absolute; min-width:100%; top:-40px;}
}

.cowork { background:#fff;}
.cowork .h1 {font-size: 32px;line-height: 1;}
.cowork .text-intro { font-size:16px; margin-bottom:30px;}
.cowork article img { min-width:100%}
.cowork .news { border-top:1px solid #DDD; border-bottom:1px solid #DDD; padding:30px 0}
.cowork .news .row { margin:-10px }
.cowork .news .h2 { font-size:16px; font-weight:700}
.cowork .news p { color:#777; font-size:14px; line-height:22px;}
.cowork .logos {
	background:#fff;
  padding: 30px 0;
}
.cowork .logos a {
  display: inline-block;
  margin: 0 20px;}
  
.sub-last-searches i { color: #E41F3B}
.btn-primary:hover { border:1px solid #E41F3B}
.hotel-menu ul li.active { background-color: #E41F3B !important;}
.hotel-menu ul li:hover a {color: #E41F3B !important;}
.hotel-menu ul li.active:hover a { color:#fff !important;}
.btn.btn-default { background:transparent; border:2px solid  #E41F3B; color: #E41F3B}
.carousel-caption .btn.btn-default { border:2px solid  #fff; color: #fff}
.carousel-caption .btn.btn-default:hover {border:2px solid  #A51429}
.icon-search-btn:before { color:#fff !important}
.hotel-menu-mobile .open>.dropdown-toggle.btn { color:#fff !important}
.hotel-menu-mobile .open>.dropdown-toggle.btn .icon-arrow-down { color:#fff}


@media (max-width: 767px) {
.tabpanel .nav-tabs.gen-tabs>li.active>a, .tabpanel .nav-tabs.gen-tabs>li:hover>a {
  border-top: 2px solid #E41F3B !important;padding-top:13px;}
}

.sol-hotels-parrallax{position:absolute; top:0; left:0; right:0; bottom:0;z-index:-1;}
