/* ESPECIALS BRANDS*/
/*calas mallorca*/

li i.icon-mapa, li i.icon-grid { color:#333}

.cont-search [class^="icon-"]:before, .cont-search [class*=" icon-"]:before,
header.affix .navbar-navigation [class^="icon-"]:before, header.affix .navbar-navigation [class*=" icon-"]:before,
.tabpanel.social li a:hover i, .tabpanel.social li a:hover i,  
.tabpanel.social li.active a i, .tabpanel.social li.active a i,
i.icon-construct,
.sub-rewards ul.checks li:before,
.search .check-in:before,
.search .check-out:before,
i.icon-calendar,
li.active i.icon-grid,
li:hover i.icon-grid,
li.active i.icon-mapa,
.descargar-pdf i,
li:hover i.icon-mapa,
.custom-select:after,
#coupon-form .reset,
.row.nota-informativa .h3,
footer .row-links a:hover
{ color:#009EE5}

.offer-rew .points { background:#009EE5;}

@media (max-width:767px){header .navbar-navigation [class^="icon-"]:before, header.affix .navbar-navigation [class*=" icon-"]:before{ color:#009EE5;}
}


.hotel .brand-cont .h1, .hotel .h1 { font-family:'lato'; font-weight:400;}
.hotel .brand-cont .h2, .hotel .h2 { font-family:'lato'; font-weight:400 !important}
.hotel .h1 strong, .hotel .h2 strong, .hotel .h3 strong, strong {font-family:'lato'; font-weight:700 !important}.social .btn, .dest-rewards strong, .affix #menu-toggle span, .affix #menu-toggle span:after, .affix #menu-toggle span:before, .affix #menu-toggle:after, .menu-opened #menu-toggle span:after, .menu-opened #menu-toggle span:before, .menu-opened #menu-toggle:after, .white-header #menu-toggle span, .white-header #menu-toggle span:after, .white-header #menu-toggle span:before, .white-header #menu-toggle:after, .white-header .menu-opened #menu-toggle span:after, .white-header .menu-opened #menu-toggle span:before, .white-header .menu-opened #menu-toggle:after, .menu-opened #menu ul li a:hover, .pagination>li a:hover, .pagination>li.active a, .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus, .grid-item .topo strong, .rewards-banner .circle
{background:#009EE5}

.btn, .btn-primary:focus, .btn-primary:active { background:#009EE5; border:1px solid #009EE5;  color:#fff}
.btn:hover, .btn-default:hover,  .btn-default:focus, .open>.dropdown-toggle.btn-default, .btn-default:focus
, .btn-default:hover, .btn-default:focus,  .open>.dropdown-toggle.btn-default, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus
{ background:#0081BC; color:#fff}
.btn-default:hover, .btn-default:focus, .open>.dropdown-toggle.btn-default, .btn-default:focus
{ border:1px solid #0081BC }
a:hover { color:#0081BC;}
a, .tabpanel .nav>li a:hover, .tabpanel .nav>li a:active, .tabpanel .nav>li.active a, .carousel-menu .active, .carousel-menu li:hover, .navbar-nav > li > a:hover,
.navbar-nav > li > a.active, #autocomplete .last-searches li, .ui-autocomplete .ui-menu .ui-menu-item, .ui-widget-header, #ocupationselection,#roomsadded legend span, .row.search-calendar-header, .row.search-calendar-footer, a:hover, a:focus, a:active, input[type="reset"]
{ color:#009EE5}
.big.nav-tabs li.active, .big.nav-tabs li:hover {border-top:3px solid #009EE5}



.sub-last-searches i { color: #009EE5}
.sub-last-searches .btn i { color:#fff}
.btn-primary:hover { border:1px solid #009EE5}
.hotel-menu ul li.active { background-color: #009EE5 !important;}
.hotel-menu ul li:hover a {color: #009EE5 !important;}
.hotel-menu ul li.active:hover a { color:#fff !important;}
.btn.btn-default { background:transparent; border:2px solid  #009EE5; color: #009EE5}
.btn.btn-default:hover { background: #009EE5; color:#fff;}
.carousel-caption .btn.btn-default { border:2px solid  #fff; color: #fff}
.carousel-caption .btn.btn-default:hover {border:2px solid #009EE5}
.icon-search-btn:before { color:#fff !important}
.hotel-menu-mobile .open>.dropdown-toggle.btn { color:#fff !important}
.hotel-menu-mobile .open>.dropdown-toggle.btn .icon-arrow-down { color:#fff}
.custom-select.focus, .form-control:focus { border:2px solid #009EE5}

@media (max-width: 500px) {
.tabpanel .nav-tabs.gen-tabs>li.active>a, .tabpanel .nav-tabs.gen-tabs>li:hover>a {
  border-top: 2px solid #009EE5; !important}
}

.calendar-wrapper .ui-widget-content .range-first,
.date-range-selected.ui-datepicker-current-day,
.hover-active.hover-first,
.hover-active.hover-last,
.calendar-wrapper .ui-widget-content .date-range-selected, .calendar-wrapper .ui-widget-content td:hover
{background:#009EE5 !important}
.calendar-wrapper .ui-widget-content .date-range-selected,
.calendar-wrapper .ui-widget-content td:hover,
.calendar-wrapper .ui-widget-content td.date-hover,
.calendar-wrapper .ui-widget-content .range-first.date-hover,
.calendar-wrapper .ui-widget-content .range-last.date-hover,
.hover-active
{background-color:rgba(0, 158, 229, 0.6);}

  