/* ESPECIALS BRANDS*/
/*ME*/
@font-face {
    font-family: 'greatvibes';
    src: url('../fonts/paradisus/greatvibes-regular-webfont.eot');
    src: url('../fonts/paradisus/greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/paradisus/greatvibes-regular-webfont.woff2') format('woff2'),
         url('../fonts/paradisus/greatvibes-regular-webfont.woff') format('woff'),
         url('../fonts/paradisus/greatvibes-regular-webfont.ttf') format('truetype'),
         url('../fonts/paradisus/greatvibes-regular-webfont.svg#greatvibes') format('svg');
    font-weight: 400;
    font-style: normal;

}
body .brands-page{position:relative; background:none;}

li i.icon-mapa, li i.icon-grid { color:#333}

.cont-search [class^="icon-"]:before, .cont-search [class*=" icon-"]:before,
header.affix .navbar-navigation [class^="icon-"]:before, header.affix .navbar-navigation [class*=" icon-"]:before,
.tabpanel.social li a:hover i, .tabpanel.social li a:hover i,  
.tabpanel.social li.active a i, .tabpanel.social li.active a i,
i.icon-construct,
.sub-rewards ul.checks li:before,
.search .check-in:before,
.custom-select:after,
.descargar-pdf i,
.search .check-out:before,
i.icon-calendar,
li.active i.icon-grid,
li:hover i.icon-grid,
li.active i.icon-mapa,
li:hover i.icon-mapa,
#coupon-form .reset,
footer .row-links a:hover
{ color:#4E2CA2}


@media (max-width:767px){header .navbar-navigation [class^="icon-"]:before, header.affix .navbar-navigation [class*=" icon-"]:before{ 
    color:#4E2CA2;}
}

.brand-cont .h1, .h1 { text-transform: inherit; font-family:'greatvibes'; font-weight:400; font-size:40px; line-height:30px}
.brand-cont .h2, .h2 { text-transform: inherit; font-family:'greatvibes'; font-weight:400}
.brand-cont .h2 { font-size: 30px}
.grid-item .h2 { font-size: 26px}
.brands-header .carousel-caption .h1, .header-caption .h1 { text-transform: inherit; font-size:42px;}
.social .h2 { text-transform: inherit; font-size: 28px}
.social .btn, .dest-rewards strong, .affix #menu-toggle span, .affix #menu-toggle span:after, .affix #menu-toggle span:before, .affix #menu-toggle:after, .menu-opened #menu-toggle span:after, .menu-opened #menu-toggle span:before, .menu-opened #menu-toggle:after, .white-header #menu-toggle span, .white-header #menu-toggle span:after, .white-header #menu-toggle span:before, .white-header #menu-toggle:after, .white-header .menu-opened #menu-toggle span:after, .white-header .menu-opened #menu-toggle span:before, .white-header .menu-opened #menu-toggle:after, .menu-opened #menu ul li a:hover, .pagination>li a:hover, .pagination>li.active a, .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus, .grid-item .topo strong, .rewards-banner .circle
{background:#4E2CA2}
.btn,  .btn-primary:active, .btn-primary:focus { background:#4E2CA2; border:1px solid #4E2CA2;  color:#fff}
.btn:hover, .btn-default:hover,.btn-default:focus, .open>.dropdown-toggle.btn-default, .btn-default:focus
, .btn-default:hover, .btn-default:focus, .open>.dropdown-toggle.btn-default, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus
{ background:#31176A; color:#fff}
.btn-default:hover, btn-default:focus, .open>.dropdown-toggle.btn-default, .btn-default:focus
{ border:1px solid #31176A }
a:hover { color:#31176A;}
a, .tabpanel .nav>li a:hover, .tabpanel .nav>li a:active, .tabpanel .nav>li.active a, .carousel-menu .active, .carousel-menu li:hover, .navbar-nav > li > a:hover,
.navbar-nav > li > a.active, #autocomplete .last-searches li, .ui-autocomplete .ui-menu .ui-menu-item, .ui-widget-header, #ocupationselection,#roomsadded legend span, .row.search-calendar-header, .row.search-calendar-footer, a:hover, a:focus, a:active, input[type="reset"]
{ color:#4E2CA2}
.big.nav-tabs li.active, .big.nav-tabs li:hover {border-top:3px solid #4E2CA2}
.navbar-brand { background:url(../img/brand-logos/head-paradisus.png) no-repeat 0 0;}
.affix .navbar-brand { background:url(../img/brand-logos/head-paradisus-small.png) no-repeat 0 0; margin-bottom:-4px}
.white-header .navbar-brand, .menu-opened .navbar-brand { background:url(../img/brand-logos/head-paradisus-color.png) no-repeat 0 0;}
.menu-opened .affix .navbar-brand {background:url(../img/brand-logos/head-paradisus-small.png) no-repeat 0 0;}
@media (max-width:767px){
	.navbar-brand, .affix .navbar-brand { background:url(../img/brand-logos/head-paradisus-color.png) no-repeat 0 0;
	margin:13px 0 9px 0}
	#menu-toggle span, #menu-toggle span:after, #menu-toggle span:before, #menu-toggle:after {background:#4E2CA2}
}

.grid-item:hover .caption {background-image: url(../img/brands/bg_color_paradisus.png);}

.sub-last-searches i { color: #4E2CA2}
.sub-last-searches .btn i { color:#fff}
.btn-primary:hover { border:1px solid #4E2CA2}
.hotel-menu ul li.active { background-color: #4E2CA2 !important;}
.hotel-menu ul li:hover a {color: #4E2CA2 !important;}
.hotel-menu ul li.active:hover a { color:#fff !important;}
.btn.btn-default { background:transparent; border:2px solid  #4E2CA2; color: #4E2CA2}
.btn.btn-default:hover { background: #4E2CA2; color:#fff;}
.carousel-caption .btn.btn-default { border:2px solid  #fff; color: #fff}
.carousel-caption .btn.btn-default:hover {border:2px solid  #4E2CA2}
.icon-search-btn:before { color:#fff !important}
.hotel-menu-mobile .open>.dropdown-toggle.btn { color:#fff !important}
.custom-select.focus, .form-control:focus { border:2px solid #4E2CA2}

@media (max-width: 767px) {
.tabpanel .nav-tabs.gen-tabs>li.active>a, .tabpanel .nav-tabs.gen-tabs>li:hover>a {
  border-top: 2px solid #4E2CA2 !important;padding-top:13px;}
}


.calendar-wrapper .ui-widget-content .range-first,
.date-range-selected.ui-datepicker-current-day,
.hover-active.hover-first,
.hover-active.hover-last,
.calendar-wrapper .ui-widget-content .date-range-selected, .calendar-wrapper .ui-widget-content td:hover
{background:#4E2CA2 !important}
.calendar-wrapper .ui-widget-content .date-range-selected,
.calendar-wrapper .ui-widget-content td:hover,
.calendar-wrapper .ui-widget-content td.date-hover,
.calendar-wrapper .ui-widget-content .range-first.date-hover,
.calendar-wrapper .ui-widget-content .range-last.date-hover,
.hover-active{background-color:rgba(78, 44, 162, 0.6);}  

.paradisus-parrallax{ position:absolute; top:0; left:0; right:0; bottom:0;z-index:-1;}  