.aegon {
	.company {
		font-family: 'Sentico Sans';
		.wrap-info {
			width: 268px;
			margin: auto;
			.wrap-description {
				height: 70px;
				border-bottom: 1px solid $border-color;
				margin-top: 15px;
				font-weight: normal;
				p {
					margin: 0;
					font-size:16px;
					color: #6A6A6A !important;
					text-align: left ;
					padding: 0 0 15px 0;
				}
			}
		}

		.wrap-more {
			float: left;
			margin-top: 15px;
			color: $text-middle-blue;
			.more-info {
				font-size: 16px;
				font-weight: 500;
			}

			.icomoon-arrow-right {
				color: $text-middle-blue;
				font-size: 11px;
				margin-right: 4px;
			}
		}


	}

	@include respond-to(max-xs) {
		.company {
			.wrap-title {
				.title {
					font-size: 22px !important;
				}
			}
			.wrap-info {
				width: 90%;
				margin-top:30px;
				margin-bottom:30px;
				img{
					float:left;
				}
				.wrap-description {
					height:auto;
					border-bottom: 1px solid $border-color;
					margin-left: 90px;
					margin-top: 20px;
					p {

					}
				}
			}
			.wrap-more {
				margin-left:10px;
			}
		}
	}
}