// MOBILE
.aegon {
	.wrap-jumbotron {
		background: url("../assets/img/background.png") no-repeat center top;
		background-size: cover;

		.jumbotron-m {
			.wrap-content {
				@include responsive-flex(column, wrap, flex-end, flex-start);

				width: 100%;
				/*
				max-height: 469px;
				min-height: 407px;*/
				height: 407px;
				padding: 0 10px;

				margin: auto;

				@include responsive-flex(column, wrap, flex-end, flex-start);

				> * { margin-bottom: 20px; }

				h1 {
					color: $blue-color;
					font-size: 32px;
					text-transform: uppercase;

					span:first-child {
						font-family: 'Sentico Sans',arial,sans-serif;
						font-weight: 500;
						display: block;
					}
					span:last-child {
						font-family: 'Sentico Sans',arial,sans-serif;
						font-weight: normal;
						font-weight:300;
					}
				}

				.wrap-price {
					display: table;
					font-weight: 500;
					div {
						font-size: 15px;
						color: $blue-color;
						display: table-cell;
						vertical-align: middle;
						padding: 0 10px;
						width: 150px;
						height: 55px;
						background-color: white;
						border-right: 1px solid $border-color;
					}
					div:first-child {
						span:first-child {
							display: block;
							font-size: 14px;
						}
						span.price {
							font-size: 30px;
							@media (max-width: $break-small) {
								font-size: 24px;
							}
						}
						span:last-child { font-size: 14px; }
						// Hermano del primer div
						+ div { border-right: none; }
					}
					div:last-child { border-right: none; }
				}

				.wrap-more {
					color: #3498DB;
					width: 100%;
					.icomoon-arrow-right {
						font-size: 9px;
						margin-right: 5px;
					}
					span:last-child { font-size: 15px; }
				}

				.mobile {
					.icomoon-arrow-right {

					}
				}
			}

		}
	}

	// DESKTOP
	@include respond-to(min-sm) {
		.wrap-jumbotron {
			background: url("../assets/img/background-desktop.png") no-repeat center top;
			background-size: cover;
			height: 469px;
			.jumbotron-m {

				//> * { margin-bottom: 10px; }
				@include responsive-flex(row, nowrap, space-between, flex-end);

				.wrap-content {
					height: 469px;
					//width: 1024px;
					//margin: auto;
					h1 {
						font-size: 40px;
						margin-bottom: 10px;
						span:first-child {
							display: inline;
							&:after { content: ' '; }
						}
					}
					.wrap-price {
						div {
							color: $blue-color;
							height: 66px;
							display: table-cell !important;
						}
						div:first-child + div {
							border-right: 1px solid $border-color;
						}
					}

					.wrap-more {
						margin-bottom: 30px;
						button {
							width: 245px;
							text-align: left;
							padding: 10px 10px;
							margin-right: 20px;
						}

						.more {
							font-weight: 500;
							color: white;
							display: inline !important;
							.icomoon-arrow-right { font-size: 9px; margin-right: 5px; }
							a { color: white; }
						}
					}
				}

				.wrap-call-form { margin-bottom: 30px; }
			}
		}
	}

	@include respond-to(max-xs) {
		.wrap-jumbotron {
			.jumbotron-m {
				.wrap-content {
					.wrap-price {
						width: 100%;
					}
				}
			}
		}
	}
}