.aegon {
	.slider {
		img {
			width: 100%;
		}
		.carousel-control.right,
		.carousel-control.left {
			background-image: none;
		}

		#aegonHomeSlider {
			width: 100%;
			.item {
				max-height: 418px !important;
			}
		}

		.wrap-content {
			position: relative;
			@include responsive-flex(row, nowrap, space-between, center);
		}

		.arrow-slider {
			@include responsive-flex(row, nowrap, center, center);
		}

		.icomoon-arrow-left, .icomoon-arrow-right {
			color: $icon-color;
			font-size: 35px;
		}
	}

	.block-message {
		position: absolute;
		top: 50%;
		left: 15%;
		z-index: 100 !important;
		transform: translateY(-50%);
		padding: 22px;
		width: 310px;
		max-height: 272px;
		background-color: white;
		text-align: left;
		@include responsive-flex(column, nowrap, flex-start, flex-start);
		.title {
			font-size: 36px;
			color: $blue-color;
			line-height: 34px;
			margin-bottom: 15px;
			font-weight: 500;
		}
		.text {
			font-size: 16px;
			color: $text-grey-light;
		}

		.wrap-button {
			margin: 5px 0 30px 0;
			button {
				padding: 10px 25px;
				background-color: $icon-color;
				color: white;
				width: 147px;
				border-radius: 3px;
				font-family: 'Sentico Sans',arial,sans-serif;
				font-weight: 700;
			}
		}
		.wrap-more {
			font-size: 16px;
			font-weight: 500;
			color: $text-blue;
			border-top: 1px solid #dcdcdc;
			width: 100%;
			padding-top: 10px;
			.icomoon-arrow-right {
				font-size: 13px;
				margin-right: 4px;
			}
			// Shame
			margin-top: -10px;
		}
	}


	@include respond-to(max-xs) {
		.slider {
			margin-bottom: 35px;
			.wrap-content {
				@include responsive-flex(row, wrap, space-between, nocenter);
			}
			.carousel-indicators {
				bottom: -20px;
			}
			.carousel-indicators li {
				background-color: #DCDCDC;
				width: 12px;
				height: 12px;
				margin: 0;
			}
			.carousel-indicators li.active {
				background-color: #3498DB;
			}
			#aegonHomeSlider {
				.icomoon-arrow-slider-left,
				.icomoon-arrow-slider-right {
					font-size: 26px;
				}
				.carousel-control {
					bottom: 50%;
				}
			}
		}

		.block-message {
			z-index: 100 !important;
			position: static;
			transform: none;
			margin-top: 0;
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			padding: 10px;
			.title {
				font-size: 24px;
				margin-bottom: 10px;
			}
			.wrap-button {
				width: 100%;
				button { width: 100%; }
			}
		}
	}
}