.wrap-btn {
	@include responsive-flex(row, wrap, center, center);
	padding: 40px 0;
	margin: auto;
	div {
		min-width: 376px;
	}
}

.btn-color {
	@include responsive-flex(row, wrap, center, center);
	@include border-radius(4px);
	font-family: 'Montserrat-Light';
	background-color: $btn-color-1;
	font-size: 12px;

	.icon-plus-alt {
		margin-left: 10px;
		font-size: 18px;
	}

	button {
		@include responsive-flex(row, wrap, center, center);
		width: 100%;
		padding: 15px 0;
		color: white;
	}
}

// SMALL DIVICE
@media (max-width: $small-device) {
	.wrap-btn {
		div {
			min-width: 298px;
		}
	}
}