.btn-transparent  {
	@include responsive-flex(row, wrap, center, center);
	//min-width: 182px;

	button {
		font-family: 'Montserrat-Light';
		background-color: transparent;
		color: white;
		padding: 10px 25px !important;

		border: 2px solid $white;
		font-size: 12px;
		.icon-angle-right {
			font-size: 10px;
			margin-left: 10px;
			font-weight: bold;
		}
	}
}
