.btn {
	width: 100%;
	height: 37px;
	font-family: 'Montserrat-SemiBold';
	text-transform: uppercase;
}

.btnWhite {
	@include responsive-flex(row, nowrap, center, center);
	@extend .btn;
	border: 1px solid $back-color-2;
	border-radius: 2px;
	color: $back-color-2;
	&:hover {
		color: $back-color-2;
	}
	.icon-plus {
		margin-right: 5px;
		font-size: 12px;
	}
}

.btnBlue {
	margin: auto;
	@include responsive-flex(row, nowrap, center, center);
	@extend .btn;
	border: none;
	background-color: $back-color-2;
	border-radius: 2px;
	color: white;
	&:hover {
		color: white;
	}
	.icon-angle-right {
		margin-left: 8px;
		font-size: 10px;
		font-weight: bold;
	}
}
