.ficha-lg {
	position: relative;
	@include responsive-flex(row, inherit, inherit, flex-end);

	max-width: 471px;
	height: 434px;

	img {
		width: 100%;
		height: 100%;
	}
	// El % depende del tomaño del contenedor de la ficha
	.wrap-info { top: 75%; }
}

.ficha-sm {
	position: relative;
	@include responsive-flex(row, inherit, inherit, flex-end);

	max-width: 471px;
	height: 217px;

	img {
		width: 100%;
		height: 100%;
	}
	.wrap-info { top: 50%; }

}

.wrap-info {
	/*
	 *  tuve que cambiar de opcion para el cartel arriba de la imagen porque me trajo problemas con IE8*/
	position: absolute;
	left: 0;

	//margin-top: -100px; no anda flex en IE si se usa margin negativos
	width: 100%;
	color: $white;
	padding: 20px 20px;

	@include responsive-flex(row, wrap, space-between, center);

	.info-text {
		line-height: 22px;
		width: 200px;

		.marca { font-size: 13x; }
		.nombre { font-size: 17px; }
		.texto { font-size: 12px; }
		.wrap-precio {
			margin-top: 4px;
			.precio { font-size: 26px; }
		}

		.wrap-starts {
			@include responsive-flex(row, nowrap, flex-start, center);
			span:first-child { margin-right: 10px; }
			.icon-star { font-size: 12px; margin-right: 4px; }
		}
	}
}

.wrap-titulo {
	.font-lg { font-size: 34px; }
	.font-md {
		hr {
			width: 22px;
			border: 1px solid white;
		}
		& :first-child { margin-right: 25px; }
		& :last-child { margin-left: 25px; }
		font-size: 25px;

		@include responsive-flex(row, wrap, center, center);
	}
	.wrap-info {
		top: 32%;
		@include responsive-flex(column, wrap, center, center);
	}
}

// SMALL DIVICE
@media (max-width: $small-device) {
	.ficha-lg {
		.wrap-info.last {
			top: 18%;
		}
	}

	.ficha-sm {

	}
	.icon-angle-right {
		margin-left: 0 !important;
	}
}

// LONG DIVICE
@media (max-width: $long-device) {
	.ficha-lg {
		height: 215px;
		margin-bottom: 4px;
		.wrap-info { top: 50%; }
	}

	.ficha-sm {
		height: 215px;
		margin-bottom: 4px;
		.wrap-info { top: 50%; }
	}
}