.modal {
	.modal-dialog {
		width: 90%;
		color: $text-light-black;
		margin: 20px auto 20px auto;
		.modal-content {
			border-radius: 0;
			max-width: 900px;
			margin: auto;
			.modal-header {
				padding: 30px 30px 0 30px;
				text-align: center;
				border-bottom: none;
				@include respond-to(mobile) {
					padding: 15px 15px 0 15px;
				}
			}
			.modal-title {
				font-family: 'Montserrat-Light';
				font-size: 24px;
				text-transform: uppercase;
			}
			.modal-body {
				padding: 45px 0 0 0;
				@include respond-to(mobile) {
					padding: 30px 0 0 0;
				}
				h5 {
					color: $text-dark-back;
					font-size: 16px;
					text-transform: uppercase;
					margin-bottom: 30px;
				}
				p {
					font-size: 14px;
					color: $text-grey;
					font-family: 'Montserrat-Light';
					line-height: 25px;
					margin-bottom: 30px;
				}
				a {
					color: $blue;
					font-size: 13px;
					.icon-arrow-down {
						margin-left: 4px;
						font-size: 6px;
					}
				}

				.body__contentTop {
					margin-bottom: 50px;
					@include respond-to(mobile) {
						margin-bottom: 30px;
					}
					.left_col {
						border-right: 1px solid $border-light;
						padding: 0 30px;
						@include respond-to(tablet) {
							border-right: none;
							border-bottom: 1px solid $border-light;
							padding-bottom: 30px;
							margin-bottom: 30px;
						}
					}
					.right_col {
						padding: 0 0 0 30px;
						@include respond-to(mobile) {
							padding: 0 0 0 15px;
						}
					}
					text-align: left;
					ul {
						list-style: none;
						font-family: 'Montserrat-Light';
						li {
							@include responsive-flex(row, nowrap, flex-start, center);
							line-height: 35px;
							[class^='icon-amenities'] {
								font-size: 24px;
								color: #979797;
								margin-right: 15px;
							}
						}
					}
				}
				.body__contentBot {
					border-top: 1px solid $border-light;
					padding: 30px 0 0 0;
					margin: 0 30px;
					@include responsive-flex(row, wrap, space-between, flex-start);
					@include respond-to(mobile) {
						justify-content: center;
					}
					h5 {
						margin-top: 30px;
						margin-bottom: 10px;
					}
					.service__info {
						width: 180px;
						p { font-size: 13px; }
					}
				}
			}

			.modal-footer {
				border-top: none;
				padding: 20px 15px 40px 15px;
				text-align: center;
				@include respond-to(mobile) {
					padding: 20px 15px 20px 15px;
				}
				button {
					max-width: 397px;
					@include respond-to(mobile) {
						padding: 0 8px;
						font-size: 12px;
						.icon-angle-right {
							padding-left: 8px;
						}
					}
				}
			}
		}
	}
}