#oferta {
	@include responsive-flex(column, wrap, flex-start, center);
	font-family: 'Montserrat-Light';
	width: 300px;
	height: 169px + 249px; // 418px

	margin: 0 10px 20px 10px;

	.wrap-img {
		position: relative;
		.descuento {
			font-size: 20px;
			color: $white;
			position: absolute;
			top: -2px;
			left: 16px;
		}
		.icon-ticket_price {
			font-size: 27px;
			color: $back-color-ticket;
			position: absolute;
			top: 10px;
			left: 245px;
		}
		.icon-ticket_price:after {
			//content: '20%';
		}
	}

	.wrap-info-oferta {
		margin-top: 10px;
		color: $text-color-5;
		.icon-star { color: $icon-color-start; }
		.name {
			padding-top: 5px;
			font-size: 16px;
			color: $text-color-5;
		}
		hr { margin: 0 }
	}
	.wrap-datos {
		font-size: 12px;
		margin-top: 15px;
		.separador {
			margin: 0 10px;
		}
	}
	.wrap-tags {
		font-size: 11px;
		//margin-top: 20px;
		padding: 15px 0;
		border-bottom: 1px solid $border-color;
		@include responsive-flex(row, wrap, flex-start, center);
	}
	.wrap-precio {
		margin-top: 19px;
		@include responsive-flex(row, wrap, space-between, center);
		.precio { font-size: 22px; }
		.texto { font-size: 11px;}
	}

	.btn-color {
		height: 37px;
		margin: 20px 0 0 0;
	}
}

//ESTO CAMBIO - RE HACER
/*
.tag {
	background-color: $back-color-tag;
	padding: 5px 10px;
	margin-right: 15px;
}
*/

.icon-ticket_price:before {
    content: "\e91b";
}