.wrap-reservas {
	.row {
		max-width: 1024px;
		padding: 0 20px;
		margin: auto;
		height: 60px;


		[class^="wrap-"] {
			border-right: #535353;
		}

		.wrap-md-location {
			width: 276px;

		}
		.wrap-md-dates {
			width: 224px;
		}
		.wrap-md-people {
			width: 204px;
		}
		.icon-edit {
			width: 60px;
		}
	}

	.sub-title  {
		color: #888888;
		font-size: 10px;
		text-transform: uppercase;
	}
	.icon-edit {
		font-size: 20px;
	}

	background-color: #484848;
}