.titulo-seccion {
	@include responsive-flex(row, wrap, center, center);
	padding: 45px 0;
	font-size: 24px;
	font-family: 'Montserrat-Light';
	span {
		text-transform: uppercase;
	}
	hr {
		width: 25px;
		color: $color-hr;
		border: 1px solid $color-hr;
		margin: 0 30px;
	}
}

// SMALL DIVICE
@media (max-width: $small-device) {
	.titulo-seccion {
		justify-content: center;
		span {
			width: 242px;
			font-size: 18px;
			text-align: center;
		}
		hr {
			margin: 0px;
			width: 18px;
		}
	}
}

// CUSTOM DIVICE
@media (min-width: 480px) and (max-width: 730px) {
	.titulo-seccion {
		justify-content: space-around;
		span {
			width: 290px;
			font-size: 24px;
			text-align: center;
		}
		hr {
			margin: 0px;
			width: 25px;
		}
	}
}

