#autocomplete.container(data-target='.destination')

	.bg-white.last-searches.dinb(style='display: block;')
		.category-header
			.headerGroup
				span.header-title Barcelona
				span.separator |
				span.counter 5
				span.counterText 5 Hoteles
			i.icon-plus
		ul.list-unstyled
			li.choice(data-value='Barcelona', style='border-top: 1px solid #EBEBEB;')
				div Barcelona Hotel 1
			li.choice(data-value='Barcelona', style='border-top: 1px solid #EBEBEB;')
				div Barcelona Hotel 2
			li.choice(data-value='Barcelona', style='border-top: 1px solid #EBEBEB;')
				div Barcelona Hotel 3
			li.choice(data-value='Barcelona', style='border-top: 1px solid #EBEBEB;')
				div Barcelona Hotel 4
			li.choice(data-value='Barcelona')
				div Barcelona Hotel 5

		.category-header
			.headerGroup
				span.header-title Madrid
				span.separator |
				span.counter 5
				span.counterText 5 Hoteles
			i.icon-plus

		ul.list-unstyled
			li.choice(data-value='Madrid', style='border-top: 1px solid #EBEBEB;')
				div Madrid Hotel 1
			li.choice(data-value='Madrid', style='border-top: 1px solid #EBEBEB;')
				div Madrid Hotel 2
			li.choice(data-value='Madrid', style='border-top: 1px solid #EBEBEB;')
				div Madrid Hotel 3
			li.choice(data-value='Madrid', style='border-top: 1px solid #EBEBEB;')
				div Madrid Hotel 4
			li.choice(data-value='Madrid')
				div Madrid Hotel 5

		.category-header
			.headerGroup
				span.header-title RIVERA MAYA
				span.separator |
				span.counter 5
				span.counterText 5 Hoteles
			i.icon-plus

		ul.list-unstyled
			li.choice(data-value='Madrid', style='border-top: 1px solid #EBEBEB;')
				div Rivera Maya Hotel 1
			li.choice(data-value='Madrid', style='border-top: 1px solid #EBEBEB;')
				div Rivera Maya Hotel 2
			li.choice(data-value='Madrid', style='border-top: 1px solid #EBEBEB;')
				div Rivera Maya Hotel 3
			li.choice(data-value='Madrid', style='border-top: 1px solid #EBEBEB;')
				div Rivera Maya Hotel 4
			li.choice(data-value='Madrid')
				div Rivera Maya Hotel 5

		.category-header
			.headerGroup
				span.header-title TENERIFE
				span.separator |
				span.counter 5
				span.counterText 5 Hoteles
			i.icon-plus

		ul.list-unstyled
			li.choice(data-value='Tenerife', style='border-top: 1px solid #EBEBEB;')
				div Tenerife Hotel 1
			li.choice(data-value='Tenerife', style='border-top: 1px solid #EBEBEB;')
				div Tenerife Hotel 2
			li.choice(data-value='Tenerife', style='border-top: 1px solid #EBEBEB;')
				div Tenerife Hotel 3
			li.choice(data-value='Tenerife', style='border-top: 1px solid #EBEBEB;')
				div Tenerife Hotel 4
			li.choice(data-value='Tenerife')
				div Tenerife Hotel 5

		.category-header
			.headerGroup
				span.header-title MAYORCA
				span.separator |
				span.counter 5
				span.counterText 5 Hoteles
			i.icon-plus

		ul.list-unstyled
			li.choice(data-value='Mayorca', style='border-top: 1px solid #EBEBEB;')
				div Mayorca Hotel 1
			li.choice(data-value='Mayorca', style='border-top: 1px solid #EBEBEB;')
				div Mayorca Hotel
			li.choice(data-value='Mayorca', style='border-top: 1px solid #EBEBEB;')
				div Mayorca Hotel 3
			li.choice(data-value='Mayorca', style='border-top: 1px solid #EBEBEB;')
				div Mayorca Hotel 4
			li.choice(data-value='Mayorca')
				div Mayorca Hotel 5

	#predictor
		.suggest-conteiner
			.row
				.list
