.calendar-container(style='display:block')
  #search-calendar(style='display:block')

    .row.search-calendar-header
      .col-md-10.hidden-xs
        span.check-in-title ENTRADA:
        span.check-in-date
        span.separator |
        span.check-out-title SALIDA:
        span.check-out-date
      .col-md-2.hidden-xs
        | Noches:
        span.total-nights

    .calendar-wrapper(data-today-text='Hoy')

    .row.search-calendar-footer
      .col-xs-12
        label(for='flexible', class="pull-right checkBoxWithOutDates")
          span BUSCAR SIN FECHAS
          .custom-checkbox
            label
                input(type="checkbox" name="fechas")
                span.box

