#rooms-container
    #roomTemplate
        .roomsWrap
            .roomName
                div
                    span Habitacion
                    span.roomValue {{roomNumberValue}}
                div.removeRoom
                    a.delete-room eliminar x

            .ocupationCounters.desktop
                .roomsCounter
                        span(class='{{rooms}}', class='conuterNumber equalRoom')  {{roomsValue}}
                        span Habitaciones

                        div.counters
                            button.add(data-person-type='rooms')
                                span.icon-plus
                            button.substract(data-person-type='rooms')
                                span.icon-less
                .adultsCounter
                    span(class='{{adults}}', class='conuterNumber')  {{adultsValue}}
                    span Adultos

                    div.counters
                        button.add(data-person-type='adults')
                            span.icon-plus
                        button.substract(data-person-type='adults')
                            span.icon-less
                .JuniorCounter
                    span(class='{{juniors}}', class='conuterNumber')  {{juniorsValue}}
                    div
                        span Junior
                        div.childrenAges (12-18 años)
                    div.counters
                        button.add(data-person-type='juniors')
                            span.icon-plus
                        button.substract(data-person-type='juniors')
                            span.icon-less
                .childrensCounter
                    span(class='{{children}}', class='conuterNumber')  {{childrenValue}}
                    div
                        span Niños
                        div.childrenAges (6-11 años)

                    div.counters
                        button.add(data-person-type='children')
                            span.icon-plus
                        button.substract(data-person-type='children')
                            span.icon-less
                .BebeCounter
                    span(class='{{babies}}', class='conuterNumber')  {{babiesValue}}
                    div
                        span Bebés
                        div.childrenAges (0-5 años)

                    div.counters
                        button.add(data-person-type='babies')
                            span.icon-plus
                        button.substract(data-person-type='babies')
                            span.icon-less

            .ocupationCounters.mobile
                .roomsCounter
                    button.substract(data-person-type='rooms')
                        span.icon-less
                    span(class='{{rooms}}', class='conuterNumber equalRoom')  {{roomsValue}}
                    div.personType
                        span Habitaciones
                    button.add(data-person-type='rooms')
                        span.icon-plus
                .adultsCounter
                    button.substract(data-person-type='adults')
                            span.icon-less
                    span(class='{{adults}}', class='conuterNumber')  {{adultsValue}}
                    div.personType
                        span Adultos
                    button.add(data-person-type='adults')
                        span.icon-plus
                .JuniorCounter
                    button.substract(data-person-type='juniors')
                        span.icon-less
                    span(class='{{juniors}}', class='conuterNumber')  {{juniorsValue}}
                    div.personType
                        span Junior
                        div.childrenAges (12-18)
                    button.add(data-person-type='juniors')
                        span.icon-plus
                .childrensCounter
                    button.substract(data-person-type='children')
                        span.icon-less
                    span(class='{{children}}', class='conuterNumber')  {{childrenValue}}
                    div.personType
                        span Niños
                        div.childrenAges (6-11)
                    button.add(data-person-type='children')
                        span.icon-plus
                .BebeCounter
                    button.substract(data-person-type='babies')
                        span.icon-less
                    span(class='{{babies}}', class='conuterNumber')  {{babiesValue}}
                    div.personType
                        span Bebés
                        div.childrenAges (0-5)
                    button.add(data-person-type='babies')
                        span.icon-plus

            i.icon-close.delete-room
.room__add
    button(id='addRoom', class='btnWhite')
        span Añadir Habitacion
        i.icon-plus

.room__alert
    .wrapper
        span.icon-warning
        span Si eliges
        strong más de 4
        | habitaciones tendrán que ser todas del mismo tipo

.room__backFourRooms
    button(id='backFourRooms', class='btnWhite')
        i.icon-angle-left
        span Volver a 4 habitaciones

.room__ready
    button(id='roomReady' class='btnWhite') ¡LISTO'