section
	.searchBarContainer
		.searchBar
			.searchBar__location

				input.destination(id='testText', type='text', placeholder-text='Selecciona destino', data-show='#autocomplete')
				.autosuggest-div

			.searchBar__dates
				span.icon-calendar
				.reservation-calendar
					#check-in.check-in(data-text='ENTRADA')
						input#check-in-input(type='text')

					#check-out.check-out(data-text='SALIDA')
						input#check-out-input(type='text')

			.searchBar__persons
				span.icon-person
				.ocupationBox
					div#totalPerson
					div#totalRooms

			.searchBar__code
				span.icon-search2
				input(type="text", placeholder="Código Descuento")

			button.searchBar__btnCode
				span.text-btn Código descuento
				span.icon-perc

			.searchBar__search
				span.icon-search2
				button.buscar Buscar
			#hideElement


			#searchBar__containerBox.searchBar__Box
				//
					Edit Mobile Destino
				#editReserveMobile.collapse
					.search__fields
						.search__location
							span.icon-location
							input(type="text")
						.search__dates
							span.icon-calendar
							input(type="text")
					.search__btnContainer
						.search__close
							button.closeSearchDestiny
								i.icon-close
						.search__find
							button#findHotelMobile
								i.icon-search2
								span Buscar

				.movileHeadersContainer
					.temporalMessage
						div SELECCIONA TU DESTINO
					.topBarReserveDate
						.editWrap
							div
								.city Barcelona
								.date
							button(class='editReserveCalendar')
								.icon-edit
							button(class='editReserveDestiny')
								.icon-edit

						.closeWrap
							button.closeMovileReserve
								.icon-close

					.locationMobile
						input.destination(type='text', placeholder-text='Selecciona destino', data-show='#autocomplete', data-next-focus='#date-in', data-noresults-message='No hay resultados')
						.autosuggest-div
						.closeWrap
							button.closeMovileReserve
								i.icon-close


				div(class='autocomplete__container')
					include ./autocomplete.jade
				div(class='calendar__container')
					include ./calendar.jade
				div(class='ocupation__container', show='ocupation')
					include ./ocupation.jade
