
case button.type
	when 0
		button(id=button.id, class='btnWhite #{ button.class }')
			span.icon-plus
			span #{ button.text }

	when 1
		button(id=button.id, class='btnBlue')
			span #{ button.text }
			span.icon-angle-right

	when 3
		button(id=button.id, class='btnWhite #{ button.class }')
			span #{ button.text }