article
	.ficha-sm
		img(src= ficha.img class= "img-responsive")

		.wrap-info
			.info-text
				.wrap-starts
					span.marca Catalonia
					each val in ficha.starts
						span.icon-star

				div.nombre #{ ficha.nombre }
				div.wrap-precio
					- var desde = 'Desde  '
					span.texto #{ desde }
					span.precio #{ ficha.precio }
					- var noche = '  / Noche'
					span.texto #{ noche }

			// -----
			- var textBtn = 'RESERVAR AHORA'
			include ../elements/btn-transparent.jade