article
	.ficha-lg
		img(src= ficha.img class= "img-responsive")

		if ficha.starts
			.wrap-info
				.info-text
					.wrap-starts
						span.marca Catalonia
						each val in ficha.starts
							span.icon-star

					div.nombre #{ ficha.nombre }
					div.wrap-precio
						- var desde = 'Desde  '
						span.texto #{ desde }
						span.precio #{ ficha.precio }
						- var noche = '  / Noche'
						span.texto #{ noche }

				// -----
				- var textBtn = 'RESERVAR AHORA'
				include ../elements/btn-transparent.jade

		else
			.wrap-titulo
				.wrap-info.last
					div.font-md
						hr
						span HOTELES
						hr
					div.font-lg CON TERRAZA
