div(id="infoModal", class="modal fade", tabindex="-1", role="dialog")
    div.modal-dialog
        div.modal-content
            div.modal-header
                button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                  span(aria-hidden="true", class="icon-close")
                    //&times;
                h4.modal-title instalaciones y servicios

                div.modal-body
                    .body__contentTop
                        .row
                            .col-sm-8.left_col
                                div
                                    h5 ¿por qué ir?
                                    p
                                        El hotel se encuentra situado en las proximidades de la Sagrada Familia y está muy bien comunicado con el centro urbano. Cuenta con habitaciones completamente equipadas y con conexión Wi-Fi gratis y una terraza con piscina y solárium. Además podrás disfrutar del spa, donde encontrarás todo lo que necesitas para relajar tu mente y tu cuerpo; y, de la zona Fitness de acceso a todos nuestros clientes. Vistas panorámicas de la ciudad desde la parte superior del hotel.
                                    a(href='')
                                        span Más detalles
                                        i.icon-arrow-down
                            .col-sm-4.right_col
                                div
                                    h5 amenities
                                    ul
                                        li
                                            span.icon-amenities-parking
                                            span Parking gratis
                                        li
                                            span.icon-amenities-clock
                                            span Restaurante de 8 a 24 horas
                                        li
                                            span.icon-amenities-wifi
                                            span Wifi gratis en todo el hotel
                                        li
                                            span.icon-amenities-tv
                                            span Televisión por cable
                                        li
                                            span.icon-amenities-parking
                                            span Terraza con solarium

                    .body__contentBot

                        .service__info
                            .wrap__img
                                img(src='./assets/img/result/modalImg1.png')
                            .wrap__tittle
                                h5 restaurante
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                        .service__info
                            .wrap__img
                                img(src='./assets/img/result/modalImg2.png')
                            .wrap__tittle
                                h5 piscina & spa
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                        .service__info
                            .wrap__img
                                img(src='./assets/img/result/modalImg3.png')
                            .wrap__tittle
                                h5 terraza
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

            div.modal-footer
                -var button = { type: 1, text: 'quiero reservar este hotel', id:'modalReserve' }
                include ./buttons.jade
