article
	#oferta.shadow-border
		.wrap-img
			img(src= oferta.img)
			span.icon-ticket_price
				span.descuento 20%

		.wrap-info-oferta
			.wrap-start
				span.icon-star
				span.icon-star
				span.icon-star
				span.icon-star

			.name CATALONIA PLAÇA CATALUNYA

			.wrap-datos
				- var direccion = 'Passeig de Gràcia, 72 '
				- var distancia = ' 1,7 km del centro'
				span.direccion #{ direccion }
				span.separador |
				span.icon-location
				span.distancia #{ distancia }

			hr

			.wrap-tags
				.tag LUJO
				.tag PISCINA
				.tag SPA

			.wrap-precio
				div TODO

				div
					- var desde = 'Desde  '
					span.texto #{ desde }
					span.precio 340 €
					- var noche = '  / Noche'
					span.texto #{ noche }


			//
			-var btnText= 'VER HOTEL'
			include ../elements/btn-color.jade