.wrap-reservas
	.row.middle-sm
		.col-sm-4
			.wrap-md-location
				div.sub-title Destino
				div.result Barcelona
		.col-sm-3
			.wrap-md-dates
				div.sub-title Fechas
				div.result 21/03/16 - 24/03/16
		.col-sm-3
			.wrap-md-people
				div.sub-title 3 Personas - 1 Habitación
				div.result
					span.icon-people_group
		.col-sm-2
			span.icon-edit