.aegon {
	.footer {
		color: white;
		margin-top: 50px;

		[class^="icon-m"], [class*="icon-m"] {
			margin-right: 5px;
		}

		.footer-top {
			background-color: $background-color-search;

			.middle-separator {
				border-right: 1px solid $border-color-light;
			}

			.title {
				font-size: 20px;
				padding: 15px 0;
				text-align:center;
			}
			.wrap-info {
				margin-top: 1px solid white;
				padding: 20px 0;
				width: 85%;
				margin: auto;
				border-top: 1px solid $border-color-light;
				.btn-yellow {
					max-width: 170px;
					padding: 8px 20px;
				}
				@include responsive-flex(row, wrap, center, space-between);
				.number {
					font-size: 21px;
					font-family: 'Sentico Sans',arial,sans-serif;
					font-weight:700;
					display: inline-block;
				}
				.wrap-text {
					margin-left: 30px;
					margin-top: -3px;
					text-align: left;
					line-height: 18px;
					.text {
						font-size: 14px;
						font-family: 'Sentico Sans',arial,sans-serif;
						font-weight: normal;
					}
				}
			}
		}

		.footer-middle {

			background-color: $text-blue;
			.row { height: 58px; }

			.wrap-social {
				padding-left: 35px;
				font-size: 35px;
				[class^="icomoon-"], [class*="icomoon-"] {
					color: #FFF;
					margin-right: 15px;
				}

			}

			.col-xs-12 {
				.wrap-social {
					text-align: left;
					margin-top: 6px;
				}
			}

			.wrap-opcions {
				@include responsive-flex(row, wrap, flex-end, center);
				text-align: right;
				padding-right: 35px;
				[class^="icomoon-"], [class*=" icomoon-"] {
					font-size: 22px;
					margin-right: 6px;
				}
				.separator {
					margin: 0 25px;
					width: 1px;
					height: 30px;
					background-color: $border-color-light;
				}
			}

			.col-sm-6 {
				justify-content: flex-end;
			}
		}

		.show-in-mobile{
			.wrap-options {
				margin-top:20px;
				color:$text-blue;
				text-align:center;
				font-size:18px;
				border-bottom: 1px solid #dcdcdc;
				padding-bottom:20px;
				margin:20px 10px 10px 10px;
				span {
					margin-right: 5px;
				}
			}
		}

		.footer-bottom {
			font-family: 'Sentico Sans';
			margin-top: 36px;
			margin: 36px auto 36px auto;
			.icomoon-arrow-right {
				color: $icon-color;
				font-size: 11px;
			}
			.title {
				display: inline;
				font-size: 16px;
				font-weight:bold;
				color: $text-blue;
			}
			.list {
				margin-top: 10px;
				line-height: 25px;
				font-size: 14px;
				font-family: 'Sentico Sans',arial,sans-serif;
				font-weight: normal;
				list-style-type: none;
				text-align: left;
				padding-left: 13px;
				a {
					color: $text-color-copyright;
				}
			}
		}

		.footer-bottom.show-in-mobile {
			text-align:center;
			.list {
				text-align:center;
			}
		}


		.logos-footer{
			border-top:1px solid #dcdcdc;
			border-bottom:1px solid #dcdcdc;
			padding: 10px 0px 10px 0px;
		}

		.copyright {
			margin-top: 36px;
			margin-bottom: 20px;
			font-size: 12px;
			color: $text-color-copyright;
			a {
				color: $text-color-copyright;
				&:before {
					padding: 0 5px;
					content: '·';
				}
				&:first-of-type:before {
					content: none;
				}
			}
		}

		.show-in-mobile{
			.copyright {
				margin-top:20px;
				margin-bottom: 20px;
			}
		}
	}

	.footer.short{
		border-top: 1px solid $border-grey-super-light;
		.copyright{
			margin-top: 20px;
		}
	}

	@include respond-to(max-xs) {
		.footer {

			.footer-top {
				background-color: $background-color-search;

				.col-xs-12{

					border-bottom: 1px solid $border-color-light;

					.title {
						font-size: 20px;
						padding: 15px 0 0 0;
						text-align:center;
					}
					.wrap-info {

						border-top: none;

						.number {
							margin-left: 10px;
							font-size: 21px;
							font-family: 'Sentico Sans',arial,sans-serif;
							font-weight: 700;
						}
						.wrap-text {
							width: 100%;
							margin-left: 0px;
							margin-top:20px;
							text-align: center;
							line-height: 18px;
							.telephone{
								display: none;
							}
						}
					}
				}
			}
			.footer-middle {
				.wrap-social {
					margin-top: 10px !important;
					padding-left: 0;
					text-align: center !important;
				}
			}
		}
	}
}
