.aegon {
	#header {
		position: relative;
		z-index: 9;
	}

	//MOBILE
	.header {
		height: 50px;
		padding-right: 15px;

		@include responsive-flex(row, nowrap, space-between, center);

		.icomoon-phone {
			font-size: 18px;
			color: $icon-color;
		}

		#menu-trigger {
		  background-color: $white;
		  transition: all .4s;
		  span {
		    position: absolute;
		    width: 42%;
		    height: 2px;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%,-50%);
		    background-color: $text-blue;
		    transition: all 1s;
		    &:before {
		      content: '';
		      position: absolute;
		      width: 100%;
		      height: 2px;
		      top: -7px;
		      left: 0;
		      background-color: $text-blue;
		      transition: all 1s;
		    }
		    &:after {
		      content: '';
		      position: absolute;
		      width: 100%;
		      height: 2px;
		      top: 7px;
		      left: 0;
		      background-color: $text-blue;
		      transition: all 1s;
		    }
		  }
		}

		#menu-trigger {
			@include respond-to(navigation-shown) {
			  display: none;
			}
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 50px;
			height: 50px;
			bottom: 0;
		}

		#wrap-hide-menu {
			background-color: white;
			position: absolute;
			z-index: 2;
			top: 0;
			left: -253px;
			height: 50px;
			bottom: 0;
			transition: all .4s;

			input {
				height: 100%;
				width: 200px;
				font-size: 15px;
				vertical-align: bottom;
				border: 0;
			}
			button {
				height: 100%;
				width: 50px;
				background-color: #3498DB;
				[class^='icomoon-'] {
					color: white;
					font-size: 20px;
				}
			}
		}
	}

	.header.white{
		border-bottom:1px solid #ECECEC;
		button{
			i{
				color:$text-blue;
				font-size: 18px;
				padding-left:10px;
			}
		}
	}

	#menu-trigger.menu-opened {
	  background-color: $white;
	  span {
	  	width: 32%;
	    background-color: $white;
	    &:before {
	      transform: rotate(-45deg) translate(-5px, 5px);
	    }
	    &:after {
	      transform: rotate(45deg) translate(-5px, -5px);
	    }
	  }
	}
	.menu-right a, .menu-right span {
		color: #2574A9 !important;
	}

	.menu-right a {
		font-weight: 500 !important;
	}
	// DESKTOP
	@include respond-to(min-sm) {
		.header-desktop {
			width: 100%;
			.header-top {
				margin:auto;
				padding: 0px 10px;
				background-color: $icon-color;
				.header-top-content {
					max-width: 1024px;
					margin: auto;
					height: 30px;
					padding-right: 10px;
					@include responsive-flex(row, nowrap, flex-end, center);
					.text {
						color: white;
						font-size: 14px;

						&:after { content: ' '}
					}

					.phone {
						color: white;
						font-size: 15px;
						font-weight:700;
						font-family: 'Sentico Sans',arial,sans-serif;
						margin-left: 5px;
					}

					.separator {
					    margin: 0 25px;
	    				width: 1px;
	    				height: 20px;
	    				background-color: #6bb0e8;
					}
				}
			}

			.header-bot {
				margin: auto;
				height: 70px;
				padding: 0 10px;
				max-width: 1024px;
				@include responsive-flex(row, wrap, space-between, center);
				a, a:hover, a:visited { color: $icon-color; font-weight:bold;}

				.menu-left {
					font-size: 16px;
					text-transform: uppercase;
					@include responsive-flex(row, wrap, space-between, center);
					& > *  { margin-right: 54px; }
				}

				.menu-right {
					position: relative;
					font-size: 16px;
					a, a:hover, a:visited{font-weight:300;}
					@include responsive-flex(row, wrap, space-between, center);
					[class^="icomoon-"] {
						margin-right: 5px;
						color: $icon-color;
						font-size: 16px;
					}
					& > *  {
						margin-right: 25px;
						&:last-of-type {
							margin-right: 0;
						}
					}
				}
			}
		}
		.header-desktop.white{
			.header-top {
				border-top:3px solid $text-blue;
				border-bottom:1px solid #ECECEC;
				background-color:#ffffff;
				height: 65px;
				.header-top-content2 {
					max-width: 1024px;
					margin: auto;
					height: 30px;
					.header-clients{
						padding-right:20px;
						margin-top:20px;
						float:right;
						border-right:1px solid $text-blue;
						.text{
							color:$text-blue;
							font-weight: 300;
						}
						.phone{
							color:$text-blue;
							font-weight: bold;
						}
					}
					.header-noclients{
						float:right;
						margin-top:20px;
						padding-left:20px;
						.text{
							color:$text-blue;
							font-weight: 300;
						}
						.phone{
							color:$text-blue;
							font-weight: bold;
						}

					}
					.separator {
						margin: 0 25px;
			    		width: 1px;
			    		height: 20px;
			    		background-color:red;
					}
					.menu-left{
						float:left;
						margin-top:5px;
						padding-top:0px;
					}
				}
			}

		}
	}

	// CUSTOM
	@media (max-width: 852px) {
		.header-desktop {
			.header-bot {
				.menu-left {
					> *  { margin-right: 32px; }
				}
			}
		}
	}
}
