.aegon {
	.tab-results{
		padding:0px;
		ul.tabs-menu{
			li{
				text-align:right;
				a{
					text-decoration: none;
					padding-right:10px;
					padding-left:10px;
					span{
						color: $text-middle-grey;
						.name{
							font-size: 17px;
							font-weight: 500;
							float:left;
						}
						.description{
							font-size: 12px;
							text-align:left;
						}
					}
					span.price{
						color: $text-middle-grey;
						.number{
						    font-size: 22px;
						    vertical-align: middle;
						    font-weight: 500;
						}
						.text{
							font-size: 12px;
	    					vertical-align: middle;
	    					font-weight: 500;

						}
					}
				}
			}
			li.current,li:hover{
				a{
					span{
						.name{
							color:$text-blue;
						}
						.description{
							color:$text-middle-grey;
						}
					}
					span.price{
						text-align: right;
						.number{
							color: #6bb9f0;
						}
						.text{
	    					color: #bfbfbf;
						}
					}
				}
			}
		}
	}

	.fixed-call-number{
	    position: fixed;
	    bottom: -5px;
	    padding-bottom: 4px;
	    left: 0;
	    width: 100%;
	    background-color: #F6F6F6;
	    z-index:3;
	    .name-seguro{
	    	padding:10px;
	    	font-family: 'Sentico sans',arial,sans-serif;
	    	vertical-align: middle;
		    .name{
		    	float:left;
		    	color:$text-dark-blue;
		    	font-weight: 500;
		    	font-size:18px;
		    	margin-top:2px;
		    }
		    .price{
		    	float:right;
		    	.number{
		    		color:#6BB9F0;
		    		font-size: 21px;
		    		font-weight: 500;
		    		vertical-align: middle;
		    	}
		    	.text{
		    		font-size: 12px;
		    		font-weight: 500;
		    		color:#text-middle-grey;
		    		vertical-align: middle;
		    	}
		    }
		}
		.btn-yellow{
			border-radius: 0px;
		}
	}

	.content-tabs.hide {
		.fixed-call-number {
			display: none;
		}
	}

	@include respond-to(max-sm) {
		.main-tarificador{
			margin:0px 10px;
		}
		.main-recomendador{
			margin:0px 10px;
		}
	}

	@include respond-to(max-xs) {
		.tab-results{
			ul.tabs-menu{
				li{
					text-align:left;
					a{
						padding-bottom: 5px;
					}
					span{
						.name{
							font-size: 12px !important;
						}
					}
				}
			}
		}
	}
}