.aegon {
	.info-advertise{
		margin-top:20px;
		.info-text{
			text-align:left;
			i{
				color:$text-dark-blue;
				padding-right:10px;
				padding-bottom:10px;
				font-size: 16px;
				float:left;
			}
			p{
				font-size: 14px;
				color:$text-middle-grey;
			}
		}
	}
	.content-tabs{
		.results-container{
			margin-top:10px;
			text-align: left;
			.container-title{
				background-color:$text-dark-blue;
				color:#fff;
				padding:10px 0px;
				border-top-left-radius: 4px;
	    		border-top-right-radius: 4px;
			}
			.description-seguro{
				border: 1px solid #ddd;
				border-bottom-left-radius: 4px;
	    		border-bottom-right-radius: 4px;
				padding:10px 10px 30px 10px;
				.container-info{
					padding:10px 0px;
					.tarifa{
						font-size: 16px;
						font-weight: 500;
						color:$text-grey;
						border-bottom:1px solid #ececec;
						p{
							float:left;
						}
						.custom-select{
							float:right;
							color:$text-blue;
							width: 110px;
							border:none;
							select{
								height: 20px;
								color:$text-blue;
								font-weight: 500;
							}
						}
					}
					a{
						span{
							font-size: 15px;
						}
						.icomoon-arrow-down{
							font-size: 12px;
							padding-left:5px;
						}
					}
					.description{
						font-size: 15px;
						color:$text-middle-grey;
						font-weight: 300;
						span{
							color:$text-grey;
							i{
								color:$text-blue;
								padding-right:5px;
								float:left;
							}
						}
					}
					.price-container{
						text-align: right;
						.price{
							color:#6BB9F0;
							vertical-align: middle;
							font-weight: 500;
						}
						.month{
							color:#BFBFBF;
							vertical-align: middle;
							font-weight: 500;
						}
					}
				}
			}
		}
	}

	.results-resume{
		margin-top:60px;
		border: 1px solid #ddd;
		padding:15px;
		h3{
			font-size: 16px;
			padding-bottom:15px;
			border-bottom: 1px solid #ececec;
			text-align: left;
			color:$text-grey;
		}
		h2{
			color:$text-dark-blue;
			font-size: 22px;
			padding-bottom:15px;
			padding-top:15px;
			border-bottom: 1px solid #ececec;
			text-align: left;
		}
		.total-price{
			padding-bottom:12px;
			padding-top:12px;
			margin-bottom:15px;
			border-bottom: 1px solid #ececec;
			color:$text-grey;
			.text{
				float:left;
				margin-top: 12px;
			}
			.price{
				float:right;
				.number{
					color: #6bb9f0;
				    font-size: 34px;
				    vertical-align: middle;
				    font-weight: 500;
				}
				.month{
					font-size: 14px;
				    color: #bfbfbf;
				    vertical-align: middle;
				    font-weight: 500;
				}
			}
		}
		button{
			margin-bottom:5px;
		}
		.save{
			margin-top:15px;
			text-align: center;
			a{
				text-decoration:none;
				font-size: 16px;
				font-weight: 500;
				i{
					font-size: 12px;
					margin-right:2px;
				}
			}
		}
	}


	@include respond-to(max-xs) {
		.results-resume{
			margin-top:20px;
		}
	}
}