.aegon {
	.seguros-salud {
	  margin-bottom: 50px;
	  .desktop {
	    @include hide(xs);
	    @include hide(sm)
	  }
	  .mobile {
	    @include hide(md);
	    @include hide(lg);
	    @include respond-to(max-xs) {
	      margin-left: -15px;
	      margin-right: -15px;
	    }
	  }
		.module {
			padding: 0 10px;
			.call-form {
				border-left:1px solid #e7e7e7;
				border-right:1px solid #e7e7e7;
				border-bottom:1px solid #e7e7e7;
			}
			.introduction-prices {
				padding:40px 0px;
				h2 {
					font-size: 34px;
					color:$text-grey;
					font-family:SenticoSansDT-Medium,sans-serif;
					margin-bottom:20px;
				}
				p {
					width: 80%;
					margin-right:10%;
					margin-left: 10%;
					font-family: Arial,sans-serif;
					font-size: 15px;
				}
			}
			table {
				thead {
					th {
						width: 185px;
						height:200px;
	          font-family: 'Sentico Sans';
						padding: 5px 15px;
	  				text-align: center;
	  				border: 1px solid #E7E7E7;
	  				&:first-child {
	  					border:none;
	  					width: 100px;
	  				}
	  				.name {
	  					color:$text-blue;
	  					font-size: 18px;
	            height: 30px;
	  					font-weight: 300;
	  				}
	  				.price {
	  					height: 40px;
	  					.number {
	  						font-size: 24px;
	  						color:$text-light-blue;
	  						vertical-align: middle;
	  					}
	  					.text {
	  						font-size: 14px;
	  						color:$text-grey-light;
	  						vertical-align: middle;
	  						font-weight: normal;
	  					}
	  				}
	  				button {
	  					max-width: 178px;
	  					font-size: 14px;
	  					font-weight: bold;
	  					display:block;
	  					margin-bottom:15px;
	            padding-top: 7px;
	            padding-bottom: 7px;
	  				}
	  				a {
	  					font-size: 14px;
	  					&:hover {
	  						text-decoration: none;
	  					}
	  				}
				  }
					th.bigger {
	  				background-color: #3498DB;
	  				color:#FFFFFF;
	  				border-bottom: 1px solid #3498DB;
	  				position:relative;
	          &:before {
	            background-color: #3498DB;
	            content: '';
	            position: absolute;
	            bottom: 100%;
	            left: 0;
	            height: 18px;
	            width: 100%;
	          }
	          &:after {
	            content: '';
	            position: absolute;
	            top: 100%;
	            left: 50%;
	            width: 0;
	            height: 0;
	            border-style: solid;
	            border-width: 8px 10px 0 10px;
	            border-color: #3498DB transparent transparent transparent;
	            transform: translateX(-50%);
	          }
	  				.icomoon-star {
	  					top: -18px;
	  					right: 0;
	  					position:absolute;
	  					border-top: 40px solid #2574A9;
	  					border-left: 40px solid transparent;
	            &:before {
	              position: absolute;
	              top: -36px;
	              left: -18px;
	            }
	  				}
	  				.name {
	  					color:#FFFFFF;
	  					font-size: 22px;
	  					padding-bottom:5px;
	            position: relative;
	            top: -10px;
	  				}
	  				.price {
	  					font-size: 32px;
	            position: relative;
	            top: -10px;
	  					.text {
	  						color:#FFFFFF;
	  					}
	  				}
	  				a {
	  					color:#FFFFFF;
	  					&:hover {
	  						color:#337ab7;
	  					}
	  				}
	  			}
				}
				tbody {
					font-size: 14px;
					color:$text-grey;
					tr {
						td {
							padding:15px;
							border: 1px solid #E7E7E7;
							i {
								color: #42a72a;
							    font-size: 24px;
							}
							.icomoon-arrow-down {
							    color:$text-blue;
							    font-size: 10px;
							    padding-left:5px;
							}
						}
						td.title {
							background-color:#F2F2F2;
	            font-family: 'Sentico Sans';
						}
						td.description {
							font-family: Arial,sans-serif;
							font-size: 12px;
							color:$text-grey;
						}
					}
					tr.button-dropdown {
						border:1px solid #E7E7E7;
						td {
							border:none;
						}
	          .btn-link {
	            font-family: 'Sentico Sans';
	            font-size: 17px;
	            font-weight: 500;
	          }
					}
					tr.extended {
						display:none;
					}
				}
	      &.extended {
	        tr.extended {
	          display: table-row;
	        }
	        tr.button-dropdown {
	          display: none;
	        }
	      }
			}
	    .conditions {
	      color: #888;
	      margin-top: 10px;
	      font-size: 12px;
	    }
		}
	}

	.seguros-salud {
		.module {
			padding: 0 10px;
			.option {
				border:1px solid $border-grey-super-light;
				margin-bottom:20px;
				.main-info {
					padding:20px 15px 20px 15px;
					.name {
						font-size: 18px;
						color:$text-dark-blue;
						float: left;
					}
					.text {
						font-size: 12px;
						color:$text-grey-light;
						vertical-align: middle;
					}
					.price {
						float:right;
						color:#6BB9F0;
						font-size: 24px;
						vertical-align: middle;
					}
	        .icomoon-star {
	          top: 0;
	          right: 0;
	          position:absolute;
	          border-top: 40px solid #2574A9;
	          border-left: 40px solid transparent;
	          &:before {
	            color: #FFF;
	            position: absolute;
	            top: -36px;
	            left: -18px;
	          }
	        }
				}
				.call-to-action {
					margin:15px;
					//padding:20px 15px 10px 15px;
					padding-top:15px;
					border-top:1px solid $border-grey-super-light;
					button {
						max-width: 160px;
						font-size: 16px;
	          @include respond-to(max-xs) {
	            padding: 10px;
	            width: auto;
	          }
					}
					a {
						padding: 10px 20px;
						float:right;
					}
				}
				.dropdown-characteristics {
					margin-top:10px;
					.collapse {
						display:block;
						.collapse-item.collapsed {
							.collapse-header {
								color: #3498db;
		    					font-size: 15px;
		    					background-color: #f5f5f5;
		    					padding: 15px;
								.icomoon-arrow-down {
									float:right;
								}
								.icomoon-arrow-up {
									float:right;
									display:none;
								}
							}
						}
						.collapse-item.opened {
							.collapse-header {
								color: #3498db;
		    					font-size: 15px;
		    					background-color: #f5f5f5;
		    					padding: 15px;
								.icomoon-arrow-down {
									float:right;
									display:none;
								}
								.icomoon-arrow-up {
									float:right;
								}
							}
						}

						.collapse-content {
							background-color: #ffffff;
	  					ul {
	  						list-style-type: none;
	  						li {
	  							padding: 15px;
	  							border-bottom:1px solid $border-grey-super-light;
	  							.title {
	  								padding-bottom:10px;
	  								font-size:16px;
	  							}
	  							.description {
	  								font-size: 14px;
	  								font-family: Arial,sans-serif;
	  							}
	  							.price {
	  								font-size: 14px;
	  								font-family: Arial,sans-serif;
	  								float: right;
	  							}
	  							.icomoon-check-icon {
	  								float:right;
	  								color: #42a72a;
	  								font-size: 24px;
	  							}
	  						}
	  					}
						}
					}
				}
			}
			.option.blue {
				background-color:$text-blue;
				position: relative;
				.main-info {
					.name {
						color:#ffffff;
					}
					.price {
						color:#ffffff;
						.text {
							color:#ffffff;
						}
					}
					.icommoon-star {
	    			top: 0;
						right: 0;
						position:absolute;
						border-top: 40px solid #2574A9;
						border-left: 40px solid transparent;
	    		}
				}
			}
		}
	}

	@include respond-to(max-xs) {
		.seguros-salud {
			.module {
				.introduction-prices {
					h2 {
						font-size: 22px;
					}
					p {
						width: 100%;
						margin:0;
	    				font-family: Arial,sans-serif;
	    				text-align: left;
					}
				}
			}
		}
	}
}
