.aegon {
	.seguros.module{
		padding: 0 10px;
		margin-bottom:20px;
		.box{
			margin-bottom:30px;
			i{
				font-size: 40px;
				color:#6BB9F0;
				float:left;
				padding-right:20px;
				padding-bottom:10px;
			}
			.title{
				font-family:SenticoSansDT-Medium,sans-serif;
				color:$text-dark-blue;
				padding-bottom:5px;
				font-size:18px;
				position: relative;
	    	top: -2px;
			}
			p{
				font-family: Arial,sans-serif;
				font-size:14px;
			}
		}
	}
}