extends ../../layouts/modal.jade

block vars
	- var modalId = 'presupuesto';

block modal-header
	button(type="close",data-dismiss="modal",aria-label="Close").close x

block modal-body
	.aegon-presupuesto
		h2 Guarda tu presupuesto
		.aegon-description
			p Si nos dejas tu dirección de correo te enviaremos una copia del presupuesto para que lo contrates cuando quieras. No llenaremos tu correo con publicidad. También puedes descargarlo en el enlace que aparece a continuación
		.aegon-warning
			i.icomoon-info
			p Recuerda que esta simulación tiene un periodo de vigencia de 15 días desde el día que se realiza.
		.aegon-save
			a(href="#").clearfix
				i.icomoon-arrow-right
				span.sentico-font Guardar presupuesto
		form
			.form-group
				input(type="text",placeholder="Escribe tu email")
				input(id="send-presupuesto",type="submit",value="Enviar").btn-blue.show-in-desktop
			.custom-checkbox
				label
					input(type="checkbox")
					span.box
					span Acepto la
						a(href="#")  Política de privacidad.
			.form-group
				input(id="send-presupuesto",type="submit",value="Enviar").btn-blue.show-in-mobile
	.modal-sucess.hide
		i.icomoon-check-icon
		p El presupuesto se ha enviado por email correctamente