extends ../../layouts/modal.jade

block vars
	- var modalId = 'llamada';
block modal-header
	button(type="close",data-dismiss="modal",aria-label="Close").close x

block modal-body
	h2 Te llamamos
	form
		.form-group
			input(type="text",placeholder="Escribe tu nombre")
		.form-group
			input(type="text",placeholder="Escribe tu correo electrónico")
		.form-group
			input(type="text",placeholder="A qué teléfono te llamamos?")
		.form-group
			.custom-checkbox
				label
					input(type="checkbox")
					span.box
					span Acepto la
						a(href="#")  Política de privacidad.
		input(type="submit",value="Te llamamos gratis").btn-yellow
		.call-us
			span.sentico-font O llámanos gratis al
			span.number.sentico-font  900 330 903