.aegon
	.aegon-tarificador-wrap-form
		.module.row.center-md
			.col-sm-8.col-xs-12
				.aegon-tarificador-description
					p Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque launtium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
				.form-container
					form(action='/signup',method='post')
						.step.first-step
							.row.form-group.container-question
								label.col-xs-12.col-sm-4.sentico-font Fecha de inicio del seguro
								.col-xs-12.col-sm-5
									.custom-select
										select
											option(disabled selected) Selecciona una opción
											option 1 de enero
											option 1 de julio
											option 1 de diciembre

							.row.form-group.container-question
								label.col-xs-12.col-sm-4.sentico-font ¿En qué provincia resides?
								.col-xs-12.col-sm-8.margin-bottom-30px
									.custom-select
										select
											option(disabled selected) Selecciona una opción
											option Barcelona
											option Madrid
											option Andalucía
								label.col-xs-12.col-sm-4.sentico-font ¿En qué provincia resides?
								.col-xs-12.col-sm-5
									.button-group
										.item
											label(for="number1")
												input(type="radio",name="number",id="number1").button.primary
												span 1
										.item
											label(for="number2")
												input(type="radio",name="number",id="number2").button
												span 2
										.item
											label(for="number3")
												input(type="radio",name="number",id="number3").button
												span 3
										.item
											label(for="number4")
												input(type="radio",name="number",id="number4").button
												span 4
										.item
											label(for="number5")
												input(type="radio",name="number",id="number5").button
												span 5
										.item
											label(for="number6")
												input(type="radio",name="number",id="number6").button
												span 6
									.aegon-description
										p.aegon-discount.sentico-font.hide.show-in-mobile 15% de descuento
										h4.sentico-font Descuentos para familias
										p Todos los asegurados deben convivir en el mismo núcleo familiar.
								.col-xs-12.col-sm-3.show-in-desktop
									p.aegon-discount.sentico-font.hide 15% de descuento
						.step.second-step
							.row.container-form.clearfix
								h4.col-xs-12.sentico-font Datos del asegurado 1
								.form-group.col-xs-12
									label.col-xs-12.col-sm-4.sentico-font Nombre
									input(type="text").col-xs-12.col-sm-8
								.form-group.col-xs-12
									label.col-xs-12.col-sm-4.sentico-font Teléfono
									input(type="tel").numeric-input.col-xs-12.col-sm-4
								.form-group.col-xs-12
									label.col-xs-12.col-sm-4.sentico-font Correo Electrónico
									input(type="email",placeholder='hello@aegon.com').col-xs-12.col-sm-8
								.form-group.col-xs-12
									label.col-xs-12.col-sm-4.sentico-font Fecha de nacimiento
									input(type="text",placeholder='dd',maxlength="2").date-input.numeric-input.col-xs-3.col-sm-1
									input(type="text",placeholder='mm',maxlength="2").date-input.numeric-input.col-xs-3.col-sm-1
									input(type="text",placeholder='aaaa',maxlength="4").date-input.numeric-input.col-xs-4.col-sm-2
						.conclued-container
							.custom-checkbox
								label
									input(type="checkbox")
									span.box
									span Acepto la
										a(href="#")  Política de privacidad.
							button(class='btn-blue', type='submit') Continuar
			.col-sm-4.show-in-desktop
				include ../shared/sidebar-question.jade


