.aegon
	.content-tabs.module.tab-content.aegon-tarificador#tab1
		.col-sm-8.col-xs-12
			.info-advertise.col-xs-12
				.info-text
					i.icomoon-info
					p Precio total por mes para todos los asegurados. Impuestos incluidos.
			.results-container.col-xs-12
				.row.container-title
					.col-xs-12
						h3 Aegon Salud Completo
				.row.description-seguro
					.col-xs-12.clearfix
						.container-info
							.tarifa.clearfix
								p.sentico-font Elige el tipo de tarifa
								.custom-select
									select
										option.sentico-font Sin pago
										option.sentico-font Sin pago
										option.sentico-font Sin pago
					.col-xs-12
						.container-info.clearfix
							.col-sm-7.col-xs-12.no-padding
								.description
									p.question.sentico-font ¿Quieres añadir indemnización por hospitalización a tu seguro?
									p.text Aegón te pagará 30 euros diarios tras intervención quirúrgica desde el tercer día de ingreso.
							.col-sm-5.col-xs-12.no-padding
								.price-container
									span.price.sentico-font +0,66€
									span.month.sentico-font /mes
								.btn-checkbox
									label
										input(type="checkbox",value="1")
										span
											span.text
												span.icomoon-plus-sign
												|  Añadir
											span.text.checked
												span.icomoon-check
												| Añadido
					.col-xs-12
						.container-info.clearfix
							.col-sm-7.col-xs-12.no-padding
								.description
									p.question.sentico-font ¿Quieres añadir cobertura dental a tu seguro?
									p.text Más de 50 servicios gratuitos (revisiones, radiofgrafías, consultas, limpiezas y extracciones, entre otros) y en el resto descuentos de hasta el 40%.
							.col-sm-5.col-xs-12.no-padding
								.price-container
									span.price.sentico-font +2,66€
									span.month.sentico-font /mes
								.btn-checkbox
									label
										input(type="checkbox",value="1")
										span
											span.text
												span.icomoon-plus-sign
												|  Añadir
											span.text.checked
												span.icomoon-check
												| Añadido
					.col-xs-12
						.container-info.clearfix
							.col-sm-7.col-xs-12.no-padding
								.description
									p.question.sentico-font ¿Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque?
									p.text Ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.
							.col-sm-5.col-xs-12.no-padding
								.price-container
									span.price.sentico-font +4,66€
									span.month.sentico-font /mes
								.btn-checkbox
									label
										input(type="checkbox",value="1")
										span
											span.text
												span.icomoon-plus-sign
												|  Añadir
											span.text.checked
												span.icomoon-check
												| Añadido
					.col-xs-12
						.container-info.clearfix.border-none
							.col-sm-7.col-xs-12.no-padding
								.description
									p.question.sentico-font ¿Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque?
									p.text Ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.
							.col-sm-5.col-xs-12.no-padding
								.price-container
									span.price.sentico-font +4,66€
									span.month.sentico-font /mes
								.btn-checkbox
									label
										input(type="checkbox",value="1")
										span
											span.text
												span.icomoon-plus-sign
												|  Añadir
											span.text.checked
												span.icomoon-check
												| Añadido
		.col-sm-4.col-xs-12
			.results-resume
				h3 Resumen de tu seguro
				.introduction-summary
					h2 Aegon Salud Completo
					p 28039 Madrid, 1 asegurado.
					p Fecha de efecto: 1 de junio 2016
				.custom-select
					select.sentico-font
						option(disabled selected) Coberturas que incluye tu seguro
						option Cobertura dental
						option Indemnización por hospitalización
						option Cobertura post parto
				.aegon-extras.clearfix.sentico-font
					h4 Coberturas extras
					.aegon-cobertura
						span.text Cobertural Dental
						span.price
							span.number +0,66
							span.month /mes
				.aegon-extras.clearfix.sentico-font
					h4 Aegon Salud Completo
					.aegon-cobertura
						span.text Precio Base
						span.price
							span.number 39,90€
							span.month /mes
				.total-price.clearfix.sentico-font
					span.text Precio Total
					span.price
						span.number 40,56€
						span.month /mes
				button.btn-blue.clearfix.show-in-desktop Contratar online
				button(data-toggle="modal",data-target="#modal-llamada").btn-yellow.clearfix Te llamamos gratis
				.clearfix.save
					a(data-toggle="modal", data-target="#modal-presupuesto").clearfix
						i.icomoon-arrow-right
						span.sentico-font Guardar presupuesto
		.fixed-call-number.show-in-mobile(data-fixed-until='.total-price')
			.name-seguro.clearfix
				span.name Aegon Salud Completo
				span.price
					span.number 39,90€
					span.text /mes
			button.btn-yellow Te llamamos gratis

	.content-tabs.module.tab-content.aegon-tarificador#tab2.hide
		.col-sm-8.col-xs-12
			.info-advertise.col-xs-12
				.info-text
					i.icomoon-info
					p Precio total por mes para todos los asegurados. Impuestos incluidos.
			.results-container.col-xs-12
				.row.container-title
					.col-xs-12
						h3 Aegon Salud Reembolso
				.row.description-seguro
					.col-xs-12.clearfix
						.container-info
							.tarifa.clearfix
								p.sentico-font Elige el tipo de tarifa
								.custom-select
									select
										option.sentico-font Sin pago
										option.sentico-font Sin pago
										option.sentico-font Sin pago
					.col-xs-12
						.container-info.clearfix
							.col-sm-7.col-xs-12.no-padding
								.description
									p.question.sentico-font ¿Quieres añadir indemnización por hospitalización a tu seguro?
									p.text Aegón te pagará 30 euros diarios tras intervención quirúrgica desde el tercer día de ingreso.
							.col-sm-5.col-xs-12.no-padding
								.price-container
									span.price.sentico-font +0,66€
									span.month.sentico-font /mes
								.btn-checkbox
									label
										input(type="checkbox",value="1")
										span
											span.text
												span.icomoon-plus-sign
												|  Añadir
											span.text.checked
												span.icomoon-check
												| Añadido
					.col-xs-12
						.container-info.clearfix
							.col-sm-7.col-xs-12.no-padding
								.description
									p.question.sentico-font ¿Quieres añadir cobertura dental a tu seguro?
									p.text Más de 50 servicios gratuitos (revisiones, radiofgrafías, consultas, limpiezas y extracciones, entre otros) y en el resto descuentos de hasta el 40%.
							.col-sm-5.col-xs-12.no-padding
								.price-container
									span.price.sentico-font +2,66€
									span.month.sentico-font /mes
								.btn-checkbox
									label
										input(type="checkbox",value="1")
										span
											span.text
												span.icomoon-plus-sign
												|  Añadir
											span.text.checked
												span.icomoon-check
												| Añadido
					.col-xs-12
						.container-info.clearfix
							.col-sm-7.col-xs-12.no-padding
								.description
									p.question.sentico-font ¿Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque?
									p.text Ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.
							.col-sm-5.col-xs-12.no-padding
								.price-container
									span.price.sentico-font +4,66€
									span.month.sentico-font /mes
								.btn-checkbox
									label
										input(type="checkbox",value="1")
										span
											span.text
												span.icomoon-plus-sign
												|  Añadir
											span.text.checked
												span.icomoon-check
												| Añadido
					.col-xs-12
						.container-info.clearfix.border-none
							.col-sm-7.col-xs-12.no-padding
								.description
									p.question.sentico-font ¿Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque?
									p.text Ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.
							.col-sm-5.col-xs-12.no-padding
								.price-container
									span.price.sentico-font +4,66€
									span.month.sentico-font /mes
								.btn-checkbox
									label
										input(type="checkbox",value="1")
										span
											span.aegon-text
												span.icomoon-plus-sign
												|  Añadir
											span.text.checked
												span.icomoon-check
												| Añadido
		.col-sm-4.col-xs-12
			.results-resume
				h3 Resumen de tu seguro
				.introduction-summary
					h2 Aegon Salud Reembolso
					p 28039 Madrid, 1 asegurado.
					p Fecha de efecto: 1 de junio 2016
				.custom-select
					select.sentico-font
						option(disabled selected) Coberturas que incluye tu seguro
						option Cobertura dental
						option Indemnización por hospitalización
						option Cobertura post parto
				.total-price.clearfix.sentico-font
					span.text Precio Total
					span.price
						span.number 75,90€
						span.month /mes
				button.btn-blue.clearfix.show-in-desktop Contratar online
				button(data-toggle="modal",data-target="#modal-llamada").btn-yellow.clearfix Te llamamos gratis
				.clearfix.save
					a(data-toggle="modal", data-target="#modal-presupuesto").clearfix
						i.icomoon-arrow-right
						span.sentico-font Guardar presupuesto
		.fixed-call-number.show-in-mobile(data-fixed-until='.total-price')
			.name-seguro.clearfix
				span.name Aegon Salud Reembolso
				span.price
					span.number 75,90€
					span.text /mes
			button.btn-yellow Te llamamos gratis



