.aegon {
	.content-tabs.aegon-recomendador{
		.results-container{
			margin-top:10px;
			text-align: left;
			.description-seguro{
				.container-info{
					.description{
						p.show-in-desktop{padding-bottom:10px;}
					}
					.price-container{
						.price{
							font-size:34px;
						}
						.month{
							font-size: 14px;
						}
					}
					h4{
						color:$text-grey;
						font-size: 16px;
						border-bottom:1px solid #ececec;
						padding-bottom:10px;
						margin-bottom:15px;
					}
					ul{
						li{
							width: 50%;
							float:left;
							list-style-type: none;
							color:$text-grey;
							.icomoon-check{
								color:#C2C2C2;
								font-size: 12px;
								padding-right:5px;
							}
						}
					}
				}
			}
		}
	}


	@include respond-to(max-xs) {
		.content-tabs.aegon-recomendador{
			.results-container{
				.description-seguro{
					 padding: 10px 0px 30px;
					.container-info{
						padding: 5px 0 !important;
						ul{
							li{
								width: 100%;
							}
						}
						.price-container{
							border-bottom:1px solid #ececec;
							padding-bottom: 10px;
			    			margin-bottom: 15px;
						}
					}
				}
			}
		}
	}
}