.aegon {
	.recomendador-title {
		width: 50%;
	    margin-left: 25%;
	    margin-right: 25%;
	}
	.seguro-wrap-form {
		.module {
			.sidebar {
				.contact {
					margin-top:0px;
					border-bottom:1px solid #ececec;
					border-left:1px solid #ececec;
					border-right:1px solid #ececec;
					padding:15px;
				}
			}
			.form-container {
				border:1px solid #DDDDDD;
			}
		}
	}

	@include respond-to(max-xs) {
		.recomendador-title {
			width: 100%;
	    	margin-left: 0%;
	    	margin-right: 0%;
		}
		.seguro-wrap-form {
			.module {
				margin-right: -15px;
	   			margin-left: -15px;
				.form-container {
					border-color:transparent;
				}
			}
		}
	}
}