.cities {
	//padding: 10px 30px;
	width: 622px;
	display: table;
	border-collapse: collapse;

	.rowTable {
		display: table-row;

	}
	.cities__city {
		position: relative;
		display: table-cell;
		border: 1px solid #F1F1F1;
		width: 611px;
		height: 181px;
		.city__text {
			position: absolute;
			top: 32%;
			left: 20%;
			text-align: center;
			font-family: 'Montserrat-Light';
			.city__name {
				font-size: 26px;
			}
			.city__hotelCount {
				font-size: 20px;
			}
		}
	}
}