// Multiplicaicon-star
#wrap-filters {
	position: fixed;
	top: 106px;

	z-index: 3;
	font-family: 'Montserrat-Light';
	color: #666666;
	width: 100%;
	height: 100%;

	@include respond-to(tablet) {
		top: 192px;
	}
	@include respond-to(mobile) {
		left: 0;
		top: 0;
		z-index: 6 !important;
	}

	// Sobrescribo las clases de Jquery UI slider
	.ui-slider .ui-slider-handle {
		width: 1.6em;
		height: 1.6em;
	}

	.ui-widget-header {
		background: $slider-bar;
		&:focus { background: $slider-bar; }
	}

	.ui-state-active, .ui-widget-content {
		border: 1px solid #c5c5c5 !important;
	    background: #f6f6f6 !important;
	}

	.ui-slider-horizontal {
		height: 0.3em;
		background-color: #E8E8E8 !important;
		border: 0 !important;
	}

	.ui-slider-horizontal .ui-slider-handle {
		top: -.7em;
		outline: 0;
		background-color: #F0F0F0;
	}

	.ui-corner-all { border-radius: 10px; }

	//Sobrescribo estilo defecto de el tooltip de bootstrap
	.tooltip {

		.tooltip-arrow {
			border-top-color: #F1F1F1 !important;
		}
		.tooltip-inner {
			width: 55px;
			color: $text-black;
			background: $white;
			border: 1px solid #F1F1F1;
			font-size: 12px;
			font-family: 'Montserrat-Regular';
			border-radius: 0;
		}
	}
	// Lo uso para dar efecto de flecha a los tooltip
	.toolTipArrow {
		position: absolute;
		top: -7px;
		left: -5px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 5px 0;
		border-color: $white transparent transparent transparent;
		z-index: 100;
	}



	.filters-options {
		@include box-shadow(0, 2px, 4px, rgba(0,0,0,0.17));
		width: 682px;
		padding: 0 22px;
	    background: white;
	    /*@media(max-width: 1023px) {
	    	margin-top: 25px;
	    }*/
	    @include respond-to(tablet) {
	    	margin-top: 0;
	    }
		.row {
			height: 96px;
			border-bottom: 0.5px solid $border-color-row;
		}
		.row.first {
			@include hide(desktop);
			@include hide(bigscreen);
		}
		.row.services {
			height: 100% !important;
		}
		.last {
			height: 140px;
		}
		label {
			color: $text-color-4;
			font-size: 13px;
			margin-left: 4px;
			margin-right: 16px;
		}

		.wrap-slider {
			margin-top: 29px;
		}
		.distanceValues {
			@include respond-to(mobile) {
				label {
					font-size: 10px !important;
				}
			}
		}
		.wrap-values {
			position: relative;
			margin: 10px -14px 0 -8px;
			@include responsive-flex(row, wrap, space-between, center);
			.intervalDistanceLeft {
				position: absolute;
				left: 27%;
			}
			.intervalDistanceRight {
				position: absolute;
				right: 24%;
			}
			.intervalAppreciationlLeft {
				position: absolute;
				left: 26%;
			}
			.intervalAppreciationRight {
				position: absolute;
				right: 21%;
			}
		}
		.category {
			@include respond-to(mobile) {
				height: 140px !important;
			}
		}
		.wrap-group-star {
			@include responsive-flex(row, wrap, flex-start, center);
			margin-bottom: 3px;
			.group-star {
				display: table;
				margin-right: 105px;
				height: 20px;
				&:last-child { margin-right: 0; }
				button {
					display: table-cell;
					vertical-align: middle;
				}
				.icon-star { font-size: 12px; }
				.icon-star_plus { font-size: 7px; }
				.fix_center { margin-bottom: 4px; }

			}
			.icon-star_plus { font-size: 6px;}
			.star-off { color: $icon-color-star-disable !important; }
			.star-on { color: $icon-color-start !important; }
		}
		.wrap-services {
			font-size: 13px;
			margin: 20px 0;
			label {
				margin-right: 0 !important;
			}
			.custom-checkbox {
				width: 150px;
				display: inline-block;
				@include respond-to(mobile) {
					width: 140px
				}
			}

		}
	}

	.wrap-buttons {
		@include responsive-flex(row, wrap, flex-end, center);
		//display: table;
		.wrap-btn-cancel {
			//display: table-cell;
			margin-right: 10px;
			button {
				width: 124px !important;
			}
			@include hide(mobile);
			@include hide(tablet);
		}

		.wrap-btn-apply {
			//display: table-cell;
			button {
				border-radius: 0;
				width: 160px;
				@include respond-to(mobile) {
					width: 100%;
				}
			}
			@include respond-to(mobile) {
				width: 100%;
			}
		}
	}
}

@media (max-width: $break-small) {
	#wrap-filters {
		//top: 0px;
		position: absolute;
		top: 0;
		.filters-options {
			width: 100%;
			padding: 0 18px;
			.row {
				height: 130px;
				//width: 292px;
				padding-top: 22px;
				flex-direction: column;

				.top-filter {
					@include responsive-flex(row, nowrap, space-between, flex-start);
				}
			}
			.row.first {
				height: 60px;
				a {
					color: $back-color-2;
					font-family: 'Montserrat-Regular';
				}
				span {
					font-family: 'Montserrat-Regular';
				}
			}
			.wrap-group-star {
				padding-top: 10px;

				@include responsive-flex(column, nowrap, flex-start, flex-start);
				.group-star { margin-right: 0; }
				@include respond-to(mobile) {

				}
			}
		}
	}
}

.removeMarginTop {
	margin-top: 0;
}

#wrap-map-toggle {
	width: 100%;
	height: 100%;
    display: none !important;
    font-family: 'Montserrat-Light';
    color: #666666;
}
