.filterBar {
	position: fixed;
	top: 60px;
	z-index: 3 !important;
	width: 682px;
	@include respond-to(tablet) {
		width: 100%;
		top: 120px;
	}

	.filterBar__content {
		@include responsive-flex(row, wrap, space-between, center);

		// CSS Dimensiones
		height: 48px;
		padding: 0 18px;
		border-bottom: .5px solid #ededed;
		// CSS Bonito
		background-color: $white;
		color: $order-btn-text;

		// CSS Responsive
		@include respond-to(tablet) {
			height: 72px;
		}

		[class^="icon-"] {
			//color: $blue;
			font-size: 18px;
		}

		button {
			border-radius: 2px;
		}

		.custom-select {
			@include hide(desktop);
			@include hide(bigscreen);
			width: 155px;
			height: 45px;
			border-radius: 2px;
			label {
				font-size: 12px;
				color: #9D9D9D;
				position: absolute;
				top: 5px;
				left: 8px;
			}
			select { padding-left: 8px;}
			option {
				padding: 0 5px;
				font-size: 14px;
			}
			.icon-arrow-down {
				position: absolute;
				top: 18px;
				left: 130px;
				font-size: 7px;
			}
		}
		.order--btn {
			text-transform: uppercase;
			border: 1px solid $border-color-light;
			padding: 2px 4px;
			font-size: 12px;
			color: #959595;//$blue;
			&:hover {
				color: $blue;
			}
		}

		.filterBar__btnLeft {
			button {
				margin-right: 8px;
				padding: 2px 4px;
				font-size: 11px;
				border: 1px solid $border-color-light;
			}
			.order__label {
				color: $text-color-4;
				font-size: 13px;
				margin-right: 15px;
				font-weight: normal;
			}
			.order__recommended {
				width: 150px;
				height: 27px;
			}
			.order__price {
				width: 63px;
				height: 27px;
			}
			.order__disponibility {
				width: 102px;
				height: 27px;
			}
			@include hide(mobile);
			@include hide(tablet);

			/*@include respond-to(desktop) {
				button {
					height: 40px !important;
				}
			}*/
		}

		.filterBar__btnRight {

			button.order__btnFilter {
				width: 102px;
				height: 27px;
				@extend .order--btn;
				background-color: $order-btn-filter-background;
				@include responsive-flex(row, nowrap, center, center);
				.icon-filter {
					margin-left: 15px;
					@include respond-to(tablet) {
						margin-left: 0;
					}
				}
				.btnText {
					&:before {
						content: 'Filtros';
					}
				}
				@include respond-to(tablet) {
					width: 55px;
					height: 45px;
					background-color: $white;
					margin-right: 0;
					display: inline;
					.btnText {
						&:before {
							content: '';
						}
					}
					.icon-filter {
						margin-left: 0;
					}
				}
			}

			.order__btnMap {
				width: 50px;
				height: 40px;
				@extend .order--btn;
				margin-right: 5px;

				@include hide(desktop);
				@include hide(bigscreen);

				/*@include respond-to(tablet) {
					width: 50px;
					height: 40px;
				}*/

				@include respond-to(tablet) {
					width: 55px;
					height: 45px;
				}
			}
		}
	}
}


