#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.header-result {
	background-color: $back-color-header;

	.wrap-header-content {
		@include responsive-flex(row, nowrap, space-between, center);
		@include respond-to(tablet) {
			padding: 0 20px;
			.brand {
				img {
					width: 150px !important;
				}
			}
		}
		height: 60px;
		@extend .module;
		max-width: 1024px;
		padding: 0 40px;
		margin: inherit;

		#busqueda {
			@include hide(mobile);
			@include hide(tablet);
			//@include hide(desktop);

			width: 100%;
			padding: 0 20px;
			@include responsive-flex(row, nowrap, center, center);
			input {
				width: 100%;
				height: 36px;
				font-size: 13px;
				padding: 0 15px;
				color: white;
				background-color: $back-color-4;
				font-family: 'Montserrat-Light';
				border: none;
				margin-right: 1px;
			}
			.wrap-location {
				position: relative;
				max-width: 185px;
				width: 100%;
				margin-right: 1px;
				.icon-location {
					@include float-icons(19px, $icon-color-buscar, 9px, 84%);
				}
			}
			.wrap-fecha {
				position: relative;
				max-width: 175px;
				width: 100%;
				margin-right: 1px;
				.icon-calendar {
					@include float-icons(19px, $icon-color-buscar, 9px, 82%);
				}
			}
			.wrap-gente {
				position: relative;
				max-width: 175px;
				width: 100%;
				.icon-person {
					@include float-icons(19px, $icon-color-buscar, 9px, 82%);
				}
			}
			.wrap-buscar {
				button {
					width: 42px;
					height: 36px;
					background-color: $btn-color-1;
					.icon-search2 {
						font-size: 16px;
						color: $white;
					}
				}
			}
		}
		.header-icons {
			text-align: center;
			[class^="icon-"] {
				color: $white;
				font-size: 16px;
			    margin-right: 20px;
			    cursor: pointer;
			    &:last-child { margin-right: 0; }
			}
		}
	}
}