#searchMobile {
	position: absolute;
	top:  60px;
	left: 0;
	z-index: 100000;

	width: 100%;
	background-color: $back-color-header;
	@include hide(tablet);
	@include hide(desktop);
	@include hide(bigscreen);
	@include respond-to(tablet) {
		//top: 72px;
	}
	.search__fields {
		width: 100%;
		padding: 10px;
		@include responsive-flex(column, wrap, center, center);
		input {
			width: 100%;
			height: 45px;
			font-size: 13px;
			padding: 0 15px;
			color: white;
			background-color: $back-color-4;
			font-family: 'Montserrat-Light';
			border: none;
			margin-bottom: 10px;
		}
		.search__location {
			position: relative;
			width: 100%;
			.icon-location {
				@include float-icons(19px, $icon-color-buscar, 12px, 91%);
			}
		}
		.search__dates {
			position: relative;
			width: 100%;
			.icon-calendar {
				@include float-icons(19px, $icon-color-buscar, 12px, 91%);
			}
		}
		.search__persons {
			position: relative;
			width: 100%;
			.icon-person {
				@include float-icons(19px, $icon-color-buscar, 12px, 91%);
			}
		}
	}

	.search__btnContainer {
		border-top: 1px solid #555555;
		height: 74px;
		width: 100%;
		display: table;

		.search__close {
			display: table-cell;
			vertical-align: middle;
			text-align: center;

			width: 72px;
			height: 100%;
			border-right: 1px solid #555555;
			.icon-close {
				color: #979797;
				font-size: 23px;
			}
		}
		.search__find {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			padding: 0 10px 0 10px;

			button {
				height: 45px;
				width: 100%;
				background-color: $blue;
				color: $white;
				.icon-search2 {
					margin-right: 8px;
					font-size: 16px;
					color: $white;
				}
				span {
					text-transform: uppercase;
				}
			}
		}
	}
}

.searchTablet {
	width: 100%;
	height: 60px;
	display: none;
	background-color: $background-grey-dark;
	//@include hide(mobile);
	@include hide(desktop);
	@include hide(bigscreen);
	@include responsive-flex(row, nowrap, space-between, center);
	.search__middle {
		width: 100%;
		padding: 10px;
		border-right: 1px solid #535353;
		@include responsive-flex(row, nowrap, center, center);
		input {
			width: 100%;
			height: 36px;
			font-size: 13px;
			padding: 0 15px;
			color: white;
			background-color: #605E5E;//$back-color-4;
			font-family: 'Montserrat-Light';
			border: none;
		}
		.search__location {
			max-width: 233px;
			width: 100%;
			margin-right: 1px;
			position: relative;
			.icon-location {
				@include float-icons(19px, $icon-color-buscar, 8px, 88%);
			}
		}
		.search__dates {
			margin-right: 1px;
			max-width: 215px;
			width: 100%;
			position: relative;
			.icon-calendar {
				@include float-icons(19px, $icon-color-buscar, 8px, 88%);
			}
		}
		.search__persons {
			max-width: 175px;
			width: 100%;
			position: relative;
			margin-right: 1px;
			.icon-person {
				@include float-icons(19px, $icon-color-buscar, 8px, 88%);
			}
		}
		.search__find {
			//height: 36px;
			//width: 49px;
			button {
				height: 36px;
				width: 49px;
				background-color: $blue;
				.icon-search2 {
					font-size: 15px;
					color: $white;
				}
				span {
					text-transform: uppercase;
				}
			}
		}
	}
	.search__close {
		.icon-close {
			color: #979797;
			font-size: 21px;
		}
		button {
			width: 60px;
			height: 60px;
		}
	}
}

.openSearchMobile {
	@include hide(tablet);
	@include hide(desktop);
	@include hide(bigscreen);
	color: $white;
	background-color: $background-grey-dark;
	padding: 0 20px;
	height: 60px;
	width: 100%;
	text-transform: uppercase;
	@include responsive-flex(row, nowrap, flex-start, center);
}

.resultBar {
	@include hide(desktop);
	@include hide(bigscreen);
	position: relative;
	height: 60px;
	background-color: $background-grey-dark;
	display: table;
	color: $white;

	> [class^='bar__'] {
		padding: 0 20px;
		display: table-cell;
		vertical-align: middle;
		border-right: 1px solid $border-color-grey;
		font-size: 15px;
		//width: 100%;
		&:last-child {
			border-right: none;
		}

		label {
			font-size: 10px;
			color: $white-dark;
		}
	}
	.bar__back {
		@include hide(mobile);
		@include hide(tablet);
	}
	.bar__hotel {
		@include hide(mobile);
		max-width: 277px;
		width: 38.3%;
	}
	.bar__dates {
		@include hide(mobile);
		max-width: 226px;
		width: 30.9%;
	    @media (max-width: 634px) {
	    	width: 47%;
	    }
	}
	.bar__destiny_date {
		@include hide(tablet);
		@include hide(desktop);
		@include hide(bigscreen);
		width: 100%;
		label {
			font-size: 14px;
			color: $white;
		}
		.separator {
			margin: 0 8px;
			opacity: .5;
		}
	}
	.bar__reserved {
		max-width: 206px;
		width: 28.2%;
		.reservedComplete {
			///@include hide(mobile);
		    @media (max-width: 634px) {
		    	display: none !important;
		    }
		}
		.reservedMobile {
			@include hide(tablet);
			@include hide(desktop);
			@include hide(bigscreen);

			div:first-child {
				margin-bottom: 5px;
			}
			.multi { margin: 0 5px; }

		    @media (max-width: 634px) {
		    	display: block !important;
		    }
		}
		@include respond-to(mobile) {
			width: 57px;
			padding: 10px;
			text-align: center;
		}
	    @media (max-width: 634px) {
	    	width: 20%;
	    }
	}
	.bar__edit {
		width: 60px;
		#editSearch {
			@include hide(mobile);
		}
		#editSearchMobile {
			@include hide(tablet);
			@include hide(desktop);
			@include hide(bigscreen);
		}
	}
	.icon-edit {
		font-size: 20px !important;
	}
	@include respond-to(tablet) {

	}
}