.arrow-slider {
	@include responsive-flex(row, nowrap, center, center);
}
[id^='#hotelCardSlider'] {
	.icon-angle-left,
	.icon-angle-right {
		font-size: 14px;
	}
}

[class^='icon-heart'] {
	font-size: 21px;
}

.heart--red {
	color: $red;
	font-size: 21px;
}
.heart--emtpy {
	font-size: 21px;
}

.responsiveCards {
	.card {
		@include box-shadow(0, 2px, 4px, rgba(0,0,0,0.17));
		position: relative;
		//Funcional
		display: table;
		//Dimensiones
		width: 100%;
		margin: 0 0 18px 0;
		//Bonito
		border-radius: 2px;
		background-color: $white;

		.discount {
			font-size: 19px;
			color: white;
			position: absolute;
			top: 3px;
			left: 15px;
			font-family: 'Montserrat-Regular';
		}
		.percentage {
			font-size: 15px !important;
		}
		.icon-ticket_price-left {
			z-index: 2;
			color: $red;
			font-size: 32px;
			position: absolute;
			top: 12px;
			left: -5px;
			/*@include respond-to(mobile) {
				display: none;
			}*/
			@media(max-width: 634px) {
				display: none;
			}
		}

		.icon-ticket_price-right {
			z-index: 2;
			display: none;
			color: $red;
			font-size: 32px;
			position: absolute;
			top: 10px;
			right: -5px;
			.discount { left: 20px; }
			/*@include respond-to(mobile) {
				display: block;
			}*/
			@media(max-width: 634px) {
				display: block;
			}
		}

		.card__favorite {
			position: absolute;
			top: 200px;
			left: 15px;
			z-index: 1;
			&:hover {
				cursor: pointer;
			}
			/*@include respond-to(mobile) {
				top: 130px;
			}*/
			@media(max-width: 634px) {
				top: 130px;
			}
		}

		.card__slider {
			display: table-cell;
			vertical-align: top;

			width: 267px;
			//min-height: 241px;

			.image-holder {
				  min-width: 100%;
				  position: relative;
				  overflow: hidden;
				  min-height: 241px;
				  /*@include respond-to(mobile) {
				  	min-height: 169px;
				  }*/
				  @media(max-width: 634px) {
				  	min-height: 169px;
				  }

				img {
				  position: absolute;
				  min-width: 100%;
				  min-height: 100%;
				  top: 50%;
				  left: 50%;
				  transform: translate(-50%,-50%);
				}
			}
			/*@include respond-to(mobile) {
				display: table-row;
				position: relative !important;
				height: 169px;
			}*/
			@media(max-width: 634px) {
				display: table-row;
				position: relative !important;
				height: 169px;
			}
		}

		.card__info {
			display: table-cell;
			padding: 14px;
			.card__stars {
				.icon-star {
					color: $yellow;
				}
			}
			.card__hotelName {
				padding: 7px 0 14px 0;
				color: $text-color-3;
				font-size: 16px;
				text-transform: uppercase;
			}
			.card__hotelAddress {
				max-width: 80%;
				display: table;
				font-size: 12px;
				font-family: 'Montserrat-Light';
				color: $text-color-4;
				span { display: table-cell; }
				.separator {
					padding: 0 10px;
					color: #d2d2d2;
				}
				.icon-location-filled {
					padding-right: 5px;
					color: #CBCBCB;
				}
			}
			.wrap-location {
				max-width: 20%;
			}
			.card__tags {
				margin: 14px 0;
				@include responsive-flex(row, nowrap, flex-start, center);
				.card__tag {
					color: $grey-dark            ;
					font-size: 11px;
					text-transform: uppercase;
					margin-right: 5px;
					background-color: $grey-light;
					padding: 5px 10px;
				}
			}
			.card__btnInfoMobile {
				@include hide(tablet);
				@include hide(desktop);
				@include hide(bigscreen);
				margin-left: 10px;
				button {
					height: 24px;
					width: 88px;
				}
			}
			.card__price {
				width: 100%;
				height: 40px;
				display: table;
				border-top: 1px solid $border-color;
				border-bottom: 1px solid $border-color;
				color: black;
				margin-bottom: 15px;
				span.cell {
					display: table-cell;
					vertical-align: middle;
					color: #777777;
					font-size: 11px;
					border-collapse: separate;
				}
				.price__point {
					[class^='icon-face'] {
						color: $text-green;
						font-size: 20px;
						vertical-align: middle;
					}
					.point--big {
						color: $text-green;
						font-size: 18px;
						vertical-align: middle;
						margin: 0 2px 0 4px;
					}
					.point--separator {
						color: $text-green;
						font-size: 11px;
						vertical-align: bottom;
						margin: 0 4px 0 4px;
					}
					.point--small {
						color: $text-green;
						font-size: 11px;
						vertical-align: bottom;
					}
					.point--calification {
						font-size: 12px;
						color: $text-green;
						vertical-align: bottom;
					}
				}
				.price__detail {
					float: right;
					color: $color-hr;
					margin-top: 5px;
					@include hide(mobile);
				}
				.price__money {
					padding: 0 5px;
					font-size: 22px;
					color: $text-color-3;
					font-family: 'Montserrat-Light';
				}
				/*@include respond-to(mobile) {
					border-bottom: none;
					border-top-color: #e0e0e0;
					margin-bottom: 5px;
				}*/
				@media(max-width: 634px) {
					border-bottom: none;
					border-top-color: #e0e0e0;
					margin-bottom: 5px;
				}
			}
			.card__btnDesktop {
				display: table;
				@include hide(mobile);

				.card__btnInfo {
					display: table-cell;
					vertical-align: middle;
					width: 110px;
					height: 37px;
					margin-right: 9px;
					@include respond-to(tablet) {
						width: 155px;
					}
				}
				.separator {
					width: 13px;
					display: table-cell;
				}
				.card__btnRoom {
					display: table-cell;
					vertical-align: middle;
					width: 224px;
					height: 37px;
					@include respond-to(tablet) {
						width: 265px;
					}
				}
			}
			.card__btnMobile {
				@include hide(tablet);
				@include hide(desktop);
				@include hide(bigscreen);

				button.btnPrice {
					border-radius: 2px;
					.btn__wrap {
						font-family: 'Montserrat-Light';
						@include responsive-flex(row, nowrap, center, center);
						.btn__text {
							font-size: 11px;
						}
						.btn__price {
							font-size: 22px;
							margin-bottom: 2px;
						}
						.right { margin-right: 4px; }
						.left{ margin-left: 4px; }
					}
				}
			}
		}
	}
}

.fixedCard {
}