.notFound {
	.titulo-seccion {
		color: $text-light-black;
		font-size: 23px;
		hr {
			margin: 0 10px;
		}
	}
	.notFound__message {
		padding: 25px 65px;
		background-color: $white;
		text-align: center;
		p {
			font-size: 18px;
			color: $text-light-black;
		}

		button {
			color: $blue;
			text-transform: uppercase;
			font-size: 12px;
			font-family: 'Montserrat-SemiBold';
			.icon-calendar {
				margin-right: 8px;
				font-size: 17px;
			}
		}
	}
	.notFound__cities {
		padding: 0 30px 30px 30px;
	}
}