.result {
	@include responsive-flex(row, wrap, flex-start, flex-start);
	background-color: $background-grey-light;//#B29696;//
	position: relative;

	margin-top: 107px;
	max-width: 1024px;

	.module {
		margin: 0;
	}

	@include respond-to(tablet) {
		margin-top: 192px;
	}

	@include respond-to(bigscreen) {
		margin-left: 0;
		margin-right: 0;
	}
	.screen {
		z-index: 1;
		@include respond-to(tablet) {
			z-index: 2;
		}
	}

	.result__content {
		width: 682px;
		@include respond-to(tablet) {
			width: 100% !important;
		}

		.result__lowCost {
			@include box-shadow(0, 2px, 4px, rgba(0,0,0,0.17));
			@include responsive-flex(row, nowrap, flex-start, center);
			@include respond-to(mobile) {
				margin: 10px;
			}

			margin: 18px;
			font-size: 12px;
			background-color: $white;
			border-top-left-radius: 25px !important;
			border-bottom-left-radius: 25px !important;
			border-radius: 2px;

			.icon-min-price {
				font-size: 42px;
				margin-right: 15px;
			}
			.result__lowCostText {
				color: $color-hr;
				text-transform: uppercase;
			}
			.result--red {
				color: $red;
				&:before {
					content: ' ';
				}
			}
		}

		.result__cardContainer {
			margin: 0 18px;
			@include respond-to(mobile) {
				margin: 10px;
			}
		}
		.result__found {
			//height: 800px;
			overflow-y: auto;
		}
	}

	.result__map {
		position: fixed;
		top: 60px;
		height: 100%;
		width: 100%;
		left: 682px;
		
		.map__btnConteiner {
			padding: 15px 15px;
			@include responsive-flex(row, nowrap, space-between, center);
			@include hide(desktop);
			@include hide(bigscreen);
			.map__btn {
				width: 50px;
				height: 50px;
				border-radius: 25px;
				font-size: 22px;
				background-color: $white;
				@include responsive-flex(column, nowrap, center, center);
				[class^='icon-'] {
					color: $blue;
				}
			}
		}

		iframe {
			border: none;
		}
		.tofix {
			width: 100%;
		}
		@include respond-to(tablet) {
			width: 100%;
			top: 120px;
			img {
				width: 100%;
			}
		}
		@include respond-to(desktop) {
			width: 100%;
			img {
				width: 100%;
			}
		}
	}

	.map__flyWrapper {
		position: absolute;
		top: 0;
		width: 100%;
	}
}
