/// Base styles

/// Queries styles
$break-xsmall: 480px;
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;

//
$grid-columns: 12;
$gutter: 0px;

$text-color: #5B6770;
$text-blue: #3498DB;
$text-middle-blue: #0077C8;
$text-dark-blue: #2574A9;
$text-light-blue: #6BB9F0;
$text-white: #FFFFFF;
$text-grey: #6A6A6A;
$text-grey-light: #B1B1B1;
$text-middle-grey: #838383;
//$text-grey-light: #777777;

$text-color-copyright: #8F8F8F;

$white: white;

$blue-color: #2574A9;
$text-placeholder: #AAAAAA;

$border-color: #C8C8C8;

$icon-color: #3498DB;
$icon-color-grey:#888888;

$border-color: #DCDCDC;
$border-color-light: #438BBC;
$border-grey-super-light: #dcdcdc;

$button-color: #3498DB;
$button-color-yellow: #FFAC1E;
$background-color-search: #2574A9;

$background-light-grey: #f5f5f5;


$navigation_width: 220px;
$navigation_width_handhelds: 320px;

html {
  height: 100%;
}

body.aegon {
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 100%;
  max-width: 100%;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
  position: relative;
  overflow-x: hidden;
  .overlayer {
    position: fixed;
    background-color: rgba(0,0,0,.5);
    transition: background-color .4s;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    right: 0;
    opacity: 0;
    transition: opacity .3s;
  }
  &.overlayer-showing,
  &.overlayer-showed,
  &.overlayer-hidding {
    overflow: hidden;
    @include respond-to(wide-screens) {
      overflow: inherit;
    }
    .overlayer {
      visibility: visible;
    }
  }
  &.overlayer-showing,
  &.overlayer-showed {
    .overlayer {
      opacity: 1;
    }
  }
  &.overlayer-hidding {
    .overlayer {
      opacity: 0;
    }
  }
  button {
    cursor: pointer;
    padding: 0;
    border: 0;
    background: none;
  }
  ul,
  ol {
    margin: 0;
    padding: 0;
  }
  * {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }
  h1, h2, h3,h4 {
    font-weight: 500;
    margin: 0;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 34px;
  }

  @include respond-to(max-xs) {
    h2 { font-size: 24px; }
  }

  a {
    cursor: pointer;
    text-decoration: none;
     color: $text-blue;
  }

  a:hover {
    text-decoration: none;
  }

  a.wrap-more {
    display: inline-block;
  }

  a,
  button,
  input {
    outline: none;
  }

  .clearfix {
    @include clearfix;
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }

  /// modules base styles
  .module {
    max-width: 1024px; //Jordi dijo 940 pero en el diseño es 960
    margin: auto;
    @include clearfix;
  }

  .shadow-border {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(206,206,204,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(206,206,204,0.75);
    box-shadow: 0px 0px 10px 0px rgba(206,206,204,0.75);
  }

  .show-in-desktop {
    display: none !important;
  }

  @include respond-to(min-sm) {
    .show-in-desktop {
      display: inherit !important;
    }
    .show-in-mobile {
      display: none;
    }
  }

  .collapse-header {
    cursor: pointer;
  }

  .background-gray{
    background-color:$background-light-grey;
  }

  th {
    font-weight: 500;
  }

  //margin & padding clases

  .no-padding {
     padding: 0 !important;
  }

  .margin-bottom-30px{
    margin-bottom:30px;
  }

  @include respond-to(max-xs) {
    .margin-bottom-30px{
      margin-bottom:15px;
    }
  }
}
