@charset 'UTF-8';

@mixin responsive-flex($flex-direction, $flex-wrap, $justify-content, $align-items) {
  // Use to give flexbox support in IE 8 and 9
  -js-display: flex;

  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

/// breakpoint
/// this mixin needs to be used to enter a @media that will let use use cross-media placeholders
/// ex:



@mixin breakpoint($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  @if $value != null {
    $current-breakpoint: $breakpoint !global;
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Invalid breakpoint `#{$breakpoint}`.";
  }
}

/// @name clearfix
/// @author marcink
/// clearfix float elements


@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

/// @name box-shadow
/// @param {string} $top - top
/// @param {string} $left - left
/// @param {string} $blur - blur
/// @param {string} $inset - inset

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $color #{$inset};
  -moz-box-shadow:$top $left $blur $color #{$inset};
  box-shadow:$top $left $blur $color #{$inset};
}



/// @name border-radius
/// @param {string} $radius - border radius

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

// @name respond-to
/// @param {string} $media - media name (handhelds, medium-screens, wide-screens, navigation-shown, large-screens, max)

@mixin respond-to($query) {
  @if $query == max-xxs {
    @media only screen and (max-width: $break-xsmall - 1) { @content; }
  }
  @else if $query == max-xs {
    @media only screen and (max-width: $break-small - 1) { @content; }
  }
  @else if $query == min-sm {
    @media only screen and (min-width: $break-small) { @content; }
  }
  @else if $query == max-sm {
    @media only screen and (max-width: $break-medium - 1) { @content; }
  }
  @else if $query == only-sm {
    @media only screen and (min-width: $break-medium - 1) and (max-width: $break-medium) { @content; }
  }
  @else if $query == min-md {
    @media only screen and (min-width: $break-medium) { @content; }
  }
  @else if $query == max-md {
    @media only screen and (max-width: $break-large - 1) { @content; }
  }
  @else if $query == only-md {
    @media only screen and (min-width: $break-medium) and (max-width: $break-large - 1) { @content; }
  }
  @else if $query == min-lg {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

/// @name show
/// @author Multiplica
/// @param {string} $query - query (mobile, tablet, laptop, desktop)

@mixin show($query) {
  @if $query == xs {
    @media (min-width: $break-small) {
      & {
        display: none !important;
      }
    }
  }
  @else if $query == sm {
    @media (max-width: $break-small -1) {
      & {
        display: none !important;
      }
    }
    @media (min-width: $break-medium) {
      & {
        display: none !important;
      }
    }
  }
  @else if $query == md {
    @media (max-width: $break-medium -1) {
      & {
        display: none !important;
      }
    }
  }
  @else if $query == lg {
    @media (min-width: $break-large) {
      & {
        display: none !important;
      }
    }
  }
}

/// @name hide
/// @author Multiplica
/// @param {string} $query - $query (xs, sm, md, lg)

@mixin hide($query) {
  @if $query == xs {
    @media (max-width: $break-small - 1) {
      & {
        display: none !important;
      }
    }
  }
  @else if $query == sm {
    @media (min-width: $break-small) and (max-width: $break-medium - 1) {
      & {
        display: none !important;
      }
    }
  }
  @else if $query == md {
    @media (min-width: $break-medium) and (max-width: $break-large - 1) {
      & {
        display: none !important;
      }
    }
  }
  @else if $query == lg {
    @media (min-width: $break-large) {
      & {
        display: none !important;
      }
    }
  }
}