.aegon
	section
		.company.module

			- var textTitle = 'Somos la compañia de seguros que no te esperabas'
			include ../../items/title.jade

			.row.center-sm
				.col-sm-4.col-xs-12
					.wrap-info
						img(src="assets/img/company/calendar.png")
						.wrap-description
							p Aunque tú no lo sepas, llevamos más de 30 años en España y ya somos más de XXX mil clientes.
						a.wrap-more
							span.icomoon-arrow-right
							span.more-info.sentico-font Más información
				.col-sm-4.col-xs-12
					.wrap-info
						img(src="assets/img/company/note.png")
						.wrap-description
							p Nos comprometemos a que nuestra letra pequeña sea cada vez más transparente.
						a.wrap-more
							span.icomoon-arrow-right
							span.more-info.sentico-font Más información
				.col-sm-4.col-xs-12
					.wrap-info
						img(src="assets/img/company/screen.png")
						.wrap-description
							p Con Aegon puedes contratar tus seguros 100% online hasta la firma de tu contrato.
						a.wrap-more
							span.icomoon-arrow-right
							span.more-info.sentico-font Más información

