.aegon
	section
		.wrap-jumbotron
			.jumbotron-m.module
				.wrap-content.sentico-font
					h1
						span.font aegon
						span extra vida

					.wrap-price
						div
							span desde
							span.price 10,25€
							span  /mes

						div
							span Siéntete totalmente cubierto

						div.show-in-desktop
							span Sólo si contratas online

					.wrap-more
						button.btn-blue
							div
								span Calcula el precio de tu seguro

						span.more.show-in-desktop
							span.icomoon-arrow-right
							span
								a Quiero saber más

					.show-in-mobile
						.wrap-more
							span.icomoon-arrow-right
							span
								a Quiero saber más

				.show-in-desktop
					include ../shared/call-form.jade








