.aegon
	section
		.slider
			.row.center-sm.middle-sm
				.col-xs-12.col-sm-12
					.wrap-content

						div(id="aegonHomeSlider", class="carousel slide", data-ride="carousel")

							ol(class="carousel-indicators")
								li(data-target="#aegonHomeSlider", data-slide-to="0", class="active")
								li(data-target="#aegonHomeSlider", data-slide-to="1")


							div(class="carousel-inner", role="listbox")
								div(class="item active")
									img(src="assets/img/background-slider.png", class="img-responsive", width="1024", height="418")
									-var msj = { title: 'Lorem ipsum dolor amet', text: 'Placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus temporibus.'}
									include ./slider-box.jade


								div(class="item")
									img(src="assets/img/background-slider.png", class="img-responsive", width="1024", height="418")
									-var msj = { title: 'Titulo Test', text: 'Placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus temporibus.'}
									include ./slider-box.jade


							a(class="left carousel-control arrow-slider", href="#aegonHomeSlider", role="button", data-slide="prev")
								span(class="icomoon-arrow-left", aria-hidden="true")
								span(class="sr-only") Previous


							a(class="right carousel-control arrow-slider", href="#aegonHomeSlider", role="button", data-slide="next")
								span(class="icomoon-arrow-right", aria-hidden="true")
								span(class="sr-only") Next

