.aegon {
	.main-tarificador{
		.tab-results{
			padding:0px;
			ul.tabs-menu{
				li{
					text-align:right;
					a{
						text-decoration: none;
						padding-right: 10px;
						padding-left: 10px;
						span{
							color: $text-middle-grey;
							.name{
								font-size: 17px;
								font-weight: 500;
								float:left;
							}
							.description{
								font-size: 12px;
								text-align:left;
							}
						}
						span.price{
							color: $text-middle-grey;
							.number{
							    font-size: 22px;
							    vertical-align: middle;
							    font-weight: 500;
							}
							.text{
								font-size: 12px;
		    					vertical-align: middle;
		    					font-weight: 500;

							}
						}
					}
				}
				li.current,li:hover{
					a{
						span{
							.name{
								color:$text-blue;
							}
							.description{
								color:$text-middle-grey;
							}
						}
						span.price{
							text-align: right;
							.number{
								color: #6bb9f0;
							}
							.text{
		    					color: #bfbfbf;
							}
						}
					}
				}
			}
		}
	}

	@include respond-to(max-xs) {
		.main-tarificador{
			.tab-results{
				ul.tabs-menu{
					li{
						text-align:left;
						a{
							padding-bottom: 5px;
						}
						span{
							.name{
								font-size: 12px !important;
							}
						}
					}
				}
			}
		}
	}
}