.aegon {
	.aegon-tarificador-title {
		width: 50%;
	    margin-left: 25%;
	    margin-right: 25%;
	}
	.aegon-tarificador-wrap-form {
		.module{
			.aegon-tarificador-description{
				text-align:left;
				color:$text-middle-grey;
				border-bottom: 1px solid #ececec;
				padding-bottom:15px;
			}
			.form-container{
				.step{
					padding:20px 10px;
					.container-question{
						padding-top:30px;
						padding-bottom:30px;
						label{
							font-weight: normal;
							font-size: 16px;
						}
						select{
							color:$text-middle-grey;
						}
						&:last-child{
							border-bottom:none;
							padding-bottom:0px;
						}
					}
				}
				.step.first-step,
				.step.second-step{
					padding-top:0px;
				}
				.aegon-description{
					h4{
						font-size: 14px;
						font-weight: 500;
						color:$text-grey;
						margin-top:10px;
						margin-bottom: 5px;
					}
					p{
						color:$text-middle-grey;
						font-size: 12px;
					}
					.aegon-discount{
						color:#42A72A;
						font-weight: 500;
						font-size: 16px;
						margin-top: 8px;
					}
				}
				.aegon-discount{
					color:#42A72A;
					font-weight: 500;
					font-size: 16px;
					margin-top: 8px;
				}
			}
			.sidebar {
				.contact {
					margin-top:0px;
					border-bottom:1px solid #ececec;
					border-left:1px solid #ececec;
					border-right:1px solid #ececec;
					padding:15px;
				}
			}
		}
	}

	@include respond-to(max-xs) {
		.aegon-tarificador-title {
			width: 100%;
	    	margin-left: 0%;
	    	margin-right: 0%;
		}
		.aegon-tarificador-wrap-form {
			.module{
				.form-container{
					.step{
						.container-question{
							padding-top:20px;
							padding-bottom:20px;
							margin-bottom: 0px;
							label{
								margin-bottom:15px;
							}
						}
					}
				}
			}
		}
	}
}