.aegon {
	.content-tabs.aegon-tarificador{
		.results-container{
			.description-seguro{
				border: 1px solid #ddd;
				border-bottom-left-radius: 4px;
	    		border-bottom-right-radius: 4px;
				padding:10px 10px 30px 10px;
				.container-info{
					border-bottom: 1px solid #ececec;
					padding: 20px 0px;
					.tarifa{
						border-bottom: none;
					}
					.description{
						.question{
							font-size: 16px;
							font-weight: 500;
							color:$text-grey;
						}
						.text{
							font-size: 13px;
						}
					}
					.price-container{
						.price{
							font-size:22px;
						}
						.month{
							font-size: 12px;
						}
					}
					.btn-checkbox{
						float:right;
						margin-top:20px;
					}
				}
				.container-info.border-none{
					border-bottom: none;
				}
			}
		}
		.results-resume{
				h4{
					color:$text-grey;
					font-family: 'Sentico Sans',Arial, sans-serif;
					font-weight: 700;
					font-size:14px;
					border-bottom:1px solid #ececec;
					text-align:left;
					padding:10px 0px;
					margin-bottom:10px;
				}
			.introduction-summary{
				margin-bottom:15px;
				h2{
					border-bottom:none;
				}
				p{
					text-align: left;
					font-size: 12px;
					color:$text-middle-grey;
					margin-bottom:0px;
				}
			}
			.custom-select{
				border:none;
				border-bottom:1px solid #ececec;
				font-size:14px;
				select{
					padding-left:0px;
					font-weight: 700;
				}
			}
			.aegon-extras{
				.aegon-cobertura{
					.text{
						float::left;
						color:$text-grey;
					}
					.price{
						float:right;
						.number{
							color: #6bb9f0;
						    font-size: 16px;
						    vertical-align: middle;
						    font-weight: 500;
						}
						.month{
							color:$text-middle-grey;
							font-size: 11px;
						}
					}
				}
			}
			.total-price{
				border-top: 1px solid #ececec;
				margin-top:10px;
			}
		}
	}

	@include respond-to(max-xs) {
		.content-tabs.aegon-tarificador{
			.results-container{
				.description-seguro{
					padding:0;
					.price-container{
						float: left;
						margin-top:10px;
					}
					.container-info{
						.btn-checkbox{
							margin-top:10px;
						}
					}
				}
			}
		}
	}
}