.aegon {
	#modal-presupuesto{
		.modal-body{
			h2{
				font-size:28px;
				font-weight:500;
				margin-bottom:20px;
			}
			.aegon-warning{
				background-color:$background-light-grey;
				padding:10px;
				font-size: 12px;
				color:$text-middle-grey;
				i{
					font-size: 16px;
					color: #2574a9;
	    			padding-right: 8px;
	    			padding-bottom: 5px;
	    			float:left;
				}
				p{margin:0px;}
			}
			.aegon-save{
				margin:20px 0px;
				font-weight: 500;
				font-size: 16px;
				i{
					font-size: 8px;
					padding-right:5px;
					vertical-align: middle;
				}
			}
			.form-group{
				input[type="text"]{
					border: 1px solid #dcdcdc;
					border-radius:2px;
					font-weight: normal;
	    			padding: 0 10px;
	    			float:left;
	    			width: 80%;
	    			margin-right: 5px;
				}
				input[type="submit"]{
					height: 35px;
					border:none;
					width: 19%;
					padding-top: 7px;
				}
			}
			.modal-sucess{
				text-align: center;
				i{
					color:#42A72A;
					font-size: 40px;
				}
				p{
					font-family: 'Sentico sans',arial,sans-serif;
					font-size: 24px;
					margin:15px 10px;
				}
			}
		}
	}

	@include respond-to(max-xs) {
		#modal-presupuesto{
			.modal-body{
				.form-group{
					input[type="text"]{
		    			width: 100%;
		    			margin-bottom:15px;
		    			height: 40px;
		    			margin-right: 0px;
					}
					input[type="submit"]{
						width: 100%;
						margin-top:10px;
						height: 40px;
					}
				}
			}
		}
	}

	#modal-llamada{
		.modal-body{
			h2{
				font-size:28px;
				font-weight:500;
				margin-bottom:20px;
			}
			input[type=text] {
		    	border: 1px solid #dcdcdc;
		    	border-radius: 2px;
		    	padding: 0 10px;
		    	height: 40px;
		    	font-weight: normal;
		   	}
		   	input[type="submit"]{
		   		border:none;
		   	}
		   	.call-us{
		   		text-align: center;
		   		margin-top:10px;
		   		.number{
		   			font-size: 16px;
		   			font-weight: 500;
		   			color:$text-blue;
		   		}
		   	}
		}
	}
}
