#destacado {
	background: url("../assets/img/home.jpg") no-repeat center top;
	background-size: cover;

	margin: auto;
	height: 628px;
	width: 100%;

	position: relative;

	background-color: grey;

	#wrap-titulo {
		max-width: $break-medium;
	}

/*
	img {
		z-index: -10;
		position: absolute;
		top: 0;
		left: 0;
	}
*/

	#wrap-hotel-destacado {
		margin: auto;
		max-width: $break-medium;

		@include responsive-flex(column, wrap, inherit, flex-start);

		padding: 68px 0 0 68px;
		.wrap-starts {
			@include responsive-flex(row, wrap, flex-start, center);

			span:first-child { margin-right: 10px; }
			.icon-star { font-size: 12px; margin-right: 4px; }
		}
		.marca {
			font-size: 32px;
			line-height: 20px;
		}
		.nombre { font-size: 40px; }
		.ciudad { font-size: 16px; }

		hr {
			width: 30px;
			border: 1px solid white;
			margin: 5px 0 10px 0;
		}
		.btn-transparent {
			margin-top: 40px;
			.icon-angle-right {
				padding-left: 10px;
			}
		}
	}
}

// SMALL DEVICE
@media (max-width: $small-device) {
	#destacado {
		background-position: 0% 68%;

		@include responsive-flex(column, wrap, center, center);
		max-height: 270px;

		#wrap-hotel-destacado {
			padding: 0;
			@include responsive-flex(column, wrap, center, stretch);

			hr { margin: 40px 0 10px 0; }
			.marca { font-size: 28px; }
			.nombre { font-size: 34px; }
		}

	}
}

//
@media (max-width: $medium-device) {
	#destacado {
		@include responsive-flex(column, wrap, center, center);
		max-height: 270px;
		#wrap-hotel-destacado {
			padding: 0;
			@include responsive-flex(column, wrap, center, stretch);
		}
	}
}