#descuentos {
	color: $text-light-black;
	margin-top: 30px;
	background-color: $white;
	#beneficios {
		@include responsive-flex(row, wrap, center, center);
		.wrap-beneficio {
			margin-right: 40px;

		    @include responsive-flex(row, wrap, center, lex-start);

			//min-width: 230px;
			.info { width: 230px; }

			.titulo {
				color: $text-color-3;
				font-size: 14px;
			}
			.descripcion {
				color: $text-color-4;
				font-size: 13px;
			}
			&:last-child {
				margin-right: 0;
			}
		}

		[class^="icon-"] {
			color: $icon-color-reserva;
			font-size: 50px;
			margin-right: 15px;
		}
	}
	#ahorrar {
		min-height: 128px;
		margin-top: 40px;
		color: $text-color;
		background: url('../assets/img/back-ahorro.png') repeat center top;

		@include responsive-flex(row, wrap, center, center);
		.icon-cart {
			color: $white;
			font-size: 60px;
			margin-right: 32px;
		}
		.wrap-content {
			margin-right: 50px;
			@include responsive-flex(row, nowrap, center, center);
		}
		.titulo { font-size: 26px; }
		.descripcion { font-size: 16px; }
	}
}

// CUSTOM DIVICE
@media (max-width: 880px) {

	#descuentos {
		#beneficios {
			.wrap-beneficio {
				margin-right: 0;
				margin-bottom: 30px;
			}
			.wrap-beneficio:last-child { margin-bottom: 0; }
		}
		#ahorrar {
			padding: 40px 20px;
			.wrap-content {
				.icon-cart { margin-right: 20px; }
				.info {
					max-width: 230px;
					.titulo { font-size: 22px; }
					.descripcion { font-size: 14px; }
				}
				min-width: 280px;
				margin-right: 0;
				margin-bottom: 20px;
			}
		}
	}
}

// LONG DIVICE
@media (max-width: $long-device) {

	#descuentos {
		margin-top: 0px;
		#beneficios {

			.wrap-beneficio {
				margin-right: 0;
			}
		}
	}
}

