#destinos {
	color: $text-light-black;
	max-width: $break-medium;
	margin: auto;

	#opciones {
		//margin-bottom: 40px;

		@include responsive-flex(row, wrap, center, center);
		div {
			margin-right: 15px;
		}

		button {
			margin-right: 15px;
			padding: 10px 25px;
			background-color: transparent;
			border: 1px solid $text-placeholder;
			font-size: 12px;
			min-width: 126px;
			color: $text-light-black;
			&:hover, &:focus {
				border-color: $back-color-2;
				color: $back-color-2;
			}
		}
	}

	#ciudades {
		@include responsive-flex(row, wrap, space-around, center);
		margin: 40px 0;
		ul {
			list-style-type: none;
			min-width: 112px;
			line-height: 28px;

			li {
				display: block;
				.texto1 { color: #777777; }
				.texto2 { color: #BCBCBC; }

				div {
					span:last-child {
						margin-left: 10px;
						color: $back-color-2;
						font-weight: bold;
					}
				}
			}
		}
	}


}



@media (max-width: $small-device) {

	#destinos {
		.titulo-seccion {
			span {
				text-align: left;
			}
		}
	}

}
