.wrap-footer {
	background-color: #333;
	@include responsive-flex(row, wrap, center, center);

}

#footer {
	width: $break-medium;
	margin: auto;
	color: #989898;
	height: 272px;

	@include responsive-flex(row, wrap, center, flex-start);

	#wrap-content {
		width: 90%;
		padding: 20px 0;
		@include responsive-flex(row, wrap, space-between, center);

		border-bottom: 1px solid #989898;

		select {
			margin-right: 20px;
			color: white;
		}
		a {
			color: #989898;
			a:hover { color: #989898; }
		}

		#idioma {
			height: 34px;
			min-width: 110px;
			background-color: #333;
			border: 1px solid grey;
			border-radius: 0;
			font-size: 11px;

			-webkit-appearance: none;
		    -moz-appearance:    none;
		    appearance:         none;
		    -webkit-border-radius: 0;
		    -moz-border-radius: 0;
		    border-radius: 0;

		    padding-left: 10px;
		}

	}

	#wrap-content-info {
		height: 185px;
		padding: 10px 0;
		@include responsive-flex(column, wrap, space-around, center);
		.redes {
			width: 200px;
			@include responsive-flex(row, wrap, center, center);
			font-size: 40px;
			span { margin-right: 10px; }
			span:last-child { margin-right: 0; }
			//span { margin-right: 10px; }
		}
		.legal { font-size: 12px; }
	}
}


// SMALL DIVICE
@media (max-width: $small-device) {
	#footer {
		height: 152px;
		@include responsive-flex(row, wrap, center, center);

		 #wrap-content-info {
		 	.redes { margin-bottom: 15px; }
		 	@include responsive-flex(column, wrap, center, center);
		 }

		.btn-transparent  {
			button {
				.icon-angle-right { padding-left: 10px; }
			}
		}

	}
}

