// header styles
#header {
	background-color: $back-color-header;

	.default {
		max-width: $break-medium;
		padding: 0 40px;
		height: 65px;
		margin: auto;

		@include responsive-flex(row, wrap, space-between, center);

		.header-icons {
			color: $white;
			//font-size: 2.4rem;
			font-size: 16px;
			.icon-heart {
			    margin-right: 20px;
			    cursor: pointer;
			}
			.icon-user {
			    margin-right: 20px;
			    cursor: pointer;
			}
			.icon-navicon {
				cursor: pointer;
			}
		}
	}

	//-----------------------

	.busqueda {
		padding: 0 40px;
		height: 65px;
		margin: auto;

		@include responsive-flex(row, wrap, space-between, center);

	  	background-color: $back-color-header;

		.header-icons {
			color: $white;
			font-size: 2.4rem;
		}
	}
}

// SMALL DIVICE
@media (max-width: $small-device) {
	#header {
		z-index: 4px;
		.default {
			padding: 0 10px;
		}
	}
}


