#mejores-ofertas {
	padding-bottom: 40px;
	.wrap-ofertas {
		@include responsive-flex(row, wrap, center, flex-start);
	}
	.titulo-seccion {
		color: $text-color-3;
	}
}


@media (max-width: $long-device) {
	#mejores-ofertas {

		.wrap-ofertas {
			//justify-content: center;
		}
	}
}
