#mejores-hoteles {
	color: $text-light-black;

	.row-fichas {
		@include responsive-flex(row, wrap,center, flex-start)

	}
}

// LONG DIVICE
@media (max-width: $long-device) {
	#mejores-hoteles {

		.row-fichas {

		}
	}
}