#suscriptores {
	min-height: 128px;
	padding: 0 40px;
	color: $text-color;

	background: url('../assets/img/back-ahorro.png') repeat center top;

	@include responsive-flex(row, wrap, center, center);

	.text-content { margin-right: 80px; }

	.wrap-content {
		@include responsive-flex(row, nowrap, center, center);
	}

	input {
		width: 346px;
		height: 38px;
		margin-right: 10px;
	}

	.textBig {
		font-size: 22px;
		line-height: 30px;
	}

	.textSmall { font-size: 15px; }


}

// SMALL DIVICE
@media (max-width: $small-device) {
	#suscriptores {
		text-align: center;
		padding: 20px 10px;
		@include responsive-flex(row, wrap, center, center);

		input { margin-right: 0; }
		.text-content { margin-right: 0; }
		.wrap-content {
			width: 90%;
			input { width: 100%; }
			padding: 25px 0 10px 0;
		}

		.btn-transparent {
			width: 90%;
			button { width: 100%; }
		}
	}
}

// LONG DIVICE
@media (max-width: 940px) {
	#suscriptores {
		.text-content { margin-right: 0; }
	}
}