
.wrap-tags-modulo {
	background-color: $back-color-4;
	@include responsive-flex(row, wrap, center, center);
}

#tags {
	margin: auto;
	width: $break-medium;
	background-color: $back-color-4;
	max-height: 94px;

	padding: 40px 40px;
	font-size: 12px;
	@include responsive-flex(row, nowrap, space-around, center);
}
