#video {
	background: url("../assets/img/back_video.jpg") no-repeat center top;
	background-size: 100% 100%;

	margin: 0 auto 0 auto;
	height: 551px;
	//max-width: $break-medium;

	@include responsive-flex(row, wrap, center, center);

	#wrap-video-btn {
		width: 461px;
		//height: 249px;
		padding: 40px 50px;
		background-color: $white;
		z-index: 1000;

		hr {
			width: 37px;
			color: #979797;
			border: 1px solid $color-hr;
			margin: 20px 0;
		}

		p {
			color: #6B6B6B;
			text-align: center;
			font-size: 14px;
			margin-bottom: 20px;
		}

		.btn-color {
			min-width: 181px;
		}

		@include responsive-flex(column, wrap, space-between, center);
	}

}

// SMALL DIVICE
@media (max-width: $small-device) {
	#video {
		height: 310px;
		#wrap-video-btn {
			max-width: 271px;
			height: 249px;
			padding: 20px 10px;
		}
	}
}