doctype html
html(lang="es_ES")
  block head
    include ../modules/head.jade
  body.aegon
    block header
    block content
    block modals
    script(src="js/vendor.js")
    script(data-main="js/main.js", src="js/require.js")
