.aegon
	.wrap-engagement.module
		.row
			.col-xs-12
				h1 Condiciones de contratación
			.col-xs-12.col-sm-6.col-md-3.box
				div.title
					span.icomoon-people
					span  Edad de Contratación
				div.model
					ul.information
						li Límite de 64 años
						li Sin edad máxima de permanencia
			.col-xs-12.col-sm-6.col-md-3.box
				div.title
						span.icomoon-calendar
						span  Descuentos forma de pago
				div.model
					ul.information
						li Por pago trimestral: 2%
						li Por pago anual: 6%
			.col-xs-12.col-sm-6.col-md-3.box
				div.title
					span.icomoon-tag
					span  Descuentos familiares
				div.model
					ul.information
						li 3 asegurados: 10%
						li 4 o más asegurados: 15%
			.col-xs-12.col-sm-6.col-md-3.box
				div.title
					span.icomoon-clock
					span  Periodos de carencia
				div.model
					ul.information
						li Hospitalización: 8 meses
						li Diagnósticos: 6 meses
						li Tratamientos especiales: 6 meses
						li Planificación familiar: 6 meses
						li Psicoterapia: 6 meses
