.aegon
	.wrap-info.module
		.row
			.col-sm-7.col-xs-12
				h3 Preguntas frecuentes
				ul.collapse.questions
					li.collapse-item.opened
						.collapse-header
								i.icomoon-arrow-right
								i.icomoon-arrow-down
								span ¿Desde cuándo puedo beneficiarme de mi seguro médico?
						.collapse-content
							p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
					li.collapse-item.collapsed
						.collapse-header
								i.icomoon-arrow-right
								i.icomoon-arrow-down
								span ¿Tengo cobertura en toda España?
						.collapse-content
							p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
					li.collapse-item.collapsed
						.collapse-header
								i.icomoon-arrow-right
								i.icomoon-arrow-down
								span ¿Y en el extranjero?
						.collapse-content
							p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
					li.collapse-item.collapsed
						.collapse-header
								i.icomoon-arrow-right
								i.icomoon-arrow-down
								span ¿Podré elegir médico?
						.collapse-content
							p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
					li.collapse-item.collapsed
						.collapse-header
								i.icomoon-arrow-right
								i.icomoon-arrow-down
								span ¿Cubre la asistencia durante el embarazo?
						.collapse-content
							p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
			.col-sm-5.col-xs-12
				h3 Documentos
				.documents
					a(href="#").document
						div
							i.icomoon-document
							p
								span.download Descargar catálogo
								span.data Formato PDF, 280 kb
					a(href="#").document
						div
							i.icomoon-document
							p
								span.download Condiciones Generales
								span.data Formato PDF, 280 kb