.aegon
	.main-product
		.module
			.row.intro
				.col-sm-8.col-xs-12
					.tittle
						h1 Aegon
							span salud completo
					h2 Seguro dental incluido
				.col-sm-4.col-xs-12.show-in-desktop
					include ../shared/call-form.jade
	.main-description
		.module
			.row.intro2
				.col-sm-8.col-xs-12
					button.btn-yellow.show-in-mobile Te llamamos gratis
					.info
						h1 ¿Porqué Aegon Salud Completo?
						p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi
						.wrap-price
							div.price
								span.from desde
								span.total 39.95€
								span /mes
							div.icon
								span.icomoon-arrow-right
							div.action
								button.btn-blue
									span Calcula tu precio
						.wrap-social
							ul.center-xs.start-sm
								li
									span Compartir
								li
									a.icomoon-twitter
										span.path1
										span.path2
								li
									a.icomoon-facebook
										span.path1
										span.path2
								li
									a.icomoon-googleplus
										span.path1
										span.path2
								li
									a.icomoon-linkedin
										span.path1
										span.path2