.aegon
	.wrap-tabs
		.module
			.tab-results.col-xs-12
				ul.tabs-menu
					li.tab.col-md-3.col-sm-3.col-xs-4.current
						a(href="#tab1") Coberturas
					li.tab.col-md-3.col-sm-3.col-xs-4
						a(href="#tab2") Copagos
			.content-tabs.module.tab-content#tab1
				.row.col-xs-12
					ul.characteristics.collapse
						li.collapse-item.opened
							.collapse-header
								span Características genéricas
								i.icomoon-arrow-down
							.collapse-content
								ul.description
									li.color-tabs
										div.title.col-sm-4
											span.icomoon-check-icon
											p Hospitalización Incluida
										div.text.col-sm-8 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
									li.color-tabs
										div.title.col-sm-4
											span.icomoon-check-icon
											p Acceso a las Urgencias, UVI / UCI
										div.text.col-sm-8 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
									li.color-tabs
										div.title.col-sm-4
											span.icomoon-check-icon
											p Prótesis cubiertas
										div.text.col-sm-8 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
									li.color-tabs
										div.title.col-sm-4
											span.icomoon-check-icon
											p Asistencia en viaje
										div.text.col-sm-8 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
						li.collapse-item.collapsed
							.collapse-header
								span Coberturas específicas de aegon salud completo
								i.icomoon-arrow-down
							.collapse-content
								ul.description
									li.color-tabs
										div.title.col-sm-4
											span.icomoon-check-icon
											p Hospitalización Incluida
										div.text.col-sm-8 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias. praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
									li.color-tabs
										div.title.col-sm-4
											span.icomoon-check-icon
											p Seguro de vida
										div.text.col-sm-8 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
						li.collapse-item.collapsed
							.collapse-header
								span Servicios incluidos
								i.icomoon-arrow-down
							.collapse-content
								ul.description
									li.color-tabs
										div.title.col-sm-4
											span.icomoon-check-icon
											p Hospitalización Incluida
										div.text.col-sm-8 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
			.content-tabs.module.tab-content#tab2.hide
					.row.start-md.col-xs-12
