@font-face {
	font-family: 'melia-icons';
	src:url('fonts/melia-icons.eot?unml1f');
	src:url('fonts/melia-icons.eot?unml1f#iefix') format('embedded-opentype'),
		url('fonts/melia-icons.woff2?unml1f') format('woff2'),
		url('fonts/melia-icons.ttf?unml1f') format('truetype'),
		url('fonts/melia-icons.woff?unml1f') format('woff'),
		url('fonts/melia-icons.svg?unml1f#melia-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'melia-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-u-form:before {
	content: "\e904";
}
.icon-banquet:before {
	content: "\e905";
}
.icon-imperial:before {
	content: "\e906";
}
.icon-school:before {
	content: "\e907";
}
.icon-theatre:before {
	content: "\e908";
}
.icon-add-agent:before {
	content: "\e90e";
}
.icon-agency:before {
	content: "\e90d";
}
.icon-question-circle:before {
	content: "\e909";
}
.icon-copy:before {
	content: "\e903";
}
.icon-tick-circle .path1:before {
	content: "\e901";
	color: rgb(255, 255, 255);
}
.icon-tick-circle .path2:before {
	content: "\e902";
	margin-left: -1em;
	color: rgb(45, 178, 0);
}
.icon-mice-calendar-bullet:before {
	content: "\e900";
}
.icon-24_hour_front_desk:before {
	content: "\e803";
}
.icon-additional_bathroom:before {
	content: "\e804";
}
.icon-additional_toilet:before {
	content: "\e805";
}
.icon-adult_only:before {
	content: "\e806";
}
.icon-air_conditioning:before {
	content: "\e807";
}
.icon-airport_shuttle:before {
	content: "\e808";
}
.icon-alarm_clock:before {
	content: "\e809";
}
.icon-atm_cash_machine_on_site:before {
	content: "\e80a";
}
.icon-babysitting_child_services:before {
	content: "\e80b";
}
.icon-balcony:before {
	content: "\e80c";
}
.icon-barber_beauty_shop:before {
	content: "\e80d";
}
.icon-bath_or_shower:before {
	content: "\e80e";
}
.icon-bath:before {
	content: "\e80f";
}
.icon-bathrobe:before {
	content: "\e810";
}
.icon-bathroom:before {
	content: "\e811";
}
.icon-beachfront:before {
	content: "\e812";
}
.icon-bicycle_rental:before {
	content: "\e813";
}
.icon-bikes_available_free:before {
	content: "\e814";
}
.icon-bridal_suite:before {
	content: "\e815";
}
.icon-business_centre:before {
	content: "\e816";
}
.icon-cable_channels:before {
	content: "\e817";
}
.icon-car_hire:before {
	content: "\e818";
}
.icon-casino:before {
	content: "\e819";
}
.icon-childrens_high_chair:before {
	content: "\e81a";
}
.icon-childrens_playground:before {
	content: "\e81b";
}
.icon-city_view:before {
	content: "\e81c";
}
.icon-coffee_machine:before {
	content: "\e81d";
}
.icon-computer:before {
	content: "\e81e";
}
.icon-currency_exchange:before {
	content: "\e81f";
}
.icon-cycling:before {
	content: "\e820";
}
.icon-daily_maid_service:before {
	content: "\e821";
}
.icon-desk:before {
	content: "\e822";
}
.icon-dining_area:before {
	content: "\e823";
}
.icon-diving:before {
	content: "\e824";
}
.icon-dressing_room:before {
	content: "\e825";
}
.icon-dry_cleaning:before {
	content: "\e826";
}
.icon-electric_blankets:before {
	content: "\e827";
}
.icon-electric_kettle:before {
	content: "\e828";
}
.icon-entertainment_staff:before {
	content: "\e829";
}
.icon-evening_entertainment:before {
	content: "\e82a";
}
.icon-executive_lounge_access:before {
	content: "\e82b";
}
.icon-express_check_in_check_out:before {
	content: "\e82c";
}
.icon-extra_long_beds:before {
	content: "\e82d";
}
.icon-facilities_for_disabled_guests:before {
	content: "\e82e";
}
.icon-family_rooms:before {
	content: "\e82f";
}
.icon-fax_photocopying:before {
	content: "\e830";
}
.icon-fitness_centre:before {
	content: "\e831";
}
.icon-flat_screen_tv:before {
	content: "\e832";
}
.icon-free_toiletries:before {
	content: "\e833";
}
.icon-game_console_nintendo_wii:before {
	content: "\e834";
}
.icon-game_console_ps2:before {
	content: "\e835";
}
.icon-game_console_ps3:before {
	content: "\e836";
}
.icon-game_console_xbox_360:before {
	content: "\e837";
}
.icon-game_console:before {
	content: "\e838";
}
.icon-games_room:before {
	content: "\e839";
}
.icon-garden_view:before {
	content: "\e83a";
}
.icon-garden:before {
	content: "\e83b";
}
.icon-gift_shop:before {
	content: "\e83c";
}
.icon-golf_course:before {
	content: "\e83d";
}
.icon-hairdryer:before {
	content: "\e83e";
}
.icon-hammam:before {
	content: "\e83f";
}
.icon-heating:before {
	content: "\e840";
}
.icon-hot_spring_bath:before {
	content: "\e841";
}
.icon-hot_tub:before {
	content: "\e842";
}
.icon-indoor_pool:before {
	content: "\e843";
}
.icon-interconnected_rooms_available:before {
	content: "\e844";
}
.icon-ipad:before {
	content: "\e845";
}
.icon-ipod_dock:before {
	content: "\e846";
}
.icon-iron:before {
	content: "\e847";
}
.icon-ironing_facilities:before {
	content: "\e848";
}
.icon-ironing_service:before {
	content: "\e849";
}
.icon-karaoke:before {
	content: "\e84a";
}
.icon-kids_club:before {
	content: "\e84b";
}
.icon-kitchen:before {
	content: "\e84c";
}
.icon-kitchenette:before {
	content: "\e84d";
}
.icon-lake_view:before {
	content: "\e84e";
}
.icon-landmark_view:before {
	content: "\e84f";
}
.icon-laptop_safe:before {
	content: "\e850";
}
.icon-laptop:before {
	content: "\e851";
}
.icon-laundry:before {
	content: "\e852";
}
.icon-library:before {
	content: "\e853";
}
.icon-linen:before {
	content: "\e854";
}
.icon-massage:before {
	content: "\e855";
}
.icon-meeting_banquet_facilities:before {
	content: "\e856";
}
.icon-microwave:before {
	content: "\e857";
}
.icon-mini_market_on_site:before {
	content: "\e858";
}
.icon-minibar:before {
	content: "\e859";
}
.icon-mountain_view:before {
	content: "\e85a";
}
.icon-nightclub_dj:before {
	content: "\e85b";
}
.icon-non_smoking_throughout:before {
	content: "\e85c";
}
.icon-outdoor_dining_area:before {
	content: "\e85d";
}
.icon-outdoor_pool:before {
	content: "\e85e";
}
.icon-patio:before {
	content: "\e85f";
}
.icon-pay_per_view_channels:before {
	content: "\e860";
}
.icon-pool_view:before {
	content: "\e861";
}
.icon-private_check_in_check_out:before {
	content: "\e862";
}
.icon-private_entrance:before {
	content: "\e863";
}
.icon-private_pool:before {
	content: "\e864";
}
.icon-refrigerator:before {
	content: "\e865";
}
.icon-restaurant_a_la_carte:before {
	content: "\e866";
}
.icon-restaurant_buffet:before {
	content: "\e867";
}
.icon-restaurant:before {
	content: "\e868";
}
.icon-riverview:before {
	content: "\e869";
}
.icon-room_service:before {
	content: "\e86a";
}
.icon-safety_deposit_box:before {
	content: "\e86b";
}
.icon-satellite_channels:before {
	content: "\e86c";
}
.icon-sauna:before {
	content: "\e86d";
}
.icon-sea_view:before {
	content: "\e86e";
}
.icon-shared_lounge_tv_area:before {
	content: "\e86f";
}
.icon-shared_toilet:before {
	content: "\e870";
}
.icon-shoeshine:before {
	content: "\e871";
}
.icon-shops:before {
	content: "\e872";
}
.icon-shower:before {
	content: "\e873";
}
.icon-shuttle_service:before {
	content: "\e874";
}
.icon-ski_equipment_hire:before {
	content: "\e875";
}
.icon-ski_pass_vendor:before {
	content: "\e876";
}
.icon-ski_school:before {
	content: "\e877";
}
.icon-ski_storage:before {
	content: "\e878";
}
.icon-ski_to_door_access:before {
	content: "\e879";
}
.icon-skiing:before {
	content: "\e87a";
}
.icon-snack_bar:before {
	content: "\e87b";
}
.icon-snorkelling:before {
	content: "\e87c";
}
.icon-sofa:before {
	content: "\e87d";
}
.icon-soundproofing:before {
	content: "\e87e";
}
.icon-spa_and_wellness_centre:before {
	content: "\e87f";
}
.icon-sun_terrace:before {
	content: "\e880";
}
.icon-tea_coffee_maker:before {
	content: "\e881";
}
.icon-tennis_court:before {
	content: "\e882";
}
.icon-terrace:before {
	content: "\e883";
}
.icon-toaster:before {
	content: "\e884";
}
.icon-toilet:before {
	content: "\e885";
}
.icon-tour_desk:before {
	content: "\e886";
}
.icon-towels:before {
	content: "\e887";
}
.icon-trouser_press:before {
	content: "\e888";
}
.icon-tv:before {
	content: "\e889";
}
.icon-valet_parking:before {
	content: "\e88a";
}
.icon-video_games:before {
	content: "\e88b";
}
.icon-video2:before {
	content: "\e88c";
}
.icon-view:before {
	content: "\e88d";
}
.icon-vip_room_facilities:before {
	content: "\e88e";
}
.icon-wake_up_service_alarm_clock:before {
	content: "\e88f";
}
.icon-wake_up_service:before {
	content: "\e890";
}
.icon-water_park:before {
	content: "\e891";
}
.icon-wifi:before {
	content: "\e892";
}
.icon-windsurfing:before {
	content: "\e893";
}
.icon-google:before {
	content: "\e60e";
}
.icon-linkdn:before {
	content: "\e63b";
}
.icon-print-circle:before {
	content: "\e635";
}
.icon-send-circle:before {
	content: "\e636";
}
.icon-googleplus-circle:before {
	content: "\e62b";
}
.icon-facebook-circle:before {
	content: "\e62c";
}
.icon-twitter-circle:before {
	content: "\e62d";
}
.icon-youtube:before {
	content: "\e627";
}
.icon-instagram:before {
	content: "\e628";
}
.icon-facebook:before {
	content: "\e629";
}
.icon-twitter:before {
	content: "\e62a";
}
.icon-ticket:before {
	content: "\e656";
}
.icon-hands:before {
	content: "\e64c";
}
.icon-cake:before {
	content: "\e64a";
}
.icon-step .path1:before {
	content: "\e641";
	color: rgb(0, 115, 195);
}
.icon-step .path2:before {
	content: "\e642";
	margin-left: -1em;
	color: rgb(242, 242, 242);
}
.icon-has-errror:before {
	content: "\e90a";
}
.icon-alert:before {
	content: "\e647";
}
.icon-info:before {
	content: "\e646";
}
.icon-edit:before {
	content: "\e644";
}
.icon-present:before {
	content: "\e643";
}
.icon-phone-ring:before {
	content: "\e640";
}
.icon-capacity:before {
	content: "\e634";
}
.icon-area:before {
	content: "\e600";
}
.icon-radio-checked:before {
	content: "\e90c";
}
.icon-flag:before {
	content: "\e800";
}
.icon-world-2:before {
	content: "\e801";
}
.icon-regions:before {
	content: "\e802";
}
.icon-noclickcalendar:before {
	content: "\e6d6";
}
.icon-salecalendar:before {
	content: "\e6d7";
}
.icon-key-hotel:before {
	content: "\e6d5";
}
.icon-edit2:before {
	content: "\e653";
}
.icon-error:before {
	content: "\e654";
}
.icon-plus:before {
	content: "\e655";
}
.icon-add-calendar:before {
	content: "\e651";
}
.icon-exit:before {
	content: "\e652";
}
.icon-has-success:before {
	content: "\e650";
}
.icon-question:before {
	content: "\e64e";
}
.icon-alert-success .path1:before {
	content: "\e64b";
	color: rgb(255, 255, 255);
}
.icon-alert-success .path2:before {
	content: "\e64d";
	margin-left: -1em;
	color: rgb(45, 178, 0);
}
.icon-clock:before {
	content: "\e649";
}
.icon-add2:before {
	content: "\e648";
}
.icon-heart-full:before {
	content: "\e645";
}
.icon-download:before {
	content: "\e63f";
}
.icon-construct:before {
	content: "\e63c";
}
.icon-phone:before {
	content: "\e60f";
}
.icon-last-searches:before {
	content: "\e63a";
}
.icon-photo-360:before {
	content: "\e638";
}
.icon-video:before {
	content: "\e637";
}
.icon-icon-home:before {
	content: "\e62e";
}
.icon-caret-down:before {
	content: "\e615";
}
.icon-caret-up:before {
	content: "\e607";
}
.icon-add:before {
	content: "\e61f";
}
.icon-remove:before {
	content: "\e624";
}
.icon-check-out:before {
	content: "\e60a";
}
.icon-check-in:before {
	content: "\e609";
}
.icon-heart-circle:before {
	content: "\e601";
}
.icon-calendar:before {
	content: "\e604";
}
.icon-search-btn:before {
	content: "\e623";
}
.icon-paper-plane:before {
	content: "\e602";
}
.icon-bell:before {
	content: "\e603";
}
.icon-euros:before {
	content: "\e605";
}
.icon-users:before {
	content: "\e611";
}
.icon-grid:before {
	content: "\e612";
}
.icon-previous:before {
	content: "\e625";
}
.icon-next-carousel:before {
	content: "\e639";
}
.icon-next:before {
	content: "\e626";
}
.icon-arrow-right:before {
	content: "\e63d";
}
.icon-arrow-left:before {
	content: "\e63e";
}
.icon-current-location:before {
	content: "\e614";
}
.icon-tick:before {
	content: "\e616";
}
.icon-dot:before {
	content: "\e617";
}
.icon-mapa:before {
	content: "\e618";
}
.icon-poi:before {
	content: "\e60d";
}
.icon-menu:before {
	content: "\e619";
}
.icon-hotel:before {
	content: "\e61a";
}
.icon-user:before {
	content: "\e61b";
}
.icon-child:before {
	content: "\e61c";
}
.icon-adult:before {
	content: "\e61d";
}
.icon-key:before {
	content: "\e61e";
}
.icon-home:before {
	content: "\e620";
}
.icon-close:before {
	content: "\e621";
}
.icon-heart:before {
	content: "\e622";
}
.icon-send:before {
	content: "\e608";
}
.icon-camera:before {
	content: "\e60b";
}
.icon-world:before {
	content: "\e60c";
}
.icon-printer:before {
	content: "\e610";
}
.icon-star:before {
	content: "\e62f";
}
.icon-radio:before {
	content: "\e90b";
}
.icon-arrow-up:before {
	content: "\e613";
}
.icon-arrow-down:before {
	content: "\e606";
}

