extends ./layouts/default.jade

block header
	include ./modules/header.jade
block content
	include ./modules/home/jumbotron.jade

	- var textTitle = '¿En qué te podemos ayudar?'
	include ./items/title.jade

	include ./modules/shared/services.jade

	include ./modules/shared/search.jade

	include ./modules/shared/brands.jade

	include ./modules/home/slider.jade

	include ./modules/home/company.jade

	include ./modules/footer.jade