doctype html
html(lang="es_ES")
  head
    meta(charset="UTF-8")
    style
      include pages.css
    //- script
    //-   include pages.js
  body.aegon
    h1 Inventario de plantillas de maquetación
    -var paginas = { '0000 - Inicio': 'index.html', '1000 - Seguros de salud': 'seguros-salud.html', '1200 - Salud Completo (Ficha de producto)': 'product.html', '.... - Resultados de búsqueda': 'search-results.html', '1600 p1 - Recomendador Salud': 'recomendador.html', '1600 p2 - Recomendador Salud': 'recomendador-2.html', '1600 p3 - Recomendador Salud': 'recomendador-3.html', '1600 res - Recomendador Salud (resultados)': 'recomendador-results.html','1222 - Tarificador Unico':'tarificador.html','1221 - Tarificador Varios':'tarificador-varios.html','1223 - Tarificador Resultados':'tarificador-results.html' }
      each val, key in paginas
        li
          -var href = './' + val;
          a(href=href)= key