extends ./layouts/default.jade

block header
	include ./modules/header.jade

block content

	-var route = ['Inicio', 'Seguros de Salud','Salud Aegon Completo'];
	include ./modules/shared/breadcrumbs.jade

	include ./modules/product/main-product.jade

	include ./modules/product/tabs.jade

	//include ./modules/product/dropdowns.jade

	include ./modules/product/engagement.jade

	include ./modules/product/info.jade

	include ./modules/shared/search.jade

	include ./modules/shared/brands.jade

	- var textTitle = 'Mas seguros de salud aegon'
	include ./items/title.jade

	include ./modules/shared/services.jade

	include ./modules/footer.jade
