extends ./layouts/default.jade

block header
	include ./modules/header-white.jade

block content

	.recomendador-title
		- var textTitle = 'Este es el seguro de Salud Aegon que mejor se adapta a tus necesidades'
		include ./items/title.jade

	include ./modules/recomendador/main-recomendador-results.jade

	include ./modules/footer-short.jade