extends ./layouts/default.jade

block header
	include ./modules/header-white.jade

block content

	.recomendador-title
		- var textTitle = '¿Cuál es el tipo de seguro de Salud Aegon que más te conviene?'
		include ./items/title.jade

	include ./modules/recomendador/seguro-form-step3.jade

	include ./modules/footer-short.jade

	script(src='js/vendor.js')
		script(data-main='js/main.js' src='js/require.js')