extends ./layouts/default.jade

block header
  include ./modules/header.jade

block content

  -var route = ['Inicio', 'Resultados de búsqueda'];
  include ./modules/shared/breadcrumbs.jade

  include ./modules/search-results/main.jade

  include ./modules/search-results/wrap-tabs-sidebar.jade

  include ./modules/footer.jade