extends ./layouts/default.jade

block header
	include ./modules/header.jade

block content

	-var route = ['Inicio', 'Seguros de Salud','Salud Aegon Completo'];
	include ./modules/shared/breadcrumbs.jade

	include ./modules/seguros-salud/prices.jade

	.background-gray
		- var textTitle = 'Somos la compañía de seguros que no te esperabas'
		include ./items/title.jade

		include ./modules/shared/services.jade

	- var textTitle = 'Nuestros seguros de salud incluyen'
	include ./items/title.jade

	include ./modules/seguros-salud/seguros.jade

	include ./modules/shared/search.jade

	include ./modules/shared/brands.jade

	include ./modules/home/company.jade

	include ./modules/footer.jade