extends ./layouts/default.jade

block header
	include ./modules/header-white.jade

block content

	.tarificador-title
		- var textTitle = 'Configura tu seguro'
		include ./items/title.jade

	include ./modules/tarificador/main-tarificador-results.jade

	include ./modules/footer-short.jade

block modals

	include ./modules/tarificador/modal-contratar.jade

	include ./modules/tarificador/modal-te-llamamos.jade