extends ./layouts/default.jade

block header
	include ./modules/header-white.jade

block content

	.aegon-tarificador-title
		- var textTitle = 'Calcula el precio de tu seguro Aegon Salud Completo'
		include ./items/title.jade

	include ./modules/tarificador/tarificador-form.jade

	include ./modules/footer-short.jade
