.aegon
	.main-recomendador.module
		.row.center-md
			.col-sm-12.col-xs-12
				.tab-results.recomendador-results
					ul.tabs-menu
						li.tab.col-sm-4.col-xs-6.current
							a(href="#tab1")
								span
									.name
										.sentico-font Aegon Salud Completo
										.description.show-in-desktop Lorem ipsum dolor sit amet
								span.price.sentico-font
									span.number 39.90€
									span.text /mes
						li.tab.col-sm-4.col-xs-6
							a(href="#tab2")
								span
									.name
										.sentico-font Aegon Salud Reembolso
										.description.show-in-desktop Lorem ipsum dolor sit amet
								span.price.sentico-font
									span.number 75.90€
									span.text /mes
			include ./results-tabs.jade
