.aegon
	.content-tabs.module.tab-content.aegon-recomendador#tab1
		.col-sm-8.col-xs-12
			.info-advertise.col-xs-12
				.info-text
					i.icomoon-info
					p Precio total por mes para todos los asegurados. Impuestos incluidos.
			.results-container.col-xs-12
				.row.container-title
					.col-xs-12
						h3 Aegon Salud Completo
				.row.description-seguro
					.col-xs-12
						.container-info
							.tarifa.clearfix
								p.sentico-font Elige el tipo de tarifa
								.custom-select
									select
										option.sentico-font Sin pago
										option.sentico-font Sin pago
										option.sentico-font Sin pago
					.container-info
						.col-sm-4.col-xs-12.show-in-mobile
							.price-container
								span.price.sentico-font 39.50€
								span.month.sentico-font /mes
						.col-sm-8.col-xs-12
							.description.sentico-font
								p.show-in-desktop Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
								span
									i.icomoon-person
									p Asegurados:1
								span
									i.icomoon-calendar
									p Fecha de efecto: 1 de junio 2016
						.col-sm-4.col-xs-12.show-in-desktop
							.price-container
								span.price.sentico-font 39.50€
								span.month.sentico-font /mes
					.container-info
						.col-xs-12
							h4.sentico-font Coberturas que incluye este seguro:
						.col-xs-12
							ul.sentico-font
								li
									span.icomoon-check
									span  Sin Copago
								li
									span.icomoon-check
									span  Asistencia en Viaje
								li
									span.icomoon-check
									span  Medicina Primaria
								li
									span.icomoon-check
									span  Especialistas
								li
									span.icomoon-check
									span  Pruebas de Diagnóstico
								li
									span.icomoon-check
									span  Actos Terapéuticos
								li
									span.icomoon-check
									span  Hospitalización sanitaria
								li
									span.icomoon-check
									span  Urgencias y traslados
								li
									span.icomoon-check
									span  Prótesis
								li
									span.icomoon-check
									span  Segunda Opinión Médica
		.col-sm-4.col-xs-12
			.results-resume
				h3 Resumen de tu seguro
				h2 Aegon Salud Completo
				.total-price.clearfix.sentico-font
					span.text Precio Total
					span.price
						span.number 39,90€
						span.month /mes
				button.btn-blue.clearfix.show-in-desktop Contratar online
				button.btn-yellow.clearfix Te llamamos gratis
				div.clearfix.save
					a(href="#").clearfix
						i.icomoon-arrow-right
						span.sentico-font Guardar presupuesto

	.content-tabs.module.tab-content.aegon-recomendador#tab2.hide
		.col-sm-8.col-xs-12
			.info-advertise.col-xs-12
				.info-text
					i.icomoon-info
					p Precio total por mes para todos los asegurados. Impuestos incluidos.
			.results-container.col-xs-12
				.row.container-title
					.col-xs-12
						h3 Aegon Salud Reembolso
				.row.description-seguro
					.col-xs-12
						.container-info
							.tarifa.clearfix
								p.sentico-font Elige el tipo de tarifa
								.custom-select
									select
										option.sentico-font Sin pago
										option.sentico-font Sin pago
										option.sentico-font Sin pago

					.container-info
						.col-sm-4.col-xs-12.show-in-mobile
							.price-container
								span.price.sentico-font 75.50€
								span.month.sentico-font /mes
						.col-sm-8.col-xs-12
							.description.sentico-font
								p.show-in-desktop Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
								span
									i.icomoon-person
									p Asegurados:1
								span
									i.icomoon-calendar
									p Fecha de efecto: 1 de junio 2016
						.col-sm-4.col-xs-12.show-in-desktop
							.price-container
								span.price.sentico-font 75.50€
								span.month.sentico-font /mes
					.container-info
						.col-xs-12
							h4.sentico-font Coberturas que incluye este seguro:
						.col-xs-12
							ul.sentico-font
								li
									span.icomoon-check
									span  Sin Copago
								li
									span.icomoon-check
									span  Asistencia en Viaje
								li
									span.icomoon-check
									span  Medicina Primaria
								li
									span.icomoon-check
									span  Especialistas
								li
									span.icomoon-check
									span  Pruebas de Diagnóstico
								li
									span.icomoon-check
									span  Actos Terapéuticos
								li
									span.icomoon-check
									span  Hospitalización sanitaria
								li
									span.icomoon-check
									span  Urgencias y traslados
								li
									span.icomoon-check
									span  Prótesis
								li
									span.icomoon-check
									span  Segunda Opinión Médica
		.col-sm-4.col-xs-12
			.results-resume
				h3 Resumen de tu seguro
				h2 Aegon Salud Reembolso
				.total-price.clearfix.sentico-font
					span.text Precio Total
					span.price
						span.number 79,90€
						span.month /mes
				button.btn-blue.clearfix.show-in-desktop Contratar online
				button.btn-yellow.clearfix Te llamamos gratis
				div.clearfix.save
					a(href="#").clearfix
						i.icomoon-arrow-right
						span.sentico-font Guardar presupuesto



