.aegon
	.seguro-wrap-form
		.module.row.center-md
			.col-sm-8.col-xs-12
				.form-container
					.steps
						ul.steps-progress-bar
							li
							li.active
							li
					form(action='/signup',method='post')
						.step.second-step
							.row.container-question
								.col-sm-9.col-xs-12
									.question
										p En Aegon contamos con un excelente cuadro médico, adicionalmente ¿Quieres incluir cobertura en las siguientes clínica/hospitales?
										p.answer MD Anderson de Madrid, Fundación Jiménez Díaz de Madrid.
								.col-sm-3.col-xs-12
									.btn-checkbox
										label
											input(type="checkbox",value="1")
											span
												span.text Añadir
												span.text.checked
													span.icomoon-check
													| Añadido
							.row.container-question
								.col-sm-9.col-xs-12
									.question
										p ¿Quieres cobertura dental por tan sólo 3€ más por asegurado?
										p.answer Tendrás acceso a más de 2.700 odontólogos y 2.300 centros repartidos por toda
								.col-sm-3.col-xs-12
									.btn-checkbox
										label
											input(type="checkbox",value="1")
											span
												span.text Añadir
												span.text.checked
													span.icomoon-check
													| Añadido
							button(class='btn-blue', type='submit') Continuar

			.col-sm-4.show-in-desktop
				include ../shared/sidebar-question.jade


