.aegon
	.seguro-wrap-form
		.module.row.center-md
			.col-sm-8.col-xs-12
				.form-container
					.steps
						ul.steps-progress-bar
							li.active
							li
							li
					form(action='/signup',method='post')
						.step.first-step
							.row.container-question
								.col-md-6.col-sm-12.col-xs-12
									.question
										p ¿Cuántas personas quieres asegurar?
								.col-md-6.col-sm-12.col-xs-12
									.button-group
										.item
											label(for="number1")
												input(type="radio",name="number",id="number1").button.primary
												span 1
										.item
											label(for="number2")
												input(type="radio",name="number",id="number2").button
												span 2
										.item
											label(for="number3")
												input(type="radio",name="number",id="number3").button
												span 3
										.item
											label(for="number4")
												input(type="radio",name="number",id="number4").button
												span 4
										.item
											label(for="number5")
												input(type="radio",name="number",id="number5").button
												span 5
										.item
											label(for="number6")
												input(type="radio",name="number",id="number6").button
												span 6

							.row.container-question
								.col-md-6.col-sm-12.col-xs-12
									.question
										p Aproximadamente, ¿Con qué frecuencia vas al médico?
								.col-md-6.col-sm-12.col-xs-12
									.input-container
										.custom-radio
											label
												input(type="radio", name="times_doctor", value="1")
												span.circle
												span.check-text  Entre 1 a 5 veces/año
										.custom-radio
											label
												input(type="radio", name="times_doctor", value="1")
												span.circle
												span.check-text  Entre 6 a 10 veces/año
										.custom-radio
											label
												input(type="radio", name="times_doctor", value="1")
												span.circle
												span.check-text  11 o más veces/año
							.row.container-question
								.col-sm-6.col-xs-12
									.question
										p Nuestros seguros tienen las máximas coberturas. Además ¿Quieres cubrir los ingresos hospitalarios?
								.col-sm-6.col-xs-12
									.btn-checkbox
										label
											input(type="checkbox",value="1")
											span
												span.text Añadir
												span.text.checked
													span.icomoon-check
													| Añadido
							.row.container-question
								.col-sm-6.col-xs-12
									.question
										p ¿En qué provincia resides?
								.col-sm-6.col-xs-12
									.custom-select
										select
											option(disabled selected) Selecciona una opción
											option Barcelona
											option Madrid
											option Andalucía
							button(class='btn-blue', type='submit') Continuar

			.col-sm-4.show-in-desktop
				include ../shared/sidebar-question.jade


