.aegon
	.seguro-wrap-form
		.module.row.center-md
			.col-sm-8.col-xs-12
				.form-container
					.steps
						ul.steps-progress-bar
							li
							li
							li.active
					form(action='/signup',method='post')
						.step.third-step
							.row.container-form.clearfix
								h4.col-xs-12.sentico-font Datos del asegurado 1
								.form-group.col-xs-12
									label.col-xs-12.col-sm-4.sentico-font Nombre
									input(type="text").col-xs-12.col-sm-8
								.form-group.col-xs-12
									label.col-xs-12.col-sm-4.sentico-font Teléfono
									input(type="tel").numeric-input.col-xs-12.col-sm-4
								.form-group.col-xs-12
									label.col-xs-12.col-sm-4.sentico-font Correo Electrónico
									input(type="email",placeholder='hello@aegon.com').col-xs-12.col-sm-8
								.form-group.col-xs-12
									label.col-xs-12.col-sm-4.sentico-font Fecha de nacimiento
									input(type="text",placeholder='dd',maxlength="2").date-input.numeric-input.col-xs-3.col-sm-1
									input(type="text",placeholder='mm',maxlength="2").date-input.numeric-input.col-xs-3.col-sm-1
									input(type="text",placeholder='aaaa',maxlength="4").date-input.numeric-input.col-xs-4.col-sm-2
							.row.container-form.clearfix
								h4.col-xs-12.sentico-font Datos del asegurado 2
								.form-group.col-xs-12
									label.col-xs-12.col-sm-4.sentico-font Fecha de nacimiento
									input(type="text",placeholder='dd',maxlength="2").date-input.numeric-input.col-xs-3.col-sm-1
									input(type="text",placeholder='mm',maxlength="2").date-input.numeric-input.col-xs-3.col-sm-1
									input(type="text",placeholder='aaaa',maxlength="4").date-input.numeric-input.col-xs-4.col-sm-2
							.row.container-form.clearfix
								h4.col-xs-12.sentico-font Datos del asegurado 3
								.form-group.col-xs-12
									label.col-xs-12.col-sm-4.sentico-font Fecha de nacimiento
									input(type="text",placeholder='dd',maxlength="2").date-input.numeric-input.col-xs-3.col-sm-1
									input(type="text",placeholder='mm',maxlength="2").date-input.numeric-input.col-xs-3.col-sm-1
									input(type="text",placeholder='aaaa',maxlength="4").date-input.numeric-input.col-xs-4.col-sm-2
						.conclued-container
							.custom-checkbox
								label
									input(type="checkbox")
									span.box
									span Acepto la
										a(href="#")  Política de privacidad.
							button(class='btn-blue', type='submit') Continuar
			.col-sm-4.show-in-desktop
				include ../shared/sidebar-question.jade


