/// buttons styles
.buscar {
	padding-right: 15px;
	height: 50px;
	width: 100%;
	background-color: $btn-color-1;
	font-size: 14px;
	color: $white;
}

.btnCode {
	background-color: $back-color-mobile;
	height: 50px;
	width: 100%;
	z-index: 100;
}