// INPUTS

input {
	font-size: 13px;
	padding: 0 15px;
	color: $text-color-3;

	&[type="text"] {
		width: 100%;
		height: 50px;
	}
}

.custom-checkbox {
	position: relative;
	label {
		display: inline-block;
		font-weight: normal;
	}
	input {
		opacity: 0;
		float: left;
		display: inline-block;
		width: 25px;
		height: 25px;
		margin: 0;
		margin-right: 7px;
	}
	.box {
		width: 25px;
		height: 25px;
		border: 1px solid $border-checkbox;
		border-radius: 2px;
		position: absolute;
		left: 0;
		margin: 0;
	}
	span {
		color: $text-color-4;
		display: inline-block;
		margin-top: 5px;
	}
	input:checked {
		&~.box {
			&:before {
				content: '';
				width: 9px;
				height: 3px;
				background-color: $blue;
				position: absolute;
				top: 13px;
				left: 3px;
				transform: rotate(45deg);
			}
			&:after {
				content: '';
				width: 16px;
				height: 3px;
				background-color: $blue;
				position: absolute;
				top: 10px;
				left: 6px;
				transform: rotate(-55deg);
			}
		}
	}
}

.custom-select {
	overflow: hidden;
	background: #FFF;
	border: 1px solid $border-color;
	position: relative;
	&:before,
	&:after {
		content: '';
		width: 8px;
		height: 1px;
		position: absolute;
		bottom: 7px;
		right: 0;
		top: 10px;
	}
	&:before {
		transform: rotate(-45deg);
	}
	&:after {
		transform: rotate(45deg);
		right: 5px;
		top: 11px;
	}
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: none;
		font-family: 'Montserrat-Regular';
		background-color: transparent;
		border-radius: 0;
		width: 120%;
		height: 45px;
		padding: 14px 0 2px;
		color: #8C8C8C;//$text-color;
		&:focus {
			outline: none;
		}
	}
}

.custom-radio {
	position: relative;
	display: inline-block;
	label {
		display: inline-block;
	}
	input {
		opacity: 0;
		width: 20px;
		height: 20px;
		float: left;
		margin: 0;
	}
	.circle {
		background-color: #FFF;
		border-radius: 15px;
		position: absolute;
		left: 0;
		top: 0;
		width: 20px;
		height: 20px;
		margin: 0;
	}
	span {
		display: inline-block;
		float: left;
		margin-top: 3px;
		margin-left: 10px;
	}
	input:checked {
		&~.circle:before {
			content: '';
			position: absolute;
			left: 5px;
			top: 5px;
			width: 10px;
			height: 10px;
			background-color: $text-blue;
			border-radius: 30px;
		}
	}
}
