// add font iconts

// ----------
@font-face {
    font-family: 'icomoon';
    src:    url('../assets/icons/icomoon.eot?dhmnf4');
    src:    url('../assets/icons/icomoon.eot?dhmnf4#iefix') format('embedded-opentype'),
        url('../assets/icons/icomoon.ttf?dhmnf4') format('truetype'),
        url('../assets/icons/icomoon.woff?dhmnf4') format('woff'),
        url('../assets/icons/icomoon.svg?dhmnf4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
