/// typography styles
@font-face {
  font-family: 'Montserrat-Black';
  src: url("../assets/fonts/Montserrat-Black.otf") format("opentype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../assets/fonts/Montserrat-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url("../assets/fonts/Montserrat-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: 'Montserrat-Hairline';
  src: url("../assets/fonts/Montserrat-Hairline.otf") format("opentype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../assets/fonts/Montserrat-Light.otf") format("opentype");
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../assets/fonts/Montserrat-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../assets/fonts/Montserrat-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url("../assets/fonts/Montserrat-UltraLight.otf") format("opentype");
}